@media screen and (max-width: 1200px){}

@media screen and (max-width: 991px){}

@media screen and (max-width: 767px){
  // REGISTERED SPORTS
  .sportregistered-title{
    display: block;
    width: auto;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .sportregistered-viewbtn{
    width: auto;
    padding: 5px 10px;
    font-size: 14px;
  }
  .list-sportregistered{
    padding: 10px 0;
    margin: 0;
  }
  .registersport-lists{
    border-bottom: 1px solid #ccc;
    &:last-child{
      border: none;
    }
  }
  // REGISTERED SPORTS END

  // SPORTS DETAIL
  .sportsdetail-download{
    margin-top: -40px;
  }
  // SPORTS DETAIL END
}

@media screen and (max-width: 480px){}
