@media (max-width:1200px) {
  .font16{
    font-size: 16px !important;
  }

}
@media (max-width:$screen-sm-max) {
  .f26{
    font-size: 26px;
  }
  .f20{
    font-size: 20px;
  }
  .w80{
    width: 83% !important;
  }
    .menu-list li {
        padding: 0 10px;
    }
    .home-btn .btn-home {
        font-size: 16px;
    }
    .box-social {
        margin-top: 6%;
    }
    .news-letter p {
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 12px;
    }
    .emailclass {
        width: 77%;
    }
    .pad0 {
        padding: 0;
    }
    .curve-footer {
        height: 40px;
    }
    .sport-name-bg h1{
      padding: 12px 0 11px;
      width: 53%;
      font-size: 30px;
    }
    .sigh-pro {
    left: 15px;
    bottom: 10px;
}
.my-banner {

    background-size: cover;

}
}
@media (max-width:$screen-xs-max) {
  .sigh-pro {
  left: 15px;
  bottom: 10px;
}
  .m-top-zero{
    margin-top: 0px;
  }
  .sigh-seconds{
    left: 10px;
img{
      width: 13px;
}

  }
  .sf-school-logo2 {
    width: 50px;
    height: 50px;
}
.f26{
  font-size: 12px;
}
.f20{
  font-size: 12px !important;
}
  .acc-img.float-right{
    float: right;
}
  .final-table{
    max-width: 685px;
width: 680px;
overflow: auto;
min-width: 680px;
overflow-x: auto;
  }
  .table {
    overflow-x: auto;
}
  .bx-mob{
    overflow-x: scroll;
    overflow: overlay;
  }
  .over-fl{
    overflow: auto;
  }
  .sport-name-bg h1{
    padding: 0px;
    margin: 0px;
  }
    .fl {
        float: none;
    }
    .mt40 {
        margin-top: 20px;
    }
    .home-slider .flexslider:hover .flex-direction-nav .flex-next {
        right: 6px;
    }
    .home-slider .flexslider:hover .flex-direction-nav .flex-prev {
        left: 6px;
    }
    .curve2 {
        height: 25px;
        margin-top: -83px;
    }
    .home-slider .flex-direction-nav .flex-next {
        right: 6px;
        transform: scale(0.6);
    }
    .home-slider .flex-direction-nav .flex-prev {
        left: 6px;
        transform: scale(0.6);
    }
    .home-btn .btn-home {
        font-size: 14px !important;
    }
    .home-btn .btn-home {
        font-size: 20px;
        padding: 10px 15px;
    }
    .text-c {
        text-align: center;
    }
    .mb50 {
        margin-bottom: 15%;
    }
    .navbar-default .navbar-nav > li > a {
        color: #0b1c72;
        font-weight: 600;
    }
    .navbar-collapse {
        border-top: 0 solid transparent;
        margin-top: 64px;
    }
    .navbar {
        position: relative;
        min-height: 95px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        padding: 10px 0 0;
    }
    .mobile-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .contact-set p {
        font-size: 14px;
    }
    .sport-name-bg h1 {
        padding: 20px 0 5px;
        font-size: 25px;
    }
    .contact-set li {
        font-size: 14px;
    }
    .curve-footer {
        background-size: 100% 100%;
    }
    .rule2 {
        margin-top: 10%;
    }
    .rules ol li {
        font-size: 14px;
    }
    .rules p {
        font-size: 14px;
    }
    .data-vox h4 {
    text-transform: uppercase;
    color: #0a1a72;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
}
.mob-sec{
  display: inline;
  font-size: 16px;

}
.p0-m{
  padding: 0px !important;
}
.statement p {

  font-size: 14px;

}
.f20{
  font-size: 20px;
}
.mt15{
  h4{
    font-size: 16px;
  }
}
.float-right {
    float: none;
    text-align: center;
}
.contain-box {
  text-align: center;
}
.f162{
  font-size: 17px;
}
.tab-list ul li a {
    font-size: 16px;
    padding: 8px 35px;
}
.sigh-pro {
    left: 15px;

}
.font16-mob{
  font-size: 16px;
}
.panel-title {
    font-size: 14px;

}
.box-content2 {
  padding: 25px 32px;
}
.text-c-m{
  text-align: center;
}
.border-right-2 {
    padding: 0 6px;
    font-size: 12px;
}
.sf-list {
  font-size: 12px;
}
.table{
  tr{
    th{
      font-size: 12px;
    }
    td{
      font-size: 12px;
    }
  }
}
.m-15{
      margin: 15px 0px;
}
.get {
  font-size: 14px;
  padding: 8px 40px;
  text-align: center;
}
.f18-m{
  font-size: 18px;
}
}
@media (max-width:480px) {
  .f18-m{
    font-size: 18px;
  }
  .mt25 {
    margin-top: 20px;
}
  .get {
    font-size: 14px;
    padding: 8px 40px;
    text-align: center;
}
  .m-15{
        margin: 15px 0px;
  }
  .table{
    tr{
      th{
        font-size: 12px;
      }
      td{
        font-size: 12px;
      }
    }
  }
  .sf-list {
    font-size: 12px;
  }
  .border-right-2 {
      padding: 0 6px;
      font-size: 12px;
  }
  .text-c-m{
    text-align: center;
  }
  .box-content2 {
    padding: 25px 32px;
}
  .sigh-seconds{
    left: 6px;
img{
      width: 11px;
}

  }
  .sf-school-logo2 {
    width: 35px;
    height: 35px;
}
.f26{
  font-size: 8px;
}
.f20{
  font-size: 8px !important;
}
  .f162{
    font-size: 16px;
  }
  .contain-box {
    text-align: center;
}
  .float-right {
    float: none;
    text-align: center;
}
  .mt15{
    h4{
      font-size: 16px;
    }
  }
  .f20{
    font-size: 20px;
  }
  .statement p {

    font-size: 14px;

}
  .pad0{
    padding: 0px !important;
  }
  .p0-m{
    padding: 0px !important;
  }
  .mob-sec{
    display: inline;
    font-size: 16px;

  }
  .data-vox h4 {
    text-transform: uppercase;
    color: #0a1a72;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
}


    .rule2 {
        margin-top: 10%;
    }
    .rules ol li {
        font-size: 14px;
    }
    .rules p {
        font-size: 14px;
    }
    .curve-footer {
        background-size: 100% 100%;
    }
    .contact-set li {
        font-size: 14px;
    }
    .sport-name-bg h1 {
        padding: 20px 0 5px;
        font-size: 25px;
    }
    .mob-p {
        padding: 6px 0 5px !important;
    }
    .contact-set p {
        font-size: 14px;
    }
    .f4v {
        font-size: 6vw;
    }
    .curve2 {
        margin-top: -70px;
    }
    .home-slider {
        margin-top: -10px;
    }
    .home-btn .btn-group {
        padding: 0 10px;
    }
}
