    @media (max-width:1200px) {
      .curve-head1 {
        margin-left: 40px;
        margin-right: 40px;
        overflow: hidden;
        overflow-x: auto;
      }
      .curve-head1 {
        margin-left: 40px;
        margin-right: 40px;
        overflow: hidden;
        overflow-x: auto;
      }
      .prs {
        li {
          padding: 14px 10px !important;
          font-size: 12px;
        }
      }
      .new-h {
        background-position-y: 23px;
      }
      .min-w-auto {
        margin-left: 0px !important;
      }
      .clip2 {
        display: none !important;
      }
      .clip1 {
        display: none !important;
      }
      .clip3 {
        display: none !important;
      }
      .count {
        padding: 50px 90px !important;
      }
      .font16 {
        font-size: 16px !important;
      }
      .main-hide {
        display: none;
      }
      .w1200 {
        width: 1450px;
      }
      .stu-name {
        h4 {
          font-size: 15px;
        }
      }
      .mr-min {
        z-index: 999;
        position: absolute;
        top: -5px;
        width: 90px;
      }
      .sfa-mum img {
        margin-top: 4px;
        cursor: pointer;
      }
      .f50 {
        font-size: 30px;
      }
    }

    @media (max-width:$screen-sm-max) {
      // start athletes-selection
      .selectAthletes .separateTwoBox .school-sec .stu-check .checkbox-custom input[type="checkbox"]+label {
        width: 170px;
      }
      .selectAthletes .separateTwoBox .scroll-div .scrollbar {
        margin-right: -6px;
        clear: both;
      }
      .readSchoolName {
        .iconinfo {
          margin-left: -160px;
          margin-top: 10px;
        }
      }
      .mob-bottom {
        margin-bottom: 15px;
      }
      .selectAthletes .separateTwoBox {
        height: 598px;
        margin-bottom: 15px;
      } //end athletes-selection
      //start sports-tab
      .sp-row-tab ul li button {
        width: 150px;
      }
      .step4 {
        width: 158px;
        padding: 10px 0px;
        font-size: 16.75px;
      } // .sp-tab-right {
      //   float: left !important;
      // }
      .step4:before {
        right: 158px;
      } //end sports-tab
      //start sportsreg-terms
      .school-sports {
        margin-top: 100px;
      }
      .scrollbar {
        margin-left: 0;
        height: 400px;
        overflow-y: scroll;
        margin-right: -15px;
      } //scss for registration
      .twoStrikes {
        .statement {
          padding: 8px;
          font-size: 10px;
        }
      }
      .venue {
        .sport25 {
          font-size: 28px;
        }
        .date-venue {
          font-size: 18px;
        }
      }
      .registration-desc {
        h2 {
          font-size: 30px;
        }
        h3 {
          font-size: 25px;
        }
        padding: 60px 180px;
        text-align: center;
      }
      .registration-img .sport-icon {
        p {
          font-size: 12px;
        }
        li {
          padding: 0 5px;
          width: 14.4%;
        }
      }
      .sport-icon {
        padding: 0 7px;
        ul {
          text-align: center;
        }
      } //end of register
      //scss for header
      .curve-head-mum {
        float: left;
        margin-left: 110px;
      } //end of header
      //scss for championship page
      .pb60 {
        padding-bottom: 0px;
      }
      .boy-img {
        display: none;
      }
      .secion-img {
        margin-top: 77px;
      }
      .largest-content {
        padding: 0;
      }
      .largest-list {
        padding-bottom: 0;
      }
      .blue-sec {
        padding: 0;
      }
      .largest {
        padding: 100px 10px 100px 10px;
      }
      .one-time {
        padding-right: 90px;
      }
      .professional-img {
        padding: 0px 0px 50px 0px;
      }
      .proffessional {
        padding: 0 0px 30px 0px;
      }
      .blue-girl {
        display: none;
      }
      .multi-sporting .sport-icon-championship {
        padding: 50px 0 20px;
        text-align: center;
      }
      .multi-sporting {
        padding: 50px 0px;
      }
      .championship-content {
        padding: 0px 30px 50px 30px;
      }
      .championship-img .white-girl {
        margin-top: -55px;
      }
      .specialfeatures {
        padding: 30px 20px 50px 50px;
        h1 {
          text-align: center;
        }
      }
      .img-features img {
        margin: 0 auto;
      } //end of championship page
      .f50 {
        font-size: 30px;
      }
      .mr-min {
        z-index: 999;
        position: absolute;
        top: -5px;
        width: 90px;
      }
      .sports-hover-before .caret-custom-before:before {
        bottom: -78px;
      }
      .w800 {
        width: 56px;
        top: 0px !important;
      }
      .prs li {
        padding: 10px 10px !important;
      }
      .mn-list {
        list-style: none;
        text-align: center;
        font-size: 13px;
        padding-bottom: 20px;
        li {
          font-size: 14px;
          a {
            padding: 0 !important;
          }
        }
      }
      .pos-mobile {
        position: absolute !important;
      }
      .new-h {
        background: #FFF !important;
        padding: 0 !important;
      }
      .hex-gon {
        display: none;
      }
      .clip {
        display: none;
      }
      .min-w-auto {
        margin-left: 0px;
      }
      .count {
        padding: 50px 90px !important;
      }
      .clip2 {
        display: none;
      }
      .clip3 {
        display: none;
      }
      .sf-school-logo,
      .sf-school-logo2 {
        width: 150px;
        height: 150px;
        text-align: center;
        margin: 0 auto;
        overflow: hidden;
      }
      .cl-box {
        background: #dedede;
        padding: 66px 30px;
      }
      .main-hide {
        display: none;
      }
      .f26 {
        font-size: 26px;
      }
      .f20 {
        font-size: 20px;
      }
      .w80 {
        width: 83% !important;
      }
      .menu-list li {
        padding: 0 10px;
      }
      .home-btn .btn-home {
        font-size: 16px;
      }
      .box-social {
        margin-top: 6%;
      }
      .news-letter p {
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 12px;
      }
      .emailclass {
        width: 77%;
      }
      .pad0 {
        padding: 0;
      }
      .curve-footer {
        height: 40px;
      }
      .sport-name-bg h1 {
        padding: 12px 0 11px;
        width: 53%;
        font-size: 30px;
      }
      .sigh-pro {
        left: 15px;
        bottom: 10px;
      }
      .my-banner {
        background-size: cover;
      }
      .main-over {
        overflow-x: scroll;
        overflow: auto;
      }
      .w700 {
        width: 780px;
      }
      .social-logo {
        img {
          transform: scale(0.8);
        }
      }
      .curve-head1 {
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 40px;
      } //registration
      .store-padding {
        padding: 0 0px 0px 17px;
      }
      .pd-left {
        padding-left: 0px;
      }
      .school-registration {
        margin: 55px 57px 0 42px;
      }
      .school-registration .btn-school .school-icon {
        // left: 259px;
      }
      .green-btn:after {
        // right: -153px;
        // width: 143px;
      }
      .green-btn:before {
        // left: -153px;
        // width: 143px;
      }
      .athletes .athlets-btn .athlets-icon {
        // left: 259px;
      }
      .athletes {
        margin: 110px 59px 0 42px;
      }
      .orange:before {
        // left: -150px;
        // width: 138px;
      }
      .orange:after {
        // right: -150px;
        // width: 138px;
      }
      .sport-registration .btn-sport .sport-icon {
        // left: 244px 
      }
      .blue-light:before {
        // width: 110px;
        // left: -121px;
      }
      .blue-light:after {
        // width: 110px;
        // right: -121px;
      }
      .sport-sec {
        margin: 60px 55px 0px 55px;
      }
      .store-for-you {
        padding: 45px 0;
      }
      .video {
        padding: 0px 95px 10px;
      }
      .ul-hide {
        display: block;
      }
      .ul-show {
        display: none;
      } // .registration-img .sport-icon li {
      //   width: 17%;
      //   p {
      //     font-size: 10px;
      //   }
      // }
      //end
      //formathlete
      .iconinfo {
        margin-left: -314px;
        padding: 8px;
      }
      .icon-msrl {
        margin-left: 16px !important;
      }
      .iconinfo3 {
        width: 422px;
      }
    }

    @media (max-width:$screen-xs-max) {
      .tab-register {
        top: 70%;
      } //start confirmTeam
      .table-responsive {
        margin: 0;
        border: 0;
      }
      .table-responsive>.table-bordered>tbody>tr>td:nth-child(4) {
        border-right: 1px solid #ccc;
      }
      .table-responsive>.table-bordered>tbody>tr:last-child>td:nth-child(2) {
        border-bottom: 1px solid #ccc;
      }
      .table-responsive>.table-bordered>tbody>tr:last-child>td:nth-child(3) {
        border-bottom: 1px solid #ccc;
      }
      .table-responsive>.table-bordered>tbody>tr:last-child>td:nth-child(4) {
        border-bottom: 1px solid #ccc;
      }
      .nominate {
        input {
          margin-bottom: 15px;
        }
      }
      .confirmTeam .checkTeam span {
        font-size: 24px;
      } //end sports-confirmTeam
      //start sports-congrats
      .spc-inside-box {
        padding: 30px 0px 30px 0px;
      } //end sports-congrats
      //Start sportsreg-terms
      .school-sports {
        margin-top: 20px !important;
      }
      .scrollbar {
        margin-left: 0;
        height: 319px;
        overflow-y: scroll;
        margin-right: -33px;
      } //end sportsreg-terms
      //sports-registration-form
      .sp-reg .blue-spreg {
        h4 {
          // font-size: 14px !important;
          a {
            // font-size: 14px !important;
            &:hover {
              text-decoration: underline !important;
            }
          }
        }
      }
      .hover-img.place-img {
        margin-left: 20px;
      }
      .iconinfo.iconplace {
        margin-left: 16px;
        padding: 8px;
      }
      .sp-reg .step2 {
        width: 156px;
      }
      .sp-reg ul li a {
        padding: 10px 0px;
      }
      .sp-reg .step2:before {
        right: 156px;
      }
      .sp-reg .block-custom {
        // float: right;
        margin-right: 43px; // margin-left: 30px;
      } //end-sports-registration-form
      .twoStrikes {
        .statement {
          padding: 5px;
          font-size: 6px;
        }
      }
      .date-venue li:before {
        display: none;
      } //scss for register
      .data-vox {
        p {
          margin: 0 0px 10px 0px;
        }
      }
      .largest-content {
        padding: 20px 0px 0px 0px;
      }
      .schoolbenefit-modal {
        padding: 50px 50px;
        text-align: justify;
      }
      .registration-desc {
        h2 {
          font-size: 18px;
        }
        h3 {
          font-size: 16px;
        }
        padding: 0 60px;
        text-align: center;
      }
      .registration-img .sport-icon {
        p {
          font-size: 11px;
        }
        li {
          padding: 0 3px;
          width: 18.4%;
        }
      }
      .sport-icon {
        padding: 0 7px;
        ul {
          text-align: center;
        }
      } //end of register
      //scss for championship
      .img-features {
        padding-bottom: 30px;
      }
      .btn-register button {
        font-size: 12px;
        width: 200px;
        margin-top: 0px;
        padding: 3px;
      }
      .secion-img {
        margin-top: 0;
      }
      .pb60 {
        padding-bottom: 0;
      }
      .largest {
        padding: 20px 8px 20px 8px;
        p {
          font-size: 5px;
        }
      }
      .largest-content {
        font-size: 10px;
      }
      .largest-list li {
        padding-bottom: 0px;
        color: #2bb568;
        font-size: 10px;
      }
      .ball {
        margin: -15px 0 0 0px;
      }
      .professional-img {
        padding: 0
      }
      .proffessional h3 {
        font-size: 18px;
      }
      .proffessional p,
      .proffessional li {
        font-size: 10px;
      }
      .list-common {
        padding: 5px 0;
      }
      .blue-sec {
        p {
          font-size: 12px;
        }
        h3 {
          font-size: 18px;
          margin-bottom: 0;
        }
        li {
          font-size: 11px;
        }
        .one-time,
        .match-video,
        .padd-r30 {
          padding-right: 0;
        }
      }
      .multi-sporting .sport-icon-championship {
        padding: 20px 0 0px;
        li {
          width: 11%;
          padding: 3px;
        }
        p {
          font-size: 5px;
        }
      }
      .multi-sporting {
        padding: 30px 0px;
      }
      .championship-img .white-girl {
        margin-top: -25px;
      }
      .specialfeatures {
        padding: 15px 20px 25px 20px;
        font-size: 12px;
        h1 {
          font-size: 37px;
        }
      }
      .list-coach {
        padding: 0px 0px;
      }
      .championship p,
      .championship li {
        font-size: 12px;
      }
      .championship-content {
        padding: 0px 30px 20px 30px;
      }
      .brand-white:before {
        top: 5px;
      }
      .brand-orange:before,
      .brand-blue:before {
        top: 3px;
      }
      .proffessional {
        padding: 0 0px 30px 0px;
      } //ens of championship
      .min-w-auto {
        margin-left: 0px;
      }
      .clip2 {
        display: none !important;
      }
      .clip1 {
        display: none !important;
      }
      .clip3 {
        display: none !important;
      }
      .main-hide {
        display: none;
      }
      .sigh-pro {
        left: 15px;
        bottom: 10px;
      }
      .m-top-zero {
        margin-top: 0px;
      }
      .sigh-seconds {
        left: 10px;
        img {
          width: 13px;
        }
      }
      .sf-school-logo2 {
        width: 50px;
        height: 50px;
      }
      .f26 {
        font-size: 12px;
      }
      .f20 {
        font-size: 12px !important;
      }
      .acc-img.float-right {
        float: right;
      }
      .final-table {
        max-width: 685px;
        width: 680px;
        overflow: auto;
        min-width: 680px;
        overflow-x: auto;
      }
      .table {
        overflow-x: auto;
      }
      .bx-mob {
        overflow-x: scroll;
        overflow: overlay;
      }
      .over-fl {
        overflow: auto;
      }
      .sport-name-bg h1 {
        padding: 0px;
        margin: 0px;
      }
      .fl {
        float: none;
      }
      .mt40 {
        margin-top: 20px;
      }
      .home-slider .flexslider:hover .flex-direction-nav .flex-next {
        right: 6px;
      }
      .home-slider .flexslider:hover .flex-direction-nav .flex-prev {
        left: 6px;
      }
      .curve2 {
        height: 25px;
        margin-top: -83px;
      }
      .home-slider .flex-direction-nav .flex-next {
        right: 6px;
        transform: scale(0.6);
      }
      .home-slider .flex-direction-nav .flex-prev {
        left: 6px;
        transform: scale(0.6);
      }
      .home-btn .btn-home {
        font-size: 14px !important;
      }
      .home-btn .btn-home {
        font-size: 20px;
        padding: 10px 15px;
      }
      .text-c {
        text-align: center;
      }
      .mb50 {
        margin-bottom: 15%;
      }
      .navbar-default .navbar-nav>li>a {
        color: #0b1c72 !important;
        font-weight: 600;
      }
      .navbar-collapse {
        border-top: 0 solid transparent; //margin-top: 64px;
        margin-top: 10px;
      }
      .navbar {
        position: relative;
        min-height: 95px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        padding: 10px 0 0;
      }
      .mobile-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      .contact-set p {
        font-size: 14px;
      }
      .sport-name-bg h1 {
        padding: 20px 0 5px;
        font-size: 25px;
      }
      .contact-set li {
        font-size: 14px;
      }
      .curve-footer {
        background-size: 100% 100%;
      }
      .rule2 {
        margin-top: 10%;
      }
      .rules ol li {
        font-size: 14px;
      }
      .rules p {
        font-size: 14px;
      }
      .data-vox h4 {
        text-transform: uppercase;
        color: #0a1a72;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
      }
      .mob-sec {
        display: inline;
        font-size: 16px;
      }
      .p0-m {
        padding: 0px !important;
      }
      .statement p {
        font-size: 14px;
      }
      .f20 {
        font-size: 20px;
      }
      .mt15 {
        h4 {
          font-size: 16px;
        }
      }
      .float-right {
        float: none;
        text-align: center;
      }
      .contain-box {
        text-align: center;
      }
      .f162 {
        font-size: 17px;
      }
      .tab-list ul li a {
        font-size: 16px;
        padding: 8px 35px;
      }
      .sigh-pro {
        left: 15px;
      }
      .font16-mob {
        font-size: 16px;
      }
      .panel-title {
        font-size: 14px;
      }
      .box-content2 {
        padding: 25px 32px;
      }
      .text-c-m {
        text-align: center;
      }
      .border-right-2 {
        padding: 0 6px;
        font-size: 12px;
      }
      .sf-list {
        // font-size: 12px;
      }
      .table {
        tr {
          th {
            font-size: 12px;
          }
          td {
            font-size: 12px;
          }
        }
      }
      .m-15 {
        margin: 15px 0px;
      }
      .get {
        font-size: 14px;
        padding: 8px 40px;
        text-align: center;
      }
      .f18-m {
        font-size: 18px;
      }
      .my-banner {
        background: url(../img/sfa-bg.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
      .my-banner-school {
        background: url(../img/sfa-bg.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-top: -14px;
      }
      .my-banner-student {
        background: url(../img/sfa-bg.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
      .ptop-per {
        padding-top: 20%;
      }
      .p100 {
        padding: 25px 0px;
      }
      .sf-school-logo,
      .sf-school-logo2 {
        width: 120px;
        height: 120px;
        img {
          max-width: 100px;
          max-height: 100px;
        }
      }
      .w30-main {
        width: 30px;
      }
      .l6 {
        left: 5px !important;
      }
      .f16-main {
        font-size: 16px;
      }
      .f18-main {
        font-size: 18px;
      }
      .mar0-main {
        margin: 0px;
      }
      .sigh-second {
        left: 8px;
        bottom: 2px;
      }
      .spon {
        right: inherit;
        left: 50%;
        bottom: 2%;
        transform: translateX(-50%);
        padding: 20px 0px;
      }
      .p1002 {
        padding: 40px 0px 100px 0px !important;
      }
      .m40-main {
        margin-top: 40px;
      }
      .w40 {
        width: 40px;
      }
      .sf-list-padding .border-right-1 {
        padding: 0px 4px;
        border-right: 1px solid #fff;
        line-height: 100%;
        min-height: 60px;
        font-size: 10px;
        margin: 0px 0px 15px 0px;
      }
      .school-boxs,
      .school-boxs2,
      .school-sec {
        padding: 17px 0 50px;
      }
      .w-mob-100 {
        width: 100%;
      }
      .footer-level {
        padding: 7px 0 6px 10px;
      }
      .min-height-set-m {
        min-height: 206px;
        top: 15px;
      }
      .min-height-set2-m {
        min-height: 215px;
        position: relative;
        top: 15px;
      }
      .box-margin2 {
        margin: 0 25px;
      }
      .mb-min-fn {
        .tables {
          tr {
            th {
              font-size: 13px;
            }
            td {
              font-size: 13px;
            }
          }
        }
      }
      .search-title {
        h3 {
          font-size: 20px;
        }
      }
      .mt-min-30 {
        margin-top: 28px;
      }
      .sport-slider {
        .flex-direction-nav .flex-prev {
          left: 0px;
        }
        .flex-direction-nav .flex-next {
          right: 0px;
        }
        .flexslider:hover .flex-direction-nav .flex-prev {
          left: 0px;
        }
        .flexslider:hover .flex-direction-nav .flex-next {
          right: 0px;
        }
      }
      .bl-bg {
        padding: 30px 30px;
      }
      .mob-navbar {
        border: 0px solid transparent;
        padding: 0;
      }
      .mr-min {
        right: inherit;
      }
      .sport-name-bg {
        background: none;
      }
      .box-content,
      .box-content-white {
        padding: 25px 6px;
      }
      .template.content {
        padding-top: 45px;
      }
      .mb-cell {
        display: block !important;
        float: none !important;
        margin-top: 28px !important;
      } // .label-age {
      //   width: 105px;
      // }
      // .label-two {
      //   width: calc(100% - 110px);
      // }
      .upload5 {
        margin-left: 20px;
      }
      .upload4 {
        margin-left: 6px;
        top: 35px;
        left: 0;
      }
      .dis-inline {
        width: 24%;
      }
      .errPos1,
      .errPos {
        padding: 0 13px;
      }
      .tr-right {
        text-align: left;
      }
      .noerrPos {
        padding: 0;
      }
      .noerrPosmobile {
        padding: 0;
      }
      .padd0 {
        padding-left: 0;
      }
      .enter-otp {
        padding-left: 0;
      }
      .padd13 {
        padding-left: 13px !important;
      }
      .btn-category {
        // padding: 8px 20px;
        font-size: 14px;
      }
      .com-category {
        font-size: 14px;
      }
    }

    @media (max-width:525px) {
      .dis-inline {
        width: 32.3%;
      }
      .selectAthletes .separateTwoBox .school-sec .stu-check .checkbox-custom input[type="checkbox"]+label {
        width: 342px;
      }
    }

    @media (max-width:480px) {
      //start athlete-selection
      .selectAthletes .separateTwoBox .school-sec .stu-check .checkbox-custom input[type="checkbox"]+label {
        width: 296px;
      }
      .readSchoolName {
        .iconinfo {
          margin-left: -170px;
          width: 250px;
        }
      }
      .para2 {
        font-size: 14px;
      }
      label.padd-lr.sf-list {
        font-size: 12px;
      } //end
      //sports-tab
      .sp-tab-right p {
        font-size: 12.75px;
      }
      .sp-tab-right ul li {
        font-size: 12.75px;
      }
      .mob-mr {
        margin-right: 40px !important;
      }
      .sp-row-tab ul li button {
        width: 125px;
      }
      .sp-tab-right {
        float: left !important;
      }
      .sp-row-tab {
        text-align: center;
      }
      .sp-head-tab p {
        font-size: 12px;
      }
      .sp-row-tab ul li button {
        font-size: 11px;
      }
      .step4 {
        width: 120px;
        height: 35px;
        padding: 11px 0px;
        font-size: 12.75px;
      }
      .step4:before {
        border-top: 35px solid transparent;
        right: 120px;
      }
      .step4:after {
        border-top: 36px solid transparent;
      }
      .sp-main-tab .blue-active .step4:before {
        border-top: 35px solid transparent;
      }
      .sp-main-tab .blue-active .step4:after {
        border-top: 35px solid transparent;
      } //end sports-tab
      //start sports-congrats
      .spc-inside-box {
        font-size: 12px;
        .btn {
          font-size: 11px !important;
        }
      }
      .spc-inside-box .spc-btn button {
        width: 175px;
      } //end sports-congrats
      //start sportsreg-terms
      .scrollbar {
        margin-left: 0;
        height: 240px;
        overflow-y: scroll;
        margin-right: -35px;
      }
      .style-1::-webkit-scrollbar {
        width: 6px;
      }
      .spt-m {
        font-size: 25px !important;
      }
      .box-padd-term .blue-schoolterm {
        font-size: 12px !important;
      } //end-sportsreg-terms
      //sports-registration-form
      .sp-reg .blue-spreg {
        h4 {
          font-size: 14px !important;
          a {
            font-size: 14px !important;
            &:hover {
              text-decoration: underline !important;
            }
          }
        }
      }
      .school {
        font-size: 25px;
      }
      .blue-spreg-custom {
        h4 {
          font-size: 14px !important;
          a {
            font-size: 14px !important;
          }
        }
      }
      .school-custom {
        h1 {
          font-size: 25px !important;
        }
      }
      .sp-reg .step2 {
        width: 120px;
      }
      .sp-reg ul li a {
        padding: 10px 0px;
      }
      .sp-reg .step2:before {
        right: 120px;
      }
      .sp-reg .block-custom {
        // float: right;
        margin-right: 43px; // margin-left: 30px;
      } //end-sports-registration-form
      .twoStrikes {
        .statement {
          padding: 2px;
          font-size: 5px;
        }
      } // .drop-cust {
      //   width: 300px;
      // }
      // .ft12 {
      //   font-size: 12px;
      // }
      .bg-rgs.text-center p {
        color: #fff;
        font-size: 14px;
      }
      .bg-rgs.text-center h1 {
        font-size: 24px;
      }
      .p12-per {
        padding-top: 12%;
      }
      .f14-zero {
        font-size: 14px !important;
      }
      .f16-zero {
        p {
          font-size: 16px !important;
        }
      }
      .mb-36 {
        margin-bottom: 36px;
      }
      .f-mcell-20 {
        font-size: 20px;
      }
      .responsive>tbody>tr>td {
        text-transform: uppercase;
        color: #102983;
        text-align: left;
      }
      .m-all {
        margin: 0;
        h2 {
          font-size: 18px;
        }
      }
      .mb-cell {
        display: block !important;
        float: none !important;
        margin-top: 28px !important;
      }
      .pad-fr-mob {
        padding: 0px 15px;
        h3 {
          font-size: 14px;
        }
      }
      .sc-name ul li {
        font-size: 10px;
        &:focus {
          background: #fc7700;
          color: #fff;
          a {
            color: #fff;
          }
        }
        &:active {
          background: #fc7700;
          color: #fff;
          a {
            color: #fff;
          }
        }
      }
      .f50 {
        font-size: 30px;
      }
      .count {
        border-radius: 20px;
        h3 {
          font-size: 15px;
        }
        h4 {
          font-size: 13px;
        }
      }
      .dt-venu p {
        color: #6f6f6f;
        font-size: 15px;
      }
      .vn-tbl .table tr th {
        font-size: 16px;
      }
      .p-f20 {
        font-size: 20px;
      }
      .cn-100 {
        width: 100%;
      }
      .oth-m {
        ul {
          li {
            a {
              padding: 10px 27px !important;
              width: 152px !important;
              display: block !important;
              font-size: 12px !important;
            }
          }
        }
      }
      .m-fc {
        h4 {
          font-size: 12px;
        }
      }
      .round-img-m {
        img {
          width: 20px;
          height: 20px;
        }
      }
      .w6650 {
        width: 650px;
      }
      .box-content2 {
        padding: 25px 20px !important;
      }
      .panel-title {
        font-size: 13px;
      }
      .data-box p {
        font-size: 14px;
      }
      .data-box li {
        font-size: 14px;
        text-transform: lowercase;
      }
      .f-mn {
        font-size: 16px;
      }
      .font16 {
        font-size: 15px !important;
      }
      .tab-list ul li {
        display: block;
        a {
          padding: 10px 27px;
          width: 265px;
          display: inline-block;
          font-size: 12px;
        }
      }
      .mob-tb {
        ul {
          li {
            display: block;
            padding: 0px 3px 9px;
          }
        }
      }
      .m-zeromob {
        margin-top: 0 !important;
      }
      .t-align {
        text-align: left !important;
        position: relative;
        left: inherit;
        transform: inherit;
      }
      .mr-acc {
        .panel-body {
          padding: 5px;
          p {
            font-size: 11px;
            text-align: left;
          }
        }
        .panel-heading {
          padding: 5px 10px;
        }
        .sp-name-cell {
          h4 {
            font-size: 14px;
          }
        }
        img {
          width: 27px;
        }
      }
      .box-content,
      .box-content-white {
        padding: 25px 6px;
      }
      .sp-cl-fnt {
        font-size: 22px;
      }
      .sp-img-box {
        p {
          font-size: 10px;
          min-height: 32px;
          margin: 0;
        }
      }
      .mt-min-38 {
        margin-top: 0px;
        float: none;
        text-align: center;
        display: block;
      }
      .mt-min-30 {
        margin-top: 0px;
        float: none;
        text-align: center;
        display: block;
      }
      .template.content {
        padding-top: 36px;
      }
      .sport-name-bg {
        background: none;
      }
      .no-float {
        float: none !important;
        text-align: center;
        ul {
          padding: 0;
          li {
            padding: 0px 3px;
          }
        }
      }
      .adj-h2 {
        font-size: 13px;
        margin-top: 3px;
      }
      .mr-min {
        right: inherit;
      }
      .mob-navbar {
        border: 0px solid transparent;
        padding: 0;
      }
      .stupnames {
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        text-align: center;
        right: inherit;
      }
      .fr-h1 {
        font-size: 16px;
        margin: 0px;
        padding-bottom: 4px;
      }
      .w800 {
        width: 60px;
      }
      .btn-togle {
        padding: 5px 6px;
        margin-top: 5px;
        margin-bottom: 5px;
        .icon-bar {
          display: block;
          width: 16px;
          height: 1px;
          border-radius: 1px;
        }
      }
      .bg-rg h1 {
        font-size: 20px !important;
      }
      .bg-rg {
        border-radius: 0px !important;
      }
      .count {
        padding: 10px 10px !important;
      }
      .cl-box {
        background: #dedede;
        padding: 66px 30px;
      }
      .bl-bg {
        padding: 30px 5px;
      }
      .sport-slider {
        .flex-direction-nav .flex-prev {
          left: 0px;
        }
        .flex-direction-nav .flex-next {
          right: 0px;
        }
        .flexslider:hover .flex-direction-nav .flex-prev {
          left: 0px;
        }
        .flexslider:hover .flex-direction-nav .flex-next {
          right: 0px;
        }
      }
      .mt-min-30 {
        margin-top: 28px !important;
        float: none;
        text-align: center;
      }
      .search-title {
        h3 {
          font-size: 20px;
        }
      }
      .box-margin2 {
        margin: 0 25px;
      }
      .school-about span {
        width: 60px;
      }
      .school-about {
        p {
          font-size: 12px;
        }
      }
      .pad-m-main {
        padding: 25px 0px !important;
      }
      .mt15 h4 {
        font-size: 14px;
        text-align: center;
      }
      .one-sec {
        padding: 10px 7px 10px 10px;
      }
      .min-height-set2-m {
        min-height: 215px;
        position: relative;
        top: 15px;
      }
      .min-height-set-m {
        min-height: 206px;
        top: 15px;
      }
      .footer-level {
        padding: 9px 0 8px 10px;
      }
      .m-auto {
        margin: 0 auto;
      }
      .w-mob-100 {
        width: 100%;
      }
      .main-hide {
        display: none;
      }
      .school-boxs,
      .school-boxs2,
      .school-sec {
        padding: 17px 0 60px;
      }
      .sf-list-padding .border-right-1 {
        padding: 0px 4px;
        border-right: 1px solid #fff;
        line-height: 100%;
        min-height: 60px;
        font-size: 10px;
        margin: 0px 0px 15px 0px;
      }
      .w40 {
        width: 40px;
      }
      .m40-main {
        margin-top: 40px;
      }
      .spon {
        padding: 20px 0px;
        right: inherit;
        left: 50%;
        bottom: 2%;
        transform: translateX(-50%);
      }
      .sigh-second {
        left: 8px;
        bottom: 2px;
      }
      .f18-main {
        font-size: 18px;
      }
      .f16-main {
        font-size: 16px;
      }
      .l6 {
        left: 5px !important;
      }
      .w30-main {
        width: 30px;
      }
      .sf-school-logo,
      .sf-school-logo2 {
        width: 120px;
        height: 120px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .p100 {
        padding: 25px 0px;
      }
      .p1002 {
        padding: 25px 0px 25px 0px !important;
      }
      .ptop-per {
        padding-top: 20%;
      }
      .my-banner {
        background: url(../img/sfa-bg.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-top: -14px;
      }
      .my-banner-school {
        background: url(../img/sfa-bg.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-top: -14px;
      }
      .my-banner-student {
        background: url(../img/sfa-bg.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-top: -14px;
      }
      .f18-m {
        font-size: 18px;
      }
      .mt25 {
        margin-top: 20px;
      }
      .get {
        font-size: 14px;
        padding: 8px 40px;
        text-align: center;
      }
      .m-15 {
        margin: 15px 0px;
      }
      .table {
        tr {
          th {
            font-size: 12px;
          }
          td {
            font-size: 12px;
          }
        }
      }
      .sf-list {
        // font-size: 12px;
      }
      .border-right-2 {
        padding: 0 6px;
        font-size: 12px;
      }
      .text-c-m {
        text-align: center;
      }
      .box-content2 {
        padding: 25px 32px;
      }
      .sigh-seconds {
        left: 6px;
        img {
          width: 11px;
        }
      }
      .sf-school-logo2 {
        width: 35px;
        height: 35px;
      }
      .f26 {
        font-size: 8px;
      }
      .f20 {
        font-size: 8px !important;
      }
      .f162 {
        font-size: 16px;
      }
      .contain-box {
        text-align: center;
      }
      .float-right {
        float: none;
        text-align: center;
      }
      .mt15 {
        h4 {
          font-size: 12px;
        }
      }
      .f20 {
        font-size: 20px;
      }
      .statement p {
        font-size: 14px;
      }
      .pad0 {
        padding: 0px !important;
      }
      .p0-m {
        padding: 0px !important;
      }
      .mob-sec {
        display: inline;
        font-size: 16px;
      }
      .data-vox h4 {
        text-transform: uppercase;
        color: #0a1a72;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
      }
      .rule2 {
        margin-top: 10%;
      }
      .rules ol li {
        font-size: 14px;
      }
      .rules p {
        font-size: 14px;
      }
      .curve-footer {
        background-size: 100% 100%;
      }
      .contact-set li {
        font-size: 14px;
      }
      .sport-name-bg h1 {
        padding: 20px 0 5px;
        font-size: 16px;
      }
      .mob-p {
        padding: 6px 0 5px !important;
      }
      .contact-set p {
        font-size: 14px;
      }
      .f4v {
        font-size: 6vw;
      }
      .curve2 {
        margin-top: -70px;
      }
      .home-slider {
        // margin-top: 33px;
      }
      .home-btn .btn-group {
        padding: 0 10px;
      }
      .regis {
        font-size: 20px;
      }
      .fs-14 {
        font-size: 14px;
      }
      .padd-right {
        padding-right: 77px;
      } // .myicon2 {
      //   margin-left: 117px;
      // }
      .sfa-name {
        width: 211px;
      } // .box{
      //   box-shadow: none;
      // }
      // .box {
      //     width: 334px;
      //     margin-left: 20px;
      // }
      .step1 {
        width: 174px;
        padding: 12px 0; // padding-top: 11px; // margin-left: 19px;
      } // .box-sfa{
      //  width: 334px;
      //     margin-left: 20px;
      // }
      .attachbtn {
        width: 123px;
        height: 30px;
      } // .padd-right {
      //   padding-right: 62px;
      //   padding-top: 8px;
      // }
      .Area-padd {
        padding-right: 36px;
        padding-top: 11px;
      }
      .send-otp {
        margin-left: 5px;
      }
      .enter-otp {
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 10px;
      }
      .land-padd {
        padding-left: 0px;
        padding-right: 37px;
        padding-top: 15px;
      }
      .mb-padd {
        padding-left: 0px;
        padding-right: 36px;
        padding-top: 15px;
      } // .dis-inline {
      //   // width: 49.30%;
      //   width: 32.3%;
      // }
      .d-paddd {
        padding-left: 0px;
      } // .sfa-in {
      //   width: 77%;
      // }
      .x-img {
        padding: 14px;
      } // .sfa434 {
      //   width: 170px;
      // }
      .right27 {
        right: 14px;
      } // .d-padd{
      //   padding-left: 0px;
      // }
      // .date-month {
      //   width: 39px;
      //   height: 14px;
      //   text-align: center;
      // }
      // .date-yr {
      //   width: 40px;
      //   height: 14px;
      // }
      .padd-25 {
        padding: 0 0px;
        margin-left: 11px;
      }
      .hover-img {
        margin-left: 19px;
      }
      .hover-img3 {
        margin-left: 5px;
      }
      .myicon {
        width: 17px;
        height: 17px;
        margin: 5px;
      }
      .myupload2 {
        padding-right: 23px;
      } // input[type="radio"]+label {
      //   font-size: 10px;
      // }
      // .padd-right {
      //   padding-right: 66px;
      // }
      .pin-mob {
        padding-right: 30px;
        padding-top: 10px;
      }
      .email-mob {
        padding-right: 41px;
        padding-top: 19px;
      }
      .mobno-mob {
        padding-right: 36px;
        padding-top: 17px;
      }
      .email2-mob {
        padding-right: 44px;
      }
      .mobileno-mob {
        padding-right: 9px;
      }
      .send-otp {
        width: 72px;
      }
      .send-otp {
        margin-left: 1px;
      }
      .enter-otp {
        padding-right: 9px;
        padding-bottom: 10px;
        padding-top: 14px;
      }
      .email-mob3 {
        padding-right: 32px;
      } // .dist-mob {
      //   padding-right: 37px;
      // }
      .myicon3 {
        margin-left: 12px;
      }
      .sfa-mob {
        margin-left: 47px;
      }
      .x-img {
        padding: opx;
      }
      .x-img {
        width: 35px;
        height: 34px;
        position: absolute;
        right: -8px;
        padding: 11px;
        z-index: 9999;
        top: -7px;
      } // .upload4{
      //   margin-left: 6px;
      //     top: 35px;
      // }
      .sfa-mob2 {
        margin: 0px;
      } // .blood-mob {
      //   margin-left: -94px;
      //   top: 34px;
      // }
      // .blood-mob2 {
      //   margin-left: 113px;
      // }
      put[type="radio"]+label span {
        width: 7px;
        height: 7px;
      }
      input[type="radio"] {
        width: 13px;
        height: 13px;
      }
      input[type="radio"]+label span {
        margin: -9px 12px 0 1px;
      } //register
      .f-s {
        p,
        li {
          font-size: 14px !important;
        }
      }
      .venue {
        padding: 20px 20px;
        p {
          font-size: 14px;
        }
        .sport25 {
          font-size: 25px;
        }
        .date-venue {
          font-size: 18px;
        }
      }
      .categories {
        h1 {
          font-size: 26px;
        }
        .step {
          font-size: 21px;
        }
      }
      .category-padding {
        padding: 19px 17px 10px;
      }
      .school-registration {
        margin: 80px 20px 0 20px;
        .green-btn:after {
          // right: -17px;
          // width: 13px;
        }
        .green-btn:before {
          // left: -17px;
          // width: 13px;
        }
      }
      .school-registration .btn-school .school-icon {
        top: -70px; // left: 96px;
      }
      .date-venue li {
        // display: none;
      }
      .category-padding-athelet {
        padding: 19px 15px 30px;
      }
      .athletes {
        margin: 110px 20px 0 20px;
        .orange:before {
          // left: -15px;
          // width: 12px;
        }
        .orange:after {
          // right: -15px;
          // width: 12px;
        }
      }
      .athletes .athlets-btn .athlets-icon {
        // left: 94px;
      }
      .tab-register {
        .tab-img {
          left: -15px;
        }
      }
      .category-padding-sport {
        padding: 25px 15px 25px;
      }
      .sport-sec {
        margin: 50px 20px 0px 20px;
        .sport-registration .btn-sport .sport-icon {
          // left: 94px;
        }
        .store-padding {
          padding: 0px 35px 0px 17px;
        }
        .blue-light:before {
          // left: -62px;
          // width: 56px;
        }
        .blue-light:after {
          // right: -62px;
          // width: 56px;
        }
      }
      .store-for-you {
        padding: 25px 0px;
        h2 {
          font-size: 25px;
        }
        .common-store {
          padding: 0 30px;
        }
        .pd-left {
          padding-left: 29px;
        }
        .pd-left {
          padding-left: 29px;
        }
      }
      .past-championship {
        h2 {
          font-size: 25px;
        }
      }
      .video {
        padding: 0px 49px 10px;
      }
      .ul-hide {
        display: block;
      }
      .ul-show {
        display: none;
      }
      .registration-img .sport-icon li {
        width: 19%;
        padding: 0 2px;
        p {
          font-size: 10px;
        }
      }
      .f-w {
        p,
        li {
          font-weight: 600;
        }
      }
      .blue-sec li:before {
        top: -1px;
      }
      .championship-content {
        padding: 0px 15px 20px 15px;
      }
      .md-hidden {
        display: block;
      }
      .xs-hidden {
        display: none;
      }
      .btn-category {
        padding: 8px 20px;
        font-size: 12px;
      }
      .com-category {
        font-size: 12px;
      } //end
      //formregis athlete start
      .w478 {
        width: 310px;
      }
      .iconinfo {
        margin-left: -160px;
        font-size: 14px;
        padding: 8px;
      }
      .iconinfo3 {
        width: 320px;
        margin-left: -204px;
      }
      .w150 {
        width: 85px;
      }
      .step1 {
        font-size: 14px;
      }
      .x-img {
        top: 294px;
        right: 19px;
      }
      .sportlevel {
        padding-right: 11px;
      }
    }

    @media (max-width:400px) {
      //start athlete-selection
      .selectAthletes .separateTwoBox .school-sec .stu-check .checkbox-custom input[type="checkbox"]+label {
        width: 136px;
      }
      .selectAthletes .separateTwoBox .kind-select {
        font-size: 12px;
      } //end
      //start sports-tab
      .sp-row-tab {
        text-align: center;
      }
      .mob-mr {
        margin-right: 38px !important;
      } //end sports-tab
      //start sportsreg-terms
      .step3 {
        width: 157px;
        font-size: 12px;
      } //end sportsreg-terms
      //sports-registration-form
      .sp-reg .step2 {
        width: 95px;
      }
      .iconinfo.iconplace {
        margin-left: 16px;
        width: 230px;
        padding: 8px;
      }
      .sp-reg .block-custom {
        // float: right;
        margin-right: 32px;
        margin-left: 8px;
      }
      .sp-reg .step2:before {
        right: 95px;
      }
      .sp-reg ul li a {
        font-size: 14px;
      } //end-sports-registration-form
      .venue {
        .sport25 {
          font-size: 20px;
        }
        .date-venue {
          font-size: 13px;
        }
      }
      .dis-inline {
        width: 49.30%;
      }
      .registration-img .sport-icon li {
        width: 19.1%;
        padding: 0 2px;
        p {
          font-size: 7px;
        }
      }
    } // //navin
    // drop-cust {
    //   width: 300px;
    // }