@media (max-width:1200px) {
  .curve-head1 {

    margin-left: 40px;
    margin-right: 40px;

    overflow: hidden;
    overflow-x: auto;
}
  .curve-head1 {

    margin-left: 40px;
    margin-right: 40px;

    overflow: hidden;
    overflow-x: auto;
}
  .prs {
      li {
          padding: 14px 10px !important;
font-size: 12px;

      }
  }
  .new-h {

        background-position-y: 23px;

  }
   .min-w-auto {

    margin-left: 0px !important;
}
  .clip2 {
  display: none !important;
  }
  .clip1 {
  display: none !important;
  }

  .clip3 {
  display: none !important;
  }
  .count {

  padding: 50px 90px !important;

}
  .font16{
    font-size: 16px !important;
  }
  .main-hide{
    display: none;
  }
.w1200{
  width: 1450px;
}
.stu-name {
  h4{
    font-size: 15px;
  }
}
.mr-min {
  z-index: 999;
  position: absolute;
  top: -5px;
  width: 90px;
}
.sfa-mum img {
    margin-top: 4px;
    cursor: pointer;
}
}
@media (max-width:$screen-sm-max) {
  .mr-min {
    z-index: 999;
    position: absolute;
    top: -5px;
    width: 90px;
}
.sports-hover-before .caret-custom-before:before {
      bottom: -78px;
    }
    .w800 {
        width: 56px;
        top: 0px !important;
    }
  .prs li {
    padding: 10px 10px !important;

}
  .mn-list{
    list-style: none;
text-align: center;
font-size: 13px;
    padding-bottom: 20px;
li{
      font-size: 14px;
      a{
        padding: 0 !important;
      }
}
  }
  .pos-mobile{
    position: absolute !important;
  }
  .new-h {
    background: #FFF !important;
    padding: 0 !important;


}
  .hex-gon {
  display: none;
  }

  .clip {
  display: none;
  }
  .min-w-auto {

    margin-left: 0px;
}
  .count {

    padding: 50px 90px !important;

}
  .clip2 {
  display: none;
  }

  .clip3 {
display: none;
  }

  .sf-school-logo, .sf-school-logo2 {
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}
  .cl-box {
    background: #dedede;
    padding: 66px 30px;
}
  .main-hide{
    display: none;
  }

  .f26{
    font-size: 26px;
  }
  .f20{
    font-size: 20px;
  }
  .w80{
    width: 83% !important;
  }
    .menu-list li {
        padding: 0 10px;
    }
    .home-btn .btn-home {
        font-size: 16px;
    }
    .box-social {
        margin-top: 6%;
    }
    .news-letter p {
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 12px;
    }
    .emailclass {
        width: 77%;
    }
    .pad0 {
        padding: 0;
    }
    .curve-footer {
        height: 40px;
    }
    .sport-name-bg h1{
      padding: 12px 0 11px;
      width: 53%;
      font-size: 30px;
    }
    .sigh-pro {
    left: 15px;
    bottom: 10px;
}
.my-banner {

    background-size: cover;

}
.main-over{
  overflow-x: scroll;
    overflow: auto;
}
.w700{
  width: 780px;
}
.social-logo{
  img{
    transform: scale(0.8);
  }
}
.curve-head1 {

    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;

}
}
@media (max-width:$screen-xs-max) {
  .min-w-auto {

    margin-left: 0px;
}
  .clip2 {
  display: none !important;
  }
  .clip1 {
  display: none !important;
  }

  .clip3 {
  display: none !important;
  }
  .main-hide{
    display: none;
  }

  .sigh-pro {
  left: 15px;
  bottom: 10px;
}
  .m-top-zero{
    margin-top: 0px;
  }
  .sigh-seconds{
    left: 10px;
img{
      width: 13px;
}

  }
  .sf-school-logo2 {
    width: 50px;
    height: 50px;
}
.f26{
  font-size: 12px;
}
.f20{
  font-size: 12px !important;
}
  .acc-img.float-right{
    float: right;
}
  .final-table{
    max-width: 685px;
width: 680px;
overflow: auto;
min-width: 680px;
overflow-x: auto;
  }
  .table {
    overflow-x: auto;
}
  .bx-mob{
    overflow-x: scroll;
    overflow: overlay;
  }
  .over-fl{
    overflow: auto;
  }
  .sport-name-bg h1{
    padding: 0px;
    margin: 0px;
  }
    .fl {
        float: none;
    }
    .mt40 {
        margin-top: 20px;
    }
    .home-slider .flexslider:hover .flex-direction-nav .flex-next {
        right: 6px;
    }
    .home-slider .flexslider:hover .flex-direction-nav .flex-prev {
        left: 6px;
    }
    .curve2 {
        height: 25px;
        margin-top: -83px;
    }
    .home-slider .flex-direction-nav .flex-next {
        right: 6px;
        transform: scale(0.6);
    }
    .home-slider .flex-direction-nav .flex-prev {
        left: 6px;
        transform: scale(0.6);
    }
    .home-btn .btn-home {
        font-size: 14px !important;
    }
    .home-btn .btn-home {
        font-size: 20px;
        padding: 10px 15px;
    }
    .text-c {
        text-align: center;
    }
    .mb50 {
        margin-bottom: 15%;
    }
    .navbar-default .navbar-nav > li > a {
        color: #0b1c72 !important;
        font-weight: 600;
    }
    .navbar-collapse {
        border-top: 0 solid transparent;
        margin-top: 64px;
    }
    .navbar {
        position: relative;
        min-height: 95px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        padding: 10px 0 0;
    }
    .mobile-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .contact-set p {
        font-size: 14px;
    }
    .sport-name-bg h1 {
        padding: 20px 0 5px;
        font-size: 25px;
    }
    .contact-set li {
        font-size: 14px;
    }
    .curve-footer {
        background-size: 100% 100%;
    }
    .rule2 {
        margin-top: 10%;
    }
    .rules ol li {
        font-size: 14px;
    }
    .rules p {
        font-size: 14px;
    }
    .data-vox h4 {
    text-transform: uppercase;
    color: #0a1a72;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
}
.mob-sec{
  display: inline;
  font-size: 16px;

}
.p0-m{
  padding: 0px !important;
}
.statement p {

  font-size: 14px;

}
.f20{
  font-size: 20px;
}
.mt15{
  h4{
    font-size: 16px;
  }
}
.float-right {
    float: none;
    text-align: center;
}
.contain-box {
  text-align: center;
}
.f162{
  font-size: 17px;
}
.tab-list ul li a {
    font-size: 16px;
    padding: 8px 35px;
}
.sigh-pro {
    left: 15px;

}
.font16-mob{
  font-size: 16px;
}
.panel-title {
    font-size: 14px;

}
.box-content2 {
  padding: 25px 32px;
}
.text-c-m{
  text-align: center;
}
.border-right-2 {
    padding: 0 6px;
    font-size: 12px;
}
.sf-list {
  font-size: 12px;
}
.table{
  tr{
    th{
      font-size: 12px;
    }
    td{
      font-size: 12px;
    }
  }
}
.m-15{
      margin: 15px 0px;
}
.get {
  font-size: 14px;
  padding: 8px 40px;
  text-align: center;
}
.f18-m{
  font-size: 18px;
}
.my-banner {
background: url(../img/sfa-bg.png);
    background-size: cover;
    background-position: center center;
background-repeat: no-repeat;

}
.my-banner-school {
  background: url(../img/sfa-bg.png);
  background-size: cover;
  background-position: center center;
background-repeat: no-repeat;
margin-top: -14px;
}

.my-banner-student {
background: url(../img/sfa-bg.png);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
.ptop-per{
  padding-top: 20%;
}
.p100 {
    padding: 70px 0px;
}
.sf-school-logo, .sf-school-logo2 {
    width:120px;
    height:120px;
  img{
    max-width: 100px;
    max-height: 100px;
  }
}
.w30-main{
  width: 30px;
}
.l6{
  left:5px !important;
}
.f16-main{
  font-size: 16px;
}
.f18-main{
  font-size: 18px;
}
.mar0-main{
  margin: 0px;
}
.sigh-second {
    left: 8px;
    bottom: 2px;
}
.spon {
  right: inherit;
    left:50%;
    bottom: 2%;
    transform: translateX(-50%);
    padding: 20px 0px;
}
.p1002 {
    padding: 40px 0px 100px 0px !important;
}
.m40-main{
margin-top: 40px;
}
.w40{
  width: 40px;
}
.sf-list-padding .border-right-1 {
    padding: 0px 4px;
    border-right: 1px solid #fff;
    line-height: 100%;
    min-height: 60px;
    font-size: 10px;
    margin: 0px 0px 15px 0px;
}
.school-boxs, .school-boxs2, .school-sec {

    padding: 17px 0 50px;

}
.w-mob-100{
  width: 100%;
}
.footer-level {
  padding: 7px 0 6px 10px;
}
.min-height-set-m {
  min-height: 206px;

  top: 15px;
}
.min-height-set2-m {
  min-height: 215px;
  position: relative;
  top: 15px;
}
.box-margin2 {
    margin: 0 25px;
}
.mb-min-fn{
.tables{

    tr{
      th{
        font-size: 13px;
      }
      td{
          font-size: 13px;
      }
    }


}
}
.search-title{
  h3{
    font-size: 20px;
  }
}
.mt-min-30 {
    margin-top: 28px;
}
.sport-slider {

    .flex-direction-nav .flex-prev {
        left: 0px;
    }
    .flex-direction-nav .flex-next {
        right: 0px;

    }

    .flexslider:hover .flex-direction-nav .flex-prev {

        left: 0px;

    }
    .flexslider:hover .flex-direction-nav .flex-next {

        right: 0px;

    }
}
.bl-bg {
  padding: 30px 30px;
}
.mob-navbar{
   border: 0px solid transparent;
padding: 0;
}
.mr-min {

  right: inherit;
}
.sport-name-bg{
  background: none;
}
.box-content, .box-content-white {
  padding: 25px 6px;
}
}
@media (max-width:480px) {
  .count {

    border-radius: 20px;
h3{
  font-size: 15px;
}
h4
{
  font-size:13px; 
}
}
  .dt-venu p {
    color: #6f6f6f;
    font-size: 15px;
}
  .vn-tbl .table tr th {

    font-size: 16px;

}
  .p-f20{
    font-size: 20px;
  }
  .cn-100{
        width: 100%;
  }
  .oth-m{
ul{
  li{
    a{
      padding: 10px 27px !important;
  width: 152px !important;
  display:block !important;
      font-size: 12px !important;
    }
  }
}
  }
  .m-fc{
    h4{
          font-size: 12px;
    }
  }
  .round-img-m{
  img{
    width: 20px;
height: 20px;
  }
  }
  .w6650{
    width: 650px;
  }
  .box-content2 {
    padding: 25px 20px !important;
}
  .panel-title {
    font-size: 13px;
}
  .data-box p {
    font-size: 14px;
}
  .data-box li {
    font-size: 14px;
    text-transform: lowercase;
}
  .f-mn{
    font-size: 16px;
  }
  .font16 {
    font-size: 15px !important;
}
  .tab-list ul li a {
    padding: 10px 27px;
width: 180px;
display: inline-block;
  }
  .mob-tb{
    ul{
      li{
        display: block;

    padding: 0px 3px 9px;
      }
    }
  }
  .m-zeromob{
    margin-top: 0 !important;
  }
  .t-align {
    text-align: left !important;
    position: relative;
    left: inherit;
  transform: inherit;
}
  .mr-acc{
    .panel-body {
    padding: 5px;
    p{
      font-size: 11px;

text-align: center;
    }
}
  }
  .box-content, .box-content-white {
    padding: 25px 6px;
}
  .sp-cl-fnt{
    font-size: 22px;
  }
  .sp-img-box{
    p{
      font-size: 10px;
  min-height: 32px;
  margin: 0;
    }
  }
  .mt-min-38 {
    margin-top: 0px;
    float: none;
    text-align: center;
display: block;
}
  .mt-min-30 {
    margin-top: 0px;
    float: none;
    text-align: center;
display: block;
}
  .template.content {
    padding-top: 36px;
}
  .sport-name-bg{
    background: none;
  }
  .no-float{
    float: none !important;
    text-align: center;
    ul{
      padding: 0;
      li{
        padding: 0px 3px;
      }
    }
  }
  .adj-h2{
    font-size: 13px;
margin-top: 3px;
  }
  .mr-min {

    right: inherit;
}
  .mob-navbar{
     border: 0px solid transparent;
padding: 0;
  }
  .stupnames {
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    text-align: center;
    right: inherit;
}
  .fr-h1{
    font-size: 16px;
margin: 0px;
padding-bottom: 4px;
  }
  .w800{
    width: 60px;
  }
  .btn-togle{
    padding: 5px 6px;
margin-top: 5px;
margin-bottom: 5px;
.icon-bar {
   display: block;
   width: 16px;
   height: 1px;
   border-radius: 1px;
}
  }
  .bg-rg h1 {
    font-size: 20px !important;
}
  .bg-rg {

    border-radius: 0px !important;

}
  .count {
    padding: 10px 10px !important;
}
  .cl-box {
    background: #dedede;
    padding: 66px 30px;
}
  .bl-bg {
    padding: 30px 5px;
}
  .sport-slider {

      .flex-direction-nav .flex-prev {
          left: 0px;
      }
      .flex-direction-nav .flex-next {
          right: 0px;

      }

      .flexslider:hover .flex-direction-nav .flex-prev {

          left: 0px;

      }
      .flexslider:hover .flex-direction-nav .flex-next {

          right: 0px;

      }
  }
  .mt-min-30 {
    margin-top: 28px !important;
    float: none;
    text-align: center;
}
  .search-title{
    h3{
      font-size: 20px;
    }
  }
  .box-margin2 {
    margin: 0 25px;
}
  .school-about span {
    width: 60px;

}
  .school-about{
    p{
      font-size: 12px;
    }
  }
  .pad-m-main{
    padding: 25px 0px !important;
  }
  .mt15 h4 {
    font-size: 14px;
    text-align: center;
}
  .one-sec {
    padding: 10px 7px 10px 10px;
}
  .min-height-set2-m {
    min-height: 215px;
    position: relative;
    top: 15px;
}
  .min-height-set-m {
    min-height: 206px;

    top: 15px;
}
.footer-level {
    padding: 9px 0 8px 10px;
}
  .m-auto{
    margin: 0 auto;
  }
  .w-mob-100{
    width: 100%;
  }
  .main-hide{
    display: none;
  }
  .school-boxs, .school-boxs2, .school-sec {

      padding: 17px 0 60px;

  }
  .sf-list-padding .border-right-1 {
    padding: 0px 4px;
    border-right: 1px solid #fff;
    line-height: 100%;
    min-height: 60px;
    font-size: 10px;
    margin: 0px 0px 15px 0px;
}
  .w40{
    width: 40px;
  }
  .m40-main{
  margin-top: 40px;
  }
  .spon {
    padding: 20px 0px;
    right: inherit;
    left: 50%;
    bottom: 2%;
      transform: translateX(-50%);
}
  .sigh-second {
    left: 8px;
    bottom: 2px;
}
  .f18-main{
    font-size: 18px;
  }
  .f16-main{
    font-size: 16px;
  }
  .l6{
    left:5px !important;
  }
  .w30-main{
    width: 30px;
  }
  .sf-school-logo, .sf-school-logo2 {
      width:120px;
      height:120px;
      img{
        max-width: 100%;
    max-height: 100%;
      }
  }
  .p100 {
    padding: 70px 0px;
}
.p1002 {
    padding: 40px 0px 100px 0px !important;
}
  .ptop-per{
    padding-top: 20%;
  }
  .my-banner {
background: url(../img/sfa-bg.png);
      background-size: cover;
      background-position: center center;
background-repeat: no-repeat;
margin-top: -14px;

  }
  .my-banner-school {
    background: url(../img/sfa-bg.png);
    background-size: cover;
    background-position: center center;
background-repeat: no-repeat;
margin-top: -14px;
  }

  .my-banner-student {
  background: url(../img/sfa-bg.png);
  background-size: cover;
  background-position: center center;
background-repeat: no-repeat;
margin-top: -14px;
  }
  .f18-m{
    font-size: 18px;
  }
  .mt25 {
    margin-top: 20px;
}
  .get {
    font-size: 14px;
    padding: 8px 40px;
    text-align: center;
}
  .m-15{
        margin: 15px 0px;
  }
  .table{
    tr{
      th{
        font-size: 12px;
      }
      td{
        font-size: 12px;
      }
    }
  }
  .sf-list {
    font-size: 12px;
  }
  .border-right-2 {
      padding: 0 6px;
      font-size: 12px;
  }
  .text-c-m{
    text-align: center;
  }
  .box-content2 {
    padding: 25px 32px;
}
  .sigh-seconds{
    left: 6px;
img{
      width: 11px;
}

  }
  .sf-school-logo2 {
    width: 35px;
    height: 35px;
}
.f26{
  font-size: 8px;
}
.f20{
  font-size: 8px !important;
}
  .f162{
    font-size: 16px;
  }
  .contain-box {
    text-align: center;
}
  .float-right {
    float: none;
    text-align: center;
}
  .mt15{
    h4{
      font-size: 12px;
    }
  }
  .f20{
    font-size: 20px;
  }
  .statement p {

    font-size: 14px;

}
  .pad0{
    padding: 0px !important;
  }
  .p0-m{
    padding: 0px !important;
  }
  .mob-sec{
    display: inline;
    font-size: 16px;

  }
  .data-vox h4 {
    text-transform: uppercase;
    color: #0a1a72;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
}


    .rule2 {
        margin-top: 10%;
    }
    .rules ol li {
        font-size: 14px;
    }
    .rules p {
        font-size: 14px;
    }
    .curve-footer {
        background-size: 100% 100%;
    }
    .contact-set li {
        font-size: 14px;
    }
    .sport-name-bg h1 {
        padding: 20px 0 5px;
        font-size: 25px;
    }
    .mob-p {
        padding: 6px 0 5px !important;
    }
    .contact-set p {
        font-size: 14px;
    }
    .f4v {
        font-size: 6vw;
    }
    .curve2 {
        margin-top: -70px;
    }
    .home-slider {
      // margin-top: 33px;
  }
    .home-btn .btn-group {
        padding: 0 10px;
    }
}
