// REGISTERED SPORTS
.step7 {
    @extend .step3;
    width: 200px;
    height: 36px;
    border: 1px solid #d3d3d3;
    font-size: 17px;
    text-align: center; // padding: 5px 20px;
    -webkit-box-shadow: 0px 0px 3px 1px lightgrey;
    -moz-box-shadow: 0px 0px 3px 1px lightgray;
    box-shadow: 0px 0px 3px 1px lightgrey;
    &:after {
        display: none;
    }
}

.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:active.focus,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active.focus {
    color: #333;
    background-color: transparent;
    border-color: inherit;
    outline: 0;
}

.btn-default:hover {
    color: #333;
    background-color: transparent;
    border-color: inherit;
}

.btn-default:focus,
.btn-default.focus {
    color: #333;
    background-color: transparent;
    border-color: inherit;
    outline: 0;
}

.list-sportregistered {
    margin: 10px 0;
}

.sportregistered-title {
    display: inline-block;
    padding: 10px 15px;
    width: 79%;
    margin-right: 5px;
    border: 1px solid #091a71;
    vertical-align: middle;
    p {
        margin: 0;
    }
}

.sportregistered-viewbtn {
    display: inline-block;
    width: 19%;
    padding: 10px;
    border: 1px solid #091a71;
    text-align: center;
    vertical-align: middle;
}

// REGISTERED SPORTS END
// SPORT DETAIL INDIVIDUAl
.sport-detailpage {
    margin: 30px 0;
}

.sportdetail-header {
    color: #f37720;
    h3 {
        margin: 10px 0;
    }
}

.sportdetail-table {
    padding: 30px 10px;
    border-top: 2px solid #091a71;
    &:first-child {
        border-top: none;
    }
    .table {
        th {
            background: #091a71;
            color: #fff;
        }
        tr {
            background: transparent;
            td {
                text-align: left;
            }
        }
    }
}

.sport-individualtable {
    max-height: 310px;
    overflow-y: auto;
    .table {
        border: none;
        tbody {
            border: none;
            tr {
                background-color: transparent;
                border: none;
                td {
                    padding: 8px;
                    border: none;
                    text-align: left;
                }
                .sportdetail-td {
                    border: 1px solid #ccc;
                    padding: 5px;
                }
            }
        }
        thead {
            border: none;
            th {
                color: #fff;
                border: none;
            }
            .sportdetail-th {
                padding: 8px;
                background-color: #091a71;
            }
        }
    }
}

// SPORT DETAIL INDIVIDUAl END
// CITY-VIDEO
.sfacity-modal {
    background: #0a1a72;
    .img-holder {
        img {
            margin: 0 auto;
            width: 200px;
        }
    }
}

.modal-container {
    padding: 15px;
    video::-internal-media-controls-download-button {
        display: none;
    }
    video::-webkit-media-controls-enclosure {
        overflow: hidden;
    }
    video::-webkit-media-controls-panel {
        width: calc(100% + 30px);
        /* Adjust as needed */
    }
    video {
        max-width: 100%;
        height: auto;
    }
}

.sfavideo-content {
    // p {
    //     font-size: 20px;
    //     margin-top: 10px;
    // }
    p {
        font-size: 18px;
        margin-bottom: 0;
        color: #00a9ff;
    }
    p:first-child {
        margin-top: 30px;
    }
    p:nth-child(2) {
        margin-bottom: 30px;
    }
    .btn {
        margin: 0 0 10px;
    }
    .video-city {
        padding: 0;
        background-color: transparent; // background-color: #53bb74;
        color: #fff;
        font-family: Titillium Web;
        font-size: 14px;
        padding: 8px 12px; // font-size: 16.68px;
        font-weight: 400
    }
}

// END CITY-VIDEO