@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0a1a72 !default;
$brand-success: #fc7700 !default;
$brand-warning: #9f9f9f !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$base: #303030 !default;
$white: #fff !default;
$dark-grey: #e1e1e1 !default;
$light-grey: #ebebeb !default;
$other-blue: #2a45d4 !default;
$font-family-sans-serif: "Titillium Web", "Sansation", Arial, sans-serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
    font-family: 'Sansation';
    src: url("../fonts/Sansation_Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Sansation';
    src: url("../fonts/Sansation_Bold.ttf");
    font-weight: 700;
}
/* mixing*/
@mixin placeholder {
    $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
        }
    }
}
@mixin x-appearance ($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}
@mixin background-size($size) {
  -webkit-background-size:$size;
  -moz-background-size: $size;
  background-size: $size;
}
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}
body {
    font-family: $font-family-sans-serif;
}
img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}
img {
    opacity: 0;
    @include transition(all 300ms ease);
}
img.doneLoading {
    opacity: 1;
}
nav li:hover .dropdown-menu {
    display: block;
}
.btn,
a {
    cursor: pointer;
    @include transition(all ease 300ms);
}
//bootstrap forms
.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
    border-radius: 0;
    @include box-shadow(none);
}
.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}

//basic
a {
    text-decoration: none;
    outline: 0;
    &:focus {
        text-decoration: none;
        outline: 0;
    }
    &:hover {
        text-decoration: none;
        outline: 0;
    }
}
.margin0 {
    margin: 0;
}
.margin-auto {
    margin: 0 auto;
}
.padding0 {
    padding: 0;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.sf-list {
    ul {
        display: block;
        list-style: none;
        li {
            display: inline-block;
        }
    }
}
.sf-relative {
    position: relative;
}
.sf-absulate {
    position: absolute;
}
.display-inline {
    display: inline-block;
}
.color-blue {
    color: $brand-primary;
}
.color-orange {
    color: $brand-success !important;
}
.color-white {
    color: $white;
}
.color-base {
    color: $base;
}
.font-sansation{
  font-family: 'Sansation';
}
.text-up {
    text-transform: uppercase;
}
.text-cap {
    text-transform: capitalize;
}
.width100 {
    width: 100%;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.logoli {
    vertical-align: middle;
}
.menu-list {
    margin-top: 20px;
    margin-bottom: -25px;
    li {
        padding: 0 14px;
    }
}
.font-semi {
    font-weight: 600;
}
.font-bold {
    font-weight: 700;
}
.mt15 {
    margin-top: 15px;
}
.mt25 {
    margin-top: 25px;
}
.mt40 {
    margin-top: 40px;
}
.search-btn {
    background: $brand-primary;
    height: 45px;
    width: 45px;
    padding: 16px;
    margin: 0 0 0 -3px;
}
.home-main{
  p{
    font-size: 16px;
  }
}
.search-input {
    width: 80%;
    background: #e0e0e0;
    border: none;
    height: 45px;
    vertical-align: top;
    padding: 0 8px;
    font-size: 16px;
    &:focus {
        outline: 0;
    }
}
.border-bottom {
    border-bottom: 1px solid #000;
    padding-bottom: 50px;
}
.box-header {
    background: url(../img/bg-circle.png)no-repeat;
    background-position: center;
    @include background-size(cover);
    border-radius: 6px;
    display: block;
    height: 200px;
    min-height: 200px;
}
.school-box {
    background-color: #1d3fbc;
    border-radius: 16px;
    padding-bottom: 10px;
}
.top-school {
    margin-top: 100px;
}
.school-img {
    position: relative;
    top: -65px;
    text-align: center;
}
.sigh-img {
    position: absolute;
    top: 97px;
    left: 50px;
}
.sigh-imgs {
    left: 50px;
    bottom: 10px;
}
.sigh-pro {
    left: 72px;
    bottom: 10px;
}
.sigh-second {
    left: 30px;
    bottom: 0;
}
.school-boxs {
    background: #ebebeb;
    border-radius: 12px;
    border: 2px solid #afafaf;
    padding: 17px 0 16px;
        margin: 0px 30px;
}
.school-boxs2 {
  @extend .school-boxs;
        margin: 0px 0px;
}
.school-sec {
    @extend .school-boxs;
    min-height: 260px;
    position: relative;
        margin: 10px 3px;
}
.rank {
    position: absolute;
    top: 70px;
    right: 7px;
}
.medal-count {
    ul {
        li {
            font-size: 20px;
            padding: 0 3px;
            img{
              vertical-align: baseline;
            }
        }
    }
}
.box-footer {
    span {
        margin-top: 10px;
        font-size: 16px;
        display: block;
    }
}
.curve-footer {
    background: url(../img/curve-footer.png)no-repeat;
    width: 100%;
    height: 60px;
    @include background-size(cover);
    position: relative;
}
.footer-link {
    ul {
        li {
            border-right: 1px solid $white;
            padding: 0 8px;
            line-height: 100%;
            &:last-child {
                border: none;
            }
            a {
                color: $white;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
}
.footer-link2{
  @extend .footer-link;
  ul{
    li{
      a{
        color: #9e9e9e !important;
      font-size: 12px !important;
      }
    }
  }
}
.footer-bg {
    background-color: #112697;
    padding: 5px 0 15px;
}
.emailclass {
    width: 80%;
    display: inline-block;
    float: left;
    background: #1a34c0;
    border: none;
}
.newslettersubmit {
    display: inline-block;
    float: right;
}
.news-letter {
    p {
        margin-top: 8px;
        margin-bottom: 0;
    };
}
.btn-go {
    background: $other-blue;
    border: 1px solid $other-blue;
    color:$white;
    &:focus {
        outline: 0;
        background: $other-blue;
        border: 1px solid $other-blue;
        color: $white;
    }
    &:hover {
        background: $other-blue;
        border: 1px solid $other-blue;
        color: $white;
        outline: 0;
    }
    &:active:focus {
        background: $other-blue;
        border: 1px solid $other-blue;
        color: $white;
        outline: 0;
    }
}
.social-link {
    ul {
        li {
            padding: 0 3px;
            i {
                color: #112697;
                background: $other-blue;
                border-radius: 100%;
                font-size: 16px;
                height: 26px;
                width: 26px;
                padding: 5px 6px;
            }
        }
    }
}
.footer-slider {
    background: #0a1a72;
    padding: 15px 0;
}
.sponser-list {
    margin-top: 10px;
    margin-bottom: 20px;
    ul {
        li {
            padding: 0 15px;
        }
    }
}
.banner-set {
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
}
.cup {
    img {
        vertical-align: bottom;
    }
}
.pad-line {
    li {
        padding: 0 8px;
    }
}
.sto-pro-list {
    img {
        width: 16px;
        margin-right: 6px;
    }
}
.mt10 {
    margin-top: 10px;
}
.total {
    color: $brand-success;
    border: 1px solid $white;
    border-radius: 2px;
    padding: 3px 6px;
}
.total-count {
    @extend .total;
    color: $brand-primary;
    border: 1px solid $brand-primary;
}
.pl0 {
    padding-left: 0 !important;
}
.pl20{
      padding-left: 20px;
}
.stu-data {
    margin-left: 15px;
}
.sf-school-logo {
    width: 204px;
    height: 204px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}
.sf-school-logo2{
  @extend .sf-school-logo;
  width: 150px;
height: 150px;
}
.img-border2{
  @extend .img-border;
  border:5px solid transparent !important;
}
.img-medal {
    img {
        vertical-align: bottom;
        height: 34px;
    }
}
.padd-left {
    li {
        padding: 0 10px;
    }
}
.sf-list-padding {
    .border-right-1 {
        padding: 0 10px;
        border-right: 1px solid $white;
        line-height: 100%;
        min-height: 60px;
        &:last-child {
            border: none;
        }
        &:first-child {
            padding-left: 0;
        }
    }
}
.border-right-2 {
    padding: 0 15px;
    border-right: 1px solid #8097e8;
    line-height: 98%;
    min-height: 44px;
    &:last-child {
        border: none;
    }
    &:first-child {
        padding-left: 0;
    }
}
.custom-li {
    ul {
        list-style: none;
        display: block;
        li {
            float: left;
        }
    }
}
.btn-orange {
    @include button-variant($white, $brand-success, $brand-success);
    border: 1px solid #fc7700;
    @include transition(all 300ms ease);
    &:hover {
        @include button-variant($brand-success, $white, $brand-success);
        border: 1px solid #fc7700;
    }
    &:focus {
        outline: 0;
    }
    &:active {
        outline: 0;
    }
}
.btn-outline {
    @include button-variant($brand-success, $white, $brand-success);
    border: 2px solid #fc7700;
    @include transition(all 300ms ease);
    &:hover {
        @include button-variant($white, $brand-success, $brand-success);
        border-color: #fc7700;

    }
    &:focus {
        outline: 0;
        border: 2px solid #fc7700;
    }
    &:active {
        outline: 0;
        border: 2px solid #fc7700;
        &:focus {
            outline: 0;
            border: 2px solid #fc7700;
                background-color: #ffffff;
        }
    }
}
.sports-participate {
    .image-width {
        width: 80px !important;
        margin: 0 auto;
    }
}
.boy-sec {
    img {
        display: inline-block !important;
        width: 15px !important;
        margin-right: 5px;
        vertical-align: bottom;
    }
}
.f16 {
    font-size: 16px;
}
.mt5 {
    margin-top: 5px;
}
.padd-btn {
    padding: 3px 8px 5px;
}
.sport-slider {
    .flex-control-nav {
        display: none;
    }
    .flex-direction-nav a.flex-next:before {
        content: '';
        background: url("../img/right-arrow.png") no-repeat center;
        width: 25px;
        height: 25px;
    }
    .flex-direction-nav a.flex-prev:before {
        content: '';
        background: url("../img/left-arrow.png") no-repeat center;
        width: 25px;
        height: 25px;
    }
    .flex-direction-nav a {
        width: 25px;
        height: 25px;
        opacity: 1;
    }
    .flex-direction-nav .flex-prev {
        left: -40px;
    }
    .flex-direction-nav .flex-next {
        right: -40px;
        text-align: right;
    }
    .flexslider:hover .flex-direction-nav .flex-prev:hover {
        opacity: 1;
    }
    .flexslider:hover .flex-direction-nav .flex-next:hover {
        opacity: 1;
    }
    .flexslider:hover .flex-direction-nav .flex-prev {
        opacity: 1;
        left: -40px;
        outline: 0;
    }
    .flexslider:hover .flex-direction-nav .flex-next {
        opacity: 1;
        right: -40px;
        outline: 0;
    }
}
.icon-right {
    padding-right: 10px;
    border-right: 1px solid #bbbbbb;
}
.icon-left {
    padding-left: 8px;
}
.combine {
    background: #e7e7e7;
    border-radius: 25px;
    border: 1px solid #cccccc;
    padding: 4px 0;
}
hr {
    border-top: 1px solid #000000 !important;
}
.sfa-select {
    position: relative;
    z-index: 99;
    margin-left: 10px;
    .select {
          @include appearance(none);
        border: none;
        text-transform: uppercase;
        font-size: 15px;
        padding: 3px 40px 0 20px;
        width: 100%;
        background-color: transparent;
        outline: 0;
        color: #0a1a72;
        cursor: pointer;
    }
    &:after {
        font: normal normal normal 14px/1 FontAwesome;
        content: '\f0dd';
        height: 30px;
        width: 36px;
        background-color: #fc7700;
        color: white;
        position: absolute;
        top: -2px;
        right: -21px;
        text-align: center;
        line-height: 22px;
        font-size: 22px;
        z-index: -1;
    }
    .only-border {
        border: 1px solid #0a1a72;
        width: 100%;
        position: absolute;
        height: 30px;
        top: -2px;
        z-index: -1;
        right: 0;
    }
}
.mt-min-30 {
    margin-top: -30px;
}
.mt-min-18 {
    position: absolute;
    top: 0;
}
.tab-list {
    ul {
        li {
            padding: 15px 3px 9px;
            a {
                font-size: 18px;
                background: #dcdbdb;
                padding: 8px 60px;
                &:hover {
                    color: $brand-primary;
                }
                &:focus {
                    color: $brand-primary;
                }
            }
            .active-list {
                background: $brand-success;
                color: $white !important;
            }
        }
    }
}
.table-img {
    vertical-align: baseline;
    margin-right: 5px;
}
.ver-mid {
    vertical-align: middle;
}
.ver-base {
    vertical-align: baseline;
}
.w25{
  width: 25px;
  margin-right: 6px;
}
.table {
    .bg-table {
        background-color: $brand-primary;
        th {
            border-bottom: none !important;
            text-align: center;
        }
    }
    tbody {
        tr {
            background-color: #e1e1e1;
            td {
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}
.box-content {
    background-color: #f4f4f4;
    padding: 25px 30px;
}
.box-content2 {
    background-color: #f4f4f4;
    padding: 25px 85px;
}
.box-content-white {
    @extend .box-content;
    background-color: $white;
}
.school-about {
    span {
        color: $brand-primary;
        width: 100px;
        display: inline-block;
    }
    p {
        color: $base;
    }
}
.margin15 {
    margin: 10px 30px;
}
.margin152 {
    margin: 10px 0px;
}
.box-margin {
    margin: 0 80px;
}
.box-margin2 {
    margin: 0 150px;
}
.tables {
    border: 1px solid #000;
    tr {
        text-transform: uppercase;
        font-size: 16px;
        td {
            padding: 15px 25px;
            border-top: 1px solid #000;
            color: $brand-primary;
            text-align: center;
            &:first-child {
                background-color: #102983;
                color: #fff;
                border-bottom: 1px solid #4c4c4c;
                text-align: left;
            }
            &:last-child {
                border-left: 1px solid #000;
            }
        }
        th {
            padding: 15px 25px;
            text-transform: uppercase;
            font-size: 16px;
            text-align: center;
            &:first-child {
                background-color: #102983;
                color: $white;
                font-weight: 300;
                border-bottom: 1px solid #4c4c4c;
                text-align: left;
            }
            &:last-child {
                border-left: 1px solid #000;
            }
        }
    }
}
.record-table {
    padding-bottom: 25px;
}
.accrordian {
    .panel {
        .panel-heading {
            color: $white;
            background-color: #9d9d9d;
            border-color: #9d9d9d;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            padding: 15px;
        }
    }
}
.accrodian-sec {
    @extend .accrordian;
    .panel {
        border: none;
        .panel-heading {
            color: $brand-primary !important;
            background-color: #dfdfdf !important;
            border-color: #dfdfdf !important;
        }
    }
}
.text-underline {
    text-decoration: underline;
}
.modal-sm {
    width: 500px !important;
}
.sports-modal {
    .modal-header {
        border-bottom: 0 solid #e5e5e5;
    }
    .modal-dialog {
        margin: 0 auto !important;
    }
    .modal-body {
        padding: 0;
    }
}
.close-btn {
    background: transparent;
    border: none;
    color: #ccc;
    font-size: 20px;
    &:focus {
        outline: 0;
    }
}
.sports-all-list {
    list-style: none;
    display: block;
    li {
        padding: 15px 24px;
        display: inline-block;
        text-align: center;
        img {
            margin: 0 auto;
        }
    }
}
// .list-img {
//     margin-right: 15px;
// }
.hr-padding {
    margin-top: 0;
    border-top: 1px solid #d3d3d3 !important;
}
.sf-share {
    span {
        i {
            font-size: 20px;
            color: #545454;
        }
    }
}
.mt20 {
    margin-top: 20px;
}
img.fancybox-image {
    opacity: 1;
}
.bg-sport {
    background: url(../img/bg-sports.jpg)no-repeat #ebeaea;
      @include background-size(cover);
    margin-top: -45px;
    margin-bottom: -45px;
}
.data-box {
    text-align: left;
    text-transform: capitalize;
    color: #353535;
    padding-left: 15px;
}
.box-table {
    table {
        tr {
            background: transparent !important;
            th {
                background: $brand-primary;
                color: $white;
                font-size: 14px;
                font-weight: 400;
                text-align: center;
            }
            td {
                text-transform: capitalize;
                border-top: 0 solid #ddd;
            }
        }
    }
}
.bottom-padding {
    padding-bottom: 100px;
}
.download {
    a {
        padding-right: 15px;
        &:hover {
            text-decoration: underline;
            color: $brand-primary;
        }
    }
}
.get {
    font-size: 20px;
    padding: 8px 60px;
}
.margin-bottom {
    margin-bottom: 40px;
}
.school-table {
    table {
        text-transform: uppercase;
        border: 1px solid #000;
        tr {
            background: transparent;
            th {
                border: none;
                text-align: center;
                font-weight: 400;
                padding: 15px 0;
                &:first-child {
                    color: $brand-primary;
                }
            }
            td {
                padding: 15px 0;
                border-top: 1px solid #000;
                &:first-child {
                    color: $brand-primary;
                }
            }
        }
    }
}
.other-bg {
    background-color: #f4f4f4 !important;
}
.center-cl {
    text-align: left !important;
    padding-left: 40px !important;
}
.f18 {
    font-size: 18px;
}
.padding15 {
    padding: 5px 20px;
}
.table-data {
    p {
        margin: 0 5px 10px;
    }
}
.blog-footer {
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.blog-share {
    text-align: right;
}
.img-border {
    border: 5px solid $white;
    border-radius: 100%;
}
.second-border {
    li {
        border-right: 1px solid #8097e8;
        &:last-child {
            border: none;
        }
    }
}
.blue-cat {
    ul {
        display: block;
        list-style: none;
        text-align: center;
        vertical-align: middle;
        padding: 0;
        li {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            margin: 0 auto;
            padding: 0;
            width: 114px;
            img {
                text-align: center;
                margin: 0 auto;
                width: 60px;
                @include transition(all 1s ease);
            }
            .bottom {
                position: absolute;
                top: 0;
                text-align: center;
            }
            figcaption {
                text-transform: uppercase;
                padding-top: 10px;
                color: $base;
                font-weight: 600;
                font-size: 13px;
                @include transition(all 1s ease);
            }
            .top {
                opacity: 1;
                @include transition(all 1s ease);
            }
            .bottom {
                opacity: 0;
                @include transition(all 1s ease);
            }
        }
        li.grey {
            // .filter(grayscale(1) brightness(1.5));
            filter:gray;
            filter:url(  "data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
            /* Firefox 10+, Firefox on Android */
        }
        li.active,
        li.bigger {
            cursor: pointer;
            .top {
                opacity: 0;
            }
            .bottom {
                opacity: 1;
                //                     width:100px !important;
            }
            figcaption {
                color: $brand-primary;
            }
            img {
                width: 86px;
            }
            figcaption {
                font-size: 15px;
            }
        }
    }
    ul.reverse {
        li {
            figcaption {
                color: $base;
            }
        }
        li.active,
        li.bigger {
            figcaption {
                color: $brand-success;
            }
        }
    }
    .blue-act {
        color: $brand-primary;
        font-size: 14px;
    }
    .orange-act {
        color: $brand-success;
        font-size: 14px;
    }
}
.text-set-cap {
    tr {
        th {
            border-right: 1px solid #000;
        }
        td {
            text-transform: capitalize;
            border-right: 1px solid #000;
            &:first-child {
                text-transform: uppercase;
            }
        }
    }
}
.bg-none {
    .flexslider {
        background-color: transparent;
        border: none;
        margin: 0 auto;
    }
}
.total-medals-count {
    border: 1px solid #000;
    display: inline-block;
    padding: 2px 20px;
}
.sport-name-bg {
    margin-top: 50px;
    height: 64px;
    background: url("../img/patch.jpg");
    text-align: center;
    h1 {
        background:$white;
        display: inline-block;
        padding: 7px 0 5px;
        width: 50%;
    }
}
.final-table {
    table {
        thead {
            tr {
                th {
                    vertical-align: middle;
                }
            }
        }
        tbody {
            tr {
                background-color: $white;
                td {
                    border-top: 4px solid #f4f4f4;
                    height: 62px;
                }
            }
        }
    }
}
.sf-acc {
    .panel {
        background-color: #cdcdcd;
    }
    .panel-heading {
        color: #fc7700 !important;
        background-color: #0a1a72 !important;
        .panel-title {
            font-weight: 700;
            line-height: 200%;
        }
    }
}
.bg-dark {
    background-color: #a8a7a7;
}
.inner-table {
    table {
        thead {
            tr {
                th {
                    color: $brand-primary;
                    text-align: center;
                }
            }
        }
        tbody {
            tr {
                td {
                    background-color: $white;
                    border-top: 4px solid #cdcdcd;
                }
            }
        }
    }
}
.btn-orange:hover:hover {

    background-color: $white;

}
.list-style {
    list-style: none;
}
.score-1st {
    padding: 0 2px;
    ul {
        li {
            line-height: 75%;
        }
    }
}
.left-side-score {
    .panel {
        background-color: #cdcdcd;
        border-radius: 0;
        .panel-heading {
            background-color: #0a1a72;
        }
    }
}
.a-link {
    line-height: 274%;
    a {
        text-decoration: underline;
        &:hover {
            color: $white;
        }
    }
}
.mt80 {
    margin-top: 80px;
}
.result-list {}
.cm-pad {
    margin: 0 8px;
    vertical-align: top;
}
.rslt-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-top: 6px;
    img {
        height: 100%;
        width: auto;
    }
}
.reslt-box {
    margin-top: 10px;
    background: $white;
    border-radius: 6px;
    padding: 7px 15px;
}
.pos-right {
    right: 10px;
}
.widht25 {
    width: 20px;
}
.box-level {
    background: $white;
    display: inline-block;
    border-radius: 6px;
}
.comp-name {
    padding: 10px 35px 10px 10px;
}
.border-bottom2 {
    border-bottom: 1px solid #d4d4d4;
}
.footer-level {
    background: #0a1a72;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: $white;
    padding: 4px 0 4px 10px;
    ul {
        li {
            padding: 0 3px;
        }
    }
}
.min-height-150 {
    min-height: 147px;
    margin: 0;
    position: relative;
}
// .mt30{
//   margin-top: 20px !important;
// }
.all-sets {
    .pad-more {
        padding-top: 135px;
    }
}
.top-level {
    &:before {
        background: transparent;
        content: '';
        width: 50px;
        height: 98px;
        border-top: 1px solid black;
        position: absolute;
        right: -68px;
        border-right: 1px solid black;
        top: 55px;
    }
}
.top-level2 {
    @extend .top-level;
    &:before {
        height: 254px;
    }
}
.bottom-level {
    @extend .top-level;
    &:before {
        border-top: none;
        border-bottom: 1px solid black;
        bottom: 88px;
        top: inherit;
    }
}
.bottom-level2 {
    @extend .bottom-level;
    &:before {
        height: 254px;
    }
}

.all-sets {
    display: inline-block;
    width: 215px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    .first-sec {
        &:first-child {
            padding-bottom: 100px;
        }
    }
}
.comp-width{
  @extend .all-sets;
  width: 290px;
}
.min-height-fix {
    min-height: 500px;
    .list-box {
        &:last-child {
            padding-top: 135px;
        }
    }
}
.min-height-fix2 {
    @extend .min-height-fix;
    min-height: 700px;
}
.pt140 {
    padding-top: 140px;
}
.first-col {
    position: relative;
    top: 20px;
}
.first-col2 {
    position: relative;
    top: 130px;
}
.first-col3 {
    position: relative;
    top: 330px;
}
.first-col4 {
    position: relative;
    top: 454px;
}
.ml25 {
    margin-left: 25px;
}
.ml15{
  margin-left: 10px;
}
.pos-set {
    position: absolute;
    right: 0;
    bottom: -123px;
    top: inherit;
}
.b-right {
    padding-right: 0;
}
.pt150 {
    margin-top: 150px;
    border-right: 2px solid #c1c1c1;
    padding-right: 20px;
}
.round-slider {
    button {
        background: transparent;
        border: 2px solid silver;
        text-transform: uppercase;
        color: #0a1a72;
        font-size: 18px;
        padding: 7px 20px;
        &:focus {
            outline: 0;
              color: #0a1a72;
        }
        &:hover {
            outline: 0;
              color: #0a1a72;
        }
        &:active {
            outline: 0;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
            &:focus {
                outline: 0;
                  color: #0a1a72;
            }
        }
    }
}
.bg-draw{
  background: url(../img/bg-draw.jpg)no-repeat;
  @include background-size(cover);
  position: relative;
  padding: 0px 0px 40px 0px;

}
.round1 {
    padding: 20px 0px 0px 0px;
}
.comp-img{
  padding-right: 8px;
  img{
    vertical-align: baseline;
  }
}
.one-sec {
    padding: 10px 30px 10px 10px;
}
.text-right{
  text-align: right;
}
.fancybox-inner {
    // overflow: hidden !important;
}
.main-pos{
  left: 38%;
top: 50%;
  @include transform(translate(-50%,-50%));

}
.right-pos{
  right: 15px;
top: 50%;
// transform: translateY(-50%);
  @include transform(translateY(-50%));
}
.blog-title{
  p{
        font-size: 15px;
  }
}
.spon{
  right: 15%;
bottom: 15%;
}
.right10{
  right:10px;
}
.min-height-set{
  min-height: 330px;
  position: relative;
    top: 80px;

}
.min-height-set2{
  min-height: 660px;
  position: relative;
  top: 247px;

}
.school-names{
    padding: 0px 15px;

}
.school-name{
      min-height: 38px;

}
.first-top{
  width: 100%;
height: 660px;
overflow: hidden;
background-image: url("../img/n1.jpg");
background-position: center center;
background-repeat: no-repeat;
background-color: rgba(204, 204, 204, 0);
position: relative;
  @include background-size(cover);
min-height: 660px;
}
.v_ul {
    list-style: none;
}
.first-top-img{
  width: 100%;
height: 330px;
overflow: hidden;
background-image: url("../img/v1.jpg");
background-position: center center;
background-repeat: no-repeat;
background-color: rgba(204, 204, 204, 0);
position: relative;
  @include background-size(cover);
min-height: 330px;
}
.second-top-img{
  @extend .first-top-img;
  background-image: url("../img/vn1.jpg");
}
.first-left{
  @extend .first-top-img;
    background-image: url("../img/day-02.png");
}
.middle-left{
  @extend .first-top-img;
    background-image: url("../img/day-03.png");
}
.last-left{
  @extend .first-top-img;
    background-image: url("../img/day-04.png");
}
.second-bottom{
  @extend .first-top-img;
    background-image: url("../img/drone-video.png");
}
.middle-bottom{
  @extend .first-top-img;
    background-image: url("../img/farahkhan-thumb.png");
}
.last-bottom{
  @extend .first-top-img;
    background-image: url("../img/purav-raja.png");
}
.curve{
  background: url("../img/curves1.png") no-repeat center;
width: 100%;
height: 40px;
position: relative;
z-index: 1;
background-position-y: 0;
  @include background-size(cover);
}
.home-slider{
  margin-top: -37px;
z-index: 0;
position: relative;
}
.home-slider{
  .flexslider {
    border: none;
}
.flex-direction-nav a.flex-next:before {
    content: '';
    background: url("../img/arrow-right.png") no-repeat center;
    width: 42px;
    height: 62px;
}
.flex-direction-nav a.flex-prev:before {
    content: '';
    background: url("../img/arrow-left.png") no-repeat center;
    width: 42px;
    height: 62px;
}
.flex-direction-nav a {
    width: 54px;
    height: 66px;
      opacity:1;
}
.flex-direction-nav .flex-prev {
    left: 50px;
}
.flex-direction-nav .flex-next {
    right: 50px;
    text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity:1;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity:1;
}
.flexslider:hover .flex-direction-nav .flex-prev {
      opacity:1;
    left: 50px;
    outline: 0;
}
.flexslider:hover .flex-direction-nav .flex-next {
    opacity:1;
    right: 50px;
    outline: 0;
}
.flex-control-nav {

    display: none;
}
}
.home-btn{
  .btn-home{
    font-size: 20px;

padding: 10px 0px;
&:focus{
  outline: 0;
}
&:active{
  background: $brand-success;
  color: $white;
  box-shadow: none;
}
  }
  .btn-group{
        padding: 0px 30px;
  }
}
.curve2 {
    background: url("../img/curves2.png") no-repeat center;
    width: 100%;
    height: 48px;
    position: relative;
    z-index: 0;
    margin-top: -103px;
    @include background-size(cover);

}
.mdl {
    padding: 1px 0 20px;
    max-width: 300px;
    margin: 0 auto;
    .input-text {
    float: left;
    width: 82%;
}
input {
   -webkit-border-radius: 0;
   -webkit-background-clip: padding-box;
   -moz-border-radius: 0;
   -moz-background-clip: padding;
   border-radius: 0;
   background-clip: padding-box;
   width: 100%;
   background-color: #dbdbdb;
   box-shadow: 0 0 0 0;
   border-color: #dbdbdb;
   padding: 10px 0 10px 12px;
   height: 40px;
   outline: 0;
}
.button-text{

  text-align: left;
  button{
    padding: 9px 14px;
    outline: 0;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
  }
}
}
.f4v{
  font-size: 4vw;
}
.f2v{
  font-size: 2.3vw;
margin-bottom: 0;
}
.box-social{
  margin-top: 22%;
}
.mb50{
  margin-bottom: 50%;
}
.thank {
    margin-top: 32px;
    font-size: 15px;
    font-weight: 600;
}
.f12{
  font-size: 12px;
}
.btn-outline:hover:hover {
    color: #fff;
    background-color: $brand-success;
    border-color:$brand-success;
}
.dropdown-menu{
display: none !important;
margin: -2px 0px;
    left: -17px;
}
.hide-op{
      padding: 8px 14px !important;
      background: $brand-success;
color: #fff;

  &:hover{
    .dropdown-menu{
    display: block !important;
    }
  }
  a{
    color: #fff;
  }
  &:before{
    left: -9px;
height: 100%;
width: 17px;
position: absolute;
content: "";
top: 0;
animation: colorchange 4s infinite;
-webkit-animation: colorchange 4s infinite;
-webkit-transform: skew(-42deg);
-moz-transform: skew(-42deg);
-ms-transform: skew(-42deg);
-o-transform: skew(-42deg);
transform: skew(-25deg);
background:$brand-success;
z-index: 999;
  }
  &:after{
    right: -9px;
height: 100%;
width: 17px;
position: absolute;
content: "";
top: 0;
animation: colorchange 4s infinite;
-webkit-animation: colorchange 4s infinite;
-webkit-transform: skew(-42deg);
-moz-transform: skew(-42deg);
-ms-transform: skew(-42deg);
-o-transform: skew(-42deg);
transform: skew(-25deg);
background: $brand-success;
z-index: 999;
  }
}
.show-op{
  padding: 0px !important;
  li{
    padding: 0px !important;
        display: block !important;
    a{
      padding: 10px 25px !important;
      &:hover{
        color: #ffffff;
background-color:$brand-success;
      }
      &:focus{
        color: #ffffff;
background-color: $brand-success;
      }
    }
  }
}
.contact-set{
      margin-top: 30px;
  p{
    font-size: 16px;
  }
  li{
    font-size: 16px;
  }
}
.rule2{
  margin-top: 4%;

}
.rules{
  p{
      font-size: 16px;
  }
  ol{
        padding-left: 15px;
    li{
          margin: 25px 0;
            font-size: 16px;
    }
  }
}
.li-font{
      padding-left: 15px;
  li{
    font-size: 15px;
      margin: 7px 0;
  }
}
.no-list{
      font-size: 15px;
      li{
            margin: 7px 0;
      }
}
.image-box {
    position: relative;
    margin: 0 auto;
    text-align: center;
    height: 180px;
    overflow: hidden;
    img{
      max-height: 100%;
max-width: 100%;
    }

}
.same-sec {
    // display: inline-block;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 15px;
    padding-bottom: 20px;
padding-top: 20px;
}
.accrd{
  .panel {
    margin-bottom: 0;
    border-radius: 0px;
    border: 0px solid transparent;
border-radius: 0px;
-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
}
.panel-heading{
  box-shadow: 3px 3px 3px 0 #d9d9d9 !important;

}
  .panel-title{
  i{
      font-size: 24px;
  }

  }
}
.data-vox{
  h4{
    text-transform: uppercase;
    color:$brand-primary;
    font-weight: 600;
    font-size: 16px;
        line-height: 30%;
  }
p{
  color:#535353;
  font-size: 15px;
}
}
.border-r{
    img{
        border-radius: 100%;
    }
}
.faq-table {
    table {
        border: 1px solid #ddd;
        tbody {
            text-align: center;
        }
    }
    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 1px solid #ddd;
        text-align: center;
        color: $brand-primary;
    }
    .table > tbody > tr{
      background: transparent;
    }
    .table > thead:first-child > tr:first-child > th {
        border-top: 0;
        border-left: 1px solid #ddd;
    }
    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        border-right: 1px solid #ddd;
    }
}
.vid-min{
  max-width: 56px;
vertical-align: text-bottom;
margin: 0 20px;
}
.stu-img{
  img{
    border-radius: 100%;

  }
}
.statement{
p{
  text-align: center;
  font-size: 18px;
  margin-top:25px;
}
}
.f15{
  font-size: 15px;
}
.main-f{

    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #0a1a72;
    color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

}
.color-d{
  color:#606060;
}
.btn:active, .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
}
.fancy1 {
    .ptl {
        img {
            position: absolute;
            top: 1%;
            width: 10%;
            height: auto;
            left: 89%;
        }
    }
}
.btn{
      margin: 5px 0px;
}
//bootstrap forms
/* Start writing sass here */
@import "fancybox-override";
@import "mobile";
