@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0a1a72 !default;
$brand-success: #fc7700 !default;
$brand-warning: #9f9f9f !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$base: #303030 !default;
$white: #fff !default;
$dark-grey: #e1e1e1 !default;
$light-grey: #ebebeb !default;
$font-family-sans-serif: "Titillium Web", Arial, sans-serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* mixing*/
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
body {
  padding-top: 70px;
  font-family: $font-family-sans-serif;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a, .btn {
  cursor: pointer;
  @include transition(all ease 300ms);
}
//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
//basic

a{
  text-decoration: none;
  outline: 0;
  &:focus{
    text-decoration: none;
    outline: 0;
  }
  &:hover{
    text-decoration: none;
    outline: 0;
  }
}
.margin0{
  margin: 0px;
}
.padding0{
  padding: 0px;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.sf-list{
  ul{
    display: block;
    list-style: none;
    li{
      display: inline-block;
    }
  }
}
.sf-relative{
  position: relative;
}
.sf-absulate{
  position: absolute;
}
.display-inline{
  display: inline-block;
}
.color-blue{
  color:$brand-primary;
}
.color-orange{
  color:$brand-success;
}
.color-white{
  color:$white;
}

.color-base{
  color:$base;
}
.text-up{
  text-transform: uppercase;
}
//bootstrap forms
/* Start writing sass here */
@import "fancybox-override";
