<section class="bottom-padding">
    <div class="sport-name-bg text-center">
        <h1 class="color-orange text-up font-semi margin0" >ABOUT SFA</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-set">
                    <p>
                        Sports For All is a first-of-its-kind organization set out to revolutionize the way India plays inter-school sports and inter-college sports. By the way of commissioning a professional and an all-encompassing sporting eco-system, we endeavour to enable the next generation athletes
                        from every school and college who aspire to represent India. Drawing inspiration from leading grass roots development programs worldwide and evolving them further, SFA is resolved to provide young Indian players a sporting environment comparable
                        to that experienced by international athletes.
                    </p>
                    <div class="para">
                      <p>
                        The three integral aspects of the Sports For All ecosystem are:
                      </p>
                      <ol>
                        <li>Annual multi-style inter-school and inter-college sports tournaments at venues with top-notch infrastructure and facilities</li>
                        <li>Year-round training & development programs in partnership with reputed academies and coaches to enable young athletes to have ready access to facilities & improve their game</li>
                        <li>A holistic online portal for records maintenance of every athlete and school which will enable us as a nation to systematize sport in the true sense at the grass roots level</li>
                      </ol>
                    </div>
                    <p>
                        In a country where biases still exist in the field of sports basis socio-economic status, gender, educational board and even religion, Sports For All is determined to equalize society by extending unbiased and uniform guidance, facilities, infrastructure and opportunities
                        in all Olympic sports.
                    </p>
                    <p>
                        India has the potential to achieve accolades in the field of sport. Latent talent exists in every school of India. Sports For All aims to identify, nurture and bring young talent to the forefront by providing them with an extensive platform so that young
                        athletes can be identified and they can finally dream of taking up sports as a professional career.
                    </p>
                    <div class="para">
                      <p>
                        An in-depth understanding of the current landscape of grass-root level sports in India has led Sports For All to identify and provide some simple, yet very crucial components, which young athletes require in order to propel them further in their sport:
                      </p>
                      <ol>
                        <li>Feeling and pride of representing an institution.</li>
                        <li>State-of-Art infrastructure, an environment conducive to play sports and the right guidance to perform better</li>
                        <li> Maintenance of records in videos and statistics by profiling players and schools</li>
                        <li>The support of peers, mentors and talent scouts</li>
                      </ol>
                    </div>
                    <p>
                      Sports For All is working relentlessly towards systematising the inter-school and inter-college sports eco-system in the country by providing a singular, integrated and an all-inclusive platform for young athletes, coaches and sporting services for schools and colleges across India, one city at a time with a focused approach. We have thus assumed the responsibility of creating champions in our country who will go ahead to represent India at the international level in the years to come.
                    </p>
                    <p>
                        Ab Jeetega India!
                    </p>
                </div>
            </div>
        </div>
    </div>
  </section>
