<section class="pt50">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="certificate">
                    <div class="top-c">
                        <img src="img/certificate-head.jpg" alt="" class="width100">
                    </div>
                    <div class="middle-c">
                        <form>
                            <div class="form-group border-btm">
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group border-btm">
                                <div class="sf-relative">
                                    <label class="lb-f color-blue font-avenir f-26">of</label>
                                    <input type="text" class="form-control mr-r">
                                </div>

                            </div>
                            <div class="form-group border-btm text-center m-auto-20">
                              <div class="display-inline">
                                <label class="color-blue font-avenir f-18">SFA ID</label>

                              </div>
                              <div class="display-inline">
                                  <input type="text" class="form-control">
                              </div>
                            </div>
                            <div class="form-group text-center m-auto-20 ">
                                <div class="fr-sec" >
                                    <div class="display-inline">
                                    <label class="color-blue font-avenir f-20">For securing</label>
                                  </div>
                                  <div class="display-inline border-none">
                                    <input type="text" class="form-control">
                                  </div>
                                    <label class="color-blue f-20">in</label> <label class="f-20 cl-blue" >Water pollo</label>
                                    <!-- <label class="f-20 cl-blue" ng-if="item == '2'">{{item.name}}</label> -->
                                </div>

                            </div>

                        </form>
                    </div>
                    <div class="footer-c">
                        <img src="img/cfwaterpolo.jpg" alt="" class="width100" >
                        <!-- <img src="img/cfswiminig.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfmma.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfkarate.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfboxing.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfteakwando.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfathletics.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cftabletennis.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfcarrom.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfchess.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cffencing.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfjudo.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfsquash.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cftennis.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cftabletennis.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfarchery.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfshooting.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfkabbadi.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cffootball.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfhandball.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfvolleyball.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfhockey.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfkhokho.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfbadminton.jpg" alt="" class="width100" ng-if="">
                        <img src="img/cfbasketball.jpg" alt="" class="width100" ng-if=""> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
