<div class="secion-img">
    <img src="img/theory.jpg" alt="" class="img-responsive">
</div>
<div class="container">
    <div class="largest">
        <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7">
                <div class="largest-ball">
                    <img src="img/largest.png" alt="" class="img-responsive">
                    <div class="ball">
                        <img src="img/ball.png" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5">
                <p class="largest-content">Mumbai's ultimate inter-school sporting championship, where best school contingents battle it out to be ranked
                    as the No. 1 School For Sport</p>
                <div class="largest-list">
                    <ul class="list-unstyled">
                        <li>55,000 ATHLETES</li>
                        <li>850 INSTITUTIONS</li>
                        <li>25+SPORTING DISCIPLINES</li>
                        <li>50+ SPORTING ARENAS</li>
                        <li>180 CAMERAS</li>
                        <li>11,000 MATCH VIDEOS</li>
                        <li>3 VENUES</li>
                        <li>15 DAYS OF INTENSE COMPETITION</li>
                    </ul>
                </div>
                <p>*Only upto 55,000 athletes can participate at SFA Mumbai 2017</p>
            </div>
        </div>
    </div>
    <div class="proffessional">
        <div class="professional-img">
            <img src="img/professional.png" alt="" class="img-responsive ">
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h3>PRO SPORT EXPERIENCE</h3>
                <div class="content-padding">
                    <div class="row">
                        <div class="col-md-6  col-sm-12 col-xs-12">
                            <div class="list-common">
                                <p class="brand-blue">World-Class Multi-Sporting Infrastructure & Facilities</p>
                                <ul class="list-unstyled">
                                    <li>In line with international technical guidelines </li>
                                    <li>Shock absorbing outdoor surfaces for injury minimization</li>
                                    <li>First in class stadium exp </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6  col-sm-12 col-xs-12">
                            <div class="list-common">
                                <p class="brand-blue">High Quality Competition</p>
                                <ul class="list-unstyled">
                                    <li>Representation by state and national level players</li>
                                    <li>Pre-determined eligibility criteria</li>
                                    <li>Attracting the city’s best talen </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-sm-12 col-xs-12">
                            <div class="list-common">
                                <p class="brand-blue">Quality Governance</p>
                                <ul class="list-unstyled">
                                    <li class="p-right30">Conducted as per best practices under the aegis of National and State Associations</li>
                                    <li>Certified officials </li>
                                    <li>Application of advanced technological solutions – photo </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6  col-sm-12 col-xs-12">
                            <div class="list-common">
                                <p class="brand-blue">Match Videography</p>
                                <ul class="list-unstyled">
                                    <li>HD match videography</li>
                                    <li>Digital record </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10">

                <h3>PRO CARE FOR ENHANCED PERFORMANCE</h3>
                <div class="content-padding">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div class="list-common">
                                <p class="brand-blue"> Injury Prevention Centres & Oncourt Physiocare </p>
                                <ul class="list-unstyled list-dash">
                                    <li>Sport specialised physiotherapists and hospital partnership </li>
                                    <li>First Aid and Ambulance</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div class="list-common">
                                <p class="brand-blue"> Hydration & Nutrition Stations</p>
                                <ul class="list-unstyled">
                                    <li>On and off-court access to clean drinking water</li>
                                    <li>Revitalization with complimentary energy drinks post matches </li>
                                    <li>Nutritious Food</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="list-common">
                                <p class="brand-blue"> Safe & Hygenic Sporting Environment</p>
                                <ul class="list-unstyled">
                                    <li>24/7 private security </li>
                                    <li>Changing rooms, washrooms and warm-up areas </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="boy-img">
            <img src="img/10.png" alt="" class="img-responsive">
        </div>
    </div>
</div>

<div class="blue-sec">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <h3>PRO ONLINE PORTAL FOR TRANSPARENCY</h3>
                <div class=" col-md-4">
                    <div class="">
                        <p class="brand-white">One Time E-Registration </p>
                        <ul class="list-unstyled one-time">
                            <li>Simple and secure e-registration process for athletes and schools</li>
                            <li>Online payment option available </li>
                        </ul>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class=" match-video">
                        <p class="brand-white "> Fixtures, Draws And Match Schedules</p>
                        <ul class="list-unstyled ">
                            <li>To be published online prior to the championship </li>
                        </ul>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="">
                        <p class="brand-white">Record Maintenance</p>
                        <ul class="list-unstyled  one-time">
                            <li>All championship led scores, records, statistics & ranking table accessible via website
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <h3>PRO E-LOCKER FOR ATHLETE</h3>
                <div class="col-md-4">
                    <div class="">
                        <p class="brand-white"> Athlete & School Profiles</p>
                        <ul class="list-unstyled">
                            <li>Comprehensive sport bios</li>
                            <li>Year-on-year record maintenance</li>
                            <li>Match statistics and reports</li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="">
                        <p class="brand-white"> Match Videos</p>
                        <ul class="list-unstyled padd-r30">
                            <li>Enhanced with more statistics and advanced analytics - formation graph,scores,strike percentage
                                etc.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="multi-sporting">
        <div class="multi-sporting-img">
            <img src="img/multi-sporting.png" alt="" class="img-responsive mar-auto">
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="blue-girl">
                    <img src="img/girlblue.png" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-7">
                <div class="sport-icon">
                    <ul class="list-unstyled">
                        <li>
                            <img src="img/icon/1_Handball.png" class="img-responsive">
                            <p>HANDBALL</p>
                        </li>
                        <li>
                            <img src="img/icon/2_Basketball.png" class="img-responsive">
                            <p>Basketball</p>
                        </li>
                        <li>
                            <img src="img/icon/3_Volleyball.png" class="img-responsive">
                            <p>Volleyball</p>
                        </li>
                        <li>
                            <img src="img/icon/4_Throwball.png" class="img-responsive">
                            <p>Throwball</p>
                        </li>
                        <li>
                            <img src="img/icon/5_Hockey.png" class="img-responsive">
                            <p>Hockey</p>
                        </li>
                        <li>
                            <img src="img/icon/6_Kho Kho.png" class="img-responsive">
                            <p>Kho-Kho</p>
                        </li>
                        <li>
                            <img src="img/icon/7_Kabaddi.png" class="img-responsive">
                            <p>Kabaddi</p>
                        </li>
                        <li>
                            <img src="img/icon/8_Football.png" class="img-responsive">
                            <p>Football</p>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <img src="img/icon/9_Badminton.png" class="img-responsive">
                            <p>Badminton</p>
                        </li>
                        <li>
                            <img src="img/icon/10_Tennis.png" class="img-responsive">
                            <p>Tennis</p>
                        </li>
                        <li>
                            <img src="img/icon/11_Table-Tennis.png" class="img-responsive">
                            <p>TableTennis</p>
                        </li>
                        <li>
                            <img src="img/icon/12_Squash.png" class="img-responsive">
                            <p>Squash</p>
                        </li>
                        <li>
                            <img src="img/icon/23_Carrom.png" class="img-responsive">
                            <p>Carrom</p>
                        </li>
                        <li>
                            <img src="img/icon/24_Chess.png" class="img-responsive">
                            <p>Chess</p>
                        </li>
                        <li>
                            <img src="img/icon/26_Athletics.png" class="img-responsive">
                            <p>Athletics</p>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <img src="img/icon/13_Judo.png" class="img-responsive">
                            <p>Judo</p>
                        </li>
                        <li>
                            <img src="img/icon/14_Taekwondo.png" class="img-responsive">
                            <p>Taekwondo</p>
                        </li>
                        <li>
                            <img src="img/icon/15_Boxing.png" class="img-responsive">
                            <p>Boxing</p>
                        </li>
                        <li>
                            <img src="img/icon/16_Fencing.png" class="img-responsive">
                            <p>Fencing</p>
                        </li>
                        <li>
                            <img src="img/icon/17_Karate.png" class="img-responsive">
                            <p>Karate</p>
                        </li>
                        <li>
                            <img src="img/icon/18_MMA.png" class="img-responsive">
                            <p>MMA</p>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <img src="img/icon/19_Shooting.png" class="img-responsive">
                            <p>Shooting</p>
                        </li>
                        <li>
                            <img src="img/icon/20_Archery.png" class="img-responsive">
                            <p>Archery</p>
                        </li>
                        <li>
                            <img src="img/icon/21_Swimming.png" class="img-responsive">
                            <p>Swimming</p>
                        </li>
                        <li>
                            <img src="img/icon/22_WaterPolo.png" class="img-responsive">
                            <p>WaterPolo</p>
                        </li>
                    </ul>
                </div>
                <p class="text-right">*More sport to be announced soon</p>

            </div>
        </div>
    </div>
    <div class="championship">
        <div class="championship-img">
            <img src="img/championship.png" alt="" class="img-responsive mar-auto">
            <div class="white-girl">
                <img src="img/white-girl.png" alt="" class="img-responsive mar-auto">
            </div>
        </div>
        <div class="championship-content">
            <div class="row">
                <div class="col-md-6">
                    <p class="brand-orange">ELITE ATHLETE CLUB
                    </p>
                    <ul class="list-unstyled padd-r8">
                        <li><b>Scouting for talented athletes across different sports and empowering them with:</b></li>
                        <li> Training & Development scholarships to take their sporting prowess to the next level</li>
                        <li> Complimentary mental and fitness assessment programs </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p class="brand-orange">CHAMPION SCHOOLS</p>
                    <ul class="list-unstyled">
                        <li><b>Each medal counts</b></li>
                        <li class="pb10"> Gold -5 Points | Silver -3 Points | Bronze -1 Point</li>
                        <li> Top performing schools will feature on the prestigious</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="brand-orange">THE BEST SCHOOL FOR SPORTS</p>
                    <ul class="list-unstyled">
                        <li class="pb10">Win the championship to be titled<b> THE BEST SCHOOL FOR SPORTS IN MUMBAI</b> and we will help you
                            defend your title!
                        </li>
                        <li><span><b>CHAMPIONSHIP FUND:</b> </span> Youth Sport Development Fund will be awarded to the top-ranking
                            schools enabling them to further develop sport in their schools. It can be utilised towards athlete
                            & infrastructure development, facility refurbishment and equipment enhancement. Granting Training
                            & Development scholarships to take their sporting prowess to the next level Complimentary mental
                            and fitness assessment programs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="specialfeatures-color">
    <div class="container-fluid">
        <div class="specialfeatures">
            <h1>SPECIAL FEATURES</h1>
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li class="brand-voilet">Opening Ceremony</li>
                        <li class="pb5">The biggest inter-school sports congregation where top contingents take a pledge to practice clean
                            sports. (Swachh Games Swachh Bharat)</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="brand-voilet">Exhibition Matches</li>
                        <li class="pb5">By eminent sports personalities. </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="brand-voilet">Interactive Workshops & Educational Sessions</li>
                        <li class="pb5">By professionals from the industry.</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="brand-voilet">Girl’s Day Celebration</li>
                        <li class="pb5">To encourage female athletes. #SheIsGold </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="brand-voilet">Differently-abled Day </li>
                        <li> Day To celebrate the common spirit of sport we share.#<i>MoreAlike</i></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="list-coach">
                        <ul class="list-unstyled">
                            <li class="brand-voilet">Coach’s Day</li>
                            <li class="pb5">To acknowledge the dedication & efforts of coaches. </li>
                        </ul>
                        <ul class="list-unstyled">
                            <li class="brand-voilet"> Alumni Day</li>
                            <li class="pb5"> An opportunity for the Sport Alumni to represent their school on the field again. </li>
                        </ul>
                        <ul class="list-unstyled">
                            <li class="brand-voilet"> Awards Night</li>
                            <li> To reward the dedication & performance of distinguished athletes.</li>
                        </ul>
                        <div class="btn-register"><button>REGISTER FOR SFA MUMBAI 2017</button>
                        </div>
                    </div>

                </div>
                <div class="col-md-5">
                    <div class="img-features">
                        <img src="img/img-feature.png" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>