<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 ">
        <div class="box-padd mt91 mb91">
          <div class=" ">
            <button class="btn btn-default sub-mit" ui-sref="sports-selection" type="submit">Back</button>
          </div>
          <div class="row">
            <div class=" col-md-12 col-sm-12 col-xs-12 school-custom">
              <h1 class="text-center forgot-space">CHANGE PASSWORD</h1>
            </div>
          </div>
          <form class="form-horizontal " name="formsports">
            <div class="form-group para2">
              <label class="control-label place-label col-md-offset-2 col-md-3 col-sm-offset-2 col-sm-3 col-xs-12">Old Password:</label>
              <div class="col-md-2  col-sm-4 col-xs-12">
                <input type="password" class="form-control" name="changeoldpsd" minlenght="8" ng-model="formchange.oldPassword" placeholder="Old Password"
                  required>
                <div class="validate-col" ng-if="formsports.changeoldpsd.$invalid && formsports.changeoldpsd.$touched">Please enter your Old password *</div>
              </div>
            </div>
            <div class="form-group para2">
              <label class="control-label place-label col-md-offset-2 col-md-3 col-sm-offset-2 col-sm-3 col-xs-12">New Password:</label>
              <div class="col-md-2  col-sm-4 col-xs-12">
                <input type="password" class="form-control" name="changenewpsd" minlength="8" ng-model="formchange.password" placeholder="New Password"
                  required>
                <div class="validate-col" ng-if="formsports.changenewpsd.$invalid && formsports.changenewpsd.$touched">Please enter your New password *</div>
              </div>
            </div>
            <div class="form-group para2">
              <label class="control-label place-label col-md-offset-2 col-md-3 col-sm-offset-2 col-sm-3 col-xs-12">Confirm Password:</label>
              <div class="col-md-2  col-sm-4 col-xs-12">
                <input type="password" class="form-control" name="changeconfirmpsd" minlength="8" ng-model="formchange.confirmPassword" placeholder="Confirm Password"
                  required>
                <div class="validate-col" ng-if="formsports.changeconfirmpsd.$invalid && formsports.changeconfirmpsd.$touched">Please enter your New password *</div>
              </div>
            </div>
            <!--<div class="form-group">
            <div class="col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-2 col-xs-12 text-center mb25">
              <label class="control-label "><a ui-sref"forgot-password" class="sp-frget"> Forgot Password ?</a></label>
            </div>
          </div>-->
            <div class="form-group">
              <div class="col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-4 col-xs-12  mb25 mt25">
                <button class="btn btn-default sub-mit form-control" type="submit" ng-disabled="isDisabled==true" ng-click="changePassword(formsports,formchange)">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>