<section class="confirmTeam">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="Heading">
          <h1 class="text-center school">Sports Registration Form</h1>
          <h1 class="text-center text-uppercase checkTeam"><span>Check & Confirm Your Team</span></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="pull-right sp-tab-right">
          <div class="">
            <div class="display-inline">
              <p class="mb0">SFA ID:</p>
              <p class="mb0" ng-if="detail.userType === 'school'">School Name:</p>
              <p class="mb0" ng-if="detail.userType === 'athlete'">Athlete Name:</p>
            </div>
            <div class="display-inline">
              <p class="mb0">&nbsp;{{detail.sfaIdObj}}</p>
              <p class="mb0" ng-if="detail.userType === 'school'">&nbsp;{{detail.schoolName}}</p>
              <p class="mb0" ng-if="detail.userType === 'athlete'">&nbsp;{{detail.firstName}}&nbsp&nbsp{{detail.surname}}</p>
            </div>
          </div>
          <ul class="list-inline">
            <li ng-click="logoutCandidate();" ng-if="detail.isLoggedIn"><a>Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="row">
          <div class="box-padd mb91">
            <div class="confirmForm">
              <div class="">
                <form class="form-horizontal">
                  <div class="form-group">
                    <div class="readSchoolName">
                      <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12">
                        <label for="inputEmail3" class="col-md-4 col-sm-4 col-xs-12 control-label para3">School Name:</label>
                        <div class="col-md-7 col-sm-8 col-xs-12">
                          <input type="text" class="form-control" ng-model="formData.schoolName" id="inputEmail3" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group text-center">
                    <h4 class="teamHead">{{selectService.sportName}}</h4>
                  </div>
                  <div class="form-group">
                    <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
                      <div class="karate-table">
                        <div class="selectedTeamTable table-responsive scrollbar style-1">

                          <table class="table table-bordered" ng-init="st=selectService.sportName;weightIndex">
                            <thead>
                              <th>
                                <div class="mid_col">Sr. No.</div>
                              </th>
                              <th>SFA ID-Name</th>
                              <th>Gender</th>
                              <th>Age Group</th>
                              <th ng-if="st=='Judo' || st=='Boxing' || st=='Taekwondo' || st=='Sport MMA'">Weight</th>
                            </thead>

                            <tbody>
                              <tr ng-class="{'missing-fields':selectService.showMissingFields && !athelete.isValidSelection}" ng-repeat="athelete in selectService.team track by $index">
                                <td>
                                  <div class="mid_cols">
                                    <span>{{$index+1}}</span>
                                    <!--<span class="missing-fields" ng-if="selectService.showMissingFields && !athelete.isValidSelection">*</span>-->
                                  </div>
                                </td>
                                <td ng-if="athelete.middleName">{{athelete.sfaId+' - '+athelete.firstName+' '+athelete.middleName+' '+athelete.surname}}</td>
                                <td ng-if="!athelete.middleName">{{athelete.sfaId+' - '+athelete.firstName+' '+athelete.surname}}</td>
                                <td>{{athelete.gender | firstcapitalize}}</td>
                                <td class="relate">
                                  <!--ageGroup column start-->
                                  <select class="form-control" ng-init="selectService.isValidSelection(athelete)" ng-model="athelete.sport[0]" ng-options="{{config.selectAgeExpression}}"
                                    ng-change="selectService.isValidSelection(athelete)">
                                  </select>
                                  <!--ageGroup column end-->
                                </td>
                                <td ng-if="st=='Judo' || st=='Boxing' || st=='Taekwondo' || st=='Sport MMA'">
                                  <!--weights column start-->

                                  <select class="form-control" ng-init="selectService.isValidSelection(athelete)" ng-model="athelete.sport[1]" ng-options="weight.sport as weight.weight for weight in athelete.sport[0].data"
                                    ng-change="selectService.isValidSelection(athelete)">
                                  </select>
                                  <!--weights column end-->
                                </td>
                              </tr>
                            </tbody>
                          </table>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" ng-if="selectService.sportName=='Badminton' ||selectService.sportName=='Tennis' || selectService.sportName=='badminton' ||selectService.sportName=='tennis'">
                    <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
                      <div class="selectEvent">
                        <p class="">Get your match play analysed by top-level coaches using the latest video analysis technology.</p>
                        <div class="checkbox-custom">
                          <input type="checkbox" name="checkIhav" ng-model="formData.isVideoAnalysis" id="test5" />
                          <label for="test5" class="sf-list custom-a" style="padding-left: 20px;"><span></span>Click here to get more details about this service.</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
                      <div class="nominate">
                        <a data-toggle="collapse" data-target="#collapseExample">
                          <p class="">Nominate a fellow sports enthusiast, who’s got what it takes to compete and become an SFA Champion,
                            NOW!
                            <i class="fa fa-chevron-down pull-right"></i>
                          </p>
                        </a>
                        <div class="collapse" id="collapseExample">
                          <div class="">
                            <div class="form-group">
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" ng-model="nominatedName" placeholder="Enter Athlete Name" name="nominatedName" id="nominatedName">
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" ng-model="nominatedSchoolName" placeholder="Enter Athlete SchoolName" name="nominatedSchoolName"
                                  id="nominatedSchoolName">
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" ng-model="nominatedContactDetails" placeholder="Enter Contact Details" name="nominatedContactDetails"
                                  id="nominatedContactDetails">
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" ng-model="nominatedEmailId" placeholder="Enter Email Id" name="nominatedEmailId"
                                  id="nominatedEmailId">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group ">
                    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12 ">
                      <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <button class="btn btn-default sub-mit form-control " ng-disabled="isDisabled==true " type="button" ng-click="selectService.editTeam('individual-selection');">Edit</button>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <button class="btn btn-default sub-mit form-control " ng-disabled="isDisabled==true " type="button" ng-click="selectService.confirmSelection()"
                          promise-btn="yourPromise">Confirm</button>

                        <!--ng-click="saveIt(selectService.team)"-->
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>