<section class="bottom-padding">
    <div class="sport-name-bg text-center">
        <h1 class="color-orange text-up font-semi margin0">CONTACT US</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="contact-set center">
                    <h4 class="text-center text-up font-semi color-orange">Headoffice (Mumbai)</h4>
                    <!-- <h4 class="color-blue text-up font-semi">SFA Sporting Services Pvt Ltd</h4> -->
                    <p>SFA Sporting Services Pvt Ltd</p>
                    <p>17A, Raviraj House, 6th Floor, Saraswati Road,</p>
                    <p class="mb25">
                        Off Linking Road, Santacruz (West) - 400054.
                    </p>
                    <h4 class="text-center text-up font-semi color-orange">office (Hyderabad)</h4>
                    <!-- <h4 class="color-blue text-up font-semi">SFA Sporting Services Pvt Ltd</h4> -->
                    <p>c/o Kazoom Sports Pvt Ltd</p>
                    <p>The Platina, 11th Floor, A- Block, Kondapur Main Road, APHB,</p>
                    <p class="mb25">
                        Jayabheri Enclave, Gachibowli, Hyderabad, Telangana, Pin - 500032.
                    </p>
                    <div class="padtop">
                        <p class="text-center color-orange">
                            <strong>Mumbai</strong>
                        </p>
                        <b class="color-orange">Email:</b>&nbsp;&nbsp;
                        <a href="mailto:info@sfanow.in">info@sfanow.in</a>
                        <p>
                            <b class="color-orange">Call:</b> 7045684365/66 - 8655585582</p>
                    </div>

                    <div class="padtop">
                        <p class="text-center color-orange">
                            <strong>Hyderabad</strong>
                        </p>
                        <b class="color-orange">Email:</b>&nbsp;&nbsp;
                        <a href="mailto:info.hyd@sfanow.in">info.hyd@sfanow.in</a>
                        <p>
                            <b class="color-orange">Call:</b> 79811 75508 / +916303610871</p>
                        <!-- <b class="color-orange">Call:</b> 7045684367 / 79811 75508</p> -->
                    </div>

                </div>
                <!-- <div class="contact-set center" ng-if="selectedCity == 'mumbai'">
                    <h4 class="text-center text-up font-semi color-orange">Headoffice</h4>
                    <h4 class="color-blue text-up font-semi">SFA Sporting Services Pvt Ltd</h4>
                    <p>17A, Raviraj House, 6th Floor, Saraswati Road,</p>
                    <p>
                        Off Linking Road, Santacruz (West) - 400054.
                    </p>
                    <div class="padtop">
                        <b class="color-orange">Email:</b>&nbsp;&nbsp;<a href="mailto:info@sfanow.in">info@sfanow.in</a>
                    </div>
                    <span><b class="color-orange">Call:</b> 7045684365/66/67 - 022 65522221 - 79811 75508</span>

                </div> -->
                <!-- <div class="contact-set center" ng-if="selectedCity == 'hyderabad'">
                    <h4 class="text-center text-up font-semi color-orange">Headoffice</h4>
                    <h4 class="color-blue text-up font-semi">SFA Sporting Services Pvt Ltd.</h4>
                    <p>17A, Raviraj House, 6th Floor, Saraswati Road,</p>
                    <p>
                        Off Linking Road, Santacruz (West) - 400054.
                    </p>
                    <div class="padtop">
                        <b class="color-orange">Email:</b>&nbsp;&nbsp;<a href="mailto:info.hyd@sfanow.in">info.hyd@sfanow.in</a>
                    </div>
                    <span><b class="color-orange">Call:</b> 7045684367 / 79811 75508</span>

                </div> -->
            </div>
        </div>
    </div>
</section>