<section class="bottom-padding">
    <div class="sport-name-bg text-center">
        <h1 class="color-orange text-up font-semi margin0">basketball | girls | U-14</h1>
    </div>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="text-center mt40">
                    <h2 class="color-blue font-semi text-up">League - knockout</h2>
                </div>
<div class="col-md-4 col-md-offset-4">
  <div class="round-slider sport-slider mt15">
    <flex-slider flex-slide="item in round track by $index" animation="slide" item-width="180" item-margin="10" animationloop="true" move="2">

        <li class="text-center">
            <button type="button" class="btn {{item.class}}" ng-click="tabchange(item.tab,item.id)">{{item.name}} </button>
        </li>

    </flex-slider>
  </div>
</div>
            </div>
            <div class="box-content">
            </div>
          </div>
        </section>
      </section>
