<section>
    <div class="text-center mt40">
        <h2 class="color-orange font-bold">draws and schedule</h2>
    </div>
</section>
<section class="mt25 pb60">
    <div class="container">
        <div class="row bl-bg">
            <div class="">
                <div class="text-center">
                    <h4>Team Sports</h4>
                </div>
                <div class="col-md-6">
                    <div class="dr-acc">
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" is-open="status.open">
                                <uib-accordion-heading>
                                    <div class="text-center">
                                        <div class="icn-sp display-inline">
                                            <img src="img/icon/1_Handball.png" alt="SPort For All" class="w35">
                                        </div>
                                        <div class="display-inline">
                                            <h4 class="text-up font-bold color-blue">handball</h4>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                              <div class="text-center">
                                <ul class="padding0 sp-list list-style">
                                  <li>
                                    <a href="">U-10 Boys</a>
                                  </li>
                                  <li>
                                    <a href="">U- 10 Girls</a>
                                  </li>
                                  <li>
                                    <a href="">U-12 Boys</a>
                                  </li>
                                  <li>
                                    <a href="">U-12 Girls</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                        </uib-accordion>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</section>
