<section class="bottom-padding">
    <div class="sport-name-bg text-center">
        <h1 class="color-orange text-up font-semi margin0">{{knockout.sport.sportslist.name}} <span ng-if="knockout.sport.firstcategory"> | {{knockout.sport.firstcategory.name}}</span><span ng-if="knockout.sport.secondcategory"> | {{knockout.sport.secondcategory.name}}</span> | {{knockout.sport.gender}} | {{knockout.sport.agegroup.name}}</h1>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="text-center mt40">
                    <h2 class="color-blue font-semi text-up">League - knockout</h2>
                </div>
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-8 col-xs-offset-2">
                    <div class="round-slider sport-slider mt15">
                        <flex-slider flex-slide="item in round track by $index" animation="slide" item-width="180" item-margin="10" animationloop="true" move="2">

                            <li class="text-center">
                                <button type="button" class="btn {{item.class}}" ng-click="tabchanges(item.tab,item.id)">{{item.name}} </button>
                            </li>

                        </flex-slider>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="bg-draw sf-relative">
                <div class="sf-absulate right10 main-hide">
                    <div class="mt15 pos-right float-right">
                        <div class="result-list display-inline">
                            <div class="reslt-box">
                                <div class="display-inline rslt-img cm-pad">
                                    <img src="img/mini-clip.png" alt="">
                                </div>

                                <div class="display-inline rslt-name cm-pad">
                                    <h4 class="color-blue margin0 text-up">Harshit shah</h4>
                                    <span class="text-cap ">dhirubhai ambani...</span>
                                </div>
                                <div class="display-inline cm-pad">
                                    <img src="img/sf-gold-sec-big.png" alt="">
                                </div>
                            </div>
                            <div class="reslt-box">
                                <div class="display-inline rslt-img cm-pad">
                                    <img src="img/mini-clip.png" alt="">
                                </div>

                                <div class="display-inline rslt-name cm-pad">
                                    <h4 class="color-blue margin0 text-up">Harshit shah</h4>
                                    <span class="text-cap ">dhirubhai ambani...</span>
                                </div>
                                <div class="display-inline cm-pad">
                                    <img src="img/sf-gold-sec-big.png" alt="">
                                </div>
                            </div>
                            <div class="reslt-box">
                                <div class="display-inline rslt-img cm-pad">
                                    <img src="img/mini-clip.png" alt="">
                                </div>

                                <div class="display-inline rslt-name cm-pad">
                                    <h4 class="color-blue margin0 text-up">Harshit shah</h4>
                                    <span class="text-cap ">dhirubhai ambani...</span>
                                </div>
                                <div class="display-inline cm-pad">
                                    <img src="img/sf-gold-sec-big.png" alt="">
                                </div>
                            </div>
                            <div class="reslt-box">
                                <div class="display-inline rslt-img cm-pad">
                                    <img src="img/mini-clip.png" alt="">
                                </div>

                                <div class="display-inline rslt-name cm-pad">
                                    <h4 class="color-blue margin0 text-up">Harshit shah</h4>
                                    <span class="text-cap ">dhirubhai ambani...</span>
                                </div>
                                <div class="display-inline cm-pad">
                                    <img src="img/sf-gold-sec-big.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-3 col-sm-4 col-xs-12" >
                        <div class="round1">
                            <div class="round-heat">

                                <div class="comp-width w-mob-100">
                                    <h4 class="text-up color-white font-semi text-center"> round 1</h4>

                                    <div class="first-sec text-c-m m-auto">
                                        <div class="mt15">

                                            <draw></draw>

                                        </div>
                                        <div class="mt15">

                                            <draw></draw>

                                        </div>
                                    </div>
                                    <div class="first-sec text-c-m m-auto">
                                        <div class="mt15">

                                            <draw></draw>

                                        </div>
                                        <div class="mt15">

                                            <draw></draw>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="round1 " >
                            <div class="round-heat">

                                <div class="comp-width w-mob-100">
                                    <h4 class="text-up color-white font-semi text-center"> round 2</h4>

                                    <div class="first-sec min-height-set text-c-m m-auto min-height-set-m " >
                                        <div class="mt15">

                                            <draw></draw>

                                        </div>

                                    </div>

                                    <div class="first-sec min-height-set text-c-m m-auto min-height-set-m ">
                                        <div class="mt15">

                                            <draw></draw>

                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">

                        <div class="round1" >
                            <div class="round-heat">

                                <div class="comp-width w-mob-100">
                                    <h4 class="text-up color-white font-semi text-center"> round 3</h4>

                                    <div class="first-sec min-height-set2 text-c-m m-auto min-height-set2-m">
                                        <div class="mt15">

                                            <draw></draw>

                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
