<section class="bottom-padding">
    <div class="sport-name-bg text-center">
        <h1 class="color-orange text-up font-semi margin0" style="width: 20%;">FAQ’s</h1>
    </div>
    <div class="container">
      <div class="col-md-12">
        <div class="accrd mt25">
          <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      <uib-accordion-heading>
          <h3 class="margin0 display-inline color-blue font-semi text-up font-semi">School Registration</h3> <i class="pull-right fa" ng-class="{'fa-angle-down': status.isFirstOpen, 'fa-angle-right': !status.isFirstOpen}"></i>
      </uib-accordion-heading>
    <div class="data-vox">
      <h4>Which schools can register for SFA Mumbai 2016?</h4>
                  <p>
                      We welcome all schools from Mumbai and adjoining districts, including Navi Mumbai, Thane and Raigad districts i.e Aided, Unaided, Private and Government schools.
                  </p>
                  <br>
                  <h4>Does my school have to be from a certain board to participate in SFA Mumbai 2016?</h4>
                  <p>There is no restriction on the school entries based on the education board. Schools from all boards: ICSE, CBSE, SSC, NIOS, IGCSE and IB are welcome to register for SFA Mumbai 2016.</p>
                  <br>
                  <h4>Will both, co-ed and non co-ed schools, be able to register?</h4>
                  <p>
                      Yes. All schools, co-ed and non co-ed, are welcome to participate in SFA Mumbai 2016 across all 26 sports.
                  </p>
                  <br>
                  <h4>How do I register my school to become an SFA member school?</h4>
                  <p>In order to become an SFA member school, the school Principal or Authority must fill in and submit the school registration form, which can be downloaded from <a href="http://www.sfanow.in" target="_blank">www.sfanow.in</a>.
                      There are two methods via which this form can be submitted to us:</p>
                  <ul>
                      <li>Courier it to our office, the address for which is mentioned on the form.</li>
                      <li>Email a scanned copy to <a href="mailto:info@sfanow.in">info@sfanow.in</a>.</li>
                  </ul>
                  <br>
                  <h4>Do schools registered in SFA Mumbai 2015 have to register again to participate for SFA Mumbai 2016?</h4>
                  <p>Yes, SFA charges an annual registration fee. For example, if a school has registered on 10th October, 2015; the registration is valid only till 10th October, 2016. Thus to participate for the period of 11th Oct, 2016 to 10th
                      Oct, 2017 schools will have to register again.</p>
                  <br>
                  <h4>Is there a fee for registering with SFA?</h4>
                  <p>Yes, there is an annual registration fee for schools to register with SFA. Schools have to send a demand a draft/cheque/cash (refer to the Fees table mentioned in the School Registration Form) with respect to the number of sports the school is participating in towards an annual registrations fee in favour of SFA Events Pvt. Ltd. in order to register and become an SFA member school. Within 5 working days from receiving the payment, a receipt will be
                      emailed to the school confirming the registration. There will be no additional fee that schools or students will have to pay over and above the annual registration fee. </p>
                  <br>
                  <h4>When do registrations open for SFA Mumbai 2016?</h4>
                  <p>Registration period for schools and participant entries is from 25th May, 2016 to 30th September, 2016. All schools thereafter will be placed on the waiting list and will be registered in case of any cancellations in registration.</p>
                  <br>
                  <h4>Is it mandatory for Mumbai School Sports Association (MSSA) member schools to take an NOC from MSSA to register with SFA?</h4>
                  <p>It is not mandatory for Mumbai School Sports Association (MSSA) member school to take an NOC from MSSA to register and participate. Kindly note, SFA Mumbai 2016 will be held for 20 days at a stretch for multiple sports. SFA Mumbai 2016 has been scheduled keeping the calenders of other school, district, state and national level tournaments in mind, thus there will be no clash with any other tournaments. We encourage students to play as many tournaments all round the year, in order to improve
                      and excel in sports.</p>
                  <br>
                  <h4>Is it necessary/possible for the schools as well as participants to register at the same time?</h4>
                  <p>Yes, it is possible but not necessary. We understand that the school will be sending a contingent across different sports thus selecting the best players and filling out registration forms can be a time consuming process.
                      It is preferable for a school to first send in their School Registration Form and send out their Sports and Student registration forms within 1 week.</p>
                  <br>

    </div>
    </div>
  </uib-accordion>
        </div>
      </div>
    </div>
  </section>
