<section class="bottom-padding">
    <div class="sport-name-bg text-center">
        <h1 class="color-orange text-up font-semi margin0" style="width: 20%;">FAQ’s</h1>
    </div>
    <div class="container">
      <div class="col-md-12">
        <div class="accrd mt25">
          <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      <uib-accordion-heading>
          <h3 class="margin0 display-inline color-blue font-semi text-up font-semi mob-sec">School Registration</h3> <i class="pull-right fa" ng-class="{'fa-angle-down': status.isFirstOpen, 'fa-angle-right': !status.isFirstOpen}"></i>
      </uib-accordion-heading>
    <div class="data-vox">
      <h4>Which schools can register for SFA Mumbai 2016?</h4>
                  <p>
                      We welcome all schools from Mumbai and adjoining districts, including Navi Mumbai, Thane and Raigad districts i.e Aided, Unaided, Private and Government schools.
                  </p>
                  <br>
                  <h4>Does my school have to be from a certain board to participate in SFA Mumbai 2016?</h4>
                  <p>There is no restriction on the school entries based on the education board. Schools from all boards: ICSE, CBSE, SSC, NIOS, IGCSE and IB are welcome to register for SFA Mumbai 2016.</p>
                  <br>
                  <h4>Will both, co-ed and non co-ed schools, be able to register?</h4>
                  <p>
                      Yes. All schools, co-ed and non co-ed, are welcome to participate in SFA Mumbai 2016 across all 25 sports.
                  </p>
                  <br>
                  <h4>How do I register my school to become an SFA member school?</h4>
                  <p>In order to become an SFA member school, the school Principal or Authority must fill in and submit the school registration form, which can be downloaded from <a href="http://www.sfanow.in" target="_blank">www.sfanow.in</a>.
                      There are two methods via which this form can be submitted to us:</p>
                  <ul>
                      <li>Courier it to our office, the address for which is mentioned on the form.</li>
                      <li>Email a scanned copy to <a href="mailto:info@sfanow.in">info@sfanow.in</a>.</li>
                  </ul>
                  <br>
                  <h4>Do schools registered in SFA Mumbai 2015 have to register again to participate for SFA Mumbai 2016?</h4>
                  <p>Yes, SFA charges an annual registration fee. For example, if a school has registered on 10th October, 2015; the registration is valid only till 10th October, 2016. Thus to participate for the period of 11th Oct, 2016 to 10th
                      Oct, 2017 schools will have to register again.</p>
                  <br>
                  <h4>Is there a fee for registering with SFA?</h4>
                  <p>Yes, there is an annual registration fee for schools to register with SFA. Schools have to send a demand a draft/cheque/cash (refer to the Fees table mentioned in the School Registration Form) with respect to the number of sports the school is participating in towards an annual registrations fee in favour of SFA Events Pvt. Ltd. in order to register and become an SFA member school. Within 5 working days from receiving the payment, a receipt will be
                      emailed to the school confirming the registration. There will be no additional fee that schools or athletes will have to pay over and above the annual registration fee. </p>
                  <br>
                  <h4>When do registrations open for SFA Mumbai 2016?</h4>
                  <p>Registration period for schools and participant entries is from 25th May, 2016 to 30th September, 2016. All schools thereafter will be placed on the waiting list and will be registered in case of any cancellations in registration.</p>
                  <br>
                  <h4>Is it mandatory for Mumbai School Sports Association (MSSA) member schools to take an NOC from MSSA to register with SFA?</h4>
                  <p>It is not mandatory for Mumbai School Sports Association (MSSA) member school to take an NOC from MSSA to register and participate. Kindly note, SFA Mumbai 2016 will be held for 20 days at a stretch for multiple sports. SFA Mumbai 2016 has been scheduled keeping the calenders of other school, district, state and national level tournaments in mind, thus there will be no clash with any other tournaments. We encourage athletes to play as many tournaments all round the year, in order to improve
                      and excel in sports.</p>
                  <br>
                  <h4>Is it necessary/possible for the schools as well as participants to register at the same time?</h4>
                  <p>Yes, it is possible but not necessary. We understand that the school will be sending a contingent across different sports thus selecting the best players and filling out registration forms can be a time consuming process.
                      It is preferable for a school to first send in their School Registration Form and send out their Sports and Athlete registration forms within 1 week.</p>
                  <br>

    </div>
    </div>
    <div uib-accordion-group class="panel-default" >
      <uib-accordion-heading>
          <h3 class="margin0 display-inline color-blue font-semi text-up font-semi mob-sec">Athlete Registration</h3> <i class="pull-right fa" ng-class="{'fa-angle-down': status.isFirstOpen, 'fa-angle-right': !status.isFirstOpen}"></i>
      </uib-accordion-heading>
    <div class="data-vox">
      <h4>What is the procedure for a athlete of an SFA registered school to participate in SFA Mumbai 2016?</h4>
      <p>For a athlete to participate in SFA Mumbai 2016, he/she will have to download the Parent/Guardian Consent Form and Sport Registrastion Form available on our website <a href="http://www.sfanow.in" target="_blank">www.sfanow.in</a>, fill in the forms and submit it to their school.
          Athletes can also send their forms individually via the following methods:</p>
      <ul>
          <li>Courier it to our office, the address for which is mentioned on the form.</li>
          <li>Email a scanned copy to <a href="mailto:info@sfanow.in">info@sfanow.in</a>.</li>
      </ul>
      <p>SFA encourages athletes to participate in multiple sports. However, the athlete must meet the eligibility criteria for each sport that he/she wishes to participate in. Matches for athletes participating in multiple sports will
          be scheduled accordingly.
      </p>
      <br>
      <h4>Are the athletes expected to pay any fee for participation?</h4>

<p>No, the athlete is not expected to pay any fee for participation if a school has registered for SFA Mumbai 2016.</p>
<p>However incase a school has NOT registered for SFA Mumbai 2016 and a athlete still wishes to participate, he/she will have to pay a record maintenance fee as follows:</p>
<ol style="margin:0;padding:0 0 0 20px;color: #535353;font-size: 15px;">
<li>Rs. 300 + all applicable taxes/ athlete ( Individual sports, Target Sports, Combat Sports, Aquatics and Racquet Sports)</li>
<li>Rs. 200 + all applicable taxes/ athlete ( Team Sports)</li>
<li>Rs. 500 + all applicable taxes/ athlete ( this will allow a child to participate in all or any of  the above along with the Team Sports)</li>
</ol><br>
<p>
* This is not applicable for athletes from BMC and Government schools,&nbsp;athletes from these schools can directly get in touch with us on our info. lines 7045684365/66/67
</p>

    </div>
    </div>
    <div uib-accordion-group class="panel-default" >
      <uib-accordion-heading>
          <h3 class="margin0 display-inline color-blue font-semi text-up font-semi mob-sec">  Eligibility Criteria </h3> <i class="pull-right fa" ng-class="{'fa-angle-down': status.isFirstOpen, 'fa-angle-right': !status.isFirstOpen}"></i>
      </uib-accordion-heading>
    <div class="data-vox">
      <h4>What is the eligibility criteria to participate in SFA?</h4>
                                <p>SFA, along with its sports partners have devised eligibility criteria for each sport basis which athlete entries will be selected. These criteria have been devised so that the best athletes get a chance to represent their school,
                                    hereby making SFA an aspirational platform for athletes to compete. In a rare possibility that not even one athlete from a registered school meets the eligibility criteria, SFA will refund the registration fees.</p>

    </div>
    </div>
    <div uib-accordion-group class="panel-default" >
      <uib-accordion-heading>
          <h3 class="margin0 display-inline color-blue font-semi text-up font-semi mob-sec">  The Online Portal (www.sfanow.in)</h3> <i class="pull-right fa" ng-class="{'fa-angle-down': status.isFirstOpen, 'fa-angle-right': !status.isFirstOpen}"></i>
      </uib-accordion-heading>
    <div class="data-vox">
      <h4>What is a school profile page?</h4>
            <p>The school profile page will be live on the website once the school registers with SFA. Every school will receive an SFA ID which will enable them to search for their respective profile page on our website <a href="http://www.sfanow.in">www.sfanow.in</a>.
                On this profile, every school will be able to view:-</p>
            <ul>
                <li>A short bio of the school</li>
                <li>The total contingent strength across all sports</li>
                <li>The number of sports that the school has participated in</li>
                <li>Details of the schools performance (Match videos and statistics)</li>
                <li>Overall ranking of the school along with the medals tally across all sports</li>
                <li>Videos and statistics of every participant’s performance during the SFA Sports and Education season of that particular school.</li>
            </ul>
            <p>By doing so, we shall create and maintain records of a school’s performance year after year, thus documenting every match played by the school contingent. Every school’s profile page is accessible for all to see.</p>
            <br>

            <h4>What is a athlete profile page?</h4>
            <p>A Athlete profile page will be created upon completion of the athlete registration process. Each athlete will receive their individual SFA ID via which they can search for their profile on our website <a href="http://www.sfanow.in">www.sfanow.in</a>.
                The profile will include the following:</p>
            <ul>
                <li>Athletes Bio</li>
                <li>The number of sports that he/she has participated in.</li>
                <li>Details of the participants performance (Match videos and statistics)</li>
            </ul>
            <p>By doing so, we shall create and maintain records of a participants’ performance year after year, thus documenting every match played by the participant in his/her school life. Every athlete’s profile page is accessible for
                all to see. Thereby allowing a child, parent and coach to analyse his game and improve.</p>

    </div>
    </div>
    <div uib-accordion-group class="panel-default" >
      <uib-accordion-heading>
          <h3 class="margin0 display-inline color-blue font-semi text-up font-semi mob-sec">  General</h3> <i class="pull-right fa" ng-class="{'fa-angle-down': status.isFirstOpen, 'fa-angle-right': !status.isFirstOpen}"></i>
      </uib-accordion-heading>
    <div class="data-vox">
      <h4>Where are the venues located?</h4>
                                  <p>There are three venues for SFA Mumbai 2016:</p>
                                  <ul>
                                      <li>
                                          <h4 class="spacing">D.Y. Patil Sports Stadium:</h4>
                                          <address>Sector 7,<br> Nerul, Navi Mumbai – 400706.</address>
                                      </li>
                                      <!-- <li>
                                          <h4 class="spacing">Mumbai University Sports Pavilion (Athletics):</h4>
                                          <address>Netaji Subhash Chandra Bose Rd,<br> Churchgate Mumbai- 400020.</address>
                                      </li> -->
                                      <li>
                                          <h4 class="spacing">Sports Authority of india:</h4>
                                          <address>Near Samathnagar PS, Akhurli road, Kandivali East,<br> Mumbai-4000101.</address>
                                      </li>
                                  </ul>
                                  <p>The distance to the stadium from the various suburbs of the city is mentioned in the table below:</p>
                                  <div class="row">
                                      <div class="col-md-8">
                                          <div class="faq-table">
                                              <table class="table">
                                                  <thead>
                                                      <tr>
                                                          <th>Sr. No.</th>
                                                          <th>Suburb</th>
                                                          <th>Distance to DY Patil (km)</th>
                                                          <th>Approx. Time</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr>
                                                          <td>1</td>
                                                          <td>Mulund</td>
                                                          <td>18</td>
                                                          <td>35 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>2</td>
                                                          <td>Chembur</td>
                                                          <td>18.5</td>
                                                          <td>34 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>3</td>
                                                          <td>Kurla</td>
                                                          <td>18.6</td>
                                                          <td>34 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>4</td>
                                                          <td>Ghatkopar</td>
                                                          <td>18.9</td>
                                                          <td>38 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>5</td>
                                                          <td>Vikhroli</td>
                                                          <td>20</td>
                                                          <td>35 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>6</td>
                                                          <td>Sion</td>
                                                          <td>23.8</td>
                                                          <td>40 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>7</td>
                                                          <td>Mahim</td>
                                                          <td>25.3</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>8</td>
                                                          <td>Sewri</td>
                                                          <td>25.3</td>
                                                          <td>40 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>9</td>
                                                          <td>Dadar</td>
                                                          <td>25.9</td>
                                                          <td>47 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>10</td>
                                                          <td>Wadala</td>
                                                          <td>26.3</td>
                                                          <td>44 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>11</td>
                                                          <td>Bandra</td>
                                                          <td>26.7</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>12</td>
                                                          <td>Juhu</td>
                                                          <td>28.4</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>13</td>
                                                          <td>Powai</td>
                                                          <td>28.5</td>
                                                          <td>46 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>14</td>
                                                          <td>Mazagaon</td>
                                                          <td>29.5</td>
                                                          <td>44 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>15</td>
                                                          <td>Byculla</td>
                                                          <td>29.5</td>
                                                          <td>44 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>16</td>
                                                          <td>Khar</td>
                                                          <td>30</td>
                                                          <td>48 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>17</td>
                                                          <td>Umerkhadi</td>
                                                          <td>30.1</td>
                                                          <td>43 min</td>
                                                      </tr>
                                                      <tr>
                                                          <td>18</td>
                                                          <td>CST</td>
                                                          <td>31.6</td>
                                                          <td>46 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>19</td>
                                                          <td>Charni </td>
                                                          <td>32.4</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>20</td>
                                                          <td>Grant</td>
                                                          <td>32.4</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>21</td>
                                                          <td>Chinchpokli</td>
                                                          <td>32.4</td>
                                                          <td>51 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>22</td>
                                                          <td>Fort</td>
                                                          <td>32.5</td>
                                                          <td>51 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>23</td>
                                                          <td>Marine Lines</td>
                                                          <td>32.5</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>24</td>
                                                          <td>Chowpaty</td>
                                                          <td>32.6</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>25</td>
                                                          <td>Andheri </td>
                                                          <td>32.9</td>
                                                          <td>55 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>26</td>
                                                          <td>Babulnath</td>
                                                          <td>33</td>
                                                          <td> 1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>27</td>
                                                          <td>Churchgate </td>
                                                          <td>33.3</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>28</td>
                                                          <td>Tardeo</td>
                                                          <td>33.6</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>29</td>
                                                          <td>Cooperage </td>
                                                          <td>33.7</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>30</td>
                                                          <td>Peddar Rd.</td>
                                                          <td>34.3</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>31</td>
                                                          <td>Breach Candy</td>
                                                          <td>34.3</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>32</td>
                                                          <td>Versova</td>
                                                          <td>34.6</td>
                                                          <td>1h 22 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>33</td>
                                                          <td>Nepeansea Rd.</td>
                                                          <td>34.8</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>34</td>
                                                          <td>Cuffe Parade</td>
                                                          <td>35</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>35</td>
                                                          <td>Malabar Hill, Walkeshwar</td>
                                                          <td>35.2</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>36</td>
                                                          <td>Goregaon</td>
                                                          <td>35.7</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>37</td>
                                                          <td>Colaba</td>
                                                          <td>36.2</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>38</td>
                                                          <td>Malad</td>
                                                          <td>37</td>
                                                          <td>1 hr</td>
                                                      </tr>
                                                      <tr>
                                                          <td>39</td>
                                                          <td> Kandivali</td>
                                                          <td>41.5</td>
                                                          <td>1h 18 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>40</td>
                                                          <td>Dahisar</td>
                                                          <td>47.4</td>
                                                          <td>1h 22 mins</td>
                                                      </tr>
                                                      <tr>
                                                          <td>41</td>
                                                          <td>Borivali </td>
                                                          <td>47.4</td>
                                                          <td>1h 25 mins</td>
                                                      </tr>
                                                  </tbody>
                                              </table>

                                          </div>
                                          <!-- <div class="faq-btn text-center">
                                              <a href="#">View More</a>
                                          </div> -->
                                      </div>
                                  </div>
                                  <div class="row mt25">
                                      <div class="col-md-8">
                                          <div class="faq-table">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Sr. No.</th>
                                                        <th>Suburb</th>
                                                        <th>Distance to Sports Authority Of India, Kandivali (km)</th>
                                                        <th>Approx. Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Mulund</td>
                                                        <td>25.7</td>
                                                        <td>40 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Chembur</td>
                                                        <td>25.2</td>
                                                        <td>59 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Kurla</td>
                                                        <td>22.4</td>
                                                        <td>49 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Ghatkopar</td>
                                                        <td>24.3</td>
                                                        <td>53 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>Vikhroli</td>
                                                        <td>23.1</td>
                                                        <td>53 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>Sion</td>
                                                        <td>21.5</td>
                                                        <td>44 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>Mahim</td>
                                                        <td>20.6</td>
                                                        <td>37 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td>Sewri</td>
                                                        <td>29.8</td>
                                                        <td>56 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td>Dadar</td>
                                                        <td>22.1</td>
                                                        <td>42 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td>Wadala</td>
                                                        <td>28.4</td>
                                                        <td>1h 2mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>11</td>
                                                        <td>Bandra</td>
                                                        <td>20.1</td>
                                                        <td>38 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>12</td>
                                                        <td>Juhu</td>
                                                        <td>14.3</td>
                                                        <td>34 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>13</td>
                                                        <td>Powai</td>
                                                        <td>13.7</td>
                                                        <td>33 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>14</td>
                                                        <td>Mazagaon</td>
                                                        <td>34.5</td>
                                                        <td>1h 4mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>15</td>
                                                        <td>Byculla</td>
                                                        <td>40.01</td>
                                                        <td>1h 16 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>16</td>
                                                        <td>Khar</td>
                                                        <td>17</td>
                                                        <td>36 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>17</td>
                                                        <td>Umerkhadi</td>
                                                        <td>35.6</td>
                                                        <td>1h 8 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>18</td>
                                                        <td>CST</td>
                                                        <td>32.3</td>
                                                        <td>1h 12 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>19</td>
                                                        <td>Charni </td>
                                                        <td>32.7</td>
                                                        <td>1h 4mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>20</td>
                                                        <td>Grant</td>
                                                        <td>30.8</td>
                                                        <td>1h 7 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>21</td>
                                                        <td>Chinchpokli</td>
                                                        <td>27</td>
                                                        <td>59 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>22</td>
                                                        <td>Fort</td>
                                                        <td>34.9</td>
                                                        <td>1h 17 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>23</td>
                                                        <td>Marine Lines</td>
                                                        <td>34.8</td>
                                                        <td>1h 8 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>24</td>
                                                        <td>Chowpaty</td>
                                                        <td>32.3</td>
                                                        <td>1h 3 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25</td>
                                                        <td>Andheri </td>
                                                        <td>12.1</td>
                                                        <td>28 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>26</td>
                                                        <td>Babulnath</td>
                                                        <td>31.3</td>
                                                        <td> 59 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>27</td>
                                                        <td>Churchgate </td>
                                                        <td>35.8</td>
                                                        <td>1h 11 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>28</td>
                                                        <td>Tardeo</td>
                                                        <td>30.4</td>
                                                        <td>1h 2 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>29</td>
                                                        <td>Cooperage </td>
                                                        <td>36.5</td>
                                                        <td>1h 18 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>30</td>
                                                        <td>Peddar Rd.</td>
                                                        <td>29.7</td>
                                                        <td>1h</td>
                                                    </tr>
                                                    <tr>
                                                        <td>31</td>
                                                        <td>Breach Candy</td>
                                                        <td>31.1</td>
                                                        <td>1h 5 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>32</td>
                                                        <td>Versova</td>
                                                        <td>13.7</td>
                                                        <td>42 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>33</td>
                                                        <td>Nepeansea Rd.</td>
                                                        <td>31.7</td>
                                                        <td>1h</td>
                                                    </tr>
                                                    <tr>
                                                        <td>34</td>
                                                        <td>Cuffe Parade</td>
                                                        <td>38</td>
                                                        <td>1h 18 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>35</td>
                                                        <td>Malabar Hill, Walkeshwar</td>
                                                        <td>33.7</td>
                                                        <td>1h 32 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>36</td>
                                                        <td>Goregaon</td>
                                                        <td>6.6</td>
                                                        <td>20  mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>37</td>
                                                        <td>Colaba</td>
                                                        <td>39</td>
                                                        <td>1h 26 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>38</td>
                                                        <td>Malad</td>
                                                        <td>3.2</td>
                                                        <td>12 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>39</td>
                                                        <td> Kandivali</td>
                                                        <td>3.1</td>
                                                        <td>12 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>40</td>
                                                        <td>Dahisar</td>
                                                        <td>8.6</td>
                                                        <td>27 mins</td>
                                                    </tr>
                                                    <tr>
                                                        <td>41</td>
                                                        <td>Borivali </td>
                                                        <td>9.2</td>
                                                        <td>20 mins </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                          </div>
                                      </div>
                                  </div>

                                  <br>
                                  <h4>What are the security arrangements made at the venue?</h4>
                                  <p>We recognize the fact that there will be close to 35,000 participants and visitors across all the venues, and thus adequate security measures have been put in place to ensure that children have a safe and sport conductive environment
                                      to be in.
                                  </p>
                                  <br>
                                  <h4>Will visitors be asked for an ID proof at the venue?</h4>
                                  <p>Yes, visitors will be thoroughly checked and will be asked to produce an ID card to enter the venue. SFA Events Pvt. Ltd. holds all the rights to allow or disallow any individual into the venue at its sole discretion.
                                  </p>
                                  <br>
                                  <h4>How do I arrive at the venue?</h4>
                                  <p>Schools and participants are requested to make their own transportation arrangements to and from the venue. Driving directions will be displayed on the website. Private vehicles will not be allowed inside the venue premises.
                                      School buses will be allowed only till the designated drop-off point at the venue. School buses and vehicles will not be permitted to park inside the premises.
                                  </p>
                                  <br>
                                  <h4>What are the facilities and arrangements at the venue?</h4>
                                  <p>The facilities and arrangements at the venue are:
                                  </p>
                                  <ul>
                                      <li>State-of-the-art sporting infrastructure</li>
                                      <li>Adequate changing rooms</li>
                                      <li>Medical and physiotherapy stations</li>
                                      <li>Water and nutrition counters</li>
                                      <li>Food and beverage stalls</li>
                                      <li>Sports apparel and merchandise store</li>
                                  </ul>
                                  <p>Participants will be allowed to go outside the venue as per their wish. However, SFA does not take the responsibility for a child outside of the venue.
                                  </p>
                                  <br>
                                  <h4>Are the athletes being provided with sports kits?</h4>
                                  <p>No, participants must carry their own sporting kits.
                                  </p>
                                  <br>
                                  <h4>Is it compulsory for school officials to accompany athletes during the tournament?</h4>
                                  <p>It is not compulsory for school athletes to be accompanied by a school co-ordinator/manager during the event. However, parents, well-wishers and school co-ordinators are most welcome to cheer and support the participants. There
                                      will be adequate safety and general security measures at the venue</p>
                                  <br>
                                  <h4>Can parents, school children and other well-wishers come to view the matches?</h4>
                                  <p>Yes, parents and other athletes from member schools are most welcome to the venue and cheer their school’s contingent even if they are not participating in any sports.</p>
                                  </p>
                                  <br>
                                  <h4>Is the SFA inter-school sports tournament going to take place every year?</h4>
                                  <p>Yes, SFA hosts Olympic-style inter-school annual event. SFA aspires to be the most prestigious annual interschool sports competition, one that athletes and schools can look forward to at a specific time of the year.</p>
                                  <br>
                                  <h4>If a participant is out of the competition, can he/she still come to the venue for the remaining days?</h4>
                                  <p>Yes, in case of a participant not progressing to the higher stages of the tournament he/she is most welcome to be at the venue and cheer its school’s contingent. Also, he/she will have the opportunity to engage in other educational
                                      and recreational activities throughout the duration of the event.
                                  </p>
                                  <br>
                                  <h4>What is the duration of the event?</h4>
                                  <p>21 Days. SFA Mumbai 2016 will be conducted from the 28th November to 3rd December and 5th December to 19th December, 2016. The schedule will be posted on our website ie. www.sfanow.in. The matches will be conducted from 8 am to 6:30 pm on all days of the event; however schedules
                                      for different sports may vary. There will be special considerations for few sports which may need more time to be completed. Athletes and schools will be informed of the same in advance.
                                  </p>
                                  <br>
                                  <h4>What is the role of SFA’s sporting partners?</h4>
                                  <p>SFA has tied-up with some of the most reputed sports partners so as to provide a high calibre and ratified sports tournament for school children to compete in. SFA’s sporting partners are the ones who have jointly helped us
                                      in conceptualising the structure of the tournament for each sports, i.e tournament rules and regulations, eligibility criteria, tournament draws, scheduling of matches, officiating and conducting matches is their primary
                                      role. Neutral and non-biased match officials and referees of the highest calibre at the district level will be officiating the matches for all the 25 sports. Sporting partners will also double-up as talent scouts and will
                                      identify and guide participants so as to help them enhance their skills at the game. Athletes are most welcome to take help and advice from our sporting partners so as to continue to better their game by way of training
                                      and skill development programs all through the year.
                                  </p>
                                  <br>
                                  <h4>When will athletes and schools be informed about their match schedule?</h4>
                                  <p>SFA endeavours to publish the draws, schedules and event program on 10th Nov i.e almost one month prior to the SFA Mumbai 2016 event. Thus, schools are requested to register and send in their entries as soon as possible.
                                  </p>
                                  <br>
                                  <h4>What documents need to be carried by participants during the tournament?</h4>
                                  <p>Every player must carry their schools ID card along with his/her age proof at all times during the tournament. No player will be allowed to play the match if they do not have valid age proof along with their school ID. Participants
                                      must produce their ID cards as and when required during the tournament. These details are also mentioned on the website as well as the registration forms.
                                  </p>
                                  <br>
                                  <h4>Why do participants need to report 45 minutes prior to their match time?</h4>
                                  <p>Every match at SFA is going to be captured on camera, thus it is crucial that every game starts at the schedule time. It is essential for the participants to report at the venue at least 45 minutes prior to the game, since
                                      there will be two registration desks – one is the main registration desk to report the entry of the child at the venue and the other will be a sports specific registration desk, where the child will have the to report at
                                      the time his match is announced. Details regarding the reporting time for participants are mentioned on the website as well as the registration forms.
                                  </p>
                                  <br>
                                  <h4>What procedure will be followed at the time of registration at the venue?</h4>
                                  <p>Participants must report at the main registration desk 45 minutes prior to their schedule match time. On reporting each participant will have to show their school ID and birth certificate to validate their details, after which
                                      their IDs will be verified and allocated. After this, participants will have to proceed and report to the registration desk of the respective sports 15 minutes prior to their schedule match timing.
                                  </p>
                                  <br>
                                  <h4>Is it mandatory for the schools entire contingent to arrive at the venue at the same time, even though different athletes have matches on different days or different times?</h4>
                                  <p>No, it is not necessary for the schools entire contingent to arrive on the first day of the event. Athletes are allowed to arrive as and when they have their matches.
                                  </p>
                                  <br>
                                  <h4>If a squad player is injured/unable to play then?</h4>
                                  <p>If any player who cannot take part in the tournament even after giving his/her entry can be replaced with another player on a special request by the respective school at least 1 day before the match starts. This is applicable
                                      only in case of doubles and team events.
                                  </p>

    </div>
    </div>
  </uib-accordion>
        </div>
      </div>
    </div>
  </section>
