<section class="bottom-padding mt50">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <div class="pt22">
          <h1 class="color-blue text-up font-semi margin0 font-titling">food</h1>
          <!-- <h1 class="color-blue text-up font-semi margin0 font-titling">care</h1> -->
        </div>
      </div>
      <div class="col-md-9">
        <div class="ch-p">
          <p>
            The right kind of nutrition and hydration is paramount to a sportspersons journey to the top. At SFA Mumbai 2016, athletes have easy access to sufficient water and energy drinks to replenish themselves. Moreover, nutritious, delicious food that caters to all tastebuds will be available at the venue.


          </p>

        </div>
      </div>
    </div>
  </div>
  <section class="mt80">
    <div class="container ">
      <div class="row">
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/f1.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">nutritious<span class="cl-yel">food</span> </h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/f2.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">Drinking<span class="cl-yel">water</span></h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/f3.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">energy<span class="cl-yel">drink</span> </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="p35">
      <div class="row">
        <div class="col-md-2">
          <div class="pt22">
            <h1 class="color-blue text-up font-semi margin0 font-titling">entertainment</h1>
            <!-- <h1 class="color-blue text-up font-semi margin0 font-titling">care</h1> -->
          </div>
        </div>
        <div class="col-md-9">
          <div class="ch-p">
            <p>
            While sport remains the main focus of SFA Mumbai 2016, ample entertaining activities ensure that the participants as well as their friends, parents, coaches and other guests have a great time at the tournament. End an action-packed day on a happy note, with a lot of prizes to be won!
            </p>

          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/f4.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50 margin0"><span class="cl-yel">parindey</span> live performance </h4>
              <p class="color-white pd-lr ">Unwind with Pragya Sodhani & Band
on December 11, 2016.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/f5.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50 margin0">sports<span class="cl-yel">quiz </span></h4>
              <p class="color-white pd-lr ">A sports quiz conducted a leading sports
quizmaster on December 16, 2016</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
