<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 ">
      <div class="box-padd mt91 mb91">
        <div class=" ">
          <button class="btn btn-default sub-mit" ui-sref="sports-registration" type="submit">Back</button>
        </div>
        <div class="row">
          <div class=" col-md-12 col-sm-12 col-xs-12 school-custom">
            <h1 class="text-center ">FORGOT PASSWORD</h1>
          </div>
        </div>
        <form class="form-horizontal " name="formsports">
          <div class="form-group para2">
            <label class="control-label col-md-offset-2 col-md-3 col-sm-offset-2 col-sm-3 col-xs-12">SFA ID:</label>
            <div class="col-md-2  col-sm-4 col-xs-12">
              <input type="text" class="form-control" name="sportsid" ng-model="formData.sfaid" placeholder="SFA ID" required>
              <div class="validate-col" ng-if="formsports.sportsid.$invalid && formsports.sportsid.$touched">Please Enter Your SFA ID *</div>
            </div>
          </div>
          <div class="form-group para2">
            <label class="control-label col-md-offset-2 col-md-3 col-sm-offset-2 col-sm-3 col-xs-12">Email ID:</label>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <input type="email" class="form-control" id="password" name="sportsemail" ng-model="formData.email" placeholder="Email ID"
                required>
              <div class="validate-col" ng-if="formsports.sportsemail.$invalid && formsports.sportsemail.$touched">Please enter Email ID *</div>
            </div>
          </div>
          <!--<div class="form-group">
            <div class="col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-2 col-xs-12 text-center mb25">
              <label class="control-label "><a ui-sref"forgot-password" class="sp-frget"> Forgot Password ?</a></label>
            </div>
          </div>-->
          <div class="form-group">
            <div class="col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-4 col-xs-12  mb25 mt25">
              <button class="btn btn-default sub-mit form-control" type="submit" ng-disabled="isDisabled==true" ng-click="forgotPassword(formData,formsports)">Submit</button>
            </div>
          </div>
          <div class="text-center  blue-spreg-custom">
            <!--<h4>The SFA ID & password has been sent to register email ID.</h4>-->
            <h4>In case you have forgotten your SFA ID or Registered Email ID,Please Call us on 7654567865/66/67 or email us
              at <a href="mailto:info@sfanow.in" class="blue-spreg-custom">info@sfanow.in</a></h4>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>