<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1 class=" school regis">School Registration Form</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-push-2 col-sm-12 col-xs-12 ">
            <div class=" box box-padd ">
                <div class="">
                    <p class="para sf-list"><span class="blue fs-14">Kindly Note:</span> This is a one-time registration process. Completion of this
                        process will allow you to register using your SFA ID & Code for all future SFA Events. This also
                        enables us to create a personalized sporting experience for your school on our website www.sfanow.in
                        to highlight your performances in sport by way of profiles, records maintenance, match videos, statistics
                        and reports.</p>
                </div>
                <div class=" t-padd">
                    <h5 class="blue fs-14">We request you to keep the following details ready to ensure a smooth registration process: </h5>
                    <ul type="circle" class="para sf-list mar-l">
                        <li>Mobile Number which you wish to register with SFA</li>
                        <li>Email ID which you wish to register with SFA</li>
                        <li>Credit Card/Debit Card/Bank Details(in case of online payment)</li>
                        <li>Your School's logo in jpeg/PNG format(optional)</li>
                    </ul>
                </div>
                <div class="blue-top">
                    <h5 class="blue fs-14">
                        * The applicant represents that the information provided is true and correct. SFA will keep confidential and protect your
                        personal information except where disclosure is required or permitted by law.</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-push-2 col-sm-12 col-xs-12">
            <div class="box-sfa">
                <div>
                    <p class="d-padd para2 sf-list">If you have participated in SFA Championships before, kindly enter your</p>
                </div>
                <div class=" mar-left">
                    <label class="para2 sfa-padd  sf-list">  SFA ID or Name:</label>
                    <ui-select ng-model="sfaId" ng-change="searchSFA($select.selected.sfaid)">
                        <ui-select-match>
                            <span ng-bind="$select.selected.sfaid"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in (schoolList | filter: $select.search)" refresh="searchSFA($select.search)">
                            <span ng-bind="item.sfaid"></span>
                            <small>
                                 name: {{item.name}}
                            </small>
                        </ui-select-choices>
                    </ui-select>
                    <div class="">
                        <p class="para2 t-padd sf-list">If you have not participated in SFA Championships before, your SFA ID will be generated<br> on successful
                            completion of registration.</p>
                        <p class="para2 b-padd sf-list">Please Note: All fields with * are mandatory.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-push-2 col-sm-12 col-xs-12">
            <form class="form-horizontal" ng-submit="saveRegis(formData)">
                <div class="wid-hei">
                    <div class="step1 fs-14">
                        Step 1: School Details
                    </div>
                </div>
                <div class=" box box-padd para2 box-hei">
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-5 sf-list">  *School Name:</label>
                        <div class="col-sm-9 col-xs-7">
                            <input ng-model="formData.schoolName" type="text" class="sfa-drop" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-5 sf-list">  *School Type:</label>
                        <div class="col-sm-9 col-xs-7">
                            <select ng-model="formData.schoolType" class="sfa-drop2 sf-list" required>
                             <option style="display:none"></option>
                   <option>Co-Educational</option>
                   <option>Boys</option>
                    <option>Girls</option>
               </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-5 sf-list">*School Category:</label>
                        <div class="col-sm-9 col-xs-7">
                            <select ng-model="formData.schoolCategory" class="sfa-drop2 sf-list" required>
                             <option style="display:none"></option>
                   <option>Un-aided </option>
                   <option>Government </option>
                  <option> Aided</option>
               </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-5 sf-list">*Affiliated Board:</label>
                        <div class="col-sm-9 col-xs-7">
                            <select class="sfa-drop2 sf-list" ng-model="formData.affiliatedBoard" required>
                             <option style="display:none"></option>
                   <option>Central Board of Secondary Education (CBSE) </option>
                   <option>International Baccalaureate (IB)</option>
                    <option>Indian Certificate of Secondary Education (ICSE )</option>
                     <option>International General Certificate of Secondary Education (IGCSE)</option>
                      <option>National Institute of Open Schooling (NIOS)</option>
                       <option>Secondary School Certificate (SSC)</option>
                        <option>A Level</option>
               </select>
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-3 col-xs-5 sf-list">Upload School Logo:</label>
                        <!--<input type="file" />-->
                        <div class="col-sm-9 col-xs-7">
                            <button class="btn btn-default myupload">Upload </button>
                            <div class="dirctive-op">
                                <upload-image class="up-img ng-isolate-scope" ng-disabled="type.disabled" ng-model="formData.schoolLogo"></upload-image>
                            </div>
                            <!--<upload-image ng-model="formData.schoolLogo" ng-disabled="type.disabled"></upload-image>-->
                            <!--<i class="fa fa-info-circle" aria-hidden="true"></i>-->
                            <div class="hover-img">
                                <img src="img/icon/x.png" alt="logo" class="img-responsive myicon" ng-click="removeImage(formData.schoolLogo)">
                            </div>
                            <div class="hover-img">
                                <img src="img/icon/icon.png" alt="logo" class="img-responsive myicon">
                                <div class="iconinfo sf-list">
                                    <p>This logo will be displayed on your school’s profile page on sfanow.in</p>
                                </div>
                            </div>
                            <div class="kindly-up sf-list">Kindly upload only .jpg or .png format. Maximum file size 1MB.</div>
                        </div>
                    </div>
                </div>
                <div class="wid-hei top-mar">
                    <div class="step1 fs-14">
                        Step 2: Contact Details
                    </div>
                </div>
                <div class="box box-padd para2 sf-list">
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 blue fs-14">
                            <h4>School Address</h4>
                        </div>
                        <label class="col-sm-3 col-xs-4">*Line 1:</label>
                        <div class="col-sm-9 col-xs-8">
                            <input ng-model="formData.schoolAddress" type="text" class="sfa-drop sfa434" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-4">Line 2:</label>
                        <div class="col-sm-9 col-xs-8">
                            <input ng-model="formData.schoolAddressLine2" type="text" class="sfa-drop sfa434">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-4"> *State:</label>
                        <div class="col-sm-3 col-xs-8">
                            <select ng-model="formData.state" class="sfa-drop2 w147" required>
                            <option style="display:none"></option>
                   <option>Maharashstra</option>
                  
                      
               </select>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <label class="padd-right">*District:</label>
                            <select ng-model="formData.district" class="sfa-drop2" required>
                            <option style="display:none"></option>
                   <option>Mumbai City </option>
                   <option>Mumbai Suburban</option>
                    <option>Thane</option>
                     <option>Palghar</option>
                      <option>Raigad</option> 
              </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-4">  *City:</label>
                        <div class="col-sm-3 col-xs-8">
                            <select ng-model="formData.city" class="sfa-drop2 w147" required>
                            <option style="display:none"></option>
                   <option>Kalyan-Dombivali </option>
                   <option>Mira-Bhayandar</option>
                   <option>Mumbai</option>
                   <option>Navi Mumbai</option>
                   <option>Panvel</option>
                   <option>Thane</option>
                    <option>Ulhasnagar</option>
                     <option>Vasai-Virar</option>
                     <option>Raigad</option>
                     <option>Thane</option>
               </select>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <label class="Area-padd">*Area/Locality:</label>
                            <input ng-model="formData.locality" type="text" class=" sfa-drop2 w147" required>
                        </div>
                    </div>
                    <div class="form-group mar-l">
                        <label class="col-sm-3 col-xs-4">  *Pin Code:</label>
                        <div class="col-sm-9 col-xs-8">
                            <input ng-model="formData.pinCode" type="text" only-Digits ng-model="pincode" class="sfa-drop2 w147" minlengh="6" maxlength="6"
                                required>
                        </div>
                    </div>
                    <div class="d-padd mar-l">
                        <h4 class="blue pb10">Details For Correspondence</h4>
                        <div class="box2">
                            <div class="form-group">
                                <div class=" d-padd">
                                    <div class="col-sm-12 col-xs-12">
                                        <p class="details-top">All communication regarding SFA MUMBAI 2017 will be sent on the below mentioned details.
                                        </p>
                                    </div>
                                    <label class="col-sm-3 col-xs-3 "> *Contact Person:</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <input ng-model="formData.contactPerson" type="text" class=" sfa-in" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=" d-padd">
                                    <label class="col-sm-3 col-xs-3">  *Landline:</label>
                                    <div class="col-sm-3 col-xs-9">
                                        <input ng-model="formData.landline" type="text" only-Digits ng-model="landline" class="bor-t" required minlength="11" maxlength="11">
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <!--<label class="mob-padd"> *Mobile:</label>
                                            <input type="text" only-Digits ng-model="mobile" class="bor-t"  minlength="10" maxlength="10" required>-->
                                        <label class="email-padd2 mobno-mob">*Mobile:</label>
                                        <input ng-model="formData.mobile" type="text" only-Digits ng-model="mobile" class="bor-t" minlength="10" maxlength="10" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="d-padd">
                                    <label class="col-sm-3 col-xs-3 web-padd"> Website:</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <input ng-model="formData.website" type="text" class="bor-t">
                                    </div>
                                    <!--<label class="col-sm-3 padd-bott">  *Email:</label>
                                        <div class="col-sm-3">
                                            <input type="email" class="bor-t" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="web-padd"> Website:</label>
                                            <input type="url" class="bor-t">
                                        </div>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 d-padd">
                                    <label class="mobileno-padd padd-bott">*Email:</label>
                                    <input ng-model="formData.email" type="email" class="bor-t" required>
                                    <button class="btn btn-default sub-mit send-otp" ng-click="sendOTP(formData.mobile)">Send OTP </button>
                                    <label class="enter-otp"> *Enter OTP:</label>
                                    <input ng-model="formData.enterOTP" type="text" only-Digits ng-model="OTP" class="bor-t" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-padd mar-l">
                        <h4 class="blue">School Principal</h4>
                        <div class="form-group">
                            <label class="col-sm-3 col-xs-3">*Name:</label>
                            <div class="col-sm-9 col-xs-9">
                                <input ng-model="formData.schoolPrincipalName" type="text" class="sfa-in bor-t" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-xs-3">Mobile:</label>
                            <div class="col-sm-3 col-xs-9">
                                <input ng-model="formData.schoolPrincipalMobile" type="text" only-Digits ng-model="mobile" class="bor-t" minlength="10" maxlength="10">
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label class="land-padd "> Landline:</label>
                                <input ng-model="formData.schoolPrincipalLandline" type="text" only-Digits ng-model="landline" class="bor-t" minlength="8"
                                    maxlength="11">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-xs-3">*Email:</label>
                            <div class="col-sm-9 col-xs-9">
                                <input ng-model="formData.schoolPrincipalEmail" type="email" class="bor-t" required>
                            </div>
                        </div>
                    </div>
                    <div class="d-padd mar-l">
                        <div class="dis-bloc">
                            <h4 class="blue"> Sports Department (Optional)</h4>
                        </div>
                        <div class="hover-img">
                            <img src="img/icon/icon.png" alt="logo" class="img-responsive myicon">
                            <div class="iconinfo w478">
                                <p>Coaches play an extremely vital role in shaping the future of young athletes. As part of
                                    your school’s sporting profile, SFA would be happy to highlight the efforts of your sports
                                    department. Kindly request youto fill in the following details.</p>
                            </div>
                        </div>
                        <div class="box2" ng-repeat="x in formData.sportsDepartment track by $index">

                            <div class="x-img3">
                                <div class="x-img" ng-click="removeSportForm($index)">
                                    <img src="img/icon/x.png" alt="logo" class="img-responsive  pull-right">
                                </div>
                            </div>
                            <div class="form-group d-padd details-top">
                                <label class="col-sm-3 col-xs-3">*Name:</label>
                                <div class="col-sm-9 col-xs-9">
                                    <input type="text" class="sfa-in" name="$index" ng-model="x.name" required>
                                </div>
                            </div>
                            <div class="form-group  d-padd">
                                <label class="col-sm-3 col-xs-3">*Designation:</label>
                                <div class="col-sm-3 col-xs-9">
                                    <input type="text" class="bor-t" ng-model="x.designation" required>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <label class="mb-padd"> *Mobile:</label>
                                    <input type="text" only-Digits ng-model="x.landline" class="bor-t" minlength="10" maxlength="10">
                                </div>
                            </div>
                            <div class="form-group d-padd">
                                <label class="col-sm-3 col-xs-3">*E-mail:</label>
                                <div class="col-sm-9 col-xs-9">
                                    <input type="email" class="bor-t" ng-model="x.email" required>
                                </div>
                            </div>
                            <div class="form-group d-padd">
                                <!--<label>Upload Photograph:</label><input type="file" class="bor-t">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>-->
                                <label class="col-sm-4 col-xs-4">Upload Photograph:</label>
                                <!--<input type="file" />-->
                                <div class="col-sm-8 col-xs-8">
                                    <!--<upload-image class="up-img" no-view required ng-model="x.photo"></upload-image>-->
                                    <button class="btn btn-default myupload">Upload </button>
                                    <div class="dirctive-op">
                                        <upload-image class="up-img ng-isolate-scope" ng-model="x.photograph"></upload-image>
                                    </div>
                                    <div class="hover-img">
                                        <img src="img/icon/x.png" alt="logo" class="img-responsive myicon" ng-click="removeArrayImage($index)">
                                    </div>
                                    <!--<i class="fa fa-info-circle" aria-hidden="true"></i>-->
                                    <label class="kindly-up sf-list">Kindly upload only .jpg or .png format. Maximum file size 1MB.</p></label>
                                    <img src="img/icon/p.png" alt="logo" class="img-responsive myicon3" ng-click="addSportForm()">
                                </div>
                            </div>

                        </div>
                        <div class="wid-hei top-mar">
                            <div class="step1 fs-14">
                                Step 3: Select Sports
                            </div>
                        </div>
                        <div class=" box box-padd r para2 sf-list">
                            <div class="d-padd d-paddd">
                                <div class="dis-inline">
                                    <h4 class="blue fs-14">Team Sports</h4>
                                    <!--<p> <input type="checkbox">Football</p>-->
                                    <p> <input type="checkbox" id="Basketball" ng-click="addTeamSports('Basketball')" />
                                        <label for="Basketball" ng-class="{basketball:Basketball}">Basketball</label></p>
                                    <p> <input type="checkbox" id="Handball" ng-click="addTeamSports('Handball')" />
                                        <label for="Handball" ng-class="{basketball:Handball}">Handball</label></p>
                                    <p> <input type="checkbox" id="Hockey" ng-click="addTeamSports('Hockey')" />
                                        <label for="Hockey" ng-class="{basketball:Hockey}">Hockey</label></p>
                                    <p> <input type="checkbox" id="Kabaddi" ng-click="addTeamSports('Kabaddi')" />
                                        <label for="Kabaddi" ng-class="{basketball:Kabaddi}">Kabaddi</label></p>
                                    <p> <input type="checkbox" id="Kho" ng-click="addTeamSports('Kho Kho')" />
                                        <label for="Kho" ng-class="{basketball:Kho}">Kho Kho</label></p>
                                    <p> <input type="checkbox" id="Throwball" ng-click="addTeamSports('Throwball')" />
                                        <label for="Throwball" ng-class="{basketball:Throwball}">Throwball</label></p>
                                    <p> <input type="checkbox" id="Volleyball" ng-click="addTeamSports('Volleyball')" />
                                        <label for="Volleyball" ng-class="{basketball:Volleyball}">Volleyball</label></p>
                                </div>
                                <div class="dis-inline">
                                    <h4 class="blue fs-14">Racquet Sports
                                    </h4>
                                    <p> <input type="checkbox" id="Table" ng-click="addRacquetSports('Table Tennis')" />
                                        <label for="Table" ng-class="{basketball:Table}">Table Tennis</label></p>
                                    <p> <input type="checkbox" id="Tennis" ng-click="addRacquetSports('Tennis')" />
                                        <label for="Tennis" ng-class="{basketball:Tennis}">Tennis</label></p>
                                    <p> <input type="checkbox" id="Squash" ng-click="addRacquetSports('Squash')" />
                                        <label for="Squash" ng-class="{basketball:Squash}">Squash</label></p>
                                    <p> <input type="checkbox" id="Badminton" ng-click="addRacquetSports('Badminton')" />
                                        <label for="Badminton" ng-class="{basketball:Badminton}">Badminton</label></p>
                                </div>
                                <div class="dis-inline">
                                    <h4 class="blue fs-14">Combat Sports</h4>
                                    <p> <input type="checkbox" id="Boxing" ng-click="addCombatSports('Boxing')" />
                                        <label for="Boxing" ng-class="{basketball:Boxing}">Boxing</label></p>
                                    <p> <input type="checkbox" id="Fencing" ng-click="addCombatSports('Fencing')" />
                                        <label for="Fencing" ng-class="{basketball:Fencing}">Fencing</label></p>
                                    <p> <input type="checkbox" id="Judo" ng-click="addCombatSports('Judo')" />
                                        <label for="Judo" ng-class="{basketball:Judo}">Judo</label></p>
                                    <p> <input type="checkbox" id="Karate" ng-click="addCombatSports('Karate')" />
                                        <label for="Karate" ng-class="{basketball:Karate}">Karate</label></p>
                                    <p> <input type="checkbox" id="Sport" ng-click="addCombatSports('Sport Mma')" />
                                        <label for="Sport" ng-class="{basketball:Sport}">Sport Mma</label></p>
                                    <p> <input type="checkbox" id="Taekwondo" ng-click="addCombatSports('Taekwondo')" />
                                        <label for="Taekwondo" ng-class="{basketball:Taekwondo}">Taekwondo</label></p>
                                </div>
                                <div class="dis-inline">
                                    <div>
                                        <h4 class="blue fs-14">Target Sports</h4>
                                        <p> <input type="checkbox" id="Archery" ng-click="addTargetSports('Archery')" />
                                            <label for="Archery" ng-class="{basketball:Archery}">Archery</label></p>
                                        <p> <input type="checkbox" id="Shooting" ng-click="addTargetSports('Shooting')" />
                                            <label for="Shooting" ng-class="{basketball:Shooting}">Shooting</label></p>
                                    </div>
                                    <div class="aquatics">
                                        <h4 class="blue fs-14">Aquatics</h4>
                                        <p> <input type="checkbox" id="Swimming" ng-click="addAquaticsSports('Swimming')" />
                                            <label for="Swimming" ng-class="{basketball:Swimming}">Swimming</label></p>
                                        <p> <input type="checkbox" id="Water" ng-click="addAquaticsSports('Water Poloa')" />
                                            <label for="Water" ng-class="{basketball:Water}">Water Polo</label></p>
                                    </div>
                                </div>
                                <div class="dis-inline">
                                    <h4 class="blue fs-14">Individual Sports</h4>
                                    <p> <input type="checkbox" id="Athletics" ng-click="addIndividualSports('Athletics')" />
                                        <label for="Athletics" ng-class="{basketball:Athletics}">Athletics</label></p>
                                    <p> <input type="checkbox" id="Carrom" ng-click="addIndividualSports('Carrom')" />
                                        <label for="Carrom" ng-class="{basketball:Carrom}">Carrom</label></p>
                                    <p> <input type="checkbox" id="Chess" ng-click="addIndividualSports('Chess')" />
                                        <label for="Chess" ng-class="{basketball:Chess}">Chess</label></p>
                                </div>
                                <p> <label class="sel-spo">Selected Sports:</label>Basketball, Football, Hockey</p>
                                <p>A registration fee of `12,000/- (inclusive of all applicable taxes) will be payable.<br>
                                    <label class="blue fs-14"> #Kindly Note:</label> This is an annual fee that enables your
                                    school to send any number of athletes across all the above mentioned sports. This fee
                                    structure has been devised to encourage schools and athletes to participate in multiple
                                    sports and to maintain a high quality of competition.</p>
                            </div>
                        </div>
                        <div class="wid-hei top-mar">
                            <div class="step1 fs-14">
                                Step 4: Registration Fee
                            </div>
                        </div>
                        <div class="box box-padd para2">
                            <!--<div class="d-padd">
                        <h4>Paayment Gateway:</h4>
                    </div>-->
                            <div class="d-padd d-paddd">
                                <input ng-model="formData.registrationFee" type="radio" id="radio02" name="radio" value="cash">
                                <label for="radio02" class="padd-lr"><span></span>Cash</label>
                                <input ng-model="formData.registrationFee" type="radio" id="radio04" name="radio" value="cheque">
                                <label for="radio04" class="padd-lr"><span></span>Cheque/DD</label>
                                <input ng-model="formData.registrationFee" type="radio" id="radio03" name="radio" value="online PAYU">
                                <label for="radio03" class="padd-lr"><span></span>Online PAYU</label>
                            </div>
                        </div>
                        <div class="text-center sub-padd">
                            <button class="btn btn-default sub-mit" type="submit">Submit & Save</button>
                        </div>
            </form>
            </div>
            </div>
        </div>

        <!--</div>
</div>
</div>
</div>-->