<section class="bottom-padding">
    <div class="sport-name-bg text-center">
        <h1 class="color-orange text-up font-semi margin0" ng-if="heat.sport">{{heat.sport.sportslist.name}}  | {{heat.sport.gender}} | {{heat.sport.agegroup.name}}</h1>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="text-center mt40">
                    <h2 class="color-blue font-semi"><span ng-if="heat.sport.firstcategory"> {{heat.sport.firstcategory.name}}</span><span ng-if="heat.sport.secondcategory"> | {{heat.sport.secondcategory.name}}</span></h2>
                </div>
            </div>

            <div class="box-content bx-mob">
                <div class="row over-fl" ng-if="heat.final">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3 class="color-orange font-semi text-up">final</h3>
                        </div>
                        <div class="final-table text-l">
                            <table class="table">
                                <thead>
                                    <tr class="bg-table color-orange font-semi text-up f16">
                                        <!-- <th>standings</th> -->
                                        <th>name</th>
                                        <th>school</th>
                                        <th>timing</th>
                                        <th ng-if="heat.final.video">
                                            <a class="various fancybox.iframe" href="https://www.youtube.com/embed/{{heat.final.video}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1" rel="gallery1" fancybox><img src="img/sf-play.png" alt=""></a>
                                        </th>
                                        <th ng-if="!heat.final.video">

                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="text-up">
                                    <tr ng-repeat="participant in heat.final.heats | orderBy:'standing'">
                                        <!-- <td class="text-center"><img ng-if="participant.standing === 1 || participant.standing === 2 || participant.standing === 3" ng-src="{{participant.standing === 1 && 'img/sf-gold-sec-big.png' || participant.standing === 2 && 'img/sf-silver-sec-big.png' || participant.standing === 3 && 'img/sf-bronze-sec-big.png' || participant.standing || '-'}}" alt="">
                                          <div class="text-center text-cap" ng-if="participant.standing !== 1 && participant.standing !== 2 && participant.standing !== 3">
                                            {{ participant.standing || '-' | ordinal}}
                                          </div>
                                        </td> -->
                                            <td>
                                                <a ng-click="profiles(heat.final.participantType,participant[heat.final.participantType]._id)">
                                                    <div class="display-inline ver-base round-img">
                                                        <img ng-src="{{heat.final.participantType == 'player' && (participant.player.profilePic| uploadpath) || (participant[heat.final.participantType].school.logo | uploadpath)}}" alt="" class="w25">
                                                    </div>
                                                    <div class="display-inline ver-mid">{{participant[heat.final.participantType].name || '-'}}</div>
                                                </a>
                                            </td>
                                            <td>
                                                <a ui-sref="school-profile({id:participant[heat.final.participantType].school._id})">
                                                    <div class="display-inline ver-base round-img">
                                                        <img ng-src="{{participant[heat.final.participantType].school.logo | uploadpath}}" alt="" class="w25">
                                                    </div>
                                                    <div class="display-inline ver-mid">{{participant[heat.final.participantType].school.name || '-'}}</div>
                                                </a>
                                            </td>
                                        <td>{{participant.timing || '-'}}</td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr ng-if="heat.final">
                <div class="row over-fl" ng-repeat="key in heat.heats | orderBy:'-order'" ng-if="key.round !== 'Final'">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3 class="font-semi color-orange text-up">{{key.round}}</h3>
                        </div>
                        <div class="accrordian mt25 sf-acc over-fl">
                            <uib-accordion close-others="oneAtATime" class="text-up ">
                                <uib-accordion-group ng-repeat="hts in key.heats">
                                    <uib-accordion-heading>
                                        <div class="acc-title float-left">
                                            {{hts.name}}
                                        </div>
                                        <div class="acc-img float-right" ng-if="hts.video">
                                            <a class="various fancybox.iframe" href="https://www.youtube.com/embed/{{hts.video}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1" rel="gallery1" fancybox><img src="img/sf-play.png" alt=""></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </uib-accordion-heading>

                                    <div class="inner-table over-fl text-l" ng-if="hts.heats.length > 0">
                                        <table class="table">
                                            <thead>
                                                <tr class="bg-dark">
                                                    <!-- <th>
                                                        standings
                                                    </th> -->
                                                    <th>
                                                        name
                                                    </th>
                                                    <th>
                                                        school
                                                    </th>
                                                    <th>
                                                        result
                                                    </th>
                                                    <th>
                                                        timing
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="participant in hts.heats | orderBy:'standing'">
                                                    <!-- <td class="text-cap text-center">{{participant.standing | ordinal }}</td> -->
                                                    <td>
                                                        <a ng-click="profiles(hts.participantType,participant[hts.participantType]._id)">
                                                            <div class="display-inline ver-base round-img">
                                                                <img ng-src="{{hts.participantType == 'player' && (participant.player.profilePic| uploadpath) || (participant[hts.participantType].school.logo | uploadpath)}}" alt="" class="w25">
                                                            </div>
                                                            <div class="display-inline ver-mid">{{participant[hts.participantType].name || '-'}}</div>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a ui-sref="school-profile({id:participant[hts.participantType].school._id})">
                                                            <div class="display-inline ver-base round-img">
                                                                <img ng-src="{{participant[hts.participantType].school.logo | uploadpath}}" alt="" class="w25">
                                                            </div>
                                                            <div class="display-inline ver-mid">{{participant[hts.participantType].school.name || '-'}}</div>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        {{participant.result && participant.result || '-'}}
                                                    </td>
                                                    <td>
                                                        {{participant.timing  || '-'}}
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                  <div class="text-center" ng-if="!(hts.heats.length > 0)">
                                    NOT DECLARED
                                  </div>
                                </uib-accordion-group>
                            </uib-accordion>
                        </div>

                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </section>
</section>
