<section class="home-slider">
    <flex-slider flex-slide="banner in banners track by $index" prev-text="" next-text="">
        <li>
            <a><img ng-src="{{banner.image | uploadpath}}" class="img-responsive"></a>
        </li>
    </flex-slider>
</section>
<section class="sf-relative">
    <div class="hex-gon">
        <img src="img/hex-green.png" alt="">
    </div>
    <div class="clip">
        <img src="img/c1.png" alt="">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="home-side">
                    <img src="img/home-side.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6">
                <div class="count">
                    <h4 class="color-orange text-up font-semi">SFA MUMBAI 2016 <span class="color-blue">starts in</span></h4>
                    <div class="counter sf-list">
                        <ul>
                            <li>
                                <div class="num">
                                    <h4>04</h4>
                                    <span class="color-bluet text-up">days</span>
                                </div>
                            </li>
                            <li>
                                <div class="num">
                                    <h4>04</h4>
                                    <span class="color-bluet text-up">hour</span>
                                </div>
                            </li>
                            <li>
                                <div class="num">
                                    <h4>04</h4>
                                    <span class="color-bluet text-up">minutes</span>
                                </div>
                            </li>
                            <li>
                                <div class="num">
                                    <h4>04</h4>
                                    <span class="color-bluet text-up">seconds</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="mt80">
<div class="container">
  <div class="row">
    <div class="col-md-4 padding0">
      <div class="first-box">
        <img src="img/st1.jpg" alt="" class="img-responsive width100">
        <div class="stupname">
          <h4 class="text-up">student</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 padding0">
        <div class="first-box">
        <img src="img/st2.jpg" alt="" class="img-responsive width100">
      <div class="stupname">
        <h4 class="text-up">school</h4>
      </div>
    </div>
  </div>
    <div class="col-md-4 padding0">
        <div class="first-box">
      <img src="img/st3.jpg" alt="" class="img-responsive width100">
    <div class="stupname">
      <h4 class="text-up">team</h4>
    </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12 padding0">
<div class="first-box">
  <img src="img/sf-big.jpg" alt="" class="img-responsive width100">
<div class="stupname">
  <h4 class="text-up">draws & schedule</h4>
  <h5 class="text-up">of sfa mumbai 2016</h5>
</div>
</div>
    </div>
  </div>
  <div class="mt15">
    <div class="row">
      <div class="col-md-6 padding0">
        <div class="first-box">
          <img src="img/sf-half.jpg" alt="" class="img-responsive width100">
        <div class="stupname">
        <img src="img/new-play.png" alt="" class="img-responsive width100">
        </div>
        </div>
      </div>
      <div class="col-md-6 padding0">
        <div class="first-box">
          <img src="img/sf-half2.jpg" alt="" class="img-responsive width100">
        <div class="stupname">
        <img src="img/new-play.png" alt="" class="img-responsive width100">
        </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-4 padding0">
          <div class="first-box">
        <img src="img/sf1.jpg" alt="" class="img-responsive width100">
      <div class="stupname">
        <div class="stupname">
          <h4 class="text-up">girls day</h4>
          <h5 class="text-up">at sfa mumbai 2016</h5>
        </div>
      </div>
      </div>
    </div>
      <div class="col-md-4 padding0">
          <div class="first-box">
        <img src="img/sf2.jpg" alt="" class="img-responsive width100">
      <div class="stupname">
        <div class="stupname">
          <h4 class="text-up">special awards</h4>
          <h5 class="text-up">at sfa mumbai 2016</h5>
        </div>
      </div>
      </div>
    </div>
      <div class="col-md-4 padding0">
          <div class="first-box">
        <img src="img/sf3.jpg" alt="" class="img-responsive width100">
      <div class="stupname">
        <div class="stupname">
          <h4 class="text-up">download
program schedule</h4>
          <h5 class="text-up">at sfa mumbai 2016</h5>
        </div>
      </div>
      </div>
    </div>
    <div class="text-center mt15">
<button type="submit" name="button" class="text-up btn-orange padd-btn pd-450">VIEW MORE</button>
    </div>
    </div>
  </div>
</div>

</section>
<section class="mt80">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center mb50">
                    <div class="social-logo">
                        <img src="img/fb-logo.png" alt="Sports For All">

                    </div>
                    <div class="box-social">
                        <div class="fb-page" data-href="https://www.facebook.com/sportsforallnow" data-width="360" data-height="355" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
                            <div class="fb-xfbml-parse-ignore">
                                <blockquote cite="https://www.facebook.com/sportsforallnow"><a href="https://www.facebook.com/sportsforallnow">SFA Now</a></blockquote>
                            </div>
                        </div>

                        <div id="fb-root"></div>
                        <!-- <script>
                       (function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s);
                          js.id = id;
                          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1452795161694777";
                          fjs.parentNode.insertBefore(js, fjs);
                       }(document, 'script', 'facebook-jssdk'));
                    </script> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center mb50">
                    <div class="social-logo">
                        <img src="img/tw-logo.png" alt="Sports For All">

                    </div>
                    <div class="box-social">
                        <a class="twitter-timeline" href="https://twitter.com/sfanow" data-widget-id="641859487024869376">Tweets by @sfanow</a>
                        <!-- <script>
                     ! function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0],
                           p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                           js = d.createElement(s);
                           js.id = id;
                           js.src = p + "://platform.twitter.com/widgets.js";
                           fjs.parentNode.insertBefore(js, fjs);
                        }
                     }(document, "script", "twitter-wjs");
                  </script> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center mb50">
                    <div class="social-logo">
                        <img src="img/inst-logo.png" alt="Sports For All">

                    </div>
                    <div class="box-social">
                        <div class="fb-set" style="height: 365px;overflow-y: scroll;">

                            <iframe src="//instansive.com/widgets/554a6dce8ad5309ecff0f538b9995e1429320d57.html" id="instansive_554a6dce8a" name="instansive_554a6dce8a" scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
