<section class="bottom-padding">
    <div class="sport-name-bg text-center">
        <h1 class="color-orange text-up font-semi margin0">basketball | girls | U-14</h1>
    </div>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="text-center mt40">
                    <h2 class="color-blue font-semi">League - knockout</h2>
                </div>
            </div>
              <div class="box-content">
<div class="row">
  <div class="col-md-5">
    <div class="left-side-score">
      <div class = "panel panel-default">
   <div class = "panel-heading">
    <div class="float-left">
      <h4 class="color-orange text-up font-semi">pool 'a'</h4>
    </div>
    <div class="float-right a-link">
      <a href="" class="color-white">View Full Table</a>
    </div>
    <div class="clearfix"></div>
   </div>

   <div class = "panel-body">
     <div class="inner-table text-up">
         <table class="table">
             <thead>
                 <tr class="bg-dark">
                     <th>
                         teams qualified
                     </th>
                     <th>
                        points
                     </th>

                 </tr>
             </thead>
             <tbody>
                 <tr>
                     <td>dhirubhai ambani intertional school</td>
                     <td>
                         3</td>

                 </tr>
                 <tr>
                     <td>dhirubhai ambani intertional school</td>
                     <td>
                         3</td>

                 </tr>
             </tbody>
         </table>
     </div>
   </div>
</div>

    </div>
  </div>
  <div class="col-md-7"></div>
</div>
              </div>
        </div>
    </section>
</section>
