<section class="bottom-padding">
    <div class="sport-name-bg text-center">
        <h1 class="color-orange text-up font-semi margin0">basketball | girls | U-14</h1>
    </div>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="text-center mt40">
                    <h2 class="color-blue font-semi text-up">League - knockout</h2>
                </div>
            </div>
            <div class="box-content bx-mob">
                <div class="row main-over">
                    <div class="w1200">
                        <div class="col-md-4 b-right">
                            <div class="left-side-score pt150">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="float-left">
                                            <h4 class="color-orange text-up font-semi">qualifing round</h4>
                                        </div>
                                        <div class="float-right a-link">
                                            <a href="" class="color-white">View Full Table</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="panel-body">
                                        <div class="inner-table text-up">
                                            <table class="table">
                                                <thead>
                                                    <tr class="bg-dark">
                                                        <th>
                                                            name
                                                        </th>
                                                        <th>
                                                            points
                                                        </th>
                                                        <th></th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="">
                                                                <div class="display-inline ver-base">
                                                                    <img src="img/sf-school.png" alt="" class="w25">
                                                                </div>
                                                                <div class="display-inline ver-mid">harshit shah</div>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            3</td>
                                                        <td>
                                                            qf
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="">
                                                                <div class="display-inline ver-base">
                                                                    <img src="img/sf-school.png" alt="" class="w25">
                                                                </div>
                                                                <div class="display-inline ver-mid">harshit shah</div>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            3</td>
                                                        <td>
                                                            qf
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
        

                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="sf-relative ">
                                <div class="sf-absulate pos-right">
                                    <div class="result-list">
                                        <div class="reslt-box">
                                            <div class="display-inline rslt-img cm-pad">
                                                <img src="img/mini-clip.png" alt="">
                                            </div>

                                            <div class="display-inline rslt-name cm-pad">
                                                <h4 class="color-blue margin0 text-up">Harshit shah</h4>
                                                <span class="text-cap ">dhirubhai ambani...</span>
                                            </div>
                                            <div class="display-inline cm-pad">
                                                <img src="img/sf-gold-sec-big.png" alt="">
                                            </div>
                                        </div>
                                        <div class="reslt-box">
                                            <div class="display-inline rslt-img cm-pad">
                                                <img src="img/mini-clip.png" alt="">
                                            </div>

                                            <div class="display-inline rslt-name cm-pad">
                                                <h4 class="color-blue margin0 text-up">Harshit shah</h4>
                                                <span class="text-cap ">dhirubhai ambani...</span>
                                            </div>
                                            <div class="display-inline cm-pad">
                                                <img src="img/sf-gold-sec-big.png" alt="">
                                            </div>
                                        </div>
                                        <div class="reslt-box">
                                            <div class="display-inline rslt-img cm-pad">
                                                <img src="img/mini-clip.png" alt="">
                                            </div>

                                            <div class="display-inline rslt-name cm-pad">
                                                <h4 class="color-blue margin0 text-up">Harshit shah</h4>
                                                <span class="text-cap ">dhirubhai ambani...</span>
                                            </div>
                                            <div class="display-inline cm-pad">
                                                <img src="img/sf-gold-sec-big.png" alt="">
                                            </div>
                                        </div>
                                        <div class="reslt-box">
                                            <div class="display-inline rslt-img cm-pad">
                                                <img src="img/mini-clip.png" alt="">
                                            </div>

                                            <div class="display-inline rslt-name cm-pad">
                                                <h4 class="color-blue margin0 text-up">Harshit shah</h4>
                                                <span class="text-cap ">dhirubhai ambani...</span>
                                            </div>
                                            <div class="display-inline cm-pad">
                                                <img src="img/sf-gold-sec-big.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt140">


                                    <div class="all-sets">
                                        <div class="min-height-fix first-sec">
                                            <div class="list-box">
                                                <h4 class="color-orange text-up font-semi">quater- final</h4>
                                                <scores class="top-level"></scores>
                                                <!-- <draw></draw> -->

                                            </div>
                                            <div class="list-box">
                                                <h4 class="color-orange text-up font-semi">quater- final</h4>
                                                <scores class="bottom-level"></scores>

                                            </div>
                                        </div>
                                        <div class="min-height-fix first-sec">
                                            <div class="list-box">
                                                <h4 class="color-orange text-up font-semi">quater- final</h4>
                                                <scores class="top-level"></scores>

                                            </div>
                                            <div class="list-box">
                                                <h4 class="color-orange text-up font-semi">quater- final</h4>
                                                <scores class="bottom-level"></scores>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="all-sets">
                                        <div class="min-height-fix">
                                            <div class="list-box first-col">
                                                <h4 class="color-orange text-up font-semi ml25">semi- final</h4>
                                                <scores class="top-level2"></scores>

                                            </div>

                                        </div>
                                        <div class="min-height-fix">
                                            <div class="list-box first-col2">
                                                <h4 class="color-orange text-up font-semi ml25">semi- final</h4>
                                                <scores class="bottom-level2"></scores>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="all-sets sf-relative">
                                        <div class="min-height-fix2 sf-relative">
                                            <div class="list-box first-col4">
                                                <h4 class="color-orange text-up font-semi ml25">final</h4>
                                                <scores></scores>

                                            </div>
                                            <div class="first-col3 pos-set">
                                                <h4 class="color-orange text-up font-semi ml25">third- place</h4>
                                                <scores></scores>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- <div class="all-sets">
                                <ul class="padding0 list-style margin0">
                                    <li class="pad-more">
                                        <div class="list-box">
                                            <h4 class="color-orange text-up font-semi">quater- final</h4>
                                            <scores class="top-level"></scores>

                                        </div>
                                    </li>
                                    <li class="pad-more">
                                        <div class="list-box">
                                            <h4 class="color-orange text-up font-semi">quater- final</h4>
                                            <scores class="bottom-level"></scores>

                                        </div>
                                    </li>
                                </ul>
                            </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
