<section>
    <div class="head-banner">
        <img src="img/media-gallery.png" class="img-responsive img width100 margin-auto">
    </div>
</section>
<section class="bottom-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center mt25">
                    <div class="tab-list sf-list text-up">
                        <ul class="padding0 margin0">
                            <li><a href="" ui-sref="media-gallery-type({type:'photo'})" class="{{classes.classp}}">
photos
</a></li>
                            <li><a href="" ui-sref="media-gallery-type({type:'video'})" class="{{classes.classv}}">
videos
</a></li>
                            <li><a href="" class="{{classc}}">
press coverage
</a></li>
                            <li><a href="" class="{{classd}}">
Press release
</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-content bx-mob pad-m-main pad-m-main">
                    <div class="pht" ng-if="filter.mediatype=='photo'">
                        <div class="row" ng-if="!flags.openGallery">
                            <div class="row text-center" ng-if="folders == '' ">
                                <h4><b>No Photos Found</b></h4>
                            </div>
                            <div class="col-md-4 mb15 col-sm-6 col-xs-12" ng-repeat="item in folders track by $index" ui-sref="media-gallery-inside({type:'photo',folder:item._id})">
                                <a href="" ng-modal="inner" ng-click="inner==!inner">
                                    <div class="folder-box sf-relative h226">
                                        <img ng-src="{{item.media | mediapath}}" alt="Sports For All" class="img-responsive width100 hover-min">
                                        <div class="over-layer sf-absulate">
                                            <h4 class="banner-set sf-absulate text-uppercase">{{item._id}}</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="main-view" ng-mouseenter="inner=true" ng-if="flags.openGallery">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="back-btn">
                                        <div class="float-left">
                                            <a ui-sref="media-gallery-type({type:'photo'})"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="text-center">
                                            <h4 class="color-orange text-up font-bold">{{filter.folder}}</h4>
                                        </div>
                                        <div class="mt-min-30 mt-min-40">
                                            <div class="float-right">
                                                <h4 class="text-up color-blue display-inline">year</h4>
                                                <div class="display-inline">
                                                    <div class="sfa-select">
                                                        <select ng-change="loadMedia()" class="select" ng-model="filter.year">
                                                            <option value="2015">SFA MUMBAI 2015</option>
                                                            <option value="2016">SFA MUMBAI 2016</option>
                                                        </select>
                                                        <span class="only-border"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row mt15">
                                <div class="col-md-3 mb15" ng-repeat="item in mediaArr.data track by $index">
                                    <a href="{{item.medialink | mediapath}}" rel="gallery1" fancybox-box>
                                        <div class="folder-box sf-relative">
                                            <img ng-src="{{item.medialink | mediapath}}" alt="Sports For All" class="img-responsive width100 hover-min">
                                            <div class="over-layer sf-absulate">
                                                <h4 class="oth-pos sf-absulate">{{item.mediatitle}}</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row text-center" ng-if="mediaArr.data.length === 0">
                                <h4><b>No Photos Found</b></h4>
                            </div>
                            <uib-pagination ng-if="mediaArr.data.length > 0" ng-change="loadMedia();" total-items="mediaArr.total" ng-model="filter.pagenumber" items-per-page="12">
                            </uib-pagination>
                        </div>
                    </div>
                    <div class="pht" ng-if="filter.mediatype=='video'">
                        <div class="row" ng-if="!flags.openGallery">
                            <div class="row text-center" ng-if="folders == '' ">
                                <h4><b>No Videos Found</b></h4>
                            </div>
                            <div class="col-md-4 mb15 col-xs-12 col-sm-6" ng-repeat="item in folders track by $index" ui-sref="media-gallery-inside({type:'video',folder:item._id})">
                                <a href="">
                                    <div class="folder-box sf-relative">
                                        <img ng-src="{{item.media | videothumbnail}}" alt="Sports For All" class="img-responsive width100 hover-min">
                                        <div class="over-layer sf-absulate">
                                            <h4 class="banner-set sf-absulate text-uppercase">{{item._id }}</h4>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>

                        <div class="main-view" ng-show="flags.openGallery">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="back-btn">
                                        <div class="float-left">
                                            <a ui-sref="media-gallery-type({type:'video'})"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="text-center">
                                            <h4 class="color-orange text-up font-bold">{{filter.folder}}</h4>
                                        </div>
                                        <div class="mt-min-30 mt-min-40">
                                            <div class="float-right">
                                                <h4 class="text-up color-blue display-inline">year</h4>
                                                <div class="display-inline">
                                                    <div class="sfa-select">
                                                        <select ng-change="loadMedia()" class="select" ng-model="filter.year">
                                                            <option value="2015">SFA MUMBAI 2015</option>
                                                            <option value="2016">SFA MUMBAI 2016</option>
                                                        </select>
                                                        <span class="only-border"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row mt15">
                                <div class="col-md-3 mb15 col-sm-6 col-xs-12" ng-repeat="item in mediaArr.data track by $index">
                                    <a class="various fancybox.iframe" href="http://www.youtube.com/embed/{{item.medialink}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1" rel="gallery1" fancybox>
                                        <div class="folder-box sf-relative">
                                            <img ng-src="{{item.medialink | videothumbnail}}" alt="Sports For All" class="img-responsive width100 hover-min">
                                            <div class="over-layer sf-absulate">
                                                <h4 class="banner-set sf-absulate">{{ item.mediatitle}}</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row text-center" ng-if="mediaArr.data.length === 0">
                                <h4><b>No Videos Found</b></h4>
                            </div>
                            <uib-pagination ng-if="mediaArr.data.length > 0" ng-change="loadMedia();" total-items="mediaArr.total" ng-model="filter.pagenumber" items-per-page="12">
                            </uib-pagination>
                        </div>
                    </div>
                    <div class="pht" ng-show="tab=='press'">
                        <div class="row">
                            <div class="text-center">
                                <div class="col-md-12 col-xs-12 col-sm-6 text-c-m">
                                    <h4 class="text-up color-blue display-inline">year</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <select ng-change="loadMedia();" class="select" ng-model="filter.year">
                                                <option value="2015">SFA MUMBAI 2015</option>
                                                <option value="2016">SFA MUMBAI 2016</option>
                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center mt25">
                                <div class="tab-list sf-list text-up">
                                    <ul class="padding0 margin0">
                                        <li><a href="" ng-click="tabchanges('photo',1)" class="{{classp}}">
photos
</a></li>
                                        <li><a href="" ng-click="tabchanges('videos',2)" class="{{classv}}">
match videos
</a></li>

                                    </ul>
                                </div>
                                <hr class="hr-padding">
                            </div>
                        </div>
                        <div class="row" ng-show="tabs=='photo'">
                            <div class="col-md-3 mt15 col-sm-6 col-xs-12" ng-repeat="data in folder track by $index">
                                <a href="{{data}}" fancybox-box rel="gallery">
                                    <div class="folder-box sf-relative">
                                        <img ng-src="{{data}}" alt="Sports For All" class="img-responsive width100 hover-min">
                                        <div class="over-layer sf-absulate">
                                            <h4 class="banner-set sf-absulate ">Times Of India <br><span class="font-semi f16">23<sup>rd</sup> Sep 2014</span></h4>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row" ng-show="tabs=='videos'">

                            <div class="col-md-3 mt15 col-sm-6 col-xs-12" ng-repeat="data in folder track by $index">
                                <a class="various fancybox.iframe" rel="gallery1" fancybox href="http://www.youtube.com/embed/pIPashZ8S2Q?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1">
                                    <div class="folder-box sf-relative">
                                        <img ng-src="{{data}}" alt="Sports For All" class="img-responsive width100 hover-min">
                                        <div class="over-layer sf-absulate">
                                            <h4 class="banner-set sf-absulate ">Times Of India <br><span class="font-semi f16">23<sup>rd</sup> Sep 2014</span></h4>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="row" ng-show="tab=='release'">
                        <div class="col-md-8">
                            <div class="white-bg">
                                <h4 class="color-blue">Lorem Ipsum is simply dummy text of the printing and typesetting
industry</h4>
                                <span class="color-grey">23 <sup>rd</sup> sept 2015</span>
                                <p class="mt15">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="side-l">
                                <ul>
                                    <li>
                                        <div class="yedi-list">
                                            <h4 class="color-blue">Lorem Ipsum is simply dummy text of the printing and typesetting
      industry</h4>
                                            <span class="color-grey">23 <sup>rd</sup> sept 2015</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="yedi-list">
                                            <h4 class="color-blue">Lorem Ipsum is simply dummy text of the printing and typesetting
      industry</h4>
                                            <span class="color-grey">23 <sup>rd</sup> sept 2015</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="yedi-list">
                                            <h4 class="color-blue">Lorem Ipsum is simply dummy text of the printing and typesetting
      industry</h4>
                                            <span class="color-grey">23 <sup>rd</sup> sept 2015</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="yedi-list">
                                            <h4 class="color-blue">Lorem Ipsum is simply dummy text of the printing and typesetting
      industry</h4>
                                            <span class="color-grey">23 <sup>rd</sup> sept 2015</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="yedi-list">
                                            <h4 class="color-blue">Lorem Ipsum is simply dummy text of the printing and typesetting
      industry</h4>
                                            <span class="color-grey">23 <sup>rd</sup> sept 2015</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="yedi-list">
                                            <h4 class="color-blue">Lorem Ipsum is simply dummy text of the printing and typesetting
      industry</h4>
                                            <span class="color-grey">23 <sup>rd</sup> sept 2015</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="yedi-list">
                                            <h4 class="color-blue">Lorem Ipsum is simply dummy text of the printing and typesetting
      industry</h4>
                                            <span class="color-grey">23 <sup>rd</sup> sept 2015</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="yedi-list">
                                            <h4 class="color-blue">Lorem Ipsum is simply dummy text of the printing and typesetting
      industry</h4>
                                            <span class="color-grey">23 <sup>rd</sup> sept 2015</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </container>
</section>
