<section class="bottom-padding mt50">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="pt22">
          <h1 class="color-blue text-up font-semi margin0 font-titling">medical</h1>
          <h1 class="color-blue text-up font-semi margin0 font-titling">care</h1>
        </div>
      </div>
      <div class="col-md-9">
        <div class="ch-p">
          <p>
            The young athletes give their body and mind to sport. It becomes our duty to give them the best medical care so that they may never stop until they get that gold!
          </p>
          <p>
            Very often a bruise, a cut, a sprain comes in the way of athletes and their aspirations. Sports For All ensures that at SFA Mumbai 2016 not even an injury holds back a child from acheiving accolades in sport. Our physiotherapy and hospital partners ensure that every injury, no matter how minor or severe, is attended to on priority basis.
          </p>
        </div>
      </div>
    </div>
  </div>
  <section class="mt80">
    <div class="container ">
      <div class="row">
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/ma1.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50"><span class="cl-yel">ambulance</span> stationed at
  venue</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/ma2.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50"><span class="cl-yel">physiotherapists</span> at all
sport arenas</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/ma3.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50"><span class="cl-yel">General physicians</span> present
at venue </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/ma4.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">prompt<span class="cl-yel">first-aid </span> care </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
