<div class="container-fluid">
    <div class="registration-img">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="registration-desc">
                    <h2>BE A PART OF THE LARGEST PROFESSIONAL YOUTH SPORTING CHAMPIONSHIP</h2>
                    <h3>SFA MUMBAI 2017</h3>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="sport-icon ul-show">
                    <ul class="list-unstyled">
                        <li>
                            <img src="img/icon/1_Handball.png" class="img-responsive">
                            <p>HANDBALL</p>
                        </li>
                        <li>
                            <img src="img/icon/2_Basketball.png" class="img-responsive">
                            <p>Basketball</p>
                        </li>
                        <li>
                            <img src="img/icon/3_Volleyball.png" class="img-responsive">
                            <p>Volleyball</p>
                        </li>
                        <li>
                            <img src="img/icon/4_Throwball.png" class="img-responsive">
                            <p>Throwball</p>
                        </li>
                        <li>
                            <img src="img/icon/5_Hockey.png" class="img-responsive">
                            <p>Hockey</p>
                        </li>
                        <li>
                            <img src="img/icon/6_Kho Kho.png" class="img-responsive">
                            <p>Kho Kho</p>
                        </li>
                        <li>
                            <img src="img/icon/7_Kabaddi.png" class="img-responsive">
                            <p>Kabaddi</p>
                        </li>
                        <li>
                            <img src="img/icon/8_Football.png" class="img-responsive">
                            <p>Football</p>
                        </li>
                        <li>
                            <img src="img/icon/19_Shooting.png" class="img-responsive">
                            <p>Shooting</p>
                        </li>
                        <li>
                            <img src="img/icon/20_Archery.png" class="img-responsive">
                            <p>Archery</p>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <img src="img/icon/9_Badminton.png" class="img-responsive">
                            <p>Badminton</p>
                        </li>
                        <li>
                            <img src="img/icon/10_Tennis.png" class="img-responsive">
                            <p>Tennis</p>
                        </li>
                        <li>
                            <img src="img/icon/11_Table-Tennis.png" class="img-responsive">
                            <p>Table Tennis</p>
                        </li>
                        <li>
                            <img src="img/icon/12_Squash.png" class="img-responsive">
                            <p>Squash</p>
                        </li>
                        <li>
                            <img src="img/icon/13_Judo.png" class="img-responsive">
                            <p>Judo</p>
                        </li>
                        <li>
                            <img src="img/icon/14_Taekwondo.png" class="img-responsive">
                            <p>Taekwondo</p>
                        </li>
                        <li>
                            <img src="img/icon/15_Boxing.png" class="img-responsive">
                            <p>Boxing</p>
                        </li>
                        <li>
                            <img src="img/icon/16_Fencing.png" class="img-responsive">
                            <p>Fencing</p>
                        </li>
                        <li>
                            <img src="img/icon/17_Karate.png" class="img-responsive">
                            <p>Karate</p>
                        </li>
                        <li>
                            <img src="img/icon/18_MMA.png" class="img-responsive">
                            <p>Sport MMA</p>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <img src="img/icon/23_Carrom.png" class="img-responsive">
                            <p>Carrom</p>
                        </li>
                        <li>
                            <img src="img/icon/24_Chess.png" class="img-responsive">
                            <p>Chess</p>
                        </li>
                        <li>
                            <img src="img/icon/26_Athletics.png" class="img-responsive">
                            <p>Athletics</p>
                        </li>
                        <li>
                            <img src="img/icon/21_Swimming.png" class="img-responsive">
                            <p>Swimming</p>
                        </li>
                        <li>
                            <img src="img/icon/22_WaterPolo.png" class="img-responsive">
                            <p>Water Polo</p>
                        </li>
                    </ul>
                </div>
                <div class="sport-icon ul-hide">
                    <ul class="list-unstyled">
                        <li>
                            <img src="img/icon/1_Handball.png" class="img-responsive">
                            <p>HANDBALL</p>
                        </li>
                        <li>
                            <img src="img/icon/2_Basketball.png" class="img-responsive">
                            <p>Basketball</p>
                        </li>
                        <li>
                            <img src="img/icon/3_Volleyball.png" class="img-responsive">
                            <p>Volleyball</p>
                        </li>
                        <li>
                            <img src="img/icon/4_Throwball.png" class="img-responsive">
                            <p>Throwball</p>
                        </li>
                        <li>
                            <img src="img/icon/5_Hockey.png" class="img-responsive">
                            <p>Hockey</p>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <img src="img/icon/6_Kho Kho.png" class="img-responsive">
                            <p>Kho Kho</p>
                        </li>
                        <li>
                            <img src="img/icon/7_Kabaddi.png" class="img-responsive">
                            <p>Kabaddi</p>
                        </li>
                        <li>
                            <img src="img/icon/8_Football.png" class="img-responsive">
                            <p>Football</p>
                        </li>
                        <li>
                            <img src="img/icon/19_Shooting.png" class="img-responsive">
                            <p>Shooting</p>
                        </li>
                        <li>
                            <img src="img/icon/20_Archery.png" class="img-responsive">
                            <p>Archery</p>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <img src="img/icon/9_Badminton.png" class="img-responsive">
                            <p>Badminton</p>
                        </li>
                        <li>
                            <img src="img/icon/10_Tennis.png" class="img-responsive">
                            <p>Tennis</p>
                        </li>
                        <li>
                            <img src="img/icon/11_Table-Tennis.png" class="img-responsive">
                            <p>Table Tennis</p>
                        </li>
                        <li>
                            <img src="img/icon/12_Squash.png" class="img-responsive">
                            <p>Squash</p>
                        </li>
                        <li>
                            <img src="img/icon/13_Judo.png" class="img-responsive">
                            <p>Judo</p>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <img src="img/icon/14_Taekwondo.png" class="img-responsive">
                            <p>Taekwondo</p>
                        </li>
                        <li>
                            <img src="img/icon/15_Boxing.png" class="img-responsive">
                            <p>Boxing</p>
                        </li>
                        <li>
                            <img src="img/icon/16_Fencing.png" class="img-responsive">
                            <p>Fencing</p>
                        </li>
                        <li>
                            <img src="img/icon/17_Karate.png" class="img-responsive">
                            <p>Karate</p>
                        </li>
                        <li>
                            <img src="img/icon/18_MMA.png" class="img-responsive">
                            <p>Sport MMA</p>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <img src="img/icon/23_Carrom.png" class="img-responsive">
                            <p>Carrom</p>
                        </li>
                        <li>
                            <img src="img/icon/24_Chess.png" class="img-responsive">
                            <p>Chess</p>
                        </li>
                        <li>
                            <img src="img/icon/26_Athletics.png" class="img-responsive">
                            <p>Athletics</p>
                        </li>
                        <li>
                            <img src="img/icon/21_Swimming.png" class="img-responsive">
                            <p>Swimming</p>
                        </li>
                        <li>
                            <img src="img/icon/22_WaterPolo.png" class="img-responsive">
                            <p>Water Polo</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="container hidden-xs hidden-sm">-->
<div class="container">
    <div class="venue">
        <div>
            <p class="f-s">Sports For All brings to you Mumbai's ultimate inter-school sporting championship, where best school contingents
                will battle it out to be ranked as the No.1 School for Sports. Schools & Athletes from across Mumbai City,
                Mumbai Suburban, Thane, Raigad and Palghar can register and compete at SFA Mumbai 2017.</p>
        </div>
        <div class="date-details">
            <ul class="list-unstyled sport25 text-center">
                <li>25+ Sports* </li>
            </ul>
            <ul class="list-unstyled date-venue">
                <li>Dates: 1st Dec – 23rd Dec 2017** </li>
                <li>Venue: DY Patil Sports Academy, Nerul***</li>
            </ul>
            <div class="venue-bottom ">
                <ul class="list-unstyled">
                    <li>*More sports to be announced shortly </li>
                    <li>**Final dates to be announced shortly </li>
                    <li> ***Other venues to be announced shortly</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="categories">
        <h1 class="text-center">Register for SFA Mumbai 2017</h1>
        <p class="f-s f16">Every School and Athlete (Participating in team sport or individual sport) must first register themselves individually.
            And thereafter proceed to register themselves for their sport/sports of interest.</p>
        <p class="text-center step">Step 1 : School / Athlete Registration & Verification</p>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="school-registration">
                    <div class="btn-school text-center">
                        <p>School Registration</p>
                        <div class="school-icon">
                            <img src="img/icon/2.png" class="img-responsive">
                        </div>
                    </div>
                    <div class="category-padding f-s mod-cls">
                        <p>Once a school registers with SFA, any number of students of the registered school will be eligible
                            to participate in as many sports as they choose to (basis eligibility criteria).
                        </p>
                        <p><b>Register your school for SFA Mumbai 2017 in just 4 simple steps:</b>
                        </p>
                        <ul class="list-unstyled school-list">
                            <li>Fill out the online ‘School Registration Form’ & submit for verification</li>
                            <li>Make a payment of Rs 12,000 (inclusive of all applicable taxes) towards registration fees</li>
                            <li>Receive SFA school verification along with a unique SFA ID & Password</li>
                            <li>Proceed to register athletes from your school for Sports Registration</li>
                        </ul>
                        <p class="custom-a"><a ng-click="regisBenModal()"><strong>Click here to view registered school benefits for SFA Mumbai 2017</strong></a></p>
                    </div>
                    <div class="text-center mb-20 "><a ui-sref="formregis" target="_new"><button class="btn-category green-btn "> Click here for School Registration Form</button></a></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="athletes">
                    <div class="athlets-btn text-center">
                        <div class="athlets-icon">
                            <img src="img/icon/1.png" class="img-responsive">
                        </div>
                        <p>Athlete Registration</p>
                    </div>
                    <div class="category-padding-athelet f-s mod-cls">
                        <p>Once an athlete registers with SFA, he/she can participate in as many sports as he/she chooses to
                            (basis eligibility criteria).
                        </p>
                        <p><b>Register yourself to compete at SFA Mumbai 2017 in just 4 simple steps:</b>
                        </p>
                        <ul class="list-unstyled athlete-list f-s">
                            <li> Fill out the online ‘Athlete Registration Form’ and submit it along with a Photo ID for verification</li>
                            <li>Make payment of 200 (inclusive of all applicable taxes) towards registration fees</li>
                            <li>Receive SFA athlete verification along with a unique SFA ID & Password</li>
                            <li>Proceed to register for Sports Registration</li>
                        </ul>
                        <p class="custom-a"><a ng-click="athBenModal()"><strong>Click here to view registered schools athlete benefits for SFA Mumbai 2017</strong></a></p>
                    </div>
                    <div class="text-center mb-20 "><a ui-sref="formathlete" target="_new"><button class="btn-category orange"> Click here for Athlete Registration Form</button></a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
                <div class="sport-sec">
                    <p class="text-center step mb-75 ">Step2 : Sport Registration</p>
                    <div class="sport-registration">
                        <div class="btn-sport text-center">
                            <div class="sport-icon">
                                <img src="img/icon/3.png" class="img-responsive">
                            </div>
                            <p>Sport Registration</p>
                        </div>
                        <div class="category-padding-sport f-s">
                            <p>Once you have submitted your school / athlete registration form you will receive a verification
                                email (within 2 working days from submission) with an SFA ID & Password
                            </p>
                            <p>Once you are verified by SFA, you can fill and submit the forms of all the sports you wish to
                                participate and compete in at SFA Mumbai 2017.
                            </p>
                        </div>
                        <!--<div class="text-center mb-20"><button class="btn-category  blue-light">Sports Registration Form</button></div>-->
                        <div class="text-center mb-20"><button class="com-category  blue-light">Opening shortly</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="text-center">Sports Registration Form</div>-->
    <div class="store-for-you">
        <h2 class="text-center">WHAT’S IN STORE FOR YOU</h2>
        <div class="sport-row-space">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="common-store f-s">
                        <p>PRO SPORT EXPERIENCE </p>
                        <ul class="store-padding">
                            <li>World-Class Multi-Sporting Infrastructure & Facilities</li>
                            <li>High Quality Competition </li>
                            <li>Quality Governance</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="common-store f-s">
                        <p>PRO CARE FOR ENHANCED PERFORMANCE
                        </p>
                        <ul class="store-for-you-list">
                            <li>Injury Prevention Centres & Oncourt Physiocare</li>
                            <li> Hydration & Nutrition Stations </li>
                            <li>Safe & Hygenic Sporting Environment
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="common-store pd-left f-s">
                        <p>PRO ATHLETE DEVELOPMENT</p>
                        <ul class="store-for-you-list">
                            <li><b>Athlete & School Profiles</b></li>
                            <li style="list-style-type: circle;"> Profiles Comprehensive sport bios </li>
                            <li style="list-style-type: circle;">Statistics, scores and records</li>
                            <li><b> HD Match Videos of Every Game</b>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <div class="common-store f-s">
                    <p>ELITE ATHLETE CLUB</p>
                    <ul class="store-for-you-list">
                        <li><b>Scouting for talented athletes across different sports and empowering them with:</b></li>
                        <li style="list-style-type: circle;"> Training & Development Scholarships</li>
                        <li style="list-style-type: circle;"> Complimentary mental and fitness assessment programs</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="common-store f-s">
                    <p>THE YOUTH SPORT DEVELOPMENT FUND</p>
                    <ul class="store-padding">
                        <li>The Youth Sport Development Fund will be awarded to the top-ranking schools enabling them to further
                            develop sport in their schools.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="common-store pd-left f-s">
                    <p>SPECIAL DAYS</p>
                    <ul class="store-for-you-list">
                        <li>Opening Ceremony</li>
                        <li>Girl’s Day Celebration</li>
                        <li> Differently-abled Day </li>
                        <li>Coach’s Day</li>
                        <li>Alumni Day</li>
                        <li>Awards Night </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="past-championship">
        <h2 class="text-center">SFA Past Championships</h2>
        <div class="championship-blue">
            <div class="video">
                <div class="display-inline relate">
                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/Gfhf2uWIg98" fancybox-box>
                        <img src="img/icon/sport1.jpg" class="img-responsive">
                    </a>
                    <h2 class="text-center">SFA MUMBAI 2016</h2>
                    <div class="video-icon">
                        <a class="fancybox.iframe" href="https://www.youtube.com/embed/j-iLIlmhi4I" fancybox-box>
                            <img src="img/video.png" class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="display-inline ml3 relate">
                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/Gfhf2uWIg98" fancybox-box>
                        <img src="img/icon/sport2.jpg" class="img-responsive">
                    </a>
                    <h2 class="text-center">SFA MUMBAI 2015</h2>
                    <div class="video-icon">
                        <a class="fancybox.iframe" href="https://www.youtube.com/embed/Gfhf2uWIg98" fancybox-box>
                            <img src="img/video.png" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-register hidden-xs">
    <div class="registration side-menu2">
        <div class="tab-img dis-bloc" ng-if="closeReg == true">
            <img src=" img/icon/reg.png " class="img-responsive">
            <!--<img src=" img/icon/reg.png " class="img-responsive" ng-click="closeMenu();">-->
        </div>
        <div class="tab-img dis-bloc" ng-if="closeReg == false">
            <img src=" img/icon/reg.png " class="img-responsive" ng-mouseover="getMenu();">
            <!--<img src=" img/icon/reg.png " class="img-responsive" ng-click="getMenu();">-->
        </div>
        <div class="btn-tab dis-bloc ">
            <a href="img/pdf/sfa_athelete_group.pdf " target="_new ">
                <button class=" ">Registration Process</button>
            </a>
        </div>
    </div>
    <div class="tab1">
        <div class="age-event side-menu1">
            <div class="tab-img dis-bloc" ng-if="closeAge == true">
                <img src="img/icon/age.png " class="img-responsive ">
            </div>
            <div class="tab-img dis-bloc" ng-if="closeAge == false">
                <img src="img/icon/age.png " class="img-responsive " ng-mouseover="getMenu1();">
            </div>
            <div class="btn-tab dis-bloc">
                <a href="img/pdf/sfa_agegroup_event.pdf " target="_new ">
                    <button class=" ">Age Group & Event Categories</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="tab-register visible-xs">
    <div class="registration side-menu menu-out menu-in" ng-mouseleave="closeMenu();">
        <div class="tab-img dis-bloc" ng-if="closeReg == true">
            <img src=" img/icon/reg.png " class="img-responsive">
        </div>
        <div class="tab-img dis-bloc" ng-if="closeReg == false">
            <img src=" img/icon/reg.png " class="img-responsive" ng-mouseover="getMenu();">
        </div>
        <div class="btn-tab dis-bloc ">
            <a href="img/pdf/sfa_athelete_group.pdf " target="_new ">
                <button class=" ">Registration Process</button>
            </a>
        </div>
    </div>
    <div class="tab1">
        <div class="age-event menu-in1  menu-out side-menu1" ng-mouseleave="closeMenu1();">
            <div class="tab-img dis-bloc" ng-if="closeAge == true">
                <img src="img/icon/age.png " class="img-responsive ">
            </div>
            <div class="tab-img dis-bloc" ng-if="closeAge == false">
                <img src="img/icon/age.png " class="img-responsive " ng-mouseover="getMenu1();">
            </div>
            <div class="btn-tab dis-bloc">
                <a href="img/pdf/sfa_agegroup_event.pdf " target="_new ">
                    <button class=" ">Age Group & Event Categories</button>
                </a>
            </div>
        </div>
    </div>
</div>