<section class="bottom-padding">
    <div class="sport-name-bg text-center">
        <h1 class="color-orange text-up font-semi margin0 w80 pad0">Download Registration Forms <span class="hidden-xs">  <a class="various fancybox.iframe" rel="gallery1" fancybox href="https://www.youtube.com/embed/ZHSl_iAfi88?autoplay=1"><img ng-src="img/plays.png" alt="video button" class="vid-min"></a></span></h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="mt25">
                    <div class="btn-group btn-group-justified home-btn mt40" role="group" aria-label="...">
                        <div class="btn1 btn-group">
                            <div class="" role="group">
                                <a href="img/pdf/PARENT_GAURDIAN_CONSENT_FORM.pdf" target="_blank">
                                    <button type="button" class="btn btn-orange btn-home text-up">Parent/Guardian Consent Form</button>
                                </a>

                            </div>
                            <div class="statement">
                                <p>Each Participant is requested to fill this form in order to take the consent of their parent/ guardian.</p>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="btn-group btn-group-justified home-btn mt40" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <div class="" role="group">
                            <a href="img/pdf/SCHOOL_REGISTRATION_FORM.pdf" target="_blank">
                                <button type="button" class="btn btn-orange btn-home text-up">School Registration Form</button>
                            </a>
                        </div>
                        <div class="statement">
                            <p>School Authorities are requested to fill this form in order to register their school for SFA MUMBAI 2016.</p>
                            <p>(<span class="color-blue font-semi">Last date for school registration:</span> 31st August 2016)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center mt25">
                    <h1 class="f20">All sports at SFA Mumbai 2016 will be conducted under the aegis of professional sporting partners.</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <h2 class="color-orange text-up font-semi">team sports</h2>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r9.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">Football</h2>
                        <!-- <p>Maharashtra Kabaddi Association promotes the Indian Sport of Kabaddi by providing young aspirants of the sport with a platform to showcase their skills. By conducting multiple tournaments throughout the year, MKA identifies and trains exceptional talent at the grass roots level to groom them for highest level of competition in the sport of Kabaddi.</p> -->
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span>5th to 19th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span>19th November 2016</h4>
                        </div>
                        <!-- <div class="float-right mt25">

              <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
            </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r1.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">Handball</h2>
                        <p>Having a strong presence at the grass roots level in the city, Mumbai Handball Academy has made significant efforts to take the Olympic sport of Handball to the next level. While abundant talent exists at the inter-school level,
                            Handball requires the right platform for the young athletes to showcase their talent at national and international sporting events. The Mumbai Handball Academy hopes to bridge the gap in the years to come.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span> 8th to 19th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span>19th November 2016</h4>
                        </div>
                        <div class="float-right mt25">

                            <a href="img/pdf/HANDBALL.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r2.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-xs-8 col-xs-12">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">Basketball</h2>
                        <p>The single-minded focus of the Maharashtra State Basketball Association has been to work towards the development of the sport in order to create Basketball champions at National and International level by creating a feeder pipeline
                            of talent at the grass roots level.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span> 5th to 19th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span> 19th November 2016</h4>
                        </div>
                        <div class="float-right mt25">

                            <a href="img/pdf/BASKETBALL.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r3.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">Volleyball</h2>
                        <p>Mumbai State District Volleyball Association has its reach in every nook and corner of the state for the purpose of promoting Volleyball. Right from the correct training to identification of talent, MSDVA grooms young athletes
                            and prepares them for higher level of competition in the Olympic sport of Volleyball.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span> 8th to 19th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span> 19th November 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/VOLLEYBALL.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="image-box">
                        <img src="img/r4.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">Throwball</h2>
                        <p>Mumbai Amateur Throwball Association has been instrumental in working with young athletes at the grass roots level in the city by the way of training, identifying and nurturing young Throwball athletes. Multiple tournaments conducted
                            by the association's help the players gain more competitive experience thus preparing them for international level tournaments.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span> 10th to 13th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span> 26th November 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/THROWBALL.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="same-sec">
      <div class="row">
        <div class="col-md-4">
          <div class="image-box">
            <img src="img/r5.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
          </div>
        </div>
        <div class="col-md-8">
          <div class="contain-box f15">
            <h2 class="color-blue font-semi ">HOCKEY</h2>

            <div class="mt15">
              <h4><span class="color-blue font-semi">Tournament Dates: </span> 10th to 13th December 2016</h4>
              <h4><span class="color-blue font-semi">Venue : </span>Sports Authority Of India, Kandivali</h4>
              <h4><span class="color-blue font-semi">Last day for student registration: </span>30th September 2016</h4>
            </div>
            <div class="float-right mt25">

              <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
            </div>
          </div>
        </div>
      </div>
      </div> -->
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r5.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">HOCKEY</h2>
                        <p>
                            <p>Dabang Mumbai', an initiative of DoIT Sports Management is relentlessly spearheading the Hockey movement in key regions of Maharashtra, Gujarat and Goa in order to create a steady stream of talented youngsters to represent
                                India at international platforms in the sport of Hockey. They passionately believe that with continued vigour and efforts, India will be able to reclaim world supremacy in the sport in the years to come.
                            </p>
                        </p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span>  28th November to 3rd December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> Sports Authority Of India, Kandivali</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span> 19th November 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/HOCKEY.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r6.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">KHO-KHO</h2>
                        <p>Maharashtra Kho-Kho Association works towards the development and promotion of the Indian Sport of Kho-Kho by providing training at the grass roots level and conducting multiple tournaments through the year. The association hopes
                            to enthuse an increasing number of young athletes across the state to take up the sport and thus elevate the quality of the sport in the years to come.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span> 8th to 13th December</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span> 26th November 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/KHO-KHO.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r7.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 col-sm-8">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">Kabaddi</h2>
                        <p>Maharashtra Kabaddi Association promotes the Indian Sport of Kabaddi by providing young aspirants of the sport with a platform to showcase their skills. By conducting multiple tournaments throughout the year, MKA identifies and
                            trains exceptional talent at the grass roots level to groom them for highest level of competition in the sport of Kabaddi.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span> 13th to 19th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span> 2nd December 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/KABADDI.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="text-center">
                <h2 class="color-orange text-up font-semi">RACQUET SPORTS</h2>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r10.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">BADMINTON</h2>
                        <p>Maharashtra Badminton Association works relentlessly towards the training and development of young talent at the grass roots level by creating more opportunities for athletes to compete. They are driven to build excellence in the
                            sport of Badminton by creating grass roots level opportunities for young athletes in the state of Maharashtra so that they can aim for higher accolades at National and International levels. </p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span>8th to 19th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span> 10th November 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/BADMINTON_SINGLES.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download singles form</button>
                            </a>
                            <a href="img/pdf/BADMINTON_DOUBLES.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download doubles form</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r11.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">TENNIS</h2>
                        <p>Being the sole controlling and governing body of Tennis in Maharashtra, the Maharashtra State Lawn Tennis Association is committed towards the development and proper conduct of the sport through multiple training facilities, coaching
                            camps and state, national and international level tournaments. Through relentless efforts towards the sport of Tennis, MSLTA aims at working at the grass roots level in order to identify and train athletes to excel in their
                            game and play the sport professionally.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span>8th to 19th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span> 19th November 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/TENNIS_SINGLES.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download singles form</button>
                            </a>
                            <a href="img/pdf/TENNIS_DOUBLES.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download doubles form</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r12.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 col-sm-8">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up  ">10th Novemberis</h2>
                        <p>All four district associations and Sports Reconnect, under the mentorship of Shri. Kamlesh Mehta, will come together to conduct the sport of Table Tennis at our tournament. They have been dedicated towards the development of Table
                            Tennis by providing training and infrastructure to groom the budding sports star. Their collective mission is to facilitate young aspirants at the grass roots level and help them take their game to the next level.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span>14th to 18th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span> 10th November 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/TABLE_TENNIS_SINGLES.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download singles form</button>
                            </a>
                            <a href="img/pdf/TABLE_TENNIS_DOUBLES.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download doubles form</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r13.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">Squash</h2>
                        <p>Indian Squash Professionals (ISP), a non-profit making organization, was formed by Mr. Mahendra Agarwal in 1993, with the sole aim of promoting the game of Squash in India. Ever since its inception, ISP has spread the game of squash
                            to the interiors of Maharashtra through coaching camps, tournaments and by building squash courts. The ultimate goal of ISP is to identify talent and foster competitive spirit amongst young squash athletes by supporting them
                            to participate in international events and eventually produce world squash champions from India.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span>2nd to 6th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span>19th November 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/SQUASH.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <h2 class="color-orange text-up font-semi">Combat Sports</h2>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r14.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">JUDO</h2>
                        <p>The Mumbai Judo Association regulates the activity of Judo in the State and is a member of the Judo Federation of India. The member district bodies hold tournaments as per the rules of the Judo Federation of India for their districts
                            and send the winners to the State Tournaments. As a result the State Tournaments held by the MJA yield the best teams for Mumbai and send them to the National Tournament. By a similar process the interstate tournaments at the
                            national level held by the JFI results in producing the team of the best players from India who participate in the international events.
                        </p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span>9th to 11th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span>26th November 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/JUDO.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <div class="image-box">
                        <img src="img/r15.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">TAEKWONDO</h2>
                        <p>The Taekwondo Association of Maharashtra is known for its efforts towards the development and progress of the combat sport of Taekwondo in the state of Maharashtra. The association has worked tirelessly to produce athletes who
                            have showcased outstanding talent at State as well as National level. Taekwondo Association of Maharashtra hopes to become a strong platform for children and youth to learn Taekwondo and thus achieve higher accolades in the
                            sport.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span> 14th To 15th of December</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span>26th November 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/TAEKWONDO.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r16.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">BOXING</h2>
                        <p>Maharashtra Boxing Association has produced many Boxing champions- Olympians, Asian Games Champions and Arjuna & Shivchhatrapati awardees, who have brought laurels for India at various prestigious international competitions. In
                            order to create champions, the association works tirelessly at the grass roots level through various coaching centers and tournaments to discover, train and uplift new talent in the field of Boxing.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span>8th to 12th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span>26th November 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/BOXING.pdf" target="_blank">

                                <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r17.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 col-sm-8">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">FENCING</h2>
                        <p>All four Fencing bodies have been making remarkable contricution to the development and promotion of the Olympic sport of Fencing in their respective districts. Right from providing the right training and equipment to guiding young
                            fencers to grow through competitive tournaments, the associations support aspiring young athletes in their ambition of achieving the highest accolades in the sport. The sport of Fencing at SFA Mumbai 2016 will be managed by
                            Mr. Kedar Dhawle of Fencers Sports Foundation.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span>10th to 13th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span>2nd December 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/FENCING.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r18.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">KARATE</h2>
                        <p>Academy of Self Defence is one of the biggest Martial Art academies in the city, having its affiliation from the Japan Karate-Do Federation Gojukai (JKF) in Japan. It is an Affiliated Member of the Karate Association of India (KAI),
                            recognised by the Indian Olympic Association Ministry of Sports & Youth Affairs. ASD believes in the development of all Self Defence sports and hopes to become the platform through which, young athletes can pursue as well excel
                            in the sport of their choice.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span>16th to 18th of December</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span>10th November 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/KARATE_KUMITE.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download Kumite form</button>
                            </a>
                            <a href="img/pdf/KARATE_KATA.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download kata form</button>
                            </a>
                            <a href="img/pdf/KARATE_TEAM_KUMITE.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download Team Kumite form</button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r19.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">SPORT MIXED MARTIAL ARTS</h2>
                        <p>All India Mixed Martial Art Association of India ensures that every promoter / association follows the strict guidelines laid down by the national board for safe practices, officials expertise and integrity and high standards of
                            athlete training. AIMMAA supervises every event in India by ensuring that they cover the mandatory policies of Heath Safety and Sport governance. All events conducted by AIMMAA in India are under direct permission from the
                            Ministry of Sports, Govt of India. In India the AIMMAA follows the policy "To protect the fighters and promote the sport".</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span>12th and 13th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span>19th November 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/SPORT_MMA.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <h2 class="color-orange text-up font-semi">TARGET SPORTS</h2>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r20.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi text-up ">SHOOTING</h2>
                        <p>Lakshya Shooting Club and Swatantryaveer Savarkar Air Rifle Club are pioneers in the Olympic sport of shooting in Mumbai. Both clubs promote sportsmanship and competition with training in rifle and pistol marksmanship. While Lakshya
                            shooters have regularly made their mark in the state and national championships, students of Swantraveer Savarkar Air Rifle Club too have won laurels for the state and the nation. The esteemed clubs will come together to conduct
                            the sport of Shooting at SFA Mumbai 2016.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span>5th to 19th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span>19th November 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/SHOOTING_INDIVIDUAL.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download Individual form</button>
                            </a>
                            <a href="img/pdf/SHOOTING_TEAM.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download team form</button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <div class="image-box">
                        <img src="img/r21.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 col-sm-8">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi ">ARCHERY</h2>
                        <p>Mumbai Archery Association has taken up the responsibility of making Archery accessible to students across Mumbai. Owing to their guidance and training, young athletes have been able to showcase their talent right from district
                            to international level. MAA hopes to identify and nurture an increasing number of students in the Olympics sport of Archery in the years to come. The sport of Archery at SFA Mumbai 2016 will be managed by Swapnil Parab of Arjuna
                            Sports.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span>15th to 18th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span>2nd December 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/ARCHERY.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <h2 class="color-orange text-up font-semi">AQUATICS</h2>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r22.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 col-sm-8">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi ">SWIMMING</h2>
                        <!-- <p>Mumbai Archery Association has taken up the responsibility of making Archery accessible to students across Mumbai. Owing to their guidance and training, young athletes have been able to showcase their talent right from district to international level. MAA hopes to identify and nurture an increasing number of students in the Olympics sport of Archery in the years to come. The sport of Archery at SFA Mumbai 2016 will be managed by Swapnil Parab of Arjuna Sports.</p> -->
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span>17th and 18th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span>10th December 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/SWIMMING.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download individual form</button>
                            </a>
                            <a href="img/pdf/SWIMMING_RELAY.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download relay form</button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <div class="image-box">
                        <img src="img/r26.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 col-sm-8">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi ">WATER POLO</h2>
                        <!-- <p>Mumbai Archery Association has taken up the responsibility of making Archery accessible to students across Mumbai. Owing to their guidance and training, young athletes have been able to showcase their talent right from district to international level. MAA hopes to identify and nurture an increasing number of students in the Olympics sport of Archery in the years to come. The sport of Archery at SFA Mumbai 2016 will be managed by Swapnil Parab of Arjuna Sports.</p> -->
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span>19th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span>10th December 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/Waterpolo.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <h2 class="color-orange text-up font-semi">INDIVIDUAL SPORTS</h2>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r27.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 col-sm-8">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi ">CARROM</h2>
                        <p>Maharashtra Carrom Association is continuously striving to develop, administer, encourage & promote Carrom in all respects through the dynamic management team delivering innovative thinking. While doing so, their sole priority
                            is to produce the best players for the country and to make the game of Carrom meet the highest standards ever in the sports arena.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span>15th to 18th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span>10th November 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/CARROM.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <div class="image-box">
                        <img src="img/r28.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 col-sm-8">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi ">CHESS</h2>
                        <p>The sport of Chess in Maharashtra has a long, rich and honourable history and the Thane District Chess Association has made a significant endeavour to not only keep the legacy alive, but to also churn out chess champions at the
                            grass roots level of the state in order to enable them to aspire for higher achievements in the sport.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span>10th to 13th December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span>26th November 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/CHESS.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download form</button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="same-sec">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="image-box">
                        <img src="img/r30.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 col-sm-8">
                    <div class="contain-box f15">
                        <h2 class="color-blue font-semi ">ATHLETICS</h2>
                        <p>Bombay City District Amateur Athletics Association, the governing body of Athletics Sports in Mumbai, is dedicatedly involved in the development of Athletics in Mumbai by the way of tournaments, training and talent scouting. They
                            provide the young athletes of the city the right platform and opportunities required to take their game to the next level.</p>
                        <div class="mt15">
                            <h4><span class="color-blue font-semi">Tournament Dates: </span> 28th November to 3rd December 2016</h4>
                            <h4><span class="color-blue font-semi">Venue : </span>Sports Authority Of India, Kandivali</h4>
                            <h4><span class="color-blue font-semi">Last day for student registration: </span>31st October 2016</h4>
                        </div>
                        <div class="float-right mt25">
                            <a href="img/pdf/ATHLETICS.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download individual form</button>
                            </a>
                            <a href="img/pdf/ATHLETICS_RELAY.pdf" target="_blank">
                                <button type="button" name="button" class="btn btn-outline text-up ml15">download relay form</button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <h4>* Dates may be subject to change</h4>
            </div>
        </div>
    </div>
</section>
