<section class="bottom-padding">
    <div class="sport-name-bg text-center">
        <h1 class="color-orange text-up font-semi margin0">Download Registration Forms <span><a ng-click="openVideo();"><img ng-src="img/plays.png" alt="video button" class="vid-min"></a></span></h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="mt25">
            <div class="btn-group btn-group-justified home-btn mt40" role="group" aria-label="...">
              <div class="btn1 btn-group">
                <div class="" role="group">
                    <button type="button" class="btn btn-orange btn-home text-up">Parent/Guardian Consent Form</button>

                </div>
                <div class="statement">
                  <p>Each Participant is requested to fill this form in order to take the consent of their parent/ guardian.</p>
                </div>
              </div>



            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="btn-group btn-group-justified home-btn mt40" role="group" aria-label="...">
          <div class="btn-group" role="group">
              <div class="" role="group">
              <button type="button" class="btn btn-orange btn-home text-up">School Registration Form</button>
            </div>
              <div class="statement">
                <p>School Authorities are requested to fill this form in order to register their school for SFA MUMBAI 2016.</p>
                <p>(<span class="color-blue font-semi">Last date for school registration:</span> 31st August 2016)</p>
              </div>
          </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="text-center mt25">
            <h1>All sports at SFA Mumbai 2016 will be conducted under the aegis of professional sporting partners.</h1>
          </div>
        </div>
      </div>
      <div class="same-sec">
      <div class="row">
        <div class="col-md-4">
          <div class="image-box">
            <img src="img/r1.jpg" alt="Sport For All" class="img-responsive banner-set sf-absulate">
          </div>
        </div>
        <div class="col-md-8">
          <div class="contain-box">
            <h2 class="color-blue font-semi ">Handball</h2>
            <p>Having a strong presence at the grass roots level in the city, Mumbai Handball Academy has made significant efforts to take the Olympic sport of Handball to the next level. While abundant talent exists at the inter-school level, Handball requires the right platform for the young athletes to showcase their talent at national and international sporting events. The Mumbai Handball Academy hopes to bridge the gap in the years to come.</p>
            <div class="mt15">
              <h4><span class="color-blue">Tournament Dates: </span> 8th to 19th December 2016</h4>
              <h4><span class="color-blue">Venue : </span> D.Y. Patil Sports Academy, Nerul</h4>
              <h4><span class="color-blue">Last day for student registration: </span>30th September 2016</h4>
            </div>
            <div class="float-right mt25">
              <button type="button" name="button" class="btn btn-outline text-up">know more</button>
              <button type="button" name="button" class="btn btn-outline text-up ml15">download</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
