<section class="bottom-padding">
    <div class="sport-name-bg text-center">
        <h1 class="color-orange text-up font-semi margin0" ng-if="league.sport">{{league.sport.sportslist.name}} <span ng-if="league.sport.firstcategory"> | {{league.sport.firstcategory.name}}</span><span ng-if="league.sport.secondcategory"> | {{league.sport.secondcategory.name}}</span> | {{league.sport.gender}} | {{league.sport.agegroup.name}}</h1>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="text-center mt40">
                    <h2 class="color-blue font-semi text-up">league</h2>
                </div>
            </div>

            <div class="box-content bx-mob">
                <div class="row main-over">
                  <div class="text-center mt25 " ng-if="!(league.leagues.length > 0)">
                    <h3>{{league.leagues === undefined && 'Loading ..' || 'No League Found.'}}</h3>
                  </div>
                    <div class="col-md-12"  ng-if="league.standings.length > 0">
                        <div class="text-center">
                            <h3 class="color-orange font-semi text-up">standings</h3>
                        </div>
                        <div class="final-table w700 text-l">
                            <table class="table">
                                <thead>
                                    <tr class="bg-table color-orange font-semi text-up f16">
                                        <th>position</th>
                                        <th>participant</th>
                                        <th>matches</th>
                                        <th>won</th>
                                        <th>lost</th>
                                        <th>points</th>

                                    </tr>
                                </thead>
                                <tbody class="text-up" >
                                    <tr ng-repeat="winner in league.standings | orderBy:'-point'">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td>
                                          <a ng-click="profiles(winner.participantType,winner.participant._id)">
                                              <div class="display-inline ver-base round-img">
                                                  <img ng-src="{{winner.participantType == 'player' && (winner.participant.profilePic| uploadpath) || (winner.participant.school.logo | uploadpath)}}" alt="" class="w25">
                                              </div>
                                              <div class="display-inline ver-mid">{{winner.participant.name || '-'}}</div>
                                          </a>
                                        </td>
                                        <td class="text-center">{{winner.matches || '0'}}</td>
                                        <td class="text-center">{{winner.Won || '0'}}</td>
                                        <td class="text-center">{{winner.Loss || '0'}}</td>
                                        <td class="text-center">{{winner.point || '0'}}</td>
                                    </tr>
                                  </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr ng-if="league.leagues.length > 0">
                <div class="row main-over" ng-if="league.leagues.length > 0">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3 class="font-semi color-orange text-up">match details</h3>
                        </div>
                        <div class="final-table w700 text-l">
                            <table class="table">
                                <thead>
                                    <tr class="bg-table color-orange font-semi text-up f16">
                                        <th>match no.</th>
                                        <th>Participant A</th>
                                        <th>|</th>
                                        <th>participant B</th>
                                        <th>score</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody class="text-up">
                                    <tr ng-repeat="item in (feedLoader = (league.leagues | limitTo:feedLimit)) track by $index">
                                        <td class="text-center">{{$index+1}}</td>
                                        <td>
                                          <a ng-click="profiles(item.participantType,item[item.participantType+'1']._id)">
                                              <div class="display-inline ver-base round-img">
                                                  <img ng-src="{{item.participantType == 'player' && (participant.player1.profilePic| uploadpath) || (item[item.participantType+'1'].school.logo | uploadpath)}}" alt="" class="w25">
                                              </div>
                                              <div class="display-inline ver-mid">{{item[item.participantType+'1'].name || '-'}}</div>
                                          </a>
                                        </td>
                                        <td></td>
                                        <td>
                                          <a ng-click="profiles(item.participantType,item[item.participantType+'2']._id)">
                                              <div class="display-inline ver-base round-img">
                                                  <img ng-src="{{item.participantType == 'player' && (item.player2.profilePic| uploadpath) || (item[item.participantType+'2'].school.logo | uploadpath)}}" alt="" class="w25">
                                              </div>
                                              <div class="display-inline ver-mid">{{item[item.participantType+'2'].name || '-'}}</div>
                                          </a>
                                        </td>
                                        <td>
                                          {{item.score}}
                                        </td>
                                        <td>
                                            <a ng-if="item.video" class="various fancybox.iframe" href="http://www.youtube.com/embed/{{item.video}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1" rel="gallery1" fancybox><img src="img/sf-play.png" alt=""></a>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <div class="mt30 text-center" ng-if="!(feedLoader.length >= league.leagues.length)">
                            <button type="button" name="button" class="btn-outline text-up padding15" ng-click="loadMore()">view more</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>
