<section>
    <div class="banner sf-relative">
        <img src="img/sf-school-profile.png" alt="" class="img-responsive width100">
        <div class="sf-absulate banner-set">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="sf-school-logo sf-relative text-center">
                            <img src="img/sf-school-profile-big.png" alt="">
                            <div class="sigh-second sf-absulate">
                                <img src="img/sf-right-big.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="sf-school-data">
                            <div class="scl-title display-inline">
                                <h3 class="color-orange font-semi">DHIRUBHAI AMBANI INTERNATIONAL SCHOOL</h3>
                            </div>
                            <div class="display-inline cup">
                                <img src="img/sf-cup.png" alt="">
                            </div>
                        </div>
                        <div class="data-list custom-li color-white display-inline mt15">
                            <ul class="padding0 sf-list-padding">
                                <li class="border-right-1">
                                    <div class="">
                                        <span class="">CONTINGENT STRENGTH</span>
                                    </div>
                                    <ul class="padding0 pad-line mt15">
                                        <li>
                                            <div class="sto-pro-list">
                                                <img src="img/sf-boys.png" alt="">80
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sto-pro-list display-inline">
                                                <img src="img/sf-girl.png" alt="">50
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sto-pro-list total display-inline">
                                                50
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="border-right-1">
                                    <div class="display-inline text-up text-center">
                                        <p>2015 rank</p>
                                        <p class="total display-inline mt5">15</p>
                                    </div>
                                    <div class="stu-data display-inline text-up text-center">
                                        <p>2016 rank</p>
                                        <p class="total display-inline mt5">4</p>
                                    </div>
                                </li>
                                <li class="border-right-1">

                                    <div class="stu-data text-center sf-list">
                                        <span class="text-center text-up">Medals Won</span>

                                        <ul class="padd-left padding0 mt5">
                                            <li>
                                                <div class="medal-num">
                                                    <div class="img-medal display-inline">
                                                        <img src="img/sf-gold-big.png" alt="">
                                                    </div>
                                                    <div class="display-inline">
                                                        <p class="margin0 color-orange text-center">2</p>
                                                        <p class="margin0">Gold</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="medal-num">
                                                    <div class="img-medal display-inline ">
                                                        <img src="img/sf-silver-big.png" alt="">
                                                    </div>
                                                    <div class="display-inline">
                                                        <p class="margin0 color-orange text-center">2</p>
                                                        <p class="margin0">Silver</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="medal-num">
                                                    <div class="img-medal display-inline">
                                                        <img src="img/sf-bronze-big.png" alt="">
                                                    </div>
                                                    <div class="display-inline">
                                                        <p class="margin0 color-orange text-center">2</p>
                                                        <p class="margin0">Bronze</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                            </ul>
                        </div>


                        <div class="btn-common">
                            <button type="button" name="button" class="text-up btn-orange padd-btn" ui-sref="school-bio">school bio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="bottom-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h3 class="color-blue text-up font-semi">school bio</h3>
                </div>
                <div class="text-center mt25">
                    <div class="tab-list sf-list text-up">
                        <ul class="padding0 margin0">
                            <li><a href="" ng-click="tabchange('about',1)" class="{{classa}}">
about school
</a></li>
                            <li><a href="" ng-click="tabchange('record',2)" class="{{classb}}">
sfa track record
</a></li>
                            <li><a href="" ng-click="tabchange('gallery',3)" class="{{classc}}">
gallery
</a></li>
                            <li><a href="" ng-click="tabchange('blog',4)" class="{{classd}}">
school’s blog
</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-content">
                    <div class="about-school" ng-show="tab=='about'">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10">
                                <div class="school-about text-up font-semi f16 mt40">
                                    <p><span>Name:</span>dhirubhai ambani intertional schoo</p>
                                    <p><span>sfa id:</span>28736</p>
                                    <p><span>Address:</span>13th floor, pancharatna towers, charni road, mumbai.</p>
                                    <p><span>board:</span>gcse (intertional board)</p>
                                    <p><span>status:</span>verified</p>
                                    <p><span>c. l. 2016:</span>manav mehta</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="text-center">
                                <h3 class="color-blue text-up font-semi">sports department</h3>
                            </div>
                            <div class="box-margin">


                                <div class="col-md-6" ng-repeat="data in student track by $index">
                                    <div class="row mt15 school-boxs margin15">
                                        <a href="">
                                            <div class="">
                                                <div class="col-md-6">
                                                    <div class="student-pro-img text-center">
                                                        <img ng-src="{{data.icon}}" alt="" class="img-responsive margin-auto">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 text-center">
                                                    <div class="student-pro-data text-up mt40">
                                                        <h4 class="color-orange font-semi">{{data.name}}</h4>
                                                        <h4 class="color-blue">{{data.dep}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="record" ng-show="tab=='record'">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-8">
                                <div class="record-table">
                                    <table class="tables text-up">
                                        <thead>
                                            <tr>
                                                <th>
                                                    year
                                                </th>
                                                <th class="color-orange">
                                                    2015
                                                </th>
                                                <th class="color-orange">
                                                    2016
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            <tr>
                                                <td>
                                                    rank
                                                </td>
                                                <td>
                                                    3
                                                </td>
                                                <td>
                                                    3
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    sports co-ordinator
                                                </td>
                                                <td>
                                                    rahul sharma
                                                </td>
                                                <td>
                                                    rahul sharma
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    contingent leader
                                                </td>
                                                <td>
                                                    rahul sharma
                                                </td>
                                                <td>
                                                    rahul sharma
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    contingent strenght
                                                </td>
                                                <td>
                                                    <div class="sf-list">
                                                        <ul class="padding0 pad-line margin0">
                                                            <li class="pl0">
                                                                <div class="sto-pro-list">
                                                                    <img src="img/sf-boys-blue.png" alt="">80
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="sto-pro-list display-inline">
                                                                    <img src="img/sf-girl-blue.png" alt="">50
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="sto-pro-list total-count display-inline">
                                                                    50
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="sf-list">
                                                        <ul class="padding0 pad-line margin0">
                                                            <li class="pl0">
                                                                <div class="sto-pro-list">
                                                                    <img src="img/sf-boys-blue.png" alt="">80
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="sto-pro-list display-inline">
                                                                    <img src="img/sf-girl-blue.png" alt="">50
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="sto-pro-list total-count display-inline">
                                                                    50
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    sports participated
                                                </td>
                                                <td class="text-underline">
                                                    <a href="" class="color-orange" ng-click="open('sm')">9</a>
                                                </td>
                                                <td class=" text-underline">
                                                    <a href="" class="color-orange">9</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    medals tally
                                                </td>
                                                <td>
                                                    <div class="sf-list">
                                                        <ul class="padd-left padding0 margin0">
                                                            <li class="pl0">
                                                                <div class="medal-num">
                                                                    <div class="img-medal display-inline">
                                                                        <img src="img/sf-gold-sec.png" alt="">
                                                                    </div>
                                                                    <div class="display-inline">
                                                                        <p class="margin0 color-blue text-center">2</p>

                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="medal-num">
                                                                    <div class="img-medal display-inline ">
                                                                        <img src="img/sf-silver-sec.png" alt="">
                                                                    </div>
                                                                    <div class="display-inline">
                                                                        <p class="margin0 color-blue text-center">2</p>

                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="medal-num">
                                                                    <div class="img-medal display-inline">
                                                                        <img src="img/sf-bronze-sec.png" alt="">
                                                                    </div>
                                                                    <div class="display-inline">
                                                                        <p class="margin0 color-blue text-center">2</p>

                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="sf-list">
                                                        <ul class="padd-left padding0 margin0">
                                                            <li class="pl0">
                                                                <div class="medal-num">
                                                                    <div class="img-medal display-inline">
                                                                        <img src="img/sf-gold-sec.png" alt="">
                                                                    </div>
                                                                    <div class="display-inline">
                                                                        <p class="margin0 color-blue text-center">2</p>

                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="medal-num">
                                                                    <div class="img-medal display-inline ">
                                                                        <img src="img/sf-silver-sec.png" alt="">
                                                                    </div>
                                                                    <div class="display-inline">
                                                                        <p class="margin0 color-blue text-center">2</p>

                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="medal-num">
                                                                    <div class="img-medal display-inline">
                                                                        <img src="img/sf-bronze-sec.png" alt="">
                                                                    </div>
                                                                    <div class="display-inline">
                                                                        <p class="margin0 color-blue text-center">2</p>

                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    total points
                                                </td>
                                                <td>
                                                    38
                                                </td>
                                                <td>
                                                    38
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="text-center">
                                <h3 class="color-blue text-up font-semi">Accolades sfa mumbai 2016</h3>
                            </div>
                            <div class="col-md-12">
                                <div class="accrordian mt25">
                                    <uib-accordion close-others="oneAtATime" class="text-up text-center ">
                                        <uib-accordion-group heading="special awards" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                                            <p class="color-base f16">best contingent leader : <span class="color-blue font-semi"> Manav mehta</span></p>
                                        </uib-accordion-group>
                                        <uib-accordion-group heading="sfa records">
                                            <p class="color-base f16">best contingent leader : <span class="color-blue font-semi"> Manav mehta</span></p>
                                        </uib-accordion-group>

                                        <uib-accordion-group heading="analytics">
                                            <p class="color-base f16">best contingent leader : <span class="color-blue font-semi"> Manav mehta</span></p>
                                        </uib-accordion-group>

                                    </uib-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery" ng-show="tab=='gallery'">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-3">
                                <h4 class="text-up color-blue display-inline">sport</h4>
                                <div class="display-inline">
                                    <div class="sfa-select">
                                        <select class="select">
                                            <option value="All">All</option>
                                            <option value="Table Tennis">Table Tennis</option>
                                            <option value="squash">squash</option>
                                            <option value="swimming">swimming</option>
                                        </select>
                                        <span class="only-border"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h4 class="text-up color-blue display-inline">year</h4>
                                <div class="display-inline">
                                    <div class="sfa-select">
                                        <select class="select" >
                                            <option value="2016">2016</option>
                                            <option value="2016">2016</option>
                                            <option value="2016">2016</option>
                                            <option value="2016">2016</option>
                                        </select>
                                        <span class="only-border"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="text-center mt25">
                                <div class="tab-list sf-list text-up">
                                    <ul class="padding0 margin0">
                                        <li><a href="" ng-click="tabchanges('photos',1)" class="{{classp}}">
photos
</a></li>
                                        <li><a href="" ng-click="tabchanges('videos',2)" class="{{classv}}">
match videos
</a></li>

                                    </ul>
                                </div>
                                <hr class="hr-padding">
                            </div>
                        </div>
                        <div class="row" ng-show="tabs=='photos'">
                            <div class="col-md-3 mt15" ng-repeat="data in photos track by $index">
                                <a href="{{data}}" fancybox-box><img ng-src="{{data}}" alt="" class="img-responsive width100"></a>
                            </div>
                        </div>

                        <div class="row mt25" ng-show="tabs=='videos'">
                            <div class="col-md-4 mt25" ng-repeat="data in video track by $index">
                                <a class="various fancybox.iframe" fancybox href="http://www.youtube.com/embed/pIPashZ8S2Q?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1">
                                    <div class="videow-box">
                                        <div class="video-img">
                                            <img ng-src="{{data.icon}}" alt="" class="img-responsive width100">
                                        </div>
                                        <div class="video-name">
                                            <h4 class="text-up color-blue font-semi">{{data.name}}</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="blogs" ng-show="tab=='blog'">
                        <div class="row">
                            <div class="text-center">
                                <h3 class="color-blue text-up font-semi">school’s blog</h3>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-offset-3 col-md-3">
                                <h4 class="text-up color-blue display-inline">month</h4>
                                <div class="display-inline">
                                    <div class="sfa-select">
                                        <select class="select" >
                                            <option value="All">All</option>
                                            <option value="2016">Table Tennis</option>
                                            <option value="2016">squash</option>
                                            <option value="2016">swimming</option>
                                        </select>
                                        <span class="only-border"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h4 class="text-up color-blue display-inline">year</h4>
                                <div class="display-inline">
                                    <div class="sfa-select">
                                        <select class="select" >
                                            <option value="2016">2016</option>
                                            <option value="2016">2016</option>
                                            <option value="2016">2016</option>
                                            <option value="2016">2016</option>
                                        </select>
                                        <span class="only-border"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row mt20">
                            <div class="box-blog school-boxs display-inline">
                                <div class="col-md-4">
                                    <div class="blog-img">
                                        <img src="img/sf-blog1.jpg" alt="" class="img-responsive width100">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="blog-content">
                                        <div class="blog-title">
                                            <h4 class="color-blue font-semi text-up">winner at dso basketball championship</h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                        </div>
                                        <div class="blog-footer float-right">
                                            <p>- <span class="font-semi">Manav Mehta</span> (10th June, 2016)</p>
                                            <div class="blog-share float-right">
                                                <div class="display-inline">
                                                    <span class="font-semi color-blue f16">Share: </span>
                                                </div>
                                                <div class="display-inline sf-share">
                                                    <span><a href=""><i class="fa fa-facebook"></i></a></span> <span><a href=""><i class="fa fa-twitter"></i></a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt20">
                            <div class="box-blog school-boxs display-inline">
                                <div class="col-md-4">
                                    <div class="blog-img">
                                        <img src="img/sf-blog2.jpg" alt="" class="img-responsive width100">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="blog-content">
                                        <div class="blog-title">
                                            <h4 class="color-blue font-semi text-up">winner at dso basketball championship</h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                        </div>
                                        <div class="blog-footer float-right">
                                            <p>- <span class="font-semi">Manav Mehta</span> (10th June, 2016)</p>
                                            <div class="blog-share float-right">
                                                <div class="display-inline">
                                                    <span class="font-semi color-blue f16">Share: </span>
                                                </div>
                                                <div class="display-inline sf-share">
                                                    <span><a href=""><i class="fa fa-facebook"></i></a></span> <span><a href=""><i class="fa fa-twitter"></i></a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
