<section>
    <div class="banner sf-relative">
        <img src="img/sf-school-profile.png" alt="" class="img-responsive">
        <div class="sf-absulate banner-set">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="sf-school-logo sf-relative text-center">
                            <img src="img/sf-school-profile-big.png" alt="">
                            <div class="sigh-second sf-absulate">
                                <img src="img/sf-right-big.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="sf-school-data">
                            <div class="scl-title display-inline">
                                <h3 class="color-orange font-semi">DHIRUBHAI AMBANI INTERNATIONAL SCHOOL</h3>
                            </div>
                            <div class="display-inline cup">
                                <img src="img/sf-cup.png" alt="">
                            </div>
                        </div>
                        <div class="data-list custom-li color-white display-inline mt15">
                            <ul class="padding0 sf-list-padding">
                                <li class="border-right-1">
                                    <div class="">
                                        <span class="">CONTINGENT STRENGTH</span>
                                    </div>
                                    <ul class="padding0 pad-line mt15">
                                        <li>
                                            <div class="sto-pro-list">
                                                <img src="img/sf-boys.png" alt="">80
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sto-pro-list display-inline">
                                                <img src="img/sf-girl.png" alt="">50
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sto-pro-list total display-inline">
                                                50
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="border-right-1">
                                    <div class="display-inline text-up text-center">
                                        <p>2015 rank</p>
                                        <p class="total display-inline mt5">15</p>
                                    </div>
                                    <div class="stu-data display-inline text-up text-center">
                                        <p>2016 rank</p>
                                        <p class="total display-inline mt5">4</p>
                                    </div>
                                </li>
                                <li class="border-right-1">

                                    <div class="stu-data text-center sf-list">
                                        <span class="text-center text-up">Medals Won</span>

                                        <ul class="padd-left padding0 mt5">
                                            <li>
                                                <div class="medal-num">
                                                    <div class="img-medal display-inline">
                                                        <img src="img/sf-gold-big.png" alt="">
                                                    </div>
                                                    <div class="display-inline">
                                                        <p class="margin0 color-orange text-center">2</p>
                                                        <p class="margin0">Gold</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="medal-num">
                                                    <div class="img-medal display-inline ">
                                                        <img src="img/sf-silver-big.png" alt="">
                                                    </div>
                                                    <div class="display-inline">
                                                        <p class="margin0 color-orange text-center">2</p>
                                                        <p class="margin0">Silver</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="medal-num">
                                                    <div class="img-medal display-inline">
                                                        <img src="img/sf-bronze-big.png" alt="">
                                                    </div>
                                                    <div class="display-inline">
                                                        <p class="margin0 color-orange text-center">2</p>
                                                        <p class="margin0">Bronze</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                            </ul>
                        </div>


                        <div class="btn-common">
                            <button type="button" name="button" class="text-up btn-orange padd-btn">school bio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
