<section>
    <div class="banner sf-relative my-banner">
        <!-- <img src="img/new-banner.png" alt="" class="img-responsive width100"> -->
      <div class="p100 p1002">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="sf-school-logo sf-relative text-center border-r">
                            <img ng-src="{{getSchoolProfile.logo|uploadpath}}" alt="">
                            <!-- <img src="img/sf-school-profile-big.png" alt=""> -->
                            <div class="sigh-second sf-absulate">
                                <img ng-show="getSchoolProfile.status" ng-src="img/sf-right-big.png"  alt="" class="w30-main">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-xs-12 col-sm-9 text-c-m">
                        <div class="sf-school-data">
                            <div class="scl-title display-inline">
                                <h3 class="color-orange font-semi">{{getSchoolProfile.name}}</h3>
                            </div>
                            <!-- <div class="display-inline cup">
                                <img src="img/sf-cup.png" alt="">
                            </div> -->
                        </div>
                        <div class="data-list custom-li color-white display-inline mt15 text-c-m">
                            <ul class="padding0 sf-list-padding">
                                <li class="border-right-1">
                                    <div class="">
                                        <span class="">CONTINGENT STRENGTH {{filter.year}}</span>
                                    </div>
                                    <ul class="padding0 pad-line mt15">
                                        <li>
                                            <div class="sto-pro-list">
                                                <img src="img/sf-boys.png" alt="">{{schooldata.Boys || 0}}
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sto-pro-list display-inline">
                                                <img src="img/sf-girl.png" alt="">{{schooldata.Girls || 0}}
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sto-pro-list total display-inline">
                                                {{ schooldata.Boys + schooldata.Girls }}
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="border-right-1">
                                    <div class="display-inline text-up text-center">
                                        <p>{{filter.year}} rank</p>
                                        <p class="total display-inline mt5">15</p>
                                    </div>
                                    <!-- <div class="stu-data display-inline text-up text-center">
                                        <p>2016 rank</p>
                                        <p class="total display-inline mt5">4</p>
                                    </div> -->
                                </li>
                                <li class="border-right-1 hidden-xs">
                                    <div class="stu-data text-center sf-list">
                                        <span class="text-center text-up">Medals Won</span>
                                        <ul class="padd-left padding0 mt5">
                                            <li>
                                                <div class="medal-num">
                                                    <div class="img-medal display-inline">
                                                        <img src="img/sf-gold-big.png" alt="">
                                                    </div>
                                                    <div class="display-inline">
                                                        <p class="margin0 color-orange text-center">2</p>
                                                        <p class="margin0">Gold</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="medal-num">
                                                    <div class="img-medal display-inline ">
                                                        <img src="img/sf-silver-big.png" alt="">
                                                    </div>
                                                    <div class="display-inline">
                                                        <p class="margin0 color-orange text-center">2</p>
                                                        <p class="margin0">Silver</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="medal-num">
                                                    <div class="img-medal display-inline">
                                                        <img src="img/sf-bronze-big.png" alt="">
                                                    </div>
                                                    <div class="display-inline">
                                                        <p class="margin0 color-orange text-center">2</p>
                                                        <p class="margin0">Bronze</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sf-list ptop-per hidden-md hidden-lg hidden-sm">
                            <span class="text-center text-up color-orange">Medals Won</span>
                            <ul class="padd-left padding0 mt5 second-border">
                                <li>
                                    <div class="medal-num">
                                        <div class="img-medal display-inline">
                                            <img src="img/sf-gold-big.png" alt="">
                                        </div>
                                        <div class="display-inline">
                                            <p class="margin0 color-orange text-center">2</p>
                                            <p class="margin0 color-white">Gold</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="medal-num">
                                        <div class="img-medal display-inline ">
                                            <img src="img/sf-silver-big.png" alt="">
                                        </div>
                                        <div class="display-inline">
                                            <p class="margin0 color-orange text-center">2</p>
                                            <p class="margin0 color-white">Silver</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="medal-num">
                                        <div class="img-medal display-inline">
                                            <img src="img/sf-bronze-big.png" alt="">
                                        </div>
                                        <div class="display-inline">
                                            <p class="margin0 color-orange text-center">2</p>
                                            <p class="margin0 color-white">Bronze</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-common m40-main">
                            <button type="button" name="button" class="text-up btn-orange padd-btn" ui-sref="school-bio({id:getSchoolProfile._id})">school bio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sf-absulate spon" ng-if="getSchoolProfile.supportedBy">
            <div class="">
                <span class="color-orange text-cap f16">Supported by: <img src="img/menulogo.jpg" alt="" class="w40"></span>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="bottom-padding">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h4 class="color-blue text-up font-semi">sports participated</h4>
            </div>
            <div class="mt-min-38">
                <div class="float-right">
                    <h4 class="text-up color-blue display-inline">Year</h4>
                    <div class="display-inline">
                        <div class="sfa-select">
                            <select class="select" ng-model="filter.year" ng-change = "changeYear()">
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>

                            </select>
                            <span class="only-border"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-10">
                <div class="sport-slider mt40">
                  <flex-slider class="carousel" flex-slide="sportDetails in sportsStudentGender track by $index" animation="slide" item-width="140" item-margin="60">
                      <li>
                          <a href="">
                              <div class="sports-participate text-center">
                                  <!-- <img ng-if="sportDetails._id.name !== filter.sport" ng-src="{{sportDetails._id.inactiveimage | uploadpath}}" alt="" class="img-responsive image-width"
                                  ng-click="showHide(sportDetails._id.name)">
                                  <img ng-if="sportDetails._id.name == filter.sport" ng-src="{{sportDetails._id.image | uploadpath}}" alt="" class="img-responsive image-width"
                                  ng-click="showHide(sportDetails._id.name)"> -->
                                  <img ng-src="{{ sportDetails._id.name !== filter.sport && (sportDetails._id.inactiveimage | uploadpath) || (sportDetails._id.image  | uploadpath)}}" alt="" class="img-responsive image-width"
                                  ng-click="showHide(sportDetails._id.name)">
                                  <span class="color-base text-up f16 mt10">{{sportDetails._id.name}}</span>
                                  <div class="combine mt10">
                                      <div class="boy-sec display-inline color-base icon-right">
                                          <img ng-src="img/sf-boys-mini.png" alt="">{{ sportDetails.Boys || 0 }}
                                      </div>
                                      <div class="boy-sec display-inline color-base icon-left">
                                          <img ng-src="img/sf-girl-mini.png" alt="">{{ sportDetails.Girls || 0 }}
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </li>
                  </flex-slider>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mt40">
            <div class="col-md-12 ">
                <div class=" text-center">
                    <h3 class="font-semi color-blue margin0">CONTINGENT STRENGTH {{filter.year}}</h3>
                    <div class="sf-list">
                    <ul class="padding0 pad-line mt15 ">
                        <li>
                            <div class="sto-pro-list">
                                <img src="img/sf-boys-mini.png" alt="">80
                            </div>
                        </li>
                        <li>
                            <div class="sto-pro-list display-inline">
                                <img src="img/sf-girl-mini.png" alt="">50
                            </div>
                        </li>
                        <li>
                            <div class="sto-pro-list total display-inline" style="border: 1px solid #bbb;">
                                50
                            </div>
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="mt-min-30">
                    <div class="float-right">
                        <h4 class="text-up color-blue display-inline">Year</h4>
                        <div class="display-inline">
                            <div class="sfa-select">
                                <select class="select" ng-model="filter.year" ng-change = "changeYear()">
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                </select>
                                <span class="only-border"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mt15" ng-repeat="data in student track by $index">
                <a href="">
                    <div class="school-sec">
                      <img src="img/sf-cl.png" alt="" class="mt-min-18">
                        <div class="stu-img text-center sf-relative">
                            <img ng-src="{{data.icon}}" alt="">
                            <div class="sigh-pro sf-absulate">
                                <img src="img/sf-right.png" alt="">
                            </div>
                        </div>
                        <div class="stu-name text-center">
                            <h4 class="color-orange text-up font-semi">{{data.name}}</h4>
                        </div>
                        <div class="stu-id text-center">
                            <h4 class="color-blue">SFA ID: {{data.id}}</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- when user select any sports -->
    <section ng-show="sportContingent.showContingent">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <div class="tab-list sf-list text-up">
                            <ul class="padding0 margin0">
                                <li><a href="" ng-click="tabchange('player',1)" class="{{classa}}">player</a></li>
                                <li><a href="" ng-click="tabchange('match',2)" class="{{classb}}">match-videos</a></li>
                                <li><a href="" ng-click="tabchange('statistics',3)" class="{{classc}}">statistics</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box-content bx-mob">
                        <div class="player" ng-show="tab=='player'">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-3 col-sm-4 col-xs-12 text-c-m">
                                    <h4 class="text-up color-blue display-inline">Year</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <select class="select" ng-change="callReload();" ng-model="callObject.year" ng-options="item for item in allYears">
                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 text-c-m">
                                    <h4 class="text-up color-blue display-inline">gender</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <select class="select" ng-change="callReload();" ng-model="callObject.gender" ng-options="item.value as item.name for item in gender">
                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 text-c-m">
                                    <h4 class="text-up color-blue display-inline">age group</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <select class="select" ng-change="callReload();" ng-model="callObject.agegroup" ng-options="item.name as item.name for item in agegroup">
                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt25">
                                <div class="col-md-3 mt15" ng-repeat="data in students.student" ng-if="students.student.length > 0">
                                    <a href="">
                                        <div class="school-sec">
                                            <img ng-src="img/sf-cl.png" alt="" class="mt-min-18" ng-if="data.isCl">
                                            <div class="stu-img text-center sf-relative">
                                                <img ng-src="{{data.profilePic | uploadpath}}" alt="">
                                                <!-- <div class="sigh-pro sf-absulate">
                                                    <img src="img/sf-right.png" alt="">
                                                </div> -->
                                            </div>
                                            <div class="stu-name text-center">
                                                <h4 class="color-orange text-up font-semi">{{data.name}}</h4>
                                            </div>
                                            <div class="stu-id text-center">
                                                <h4 class="color-blue">SFA ID: {{data.sfaid}}</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div ng-if="students.student.length <= 0 ">
                                    <h1 class="text-center">No Data Found.</h1>
                                </div>
                            </div>
                        </div>
                        <div class="match-video" ng-show="tab=='match'">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-3 col-sm-4 col-xs-12 text-c-m">
                                    <h4 class="text-up color-blue display-inline">Year</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <select class="select">
                                                <option value="2016">2016</option>
                                                <option value="2016">2016</option>
                                                <option value="2016">2016</option>
                                                <option value="2016">2016</option>
                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 text-c-m">
                                    <h4 class="text-up color-blue display-inline">gender</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <select class="select">
                                                <option value="ALL">ALL</option>
                                                <option value="Male">Male</option>
                                                <option value="female">female</option>

                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 text-c-m">
                                    <h4 class="text-up color-blue display-inline">age group</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <select class="select">
                                                <option value="ALL">ALL</option>
                                                <option value="U-16">U-16</option>
                                                <option value="U-19">U-19</option>
                                                <option value="U-21">U-21</option>
                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt25">
                                <div class="col-md-3 mt25" ng-repeat="data in video track by $index">
                                    <a class="various fancybox.iframe" rel="gallery1" fancybox href="http://www.youtube.com/embed/pIPashZ8S2Q?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1">
                                        <div class="videow-box">
                                            <div class="video-img">
                                                <img ng-src="{{data.icon}}" alt="" class="img-responsive width100">
                                            </div>
                                            <div class="video-name">
                                                <h5 class="text-up color-blue font-semi">{{data.name}}</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="statistics " ng-show="tab=='statistics'">
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-12 text-c-m">
                                    <h4 class="text-up color-blue display-inline">Year</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <select class="select">
                                                <option value="2016">2016</option>
                                                <option value="2016">2016</option>
                                                <option value="2016">2016</option>
                                                <option value="2016">2016</option>
                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                              <div class="col-md-3 col-sm-4 col-xs-12 text-c-m">
                                    <h4 class="text-up color-blue display-inline">gender</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <select class="select">
                                                <option value="ALL">ALL</option>
                                                <option value="Male">Male</option>
                                                <option value="Male">Male</option>

                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 text-c-m">
                                    <h4 class="text-up color-blue display-inline">age group</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <select class="select">
                                                <option value="ALL">ALL</option>
                                                <option value="U-16">U-16</option>
                                                <option value="U-19">U-19</option>
                                                <option value="U-21">U-21</option>
                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 text-c-m">
                                    <h4 class="text-up color-blue display-inline">category</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <select class="select">
                                                <option value="ALL">ALL</option>
                                                <option value="U-16">U-16</option>
                                                <option value="U-19">U-19</option>
                                                <option value="U-21">U-21</option>
                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt25 main-over">
                                <div class="col-md-12 mt25">
                                    <div class="table-statistics w700">
                                        <table class="table">
                                            <thead>
                                                <tr class="text-up color-white bg-table">
                                                    <th>
                                                        <span>year</span>
                                                    </th>
                                                    <th>
                                                        <span>CATEGORY</span>
                                                    </th>
                                                    <th>
                                                        <span>ROUND</span>
                                                    </th>
                                                    <th>
                                                        <span>STUDENT NAME</span>
                                                    </th>
                                                    <th>
                                                        <span>OPPONENT NAME</span>
                                                    </th>
                                                    <th>
                                                        <span>score</span>
                                                    </th>
                                                    <th>
                                                        <span>match videos</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><span>2016</span></td>
                                                    <td><span class="text-up">U-10 <br> GIRLS <br> SINGLES</span></td>
                                                    <td><span class="text-up">ROUND-ROBIN</span></td>
                                                    <td class="text-up">Soheb Shaikh</td>
                                                    <td class="text-up"><img src="img/sf-cup-mini.png" alt="" class="table-img">Rahul Patil
                                                        <p>Don Bosco School</p>
                                                    </td>
                                                    <td>
                                                        <div class="table-data display-inline text-center text-up score-1st">

                                                            <ul class="padding0 list-style">
                                                                <li>5</li>
                                                                <li>&ndash;</li>
                                                                <li>11</li>
                                                            </ul>
                                                        </div>
                                                        <div class="table-data display-inline text-center text-up score-1st">

                                                            <ul class="padding0 list-style">
                                                                <li>5</li>
                                                                <li>&ndash;</li>
                                                                <li>11</li>
                                                            </ul>
                                                        </div>
                                                        <div class="table-data display-inline text-center text-up score-1st">

                                                            <ul class="padding0 list-style">
                                                                <li>5</li>
                                                                <li>&ndash;</li>
                                                                <li>11</li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td class="sf-relative">
                                                        <div class="text-center display-inline ver-mid main-pos sf-absulate">
                                                            <div class="replay-img  ">
                                                                <a href=""><img src="img/sf-play.png" alt=""></a>
                                                            </div>
                                                            <div class="sf-play ">
                                                                <span>Replay</span>
                                                            </div>
                                                        </div>
                                                        <div class="display-inline stu-data  right-pos sf-absulate">
                                                            <a href=""><img src="img/sf-play-btn.png" alt=""></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="other-bg">
                                                    <td><span>2016</span></td>
                                                    <td><span class="text-up">U-10 <br> GIRLS  <br>SINGLES</span></td>
                                                    <td><span class="text-up">ROUND-ROBIN</span></td>
                                                    <td class="text-up">Soheb Shaikh</td>
                                                    <td class="text-up"><img src="img/sf-cup-mini.png" alt="" class="table-img">Rahul Patil
                                                        <p>Don Bosco School</p>
                                                    </td>
                                                    <td>
                                                        <div class="table-data display-inline text-center text-up score-1st">

                                                            <ul class="padding0 list-style">
                                                                <li>5</li>
                                                                <li>&ndash;</li>
                                                                <li>11</li>
                                                            </ul>
                                                        </div>
                                                        <div class="table-data display-inline text-center text-up score-1st">

                                                            <ul class="padding0 list-style">
                                                                <li>5</li>
                                                                <li>&ndash;</li>
                                                                <li>11</li>
                                                            </ul>
                                                        </div>
                                                        <div class="table-data display-inline text-center text-up score-1st">

                                                            <ul class="padding0 list-style">
                                                                <li>5</li>
                                                                <li>&ndash;</li>
                                                                <li>11</li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td class="center-cl">
                                                        <div class="text-center display-inline ver-mid ">
                                                            <div class="replay-img ">
                                                                <a href=""><img src="img/sf-play.png" alt=""></a>
                                                            </div>
                                                            <div class="sf-play">
                                                                <span>Replay</span>
                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                                <tr class="other-bg">
                                                    <td><span>2016</span></td>
                                                    <td><span class="text-up">U-10 <br> GIRLS <br> SINGLES</span></td>
                                                    <td><span class="text-up">ROUND-ROBIN</span></td>
                                                    <td class="text-up">Soheb Shaikh</td>
                                                    <td class="text-up"><img src="img/sf-cup-mini.png" alt="" class="table-img">Rahul Patil
                                                        <p>Don Bosco School</p>
                                                    </td>
                                                    <td>
                                                        <div class="table-data display-inline text-center text-up score-1st">

                                                            <ul class="padding0 list-style">
                                                                <li>5</li>
                                                                <li>&ndash;</li>
                                                                <li>11</li>
                                                            </ul>
                                                        </div>
                                                        <div class="table-data display-inline text-center text-up score-1st">

                                                            <ul class="padding0 list-style">
                                                                <li>5</li>
                                                                <li>&ndash;</li>
                                                                <li>11</li>
                                                            </ul>
                                                        </div>
                                                        <div class="table-data display-inline text-center text-up score-1st">

                                                            <ul class="padding0 list-style">
                                                                <li>5</li>
                                                                <li>&ndash;</li>
                                                                <li>11</li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td class="center-cl">
                                                        <div class="text-center display-inline ver-mid ">
                                                            <div class="replay-img ">
                                                                <a href=""><img src="img/sf-play.png" alt=""></a>
                                                            </div>
                                                            <div class="sf-play">
                                                                <span>Replay</span>
                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
