<section>
    <div class="head-banner">
        <img src="img/school.png" class="img-responsive img width100 margin-auto">

    </div>
</section>
<section class="bottom-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-xs-12">
                <div class="search-title text-center">
                    <h3 class="color-blue text-up font-semi">search from <span class="color-orange">1200</span> schools</h3>
                </div>
                <div class="mt15 text-center border-bottom">
                    <form class="">
                        <input type="text" class="search-input" name="q" value="Type school name" placeholder="Type school name or ID" ng-change="doSearch();" ng-model="searchFilter.search">
                        <input type="image" value="Search" src="img/sfa-search.png" class="search-btn" ng-click="doSearch();">
                    </form>
                </div>
            </div>

        </div>
        <div class="row" ng-show="!getsearch">
            <div class="text-center mt40">
                <h3 class="font-semi color-orange text-up">Top 20 schools</h3>
            </div>
            <div class="col-md-offset-2 col-md-8 col-xs-12">
                <div class="">
                    <div class="col-md-4 top-school" ng-repeat="data in getFirstList track by $index">
                        <a ui-sref="school-profile({id:data._id})">
                            <div class="school-box">
                                <div class="box-header">
                                    <div class="school-img">
                                        <img ng-src="{{data.image | uploadpath}}" alt="" class="margin-auto">
                                        <div class="sigh-img">
                                            <img src="img/sf-right.png" alt="">
                                        </div>
                                        <div class="rank">
                                            <h3 class="text-up color-white margin0">{{$index+1}}</h3>
                                        </div>


                                        <div class="school-name text-center">
                                            <h4 class="color-orange font-semi">{{data.name}}</h4>
                                        </div>
                                        <div class="medal text-center">
                                            <span class="text-up color-white text-center">Medals Won</span>
                                            <div class="medal-count sf-list color-orange font-semi">
                                                <ul class="padding0">
                                                    <li>
                                                        <img src="img/sf-gold.png" alt="">{{data.medal.gold}}
                                                    </li>
                                                    <li>
                                                        <img src="img/sf-silver.png" alt="">{{data.medal.silver}}
                                                    </li>
                                                    <li>
                                                        <img src="img/sf-bronze.png" alt="">{{data.medal.bronze}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer text-center">
                                    <span class="text-up color-white font-semi">total point 26</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="getsearch">
            <div class="text-center mt40">
                <h3 class="font-semi color-orange text-up">{{getSearchData.length}} Search Results</h3>
            </div>
            <div class="col-md-offset-2 col-md-8 col-xs-12">
                <div class="">
                    <div class="col-md-4 mt15" ng-repeat="data in getSearchData track by $index">
                        <a ui-sref="school-profile">
                            <div class="school-boxs2">
                                <div class="box-headers">
                                    <div class="school-imgs text-center sf-relative">
                                        <!-- <img src="img/sf-school-grey.png" alt=""> -->
                                        <img ng-src="{{data.image|uploadpath}}" alt="">
                                        <div class="sigh-imgs sf-absulate">
                                            <img src="img/sf-right.png" alt="">
                                        </div>
                                    </div>

                                    <div class="school-names text-center">
                                        <h4 class="text-up font-semi color-orange">{{data.name}}</h4>
                                    </div>

                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
