<section>
  <div class="head-banner">
    <img src="img/school-ranking.png" class="img-responsive img width100 margin-auto">
  </div>
</section>
<section class="bottom-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="box-content">
          <div class="text-center mt40">
            <h3 class="font-semi color-blue text-up f162" ng-if="filter.year == '2015'">SFA mumbai {{year15}}</h3>
            <h3 class="font-semi color-blue text-up f162" ng-if="filter.year == '2016'">SFA mumbai {{year16}}</h3>
          </div>
          <div class="">
            <!--mt-min-30 mt-min-40-->
            <div class="float-right">
              <h4 class="text-up color-blue display-inline">Year</h4>
              <div class="display-inline">
                <div class="sfa-select">
                  <select class="select" ng-model="filter.year" ng-change="rankingByYear()">
                              <option value="2015">{{year15}}</option>
                              <option value="2016">{{year16}}</option>
                          </select>
                  <span class="only-border"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="tbl-ranking mt15 main-over">
            <table class="table  w700">
              <thead class="em-ps">
                <tr>
                  <th>
                    rank
                  </th>
                  <th>
                    school name
                  </th>
                  <th>
                    <table>
                      <thead>
                        <tr>
                          <th class="text-center" colspan="3">
                            medals tally
                          </th>
                        </tr>
                      </thead>
                      <tbody class="pn-tp">
                        <tr>
                          <td>
                            <div class="med-c">
                              <img src="img/sf-gold.png" alt="">
                              <p>5 Points</p>
                            </div>
                          </td>
                          <td>
                            <div class="med-c">
                              <img src="img/sf-silver.png" alt="">
                              <p>3 Points</p>
                            </div>
                          </td>
                          <td>
                            <div class="med-c">
                              <img src="img/sf-bronze.png" alt="">
                              <p>2 Points</p>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                  <th class="color-orange">
                    points
                  </th>
                </tr>
              </thead>
              <tbody class="tb-pn">
                <tr ng-repeat="school in schools ">
                  <td>
                    {{school.rank}}
                  </td>
                  <td class="txt-left pointer" ui-sref="school-profile({
                      id:school.school._id
                    })">
                    {{school.school.name}} {{school.school.status && ' ' || '*'}}
                  </td>
                  <td>
                    <table class="">
                      <thead class="sc-op">
                        <tr>
                          <td>
                            {{school.gold}}
                          </td>
                          <td>
                            {{school.silver}}
                          </td>
                          <td>
                            {{school.bronze}}
                          </td>
                        </tr>
                      </thead>
                    </table>
                  </td>

                  <td>
                    {{school.school['totalPoints'+filter.year]}}
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center" ng-if="!(schools.length >0)">
              {{schools === undefined && 'Loading ..' || 'No Ranking Data'}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>