<section>
  <div class="banner sf-relative">
    <img src="img/sf-school-profile.png" alt="" class="img-responsive">
    <div class="sf-absulate">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="sf-school-logo">
              <img src="" alt="">
            </div>
          </div>
          <div class="col-md-9">
            <div class="sf-school-data">
              <div class="scl-title">
                <h4>DHIRUBHAI AMBANI INTERNATIONAL SCHOOL</h4>
              </div>
              <div class="display-inline">
                <img src="img/sf-cup.png" alt="">
              </div>
              <div class="data-list">
                <ul>
                  <li>
                    <div class="stu-data">
                      <span>CONTINGENT STRENGTH</span>
                    </div>
                    <ul>
                      <li><div class="sto-pro-list">
                        <img src="img/sf-boys.png" alt="">80
                      </div></li>
                      <li>  <div class="sto-pro-list display-inline">
                          <img src="img/sf-girl.png" alt="">50
                        </div></li>
                      <li><div class="sto-pro-list display-inline">
                        50
                      </div></li>
                    </ul>
                </li>
                  <li>
                    <div class="stu-data">
                      <p>2015 rank</p>
                      <p>15</p>
                    </div>
                    <div class="stu-data display-inline">
                      <p>2016 rank</p>
                      <p>4</p>
                    </div>
                  </li>
                  <li>
                    <div class="sf-medal-list">
                      <ul>
                        <li>
                          <div class="medal-num">
                            <div class="img-medal">
                              <img src="img/sf-gold-big.png" alt="">
                            </div>
                            <div class="display-inline">
                              <p>2</p>
                              <p>gold</p>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="medal-num">
                            <div class="img-medal">
                              <img src="img/sf-silver-big.png" alt="">
                            </div>
                            <div class="display-inline">
                              <p>2</p>
                              <p>silver</p>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="medal-num">
                            <div class="img-medal">
                              <img src="img/sf-bronze-big.png" alt="">
                            </div>
                            <div class="display-inline">
                              <p>2</p>
                              <p>Bronze</p>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="btn-common">
                <button type="button" name="button">school bio</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
