<section class="selectAthletes">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                <h1 class="text-center school-sports spt-m">Sports Registration Form</h1>
                <div class="step5">Basketball</div>
                <div class="box-padd-term mb91">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <form class="form-horizontal">
                                <div class="">
                                    <div class="readSchoolName">
                                        <!--control-label-->
                                        <label for="inputEmail3" class="specialColPadding col-md-2 col-sm-3 col-xs-12 para2">Select Gender</label>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="radio" ng-model="formData.gender" id="radio04" name="radio1" value="male" required>
                                            <label for="radio04" class="padd-lr sf-list"><span></span>Male</label>
                                            <input type="radio" ng-model="formData.gender" id="radio03" name="radio1" value="female" required>
                                            <label for="radio03" class="padd-lr sf-list"><span></span>Female</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group specialMargin">
                                    <div class="readSchoolName">
                                        <!--control-label-->
                                        <label for="inputEmail3" class="specialColPadding col-md-2 col-sm-3 col-xs-12 para2">Select Age Group</label>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="radio" ng-model="formData.genders" id="radio01" name="radio2" value="male" required>
                                            <label for="radio01" class="padd-lr sf-list"><span></span>U-8</label>
                                            <input type="radio" class="ml10" ng-model="formData.genders" id="radio02" name="radio2" value="female" required>
                                            <label for="radio02" class="padd-lr sf-list"><span></span>U-10</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="separateTwoBox">
                                <form class="form-horizontal hidden-xs">
                                    <div class="form-group " ng-init="formData.schoolName = ''">
                                        <div class="readSchoolName">
                                            <!--<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12">-->
                                            <label for="inputEmail3" class="col-md-4 col-sm-2 col-xs-12 control-label para2" placeholder="Enter SFA ID">SFA ID:</label>
                                            <div class="col-md-6 col-sm-8 col-xs-9">
                                                <input type="text" class="form-control" ng-model="formData.schoolName" id="inputEmail3">
                                            </div>
                                            <div class="hover-img margin0 pt7 col-md-2 col-sm-2 col-xs-3">
                                                <img src="img/icon/icon.png" alt="logo" class="img-responsive myicon">
                                                <div class="iconinfo sf-list">
                                                    <p>Only registered athletes from your school as per the selected gender
                                                        and age group will be displayed below</p>
                                                </div>
                                            </div>
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </form>
                                <form class="visible-xs">
                                    <div class="form-group">
                                        <div class="readSchoolName">
                                            <div class="col-xs-8">
                                                <label for="inputEmail3" class="para2" placeholder="Enter SFA ID">SFA ID:</label>
                                            </div>
                                            <div class="hover-img margin0 col-xs-4 ">
                                                <img src="img/icon/icon.png" alt="logo" class="img-responsive myicon pull-right">
                                                <div class="iconinfo sf-list">
                                                    <p>Only registered athletes from your school as per the selected gender
                                                        and age group will be displayed below</p>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 mob-bottom ">
                                                <input type="text" class="form-control" ng-model="formData.schoolName" id="inputEmail3">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="scroll-div">
                                    <div class="scrollbar style-1">
                                        <div class="col-md-4 col-sm-4 col-xs-12 mb15" ng-repeat="checked in selectAthlete">
                                            <div class="school-sec">
                                                <div class="stu-img">
                                                    <img src="{{checked.photograph}}" class="img-responsive" alt="">
                                                </div>
                                                <div class="stu-check">
                                                    <div class="checkbox-custom">
                                                        <input type="checkbox" name="checkIhav" ng-model="formData.isVideoAnalysis" id="option{{$index+1}}" />
                                                        <label for="option{{$index+1}}"><span></span></label>
                                                    </div>
                                                </div>
                                                <div class="stu-name text-center">
                                                    <h4 class="color-orange text-up font-semi">{{checked.firstName}} {{checked.lastName}}</h4>
                                                </div>
                                                <div class="stu-id text-center">
                                                    <h4 class="color-blue">SFA ID: {{checked.sfaId}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="separateTwoBox pl15">
                                <div class="text-center mt15 ">
                                    <h4 class="player-selected">Basketball Male U-8</h4>
                                </div>
                                <div class="kind-select">
                                    <p>Kindly select a minimum of 11 players and a maximum of 18 players.</p>
                                </div>
                                <div class="player-selected">
                                    <p>Players Selected: 8</p>
                                </div>
                                <div class="selectedTeamTable table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <th>
                                                <div class="mid_col">Sr. No.</div>
                                            </th>
                                            <th>SFA ID-Name</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="mid_cols">1</div>
                                                </td>
                                                <td>126 - Kunjal Rawal</td>
                                                <td>
                                                    <div>
                                                        <i class="fa fa-lg fa-times-circle pointer" aria-hidden="true"></i>
                                                        <!--<img src="img/icon/cross.png" alt="logo" class="img-responsive myicon">-->
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="mid_cols">2</div>
                                                </td>
                                                <td>126 - Kunjal Rawal</td>
                                                <td>
                                                    <i class="fa fa-lg fa-times-circle pointer" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="mid_cols">3</div>
                                                </td>
                                                <td>126 - Kunjal Rawal</td>
                                                <td>
                                                    <i class="fa fa-lg fa-times-circle pointer" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center mt25 mb-50">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button class="btn btn-default width-86 sub-mit" type="submit">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>