<section class="bottom-padding mt50">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="pt22">
          <h1 class="color-blue text-up font-semi margin0 font-titling">GIRL’S</h1>
          <h1 class="color-blue text-up font-semi margin0 font-titling">DAYS</h1>
          <h4 class="color-dark text-up font-semi margin0 font-titling">11th Dec 2016</h4>
        </div>
      </div>
      <div class="col-md-9">
        <div class="ch-p">
          <p>
          Women in sport are due credit and respect they have deserved for a very long time. They work as hard, bleed as much, taste equal victory and defeat and dream of glory just as much as the men do! We, at Sports For All, make an added effort to ensure that every single girl participating in our tournaments receives equal opportunities and a level playing field in order to take her sporting prowess to the next level. We encourage them at the foundation, at the grassroots, where they discover the champion within for the first time.
          </p>
<p>This December 11, 2016, we will be celebrating Girls Day at SFA Mumbai 2016 to give that extra leverage to all the sporting girls of Mumbai. This is the day when the girls will take to the courts to proclaim their passion for sport, their equal right to sport.</p>
        </div>
      </div>
    </div>
  </div>
  <section class="mt80">
    <div class="container ">
      <div class="row">
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/g1.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">self <span class="cl-yel">defenceself </span> workshops</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/g2.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50 margin0">sport<span class="cl-yel">stars</span></h4>
              <p class="color-white pd-lr ">Exhibition Games & Interactive
Dialogues With Professional Athletes.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/g3.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">celebrity<span class="cl-yel">guests</span> </h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/g4.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">yoga<span class="cl-yel">for</span> girls </h4>

            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/g5.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">SFA special<span class="cl-yel">awards </span>for girls</h4>

            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/g6.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50 margin0"><span class="cl-yel">fun games </span>and prizes</h4>
              <p class="color-white pd-lr ">Impromptu athletic challenges, quiz
and contests.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/g7.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">music<span class="cl-yel">and </span> entertainment  </h4>

            </div>
          </div>
        </div>

      </div>
      <div class="p35">
      <div class="row">
        <div class="col-md-3">
          <div class="pt22">
            <h1 class="color-blue text-up font-semi margin0 font-titling">Differently-</h1>
            <h1 class="color-blue text-up font-semi margin0 font-titling">Abled </h1>
            <h1 class="color-blue text-up font-semi margin0 font-titling">children’s Day </h1>
            <h4 class="color-dark text-up font-semi margin0 font-titling">18th Dec 2016</h4>
          </div>
        </div>
        <div class="col-md-9">
          <div class="ch-p">
            <p>
          Even though they have been deprived of the simplest functions of daily life, sport gives differently-abled children the same joy and fulfilment as any other child. But, despite their doubled effort and pain, they are celebrated far less than they should be.
            </p>
  <p>Each year, Sports For All hosts differently-abled children across multiple sports to give them the same platform, infrastructure and facilities as all the other
participants. It is a day to celebrate and recognise their achievements and efforts as equal. As the differently-abled children take to the courts, all the the other
participants and guests huddle around cheering for these children thus giving them a big boost of confidence.</p>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/g8.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">WALK<span class="cl-yel">ATHON</span>  </h4>

            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/g9.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50 margin0"><span class="cl-yel">Exhibition </span>matchES</h4>
              <p class="color-white pd-lr ">Carrom, Table Tennis, Basketball & Handball</p>

            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/g10.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50 margin0">Wheelchair <span class="cl-yel">BADMINTON</span> EXHIBITION match</h4>
              <p class="color-white pd-lr ">Mansi Joshi and Bharti Gehani</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
