<!-- <div class="full-image">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="https://storage.googleapis.com/sportsforall/special/special_awards.jpg" alt="" class="img-responsive width100">
      </div>
    </div>
  </div>
</div> -->
<section class="bottom-padding mt50">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="">
          <img src="img/special-awards-icon.jpg" alt="" class="img-responsive width100">
        </div>
      </div>
      <div class="col-md-9">
        <div class="ch-p text-justify">
          <p>
            Recognition encourages young athletes to strive for better. For the achievers, it is a boost in confidence and for the rest,
            it is a benchmark to aim for. Sports For All presents SFA Awards in various categories to recognise young athletes
            displaying exemplary talent, skill and potential and to motivate and felicitate coaches for their hard work and
            dedication towards sport.
          </p>
          <p>
            All the SFA Awards categories will be judged basis performance at SFA Mumbai {{year16}}. We are accepting nominations for
            SFA MasterCoach Team Award and SFA BornToLead Award from schools at: <a href="mailto:info@sfanow.in">info@sfanow.in</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
  <section class="mt80">
    <div class="container ">
      <div class="row">
        <div class="col-md-6 col-sm-6 padding0">
          <div class="mg-box sf-relative">
            <img src="img/sa1.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">SFA master<span class="cl-yel">coach</span> team Award</h4>
              <p class="color-white btn-min pd-lr">Best Coaching Team of a School</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 padding0">
          <div class="mg-box sf-relative">
            <img src="img/sa2.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">SFA <span class="cl-yel">Born</span>To<span class="cl-yel">Lead</span> Award</h4>
              <p class="color-white btn-min pd-lr">Student Contingent Leader</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/sa3.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">SFA Fittest<span class="cl-yel">Coach</span> Award</h4>
              <p class="color-white btn-min pd-lr">Fittest Coach</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/sa4.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">SFA Sports<span class="cl-yel">Max</span> Award
              </h4>
              <p class="color-white btn-min pd-lr">
                School Participating in Maximum <br> Number of Sports
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/sa5.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">SFA <span class="cl-yel">Uninterrupted</span> Award</h4>
              <p class="color-white btn-min pd-lr">School with Least No Shows <br> + Walkovers</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/sa6.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">SFA Sport<span class="cl-yel">Star</span> Award</h4>
              <p class="color-white btn-min pd-lr">Student Participating in Maximum <br> Number Of Sports</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/sa7.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">SFA Fair<span class="cl-yel">Play</span> Award</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/sa8.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">SFA <span class="cl-yel">Spirit</span>Of<span class="cl-yel">Sport</span> Award </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/sa9.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">SFA <span class="cl-yel">Play</span>Like<span class="cl-yel">A</span>Girl Award</h4>
              <p class="color-white btn-min pd-lr">Best Female Athlete on the Girl's Day</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/sa10.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">SFA Rising<span class="cl-yel">Star</span> Award-boy</h4>
              <p class="color-white btn-min pd-lr">Most Promising Athlete</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 padding0">
          <div class="mg-box sf-relative">
            <img src="img/sa11.jpg" alt="Sports For All" class="img-responsive width100">
            <div class="sf-absulate bnt-0">
              <h4 class="font-titling text-up color-white btn-min pd-lr f50">SFA Rising<span class="cl-yel">Star</span> Award-girl</h4>
              <p class="color-white btn-min pd-lr">Most Promising Athlete</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>