<section class="pb60">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center mt40">
          <h2 class="color-orange text-up font-semi">sponsors & partners</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-center mt40">
        <h4 class="color-blue text-up font-bold">sponsors</h4>
        <div class="col-md-3 col-xs-6 col-sm-6 text-center" ng-repeat="data in games track by $index">
          <div class="sp-img-box text-center mt20">
            <a href=""><img ng-src="{{data.img}}" alt="Sport For All" class="img-responsive text-center margin-auto"></a>
            <p class="text-up">{{data.game}}</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="text-center mt40">
        <h4 class="color-blue text-up font-bold">official partners</h4>
        <div class="col-md-3 col-xs-6 col-sm-6 text-center" ng-repeat="data in partner track by $index">
          <div class="sp-img-box text-center mt20"></a>
            <a href=""><img ng-src="{{data.img}}" alt="Sport For All" class="img-responsive text-center margin-auto"></a>
                <p class="text-up">{{data.game}}</p>
          </div>
        </div>
      </div>

    </div>

    <hr>
    <div class="row">
      <div class="text-center mt40">
        <h4 class="color-blue text-up font-bold">Sport operators</h4>
        <div class="mt20">
          <h4  class="color-orange text-up">Team sports</h4>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-6 text-center" ng-repeat="data in teams track by $index">
          <div class="sp-img-box text-center mt20 im-200">
          <a href="">  <img ng-src="{{data.img}}" alt="Sport For All" class="img-responsive text-center margin-auto"></a>
            <p class="text-up">{{data.name}}</p>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="text-center mt40">
        <h4  class="color-orange text-up">racquet sports</h4>
        <div class="col-md-3 col-xs-6 col-sm-6 text-center" ng-repeat="data in racquet track by $index">
          <div class="sp-img-box text-center mt20 im-200">
            <a href=""><img ng-src="{{data.img}}" alt="Sport For All" class="img-responsive text-center margin-auto"></a>
              <p class="text-up">{{data.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-center mt40">
        <h4  class="color-orange text-up">combat sports</h4>
        <div class="col-md-3 col-xs-6 col-sm-6 text-center" ng-repeat="data in combat track by $index">
          <div class="sp-img-box text-center mt20 im-200">
            <a href=""><img ng-src="{{data.img}}" alt="Sport For All" class="img-responsive text-center margin-auto"></a>
              <p class="text-up">{{data.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-center mt40">
        <h4  class="color-orange text-up">TARGET sports</h4>
        <div class="col-md-3 col-xs-6 col-sm-6 text-center" ng-repeat="data in target track by $index">
          <div class="sp-img-box text-center mt20 im-200">
            <a href=""><img ng-src="{{data.img}}" alt="Sport For All" class="img-responsive text-center margin-auto"></a>
              <p class="text-up">{{data.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-center mt40">
        <h4  class="color-orange text-up">INDIVIDUAL sports</h4>
        <div class="col-md-3 col-xs-6 col-sm-6 text-center" ng-repeat="data in indi track by $index">
          <div class="sp-img-box text-center mt20 im-200">
            <a href=""><img ng-src="{{data.img}}" alt="Sport For All" class="img-responsive text-center margin-auto"></a>
              <p class="text-up">{{data.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</section>
