<section>
    <div class="head-banner">
        <img src="img/sf-handball.png" class="img-responsive img width100 margin-auto">

    </div>
</section>
<section class="bg-sport">

  <div class="container">
    <div class="row">
      <div class="top-school">
      <div class="text-center mt25">
          <div class="tab-list sf-list text-up">
              <ul class="padding0 margin0">
                  <li><a href="" ng-click="tabchange('2016',1)" class="{{classa}}">
sfa mumbai 2016
</a></li>
                  <li><a href="" ng-click="tabchange('2015',2)" class="{{classb}}">
sfa mumbai 2015
</a></li>
                  <li><a href="" ng-click="tabchange('gallery',3)" class="{{classc}}">
gallery
</a></li>
                  <li><a href="" ng-click="tabchange('bio',4)" class="{{classd}}">
sport’s bio
</a></li>
              </ul>
          </div>
      </div>
    </div>
  </div>
  <div class="box-content-white">
    <div class="text-center">
      <h3 class="font-semi color-blue ">DATE:13<sup>th</sup> DECEMBER to 19<sup>th</sup> DECEMBER</h3>
    </div>
    <div class="sport-content color-base">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>
    <div class="accrodian-sec mt25">
        <uib-accordion close-others="oneAtATime" class="text-up text-center ">
            <uib-accordion-group heading="Tournament formats and rules" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
              <div class="data-box">
                <ul class="padding0 margin0">
                  <li>
<p>A knockout tournament will be played across all age groups and event categories for both, Boys and Girls. </p>
                  </li>
                  <li>
<p>Matches will consist of 2 halves of 10 minutes each with a 2 minutes break between the two halves. </p>
                  </li>
                  <li>
<p>Every player must carry his/her School ID along with age proof at all times during the tournament. </p>
                  </li>
                  <li>
<p>Participants must produce their ID cards as and when required during the tournament. </p>
 </li>
                  <li>
<p>No player will be allowed to play his/her match if they do not have they school ID along with proper age proof.
 </p>
                  </li>
                  <li>
<p>The team has to report at the venue’s main registration desk 45 minutes prior to their scheduled match.
 </p>
                  </li>
                  <li>
<p>The team has to report 15 minutes prior to their scheduled match time at the Handball registration desk.
 </p>
                  </li>
                  <li>
<p>If any participant is found over age or with any manipulation in the documents, the entire team will be disqualified without any kind of prior intimation.
 </p>
                  </li>
                  <li>
                    <p>The players must be in appropriate uniform for the sport of Handball. Only goal keepers are allowed to wear track pants. All players should wear flat sole sport shoes. No studs will be allowed.</p>
                  </li>
                  <li>
                    <p>
                      The Handball organizing committee has the right to postpone or cancel the tournament in case of
unavoidable circumstances. All schools are requested to co-operate with the organizers in any such case.
                    </p>
                  </li>
                  <li>
                    <p>
                      For any kind of further details of the tournament the school Coach / Manager can contact the below mentioned mobile no’s: +91 7045684365/66/67 Email: info@sfanow.in
                    </p>
                  </li>
                </ul>
              </div>
            </uib-accordion-group>
            <uib-accordion-group heading="age groups, events and entries">
              <div class="data-box">
                <p>The SFA Inter-school Handball tournament will be conducted in the categories mentioned in the table below. </p>
                <p>We have a maximum draw capacity as mentioned in the below table. Entries will be accommodated basis the
eligibility criteria set out in Point 3.</p>
              </div>
              <div class="box-table mt25">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th>Age </th>
                      <th>Players Per Team</th>
                      <th>Boys</th>
                      <th>Girls</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td>1</td>

                        <td>U-10</td>

                        <td>10</td>

                        <td>16 Teams</td>

                        <td>16 Teams</td>
                      </tr>
                      <tr>
                        <td>1</td>

                        <td>U-10</td>

                        <td>10</td>

                        <td>16 Teams</td>

                        <td>16 Teams</td>
                      </tr>
                      <tr>
                        <td>1</td>

                        <td>U-10</td>

                        <td>10</td>

                        <td>16 Teams</td>

                        <td>16 Teams</td>
                      </tr>
                      <tr>
                        <td>1</td>

                        <td>U-10</td>

                        <td>10</td>

                        <td>16 Teams</td>

                        <td>16 Teams</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </uib-accordion-group>

            <uib-accordion-group heading="eligibility">
                <p class="color-base f16">best contingent leader : <span class="color-blue font-semi"> Manav mehta</span></p>
            </uib-accordion-group>
            <uib-accordion-group heading="schedules and draws">
                <p class="color-base f16">best contingent leader : <span class="color-blue font-semi"> Manav mehta</span></p>
            </uib-accordion-group>

        </uib-accordion>
    </div>
  </div>
</div>
</section>
