<div class="sport-detailpage sportteam-detailpage">
  <div class="container">
    <div class="row">
      <!-- LOGIN DETAILS -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="pull-right mb25 sp-tab-right ">
          <div class="">
            <div class="display-inline">
              <p class="mb0">SFA ID:</p>
              <p class="mb0" ng-if="detail.userType === 'school'">School Name:</p>
              <p class="mb0" ng-if="detail.userType === 'athlete'">Athlete Name:</p>
            </div>
            <div class="display-inline">
              <p class="mb0">&nbsp;{{detail.sfaIdObj}}</p>
              <p class="mb0" ng-if="detail.userType === 'school'">&nbsp;{{detail.schoolName}}</p>
              <p class="mb0" ng-if="detail.userType === 'athlete'">&nbsp;{{detail.firstName}}&nbsp&nbsp{{detail.surname}}</p>
            </div>
          </div>
          <ul class="list-inline">
            <li ng-click="logoutCandidate();" ng-if="detail.isLoggedIn"><a>Logout</a></li>
          </ul>
        </div>
      </div>
      <!-- LOGIN DETAILS END -->

      <!-- SPORT DETAIL HEADER -->
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="para2">
          <button class="btn btn-default " type="button" ui-sref="sports-selection">Back</button>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="para2 text-center sportdetail-header mb25">
          <h3>{{sportTitle}}</h3>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="para2 text-right sportsdetail-download">
          <button class="btn btn-default " type="button" ng-click="printFunction('printSectionId')">Print</button>


        </div>
      </div>
      <!-- SPORT DETAIL HEADER END -->

      <!-- DETAILS TABLE -->

      <div class="text-center sp-head-tab" ng-if="getTeamDetails.length === undefined">
        <h3>Loading...</h3>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12" id="printSectionId">
        <div class="sportdetail-table" ng-repeat="sport in getTeamDetails track by $index">
          <div class="step7">{{sport._id}}</div>
          <div class="box-padd">
            <div class="selectedTeamTable sport-individualtable table-responsive scrollbar style-1">
              <table class="table table-bordered">
                <thead>
                  <th>
                    <div class="mid_col sportdetail-th">Sr. No.</div>
                  </th>
                  <th>
                    <div class="sportdetail-th">Sport Name</div>
                  </th>
                  <th>
                    <div class="sportdetail-th">SFA ID-Name</div>
                  </th>
                  <th>
                    <div class="sportdetail-th">Captain</div>
                  </th>
                  <th ng-if="sportTitle === 'Handball' || sportTitle === 'handball' || sportTitle === 'Football' || sportTitle === 'football'
                                || sportTitle==='Hockey' ||sportTitle==='hockey' || sportTitle === 'Waterpolo' || sportTitle ==='waterpolo'">
                    <div class="sportdetail-th">GoalKeeper</div>
                  </th>
                  <th>
                    <div class="sportdetail-th">Created By</div>
                  </th>
                  <!--<th>
                    <div class="sportdetail-th">Gender</div>
                  </th>
                  <th>
                    <div class="sportdetail-th">Age Category</div>
                  </th>-->
                </thead>
                <tbody>
                  <tr ng-repeat="athlete in sport.info track by $index">
                    <td>
                      <div class="mid_cols sportdetail-td">{{$index+1}}</div>
                    </td>
                    <td>
                      <div class="sportdetail-td">{{athlete.name}}</div>
                    </td>
                    <td>
                      <div class="sportdetail-td" ng-if="athlete.middlename">{{athlete.sfaid}} - {{athlete.firstname}}&nbsp;{{athlete.middlename}}&nbsp;{{athlete.lastname}}</div>
                      <div class="sportdetail-td" ng-if="!athlete.middlename">{{athlete.sfaid}} - {{athlete.firstname}}&nbsp;{{athlete.lastname}}</div>
                    </td>
                    <td>
                      <div class="sportdetail-td" ng-if="athlete.isCaptain">Yes</div>
                      <div class="sportdetail-td" ng-if="!athlete.isCaptain">-</div>
                    </td>

                    <td ng-if="sportTitle === 'Handball' || sportTitle === 'handball' || sportTitle === 'Football' || sportTitle === 'football'
                                || sportTitle==='Hockey' ||sportTitle==='hockey' || sportTitle === 'Waterpolo' || sportTitle ==='waterpolo'">
                      <div class="sportdetail-td" ng-if="athlete.isGoalKeeper">Yes</div>
                      <div class="sportdetail-td" ng-if="!athlete.isGoalKeeper">-</div>
                    </td>
                    <td>
                      <div class="sportdetail-td">{{athlete.createdBy}}</div>

                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- DETAILS TABLE END -->
    </div>
  </div>
</div>