<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 mb25">
      <h1 class="text-center school-sports spt-m">Sports Registration Form</h1>
    </div>
  </div>
  <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
    <div class="box-padd mb91">
      <div class="row mt50 mb25">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8  col-xs-12 text-center">
          <div class="spc-inside-box">
            <p class="mb0"><b>Congratulations!</b></p>
            <p class="mb0">You have successfully registred your team.</p>
            <p>Kindly check your registred email for more details.</p>
            <div class="spc-btn mt25">
              <button class="btn btn-default " type="submit"><b>Register another team or sport</b></button>
            </div>
            <div class="spc-btn">
              <button class="btn btn-default " type="submit"><b>Log Out</b></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>