<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
      <h1 class="text-center school-sports spt-m">Sports Registration Form</h1>
      <div class="step3">Tournament Rules & Regulations</div>
      <div class="box-padd-term mb-50">
        <div class="scrollbar style-1">
          <div class="spt-para">
            <!--<p ng-bind-html="termsandCondition"></p>-->
            <p ng-bind-html="sportsRulesAndRegulation.rules.rulesAndRegulation"></p>
          </div>
        </div>
        <div class="mt25 blue-schoolterm">
          <p>You can also view these Rules & Regulations on the sports page.</p>
          <p>You can view these rules & regulations on sports pages at any time.</p>
          <div class="check-term ">
            <input type="checkbox" name="checkIhav" ng-checked="termsCheck(formData.termsAndCondition)" ng-model="formData.termsAndCondition"
              id="test5" />
            <label for="test5" class="sf-list custom-a" style="padding-left: 20px;"><span></span> <b>I Agree to terms and conditions above</b></label>
            <div class="validate-col" ng-if="errorMsg">Please accept terms and conditions</div>
          </div>
        </div>
        <div class="row text-center mt25 mb-50">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-default width-86 sub-mit" type="button" ng-click="goTotermsCheck(formData.termsAndCondition,sportsRulesAndRegulation._id)">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>