<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 mb25">
          <h1 class="text-center school-sports spt-m">Sports Registration Form</h1>
        </div>
      </div>
      <div class="row">
        <!--<h1 class="text-center school-sports spt-m">Sports Registration Form</h1>-->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="pull-right mb25 sp-tab-right ">
            <div class="">
              <div class="display-inline">
                <p class="mb0">SFA ID:</p>
                <p class="mb0" ng-if="detail.userType === 'school'">School Name:</p>
                <p class="mb0" ng-if="detail.userType === 'athlete'">Athlete Name:</p>
              </div>
              <div class="display-inline">
                <p class="mb0">&nbsp;{{detail.sfaIdObj}}</p>
                <p class="mb0" ng-if="detail.userType === 'school'">&nbsp;{{detail.schoolName}}</p>
                <p class="mb0" ng-if="detail.userType === 'athlete'">&nbsp;{{detail.firstName}}&nbsp&nbsp{{detail.surname}}</p>
              </div>
            </div>
            <ul class="list-inline">
              <li ng-click="logoutCandidate();" ng-if="detail.isLoggedIn"><a>Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="step3">Tournament Rules & Regulations</div>
        <div class="box-padd-term mb-50">
          <div class="scrollbar style-1" ng-if="ruleArray.length > 0">
            <div class="spt-para">
              <!--<p ng-bind-html="termsandCondition"></p>-->
              <!--<p ng-bind-html="sportsRulesAndRegulation.rules.rulesAndRegulation"></p>-->
              <rules class="ruleDirective" ng-repeat="items in ruleArray track by $index" value="items">
              </rules>
            </div>
          </div>
          <div class="text-center" ng-if="ruleArray.length <= 0">
            <h4>Rules & Regulations Updating Soon.</h4>
          </div>
          <div class="text-center" ng-if="ruleArray.length == undefined">
            <h4>Loading...</h4>
          </div>
          <div class="mt25 blue-schoolterm">
            <p>You can also view these Rules & Regulations on the sports page.</p>
            <p>You can view these rules & regulations on sports pages at any time.</p>
            <div class="check-term ">
              <input type="checkbox" name="checkIhav" ng-checked="termsCheck(formData.termsAndCondition)" ng-model="formData.termsAndCondition"
                id="test5" />
              <label for="test5" class="sf-list custom-a" style="padding-left: 20px;"><span></span>I Agree that I have read and accepted all rules and regulations. For other terms and conditions of SFA Mumbai 2017, <a ui-sref="terms-condition" target="_blank">click here.</a></label>
              <div class="validate-col" ng-if="errorMsg">Please accept terms and conditions</div>
            </div>
          </div>
          <div class="row text-center mt25 mb-50">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <button class="btn btn-default sub-mit form-control" type="button" ui-sref="sports-selection">Back</button>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <button class="btn btn-default sub-mit form-control" type="button" ng-click="goTotermsCheck(formData.termsAndCondition,sportsRulesAndRegulation._id,sportsRulesAndRegulation.isTeam)">Next</button>
                <!--promise-btn="yourPromise"-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>