<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h1 class="text-center">School Registration Form</h1>
      <ul class="list-inline">
        <li>
          <div class="text-right">
            <div class="step1"> I am a Athlete</div>
          </div>
        </li>
        <li>
          <div class="step1"> I am a School</div>
        </li>
      </ul>
      <div class="box-padd">
        <form class="form-horizontal">
          <div class="text-center mb25">
            <h4>The SFA ID & password has been sent to register email ID.</h4>
            <h4>In case you have forgotten your SFA ID,Please Call us on 7654567865/66/67 or email us at info@sfanow.in</h4>
          </div>
          <div class="form-group">
            <label class="control-label col-md-offset-2 col-md-3 col-sm-offset-2 col-sm-3 col-xs-12">SFA ID:</label>
            <div class="col-md-2  col-sm-2 col-xs-12">
              <input type="text" class="form-control" id="sfaid" placeholder="SFA ID" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-offset-2 col-md-3 col-sm-offset-2 col-sm-3 col-xs-12">Password:</label>
            <div class="col-md-2 col-sm-2 col-xs-12">
              <input type="text" class="form-control" id="password" placeholder="Password" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-2 col-xs-12 text-center">
              <label class="control-label">Forget Password ?</label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-2 col-xs-12">
              <button class="btn btn-default sub-mit form-control" type="submit">Submit</button>
            </div>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>