<section>
    <div class="banner sf-relative">
        <img src="img/sf-school-profile.png" alt="" class="img-responsive width100">
        <div class="sf-absulate banner-set">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="sf-school-logo sf-relative text-center">
                            <img src="img/sf-student-big.png" alt="" class="img-border">
                            <div class="sigh-second sf-absulate">
                                <img src="img/sf-right-org.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="sf-school-data">
                            <div class="scl-title display-inline">
                                <h3 class="color-orange font-semi text-up">Shah Harshit</h3>
                                <h4 class="color-white text-up">Dhirubhai Ambani International School</h4>
                            </div>
                            <!-- <div class="display-inline cup">
                                <img src="img/sf-cup.png" alt="">
                            </div> -->
                        </div>
                        <div class="data-list custom-li color-white mt15 display-inline">
                            <ul class="padding0 sf-list-padding">
                                <li class="border-right-2">
                                    <div class="">
                                        <p class="text-up color-orange">age group</p>
                                        <p>U-17</p>
                                    </div>

                                </li>
                                <li class="border-right-2">
                                  <div class="">
                                      <p class="text-up color-orange">SFA ID</p>
                                      <p>45621</p>
                                  </div>
                                </li>
                                <li class="border-right-2">

                                  <div class="">
                                      <p class="text-up color-orange">Date of Birth</p>
                                      <p class="text-up">AUG 06, 2002 </p>
                                  </div>

                                </li>
                                <li class="border-right-2">

                                  <div class="">
                                      <p class="text-up color-orange">gender</p>
                                      <p class="text-up">male</p>
                                  </div>

                                </li>
                            </ul>
                        </div>
                        <div class="sf-list mt10">
                            <span class="text-center text-up color-orange">Medals Won</span>

                            <ul class="padd-left padding0 mt5 second-border">
                                <li>
                                    <div class="medal-num">
                                        <div class="img-medal display-inline">
                                            <img src="img/sf-gold-big.png" alt="">
                                        </div>
                                        <div class="display-inline">
                                            <p class="margin0 color-orange text-center">2</p>
                                            <p class="margin0 color-white">Gold</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="medal-num">
                                        <div class="img-medal display-inline ">
                                            <img src="img/sf-silver-big.png" alt="">
                                        </div>
                                        <div class="display-inline">
                                            <p class="margin0 color-orange text-center">2</p>
                                            <p class="margin0 color-white">Silver</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="medal-num">
                                        <div class="img-medal display-inline">
                                            <img src="img/sf-bronze-big.png" alt="">
                                        </div>
                                        <div class="display-inline">
                                            <p class="margin0 color-orange text-center">2</p>
                                            <p class="margin0 color-white">Bronze</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-common mt25">
                            <button type="button" name="button" class="text-up btn-orange padd-btn" ui-sref="school-bio">school bio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="bottom-padding">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h4 class="color-blue text-up font-semi">sports participated</h4>
                <div class="sf-relative">
                  <div class="sport-icon-list sf-list blue-cat">
                    <ul>
              <hovericon game="game" ng-repeat="game in games" ng-click="makeactive(game);"></hovericon>
          </ul>
                  </div>
                </div>
            </div>
          </div>

        </div>
      </section>
