<section class="bottom-padding">
    <div class="sport-name-bg text-center">
        <h1 class="color-orange text-up font-semi margin0 pad0">CHESS | girls | U-14</h1>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="text-center mt40">
                    <h2 class="color-blue font-semi text-up">SWISS LEAGUE</h2>
                </div>
            </div>

            <div class="box-content bx-mob">
                <div class="row over-fl">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3 class="color-orange font-semi text-up">FINAL STANDINGS</h3>
                        </div>
                        <div class="final-table">
                            <table class="table">
                                <thead>
                                  <tr class="bg-table color-orange font-semi text-up f16">
                                      <th>position</th>
                                      <th>name</th>
                                      <th>school</th>
                                      <th>points</th>


                                  </tr>
                                </thead>
                                <tbody class="text-up">
                                    <tr>
                                        <td><img src="img/sf-gold-sec-big.png" alt=""></td>
                                        <td>  <a href="">
                                              <div class="display-inline ver-base">
                                                  <img src="img/mini-clip.png" alt="" class="w25">
                                              </div>
                                              <div class="display-inline ver-mid">manav mehta</div>
                                          </a></td>
                                        <td>  <a href="">
                                              <div class="display-inline ver-base">
                                                  <img src="img/sf-school.png" alt="" class="w25">
                                              </div>
                                              <div class="display-inline ver-mid">dhirubhai ambani intertional school</div>
                                          </a></td>
                                        <td>3</td>

                                    </tr>
                                    <tr>
                                        <td><img src="img/sf-bronze-sec-big.png" alt=""></td>
                                        <td>  <a href="">
                                              <div class="display-inline ver-base">
                                                  <img src="img/mini-clip.png" alt="" class="w25">
                                              </div>
                                              <div class="display-inline ver-mid">manav mehta</div>
                                          </a></td>
                                        <td>  <a href="">
                                              <div class="display-inline ver-base">
                                                  <img src="img/sf-school.png" alt="" class="w25">
                                              </div>
                                              <div class="display-inline ver-mid">dhirubhai ambani intertional school</div>
                                          </a></td>
                                        <td>3</td>

                                    </tr>
                                    <tr>
                                        <td><img src="img/sf-silver-sec-big.png" alt=""></td>
                                        <td>  <a href="">
                                              <div class="display-inline ver-base">
                                                  <img src="img/mini-clip.png" alt="" class="w25">
                                              </div>
                                              <div class="display-inline ver-mid">manav mehta</div>
                                          </a></td>
                                        <td>  <a href="">
                                              <div class="display-inline ver-base">
                                                  <img src="img/sf-school.png" alt="" class="w25">
                                              </div>
                                              <div class="display-inline ver-mid">dhirubhai ambani intertional school</div>
                                          </a></td>
                                        <td>3</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row over-fl">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3 class="font-semi color-orange text-up">top 8</h3>
                        </div>
                        <div class="final-table">
                            <table class="table">
                                <thead>
                                  <tr class="bg-table color-orange font-semi text-up f16">
                                      <th>no.</th>
                                      <th>name</th>
                                      <th>points</th>
                                      <th>result</th>
                                      <th>points</th>
                                      <th>name</th>
                                      <th>no.</th>
                                      <th></th>

                                  </tr>
                                </thead>
                                <tbody class="text-up">
                                    <tr>
                                        <td>12</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/king.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td> 12.5</td>
                                        <td>1-0</td>
                                        <td> 12.5</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/quine.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td>12</td>
                                        <td>
                                            <a class="various fancybox.iframe" fancybox href="http://www.youtube.com/embed/pIPashZ8S2Q?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"><img src="img/sf-play.png" alt=""></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/king.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td> 12.5</td>
                                        <td>1-0</td>
                                        <td> 12.5</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/quine.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td>12</td>
                                        <td>
                                            <a class="various fancybox.iframe" fancybox href="http://www.youtube.com/embed/pIPashZ8S2Q?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"><img src="img/sf-play.png" alt=""></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/king.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td> 12.5</td>
                                        <td>1-0</td>
                                        <td> 12.5</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/quine.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td>12</td>
                                        <td>
                                            <a class="various fancybox.iframe" fancybox href="http://www.youtube.com/embed/pIPashZ8S2Q?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"><img src="img/sf-play.png" alt=""></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="mt30 text-center">
                            <button type="button" name="button" class="btn-outline text-up padding15">view more</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row over-fl">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3 class="font-semi color-orange text-up">top 24</h3>
                        </div>
                        <div class="final-table">
                            <table class="table">
                                <thead>
                                  <tr class="bg-table color-orange font-semi text-up f16">
                                      <th>no.</th>
                                      <th>name</th>
                                      <th>points</th>
                                      <th>result</th>
                                      <th>points</th>
                                      <th>name</th>
                                      <th>no.</th>
                                      <th></th>

                                  </tr>
                                </thead>
                                <tbody class="text-up">
                                    <tr>
                                        <td>12</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/king.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td> 12.5</td>
                                        <td>1-0</td>
                                        <td> 12.5</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/quine.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td>12</td>
                                        <td>
                                            <a class="various fancybox.iframe" fancybox href="http://www.youtube.com/embed/pIPashZ8S2Q?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"><img src="img/sf-play.png" alt=""></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/king.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td> 12.5</td>
                                        <td>1-0</td>
                                        <td> 12.5</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/quine.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td>12</td>
                                        <td>
                                            <a class="various fancybox.iframe" fancybox href="http://www.youtube.com/embed/pIPashZ8S2Q?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"><img src="img/sf-play.png" alt=""></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/king.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td> 12.5</td>
                                        <td>1-0</td>
                                        <td> 12.5</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/quine.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td>12</td>
                                        <td>
                                            <a class="various fancybox.iframe" fancybox href="http://www.youtube.com/embed/pIPashZ8S2Q?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"><img src="img/sf-play.png" alt=""></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="mt30 text-center">
                            <button type="button" name="button" class="btn-outline text-up padding15">view more</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row over-fl">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3 class="font-semi color-orange text-up">qualifying round</h3>
                        </div>
                        <div class="final-table">
                            <table class="table">
                                <thead>
                                  <tr class="bg-table color-orange font-semi text-up f16">
                                      <th>no.</th>
                                      <th>name</th>
                                      <th>points</th>
                                      <th>result</th>
                                      <th>points</th>
                                      <th>name</th>
                                      <th>no.</th>
                                      <th></th>

                                  </tr>
                                </thead>
                                <tbody class="text-up">
                                    <tr>
                                        <td>12</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/king.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td> 12.5</td>
                                        <td>1-0</td>
                                        <td> 12.5</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/quine.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td>12</td>
                                        <td>
                                            <a class="various fancybox.iframe" fancybox href="http://www.youtube.com/embed/pIPashZ8S2Q?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"><img src="img/sf-play.png" alt=""></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/king.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td> 12.5</td>
                                        <td>1-0</td>
                                        <td> 12.5</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/quine.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td>12</td>
                                        <td>
                                            <a class="various fancybox.iframe" fancybox href="http://www.youtube.com/embed/pIPashZ8S2Q?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"><img src="img/sf-play.png" alt=""></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/king.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td> 12.5</td>
                                        <td>1-0</td>
                                        <td> 12.5</td>
                                        <td>
                                            <a href="">

                                                <div class="display-inline ver-mid">manav mehta</div>
                                                <div class="display-inline ver-base">
                                                    <img src="img/quine.png" alt="" class="h25">
                                                </div>
                                                <p class="f12">dhirubhai ambani intertional school</p>
                                            </a>
                                        </td>
                                        <td>12</td>
                                        <td>
                                            <a class="various fancybox.iframe" fancybox href="http://www.youtube.com/embed/pIPashZ8S2Q?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"><img src="img/sf-play.png" alt=""></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="mt30 text-center">
                            <button type="button" name="button" class="btn-outline text-up padding15">view more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
