<section>
    <div class="banner sf-relative">
        <img src="img/new-banner.png" alt="Sports For All" class="img-responsive width100">
        <div class="sf-absulate banner-set">
          <div class="container">
            <div class="row">
        <div class="col-md-3">
          <div class="sf-school-logo2 sf-relative text-center border-r">
              <img src="img/bg-big.png" alt="" class="img-border2">
              <div class="sigh-second sf-absulate">
                  <img src="img/sf-right-big.png" alt="">
              </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="team-dt">
            <h1 class="color-orange text-up font-semi">team: basketball girls u-17 ‘A’</h1>
            <h2 class="color-white text-up margin0">dhirubhai ambani international school</h2>
            <h2 class="color-white text-up"><span class="color-orange">SFA ID:</span>45215</h2>
          </div>
        </div>
            </div>
          </div>
        </div>
      </div>

    </section>
