<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h1 class="text-center  school-sports spt-m">Sports Registration Form</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
    <div class="pull-right sp-tab-right">
      <div class="">
        <div class="display-inline">
          <p class="mb0">SFA ID:</p>
          <p class="mb0" ng-if="detail.userType === 'school'">School Name:</p>
          <p class="mb0" ng-if="detail.userType === 'athlete'">Athlete Name:</p>
        </div>
        <div class="display-inline">
          <p class="mb0">&nbsp;{{detail.sfaIdObj}}</p>
          <p class="mb0" ng-if="detail.userType === 'school'">&nbsp;{{detail.schoolName}}</p>
          <p class="mb0" ng-if="detail.userType === 'athlete'">&nbsp;{{detail.firstName}}&nbsp&nbsp{{detail.surname}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
    <div class="box-padd mb91">
      <div class="row mt50 mb25">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8  col-xs-12 text-center">
          <div class="spc-inside-box">
            <p class="mb0"><b>Congratulations!</b></p>
            <p class="mb0">You have successfully registered your team.</p>
            <p>Kindly check your registered email for more details.</p>
            <div class="spc-btn mt25">
              <button class="btn btn-default" type="submit" ui-sref="sports-selection"><b>Register another team or sport</b></button>
            </div>
            <div class="spc-btn">
              <button class="btn btn-default" ng-click="logoutCandidate();" type="submit"><b>Log Out</b></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>