<section class="bottom-padding">
    <div class="sport-name-bg text-center">
        <h1 class="color-orange text-up font-semi margin0" >TRAINING & DEVELOPMENT</h1>

  </div>
  <div class="container">
    <div class="row">
<div class="same-sec">
  <div class="col-md-4">
    <div class="image-box">
      <img src="img/kleinetics.png" alt="Sport For All" class="img-responsive banner-set sf-absulate">
    </div>
  </div>
  <div class="col-md-8">
    <div class="contain-box">
      <h3 class="color-blue font-semi ">Kleinetics</h3>
      <p>Kleinetics is India's premiere Kids Fitness Program backed by scientific training and technology to improve fitness and well being of kids. Through numerous dynamic and static drills, a variety in workouts and an innovative and scientific curriculum, Kleinetics focuses on cardiovascular endurance, strength, speed, agility, reaction time, power, flexibility, balance and co-ordination of the children. Founded by a team of Corporate professionals, Fitness enthusiasts, Doctors & Leading sports coaches - Kleinetics is aimed to bring about a paradigm shift in the way Fitness programs are designed & delivered in India.</p>
    </div>
  </div>
</div>
    </div>
  </div>
  </section>
