<section class="bottom-padding">
  <div class="sport-name-bg text-center">
    <h1 class="color-orange text-up font-semi margin0 p0-m">TRAINING & DEVELOPMENT</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3 class="color-grey">Coming Soon</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h4 class="color-grey">Sports For All has partnered with some of the best sporting academies across Mumbai and its adjoining districts.
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h4 class="color-grey">Train in the sport of your choice with certified coaches to take your talent to the next level!</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h4 class="color-grey">We will be launching our T&D programs very soon. In case you are interested and would like to get in touch with
            us, kindly write to us at <a href= "mailto:info@sfanow.in">info@sfanow.in</a> or Call us at 70456 84365/66/67</h4>
        </div>
      </div>
    </div>
    <!-- <div class="row">
<div class="same-sec display-inline">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="image-box">
      <img src="img/SU-logo.png" alt="Sport For All" class="img-responsive banner-set sf-absulate">
    </div>
  </div>
  <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="contain-box">
      <h2 class="color-blue font-semi ">Sports United</h2>
      <p>Sports United works relentlessly towards the development of young athletes by creating more opportunities for athletes to compete. Through the training and development programs, helmed by reputable coaches, Sports United is determined to achieve excellence in the sport of Badminton in Mumbai.</p>
      <div class="float-right mt25">
        <button type="button" name="button" class="btn btn-outline text-up varies btn1"  fancybox-button href="#image3">know more</button>
          <a href="img/pdf/Badminton.pdf" target="_blank"><button type="button" name="button" class="btn btn-outline text-up ml15">download</button></a>
      </div>
    </div>
  </div>
</div>
<div class="fancy1" style="display:none;" id="image3">

    <div class="text-center">
      <img src="img/Sports_United.jpg" alt="swimming" class="img-responsive" style="margin: 0 auto;">
      <a class="ptl" href="http://www.sfanow.in/img/Sports_United.jpg"  title="badminton" download>
        <img src="img/Ellipse.png" alt="" class="img-responsive">
      </a>
    </div>
</div>
    </div> -->
  </div>
</section>
<section class="bottom-padding hide">
  <div class="sport-name-bg text-center">
    <h1 class="color-orange text-up font-semi margin0 p0-m">TRAINING & DEVELOPMENT</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h4 class="color-grey">Sports For All has partnered with some of the best coaching, fitness, training and development programs for various
            sports across Mumbai. Avail training in the sport of your choice at any of these academies to take your sporting
            prowess to the next level. </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="same-sec display-inline">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="image-box">
            <img src="img/kleinetics.png" alt="Sport For All" class="img-responsive banner-set sf-absulate">
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="contain-box">
            <h2 class="color-blue font-semi ">Kleinetics</h2>
            <p>Kleinetics is India's premiere Kids Fitness Program backed by scientific training and technology to improve fitness
              and well being of kids. Through numerous dynamic and static drills, a variety in workouts and an innovative
              and scientific curriculum, Kleinetics focuses on cardiovascular endurance, strength, speed, agility, reaction
              time, power, flexibility, balance and co-ordination of the children. Founded by a team of Corporate professionals,
              Fitness enthusiasts, Doctors & Leading sports coaches - Kleinetics is aimed to bring about a paradigm shift
              in the way Fitness programs are designed & delivered in India.</p>
            <div class="float-right mt25">
              <button type="button" name="button" class="btn btn-outline text-up varies btn1" fancybox-button href="#image1">know more</button>
              <a href="img/pdf/Kleinetic.pdf" target="_blank"><button type="button" name="button" class="btn btn-outline text-up ml15">download</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="fancy1" style="display:none;" id="image1">
        <!-- <a id="inline">
      <img class="st-img" src="bower_components/img/object/clos.png">
    </a> -->
        <div class="text-center">
          <img src="img/klenetics.jpg" alt="kleinetics" class="img-responsive" style="margin: 0 auto;">
          <a class="ptl" href="http://www.sfanow.in/img/klenetics.jpg" title="kleinetics" download>
            <img src="img/Ellipse.png" alt="" class="img-responsive">
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="same-sec display-inline">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="image-box">
            <img src="img/swimming.png" alt="Sport For All" class="img-responsive banner-set sf-absulate">
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="contain-box">
            <h2 class="color-blue font-semi ">Michael Phelps Swimming School</h2>
            <p>Michael Phelps Swimming program is the most accomplished swimming program in the world. The program is designed
              by Michael Phelps himself along with his childhood coach, Cathy. The vision and goal of this program is to
              grow the sport across globe for fitness, leisure, water safety and professionally.</p>
            <div class="float-right mt25">
              <button type="button" name="button" class="btn btn-outline text-up varies btn1" fancybox-button href="#image">know more</button>
              <a href="img/pdf/MPSS.pdf" target="_blank"><button type="button" name="button" class="btn btn-outline text-up ml15">download</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="fancy1" style="display:none;" id="image">
        <!-- <a id="inline">
      <img class="st-img" src="bower_components/img/object/clos.png">
    </a> -->
        <div class="text-center">
          <img src="img/sfamps.jpg" alt="swimming" class="img-responsive" style="margin: 0 auto;">
          <a class="ptl" href="http://www.sfanow.in/img/sfamps.jpg" title="swimming" download>
            <img src="img/Ellipse.png" alt="" class="img-responsive">
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="same-sec display-inline">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="image-box">
            <img src="img/SR-logo.png" alt="Sport For All" class="img-responsive banner-set sf-absulate">
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="contain-box">
            <h2 class="color-blue font-semi ">Sports Reconnect</h2>
            <p>Sports Reconnect is on a journey to provide specialized coaching and developing skills in individuals essential
              for competing at the State, National and World Championship levels.Empowered with a qualified and committed
              team, Sports Reconnect is dedicated towards their mission of bringing quality Table Tennis education and training
              to young aspirants and athletes to help them take their game to the next level.</p>
            <div class="float-right mt25">
              <button type="button" name="button" class="btn btn-outline text-up varies btn1" fancybox-button href="#image2">know more</button>
              <a href="img/pdf/tt.pdf" target="_blank"> <button type="button" name="button" class="btn btn-outline text-up ml15">download</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="fancy1" style="display:none;" id="image2">
        <!-- <a id="inline">
      <img class="st-img" src="bower_components/img/object/clos.png">
    </a> -->
        <div class="text-center">
          <img src="img/Sports_Reconnect.jpg" alt="swimming" class="img-responsive" style="margin: 0 auto;">
          <a class="ptl" href="http://www.sfanow.in/img/Sports_Reconnect.jpg" title="tt" download>
            <img src="img/Ellipse.png" alt="" class="img-responsive">
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="row">
<div class="same-sec display-inline">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="image-box">
      <img src="img/SU-logo.png" alt="Sport For All" class="img-responsive banner-set sf-absulate">
    </div>
  </div>
  <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="contain-box">
      <h2 class="color-blue font-semi ">Sports United</h2>
      <p>Sports United works relentlessly towards the development of young athletes by creating more opportunities for athletes to compete. Through the training and development programs, helmed by reputable coaches, Sports United is determined to achieve excellence in the sport of Badminton in Mumbai.</p>
      <div class="float-right mt25">
        <button type="button" name="button" class="btn btn-outline text-up varies btn1"  fancybox-button href="#image3">know more</button>
          <a href="img/pdf/Badminton.pdf" target="_blank"><button type="button" name="button" class="btn btn-outline text-up ml15">download</button></a>
      </div>
    </div>
  </div>
</div>
<div class="fancy1" style="display:none;" id="image3">

    <div class="text-center">
      <img src="img/Sports_United.jpg" alt="swimming" class="img-responsive" style="margin: 0 auto;">
      <a class="ptl" href="http://www.sfanow.in/img/Sports_United.jpg"  title="badminton" download>
        <img src="img/Ellipse.png" alt="" class="img-responsive">
      </a>
    </div>
</div>
    </div> -->
  </div>
</section>