<section class="bottom-padding">
    <div class="sport-name-bg text-center">
        <h1 class="color-orange text-up font-semi margin0">venue</h1>
    </div>
    <div class="container">
        <div class="row mt40">
            <h2 class="color-blue text-center font-semi p-f20">D.Y. Patil Sports Academy, Nerul.</h2>
            <div class="mt20">
                <div class="col-md-8">
                    <div class="dt-venu ">
                        <p>
                            DYPSA is dedicated to research, development and education in a variety of sports, with the aim of creating a centre of excellence that will put India on the global stage of competitive sport.
                        </p>
                        <p>
                            Dr.Vijay Patil, Founder and President of DY Patil Sports Academy believed that every athlete deserves quality training and playing facilities. And with the aim to create a sports academy to rival the best in the world, he built DYPSA that houses world
                            class sporting facilities including a state-of-the-art stadium.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dy-image">
                        <img src="img/dy-patil.jpg" alt="Sport For All" class="img-responsive cn-100">
                    </div>
                </div>
            </div>
        </div>
        <div class="venue-date">
            <h4 class="text-center color-blue font-semi">Schedule</h4>
            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <div class="sc-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sport </th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Football</td>
                                    <td>01 Dec</td>
                                    <td>19 Dec</td>
                                </tr>
                                <tr>
                                    <td>Shooting</td>
                                    <td>03 Dec</td>
                                    <td>06 Dec</td>
                                </tr>
                                <tr>
                                    <td>Squash</td>
                                    <td>03 Dec</td>
                                    <td>06 Dec</td>
                                </tr>
                                <tr>
                                    <td>Basketball</td>
                                    <td>05 Dec</td>
                                    <td>19 Dec</td>
                                </tr>
                                <tr>
                                    <td>Badminton</td>
                                    <td>07 Dec</td>
                                    <td>13 Dec</td>
                                </tr>
                                <tr>
                                    <td>Tennis</td>
                                    <td>08 Dec</td>
                                    <td>19 Dec</td>
                                </tr>
                                <tr>
                                    <td>Handball</td>
                                    <td>08 Dec</td>
                                    <td>19 Dec</td>
                                </tr>
                                <tr>
                                    <td>Volleyball</td>
                                    <td>08 Dec</td>
                                    <td>19 Dec</td>
                                </tr>
                                <tr>
                                    <td>Judo</td>
                                    <td>09 Dec</td>
                                    <td>11 Dec</td>
                                </tr>
                                <tr>
                                    <td>Boxing</td>
                                    <td>09 Dec</td>
                                    <td>12 Dec</td>
                                </tr>
                                <tr>
                                    <td>Throwball</td>
                                    <td>10 Dec</td>
                                    <td>13 Dec</td>
                                </tr>
                                <tr>
                                    <td>Chess</td>
                                    <td>10 Dec</td>
                                    <td>13 Dec</td>
                                </tr>
                                <tr>
                                    <td>Chess</td>
                                    <td>10 Dec</td>
                                    <td>13 Dec</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sc-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sport </th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sport MMA</td>
                                    <td>12 Dec</td>
                                    <td>13 Dec</td>
                                </tr>
                                <tr>
                                    <td>Kabaddi</td>
                                    <td>13 Dec</td>
                                    <td>19 Dec</td>
                                </tr>
                                <tr>
                                    <td>Taekwondo</td>
                                    <td>14 Dec</td>
                                    <td>15 Dec</td>
                                </tr>
                                <tr>
                                    <td>Kho Kho</td>
                                    <td>14 Dec</td>
                                    <td>18 Dec</td>
                                </tr>
                                <tr>
                                    <td>Table Tennis</td>
                                    <td>13 Dec</td>
                                    <td>19 Dec</td>
                                </tr>
                                <tr>
                                    <td>Fencing</td>
                                    <td>15 Dec</td>
                                    <td>18 Dec</td>
                                </tr>
                                <tr>
                                    <td>Carrom</td>
                                    <td>15 Dec</td>
                                    <td>18 Dec</td>
                                </tr>
                                <tr>
                                    <td>Archery</td>
                                    <td>16 Dec</td>
                                    <td>18 Dec</td>
                                </tr>
                                <tr>
                                    <td>Karate</td>
                                    <td>16 Dec</td>
                                    <td>18 Dec</td>
                                </tr>
                                <tr>
                                    <td>Swimming</td>
                                    <td>17 Dec</td>
                                    <td>18 Dec</td>
                                </tr>
                                <tr>
                                    <td>Waterpolo</td>
                                    <td>19 Dec</td>
                                    <td>19 Dec</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 plall-15">
                <div class="mt25">
                    <img src="img/venue.jpg" alt="Sports For All" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="row mt14">
            <div class="col-md-4 plall-15">
                <img src="img/va1.jpg" alt="" class="img-responsive width100">
            </div>
            <div class="col-md-4 plall-15">
                <img src="img/va2.jpg" alt="" class="img-responsive width100">
            </div>
            <div class="col-md-4 plall-15">
                <img src="img/va3.jpg" alt="" class="img-responsive width100">
            </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-8 padding0">
              <h2 class="color-blue text-center font-semi p-f20">Sports Authority of India, Kandivali.</h2>
              <div class="vn-tbl">
                <table class="table">
                  <thead>
                    <tr>
                      <th>
                        Sport
                      </th>
                      <th>
                        Start Date
                      </th>
                      <th>
                        End Date
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td>Athletics</td>
                        <td>28 Nov   </td>
                        <td>30 Nov</td>
                      </tr>
                  </tbody>
                </table>
              </div>
          </div>
          <div class="col-md-4 padding0">
            <img src="img/vb1.jpg" alt="Sports For All" class="img-responsive width100">
          </div>
        </div>
        <hr>
        <div class="row">
<div class="col-md-4 padding0">
    <img src="img/vb2.jpg" alt="Sports For All" class="img-responsive width100">
</div>
<div class="col-md-8 padding0">
  <h2 class="color-blue text-center font-semi p-f20">Maharashtra Hockey Association Stadium</h2>
  <div class="vn-tbl">
    <table class="table">
      <thead>
        <tr>
          <th>
            Sport
          </th>
          <th>
            Start Date
          </th>
          <th>
            End Date
          </th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>Hockey</td>
            <td>13 Dec   </td>
            <td>15 Dec </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
        </div>
    </div>
</section>
