<div class="min-height-150 box-level mt30 ">
<div class="one-sec border-bottom2">
  <div class="comp-img display-inline">
    <img src="img/mini-clip.png" alt="">
  </div>
  <div class="  display-inline">
    <h4 class="margin0 color-blue text-up">Harshit shah</h4>
    <span>dhirubhai ambani intertional...</span>
  </div>
</div>
<div class="one-sec">
  <div class="comp-img display-inline">
    <img src="img/mini-clip.png" alt="">
  </div>
  <div class=" display-inline">
    <h4 class="margin0 color-blue text-up">Harshit shah</h4>
    <span>dhirubhai ambani intertional...</span>
  </div>
</div>
  <div class="footer-level sf-list pad-ul">
    <ul class="padding0 margin0 text-right">
      <li>11/5</li>
      <li>11/5</li>
      <li>11/5</li>
      <li><a href=""><img src="img/sf-play.png" alt="" class="widht25"></a></li>
    </ul>
  </div>
</div>
