<h4 class="ruleHead">Tournament Format:-</h4>
<div class="mb15" ng-bind-html="items.tournamentFormat"></div>
<h4 class="ruleHead">Rules & Regulations:-</h4>
<div class="mb15" ng-bind-html="items.rulesAndRegulation"></div>
<h4 class="ruleHead">Age Groups, Events & Weight Categories:-</h4>
<div class="mb15" ng-bind-html="items.ageGroupContent"></div>
<div class="faq-tables table-responsive mb15">
    <!--<div class="">-->
    <table class="table margin0">
        <thead>
            <tr>
                <th class="lowerthead borderRule">Age Group & Event</th>
                <th class="lowerthead borderRule">Weight Categories</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="value in items.ageGroupTable">
                <td>{{value.agegroup}}</td>
                <td>{{value.weight}}</td>
            </tr>
        </tbody>
    </table>
</div>
<h4 class="ruleHead">Eligibility Criteria:-</h4>
<div class="mb15" ng-bind-html="items.eligibilityContent"></div>
<div class="faq-tables table-responsive">
    <!--<div class="">-->
    <table class="table">
        <thead>
            <tr>
                <th class="lowerthead borderRule">Age Group</th>
                <th class="lowerthead borderRule">Cut Off Dates</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="value in items.eligibilityTable">
                <td>{{value.agegroup}}</td>
                <td>{{value.date}}</td>
            </tr>
        </tbody>
    </table>
</div>
<h4 class="ruleHead">TOURNAMENT ORGANIZING COMMITTEE:-</h4>
<div class="mb15" ng-bind-html="items.tournamentCommittee"></div>