<div class="min-height-150 box-level mt30 ">
  <div class="comp-name border-bottom2">
    <h4 class="margin0 color-blue text-up">Harshit shah</h4>
    <span>dhirubhai ambani...</span>
  </div>
  <div class="comp-name">
    <h4 class="margin0 color-blue text-up">Harshit shah</h4>
    <span>dhirubhai ambani...</span>
  </div>
  <div class="footer-level sf-list">
    <ul class="padding0 margin0">
      <li>11/5</li>
      <li>11/5</li>
      <li>11/5</li>
      <li><a href=""><img src="img/sf-play.png" alt="" class="widht25"></a></li>
    </ul>
  </div>
</div>
