<footer>
    <div class="container">
        <div class="row">
<div class="col-md-5">
  <div class="footer-link">
    <ul>
      <li><a href="">Overview</a></li>
      <li><a href="">Legal</a></li>
      <li><a href="">Careers</a></li>
      <li><a href="">Media Corner</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
</div>
<div class="col-md-2">
  <div class="social-link">
    <ul>
      <li><a href=""><i class="fa fa-facebook"></i></a></li>
      <li><a href=""><i class="fa fa-twitter"></i></a></li>
      <li><a href=""><i class="fa fa-youtube"></i></a></li>
    </ul>
  </div>
</div>
<div class="col-md-5">
  <div class="news-letter">
    <p>NEWSLETTER SIGNUP</p>
    <div class="display-inline">
      <div class="input-text">
            <input class="form-control emailclass" id="" placeholder="Enter Email Address" required type="email">
          </div>
          <div class="button-text">
            <button class="btn btn-default newslettersubmit">GO!</button>
          </div>
    </div>
  </div>
</div>
        </div>
    </div>
</footer>
