<footer >
    <div class="curve-footer">
    </div>
    <div class="footer-bg">


        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-4 col-xs-12">
                    <div class="footer-link sf-list color-white">
                        <ul class="padding0 text-c">
                            <li><a ui-sref="about-us">About SFA</a></li>
                            <li><a ui-sref="terms-condition">Legal</a></li>
                            <li><a ui-sref="faq">faq</a></li>
                            <!-- <li><a href="">Media Corner</a></li> -->
                            <li><a ui-sref="contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 pad0 col-xs-12">
                    <div class="social-link sf-list">
                        <ul class="padding0 text-c">
                            <li><a href="https://www.facebook.com/sportsforallnow" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/sfanow" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/sfanow/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 padding0 col-sm-2 col-xs-12 hidden-xs">
                  <div class="news-letter float-right fl text-c">
                    <p class="color-white text-up font-semi">NEWSLETTER SIGNUP</p>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 hidden-xs">
                    <div class="news-letter">

                        <div class="">
                            <div class="input-text">
                                <input class="form-control emailclass" id="" required type="email">
                            </div>
                            <div class="button-text">
                                <button class="btn btn-default newslettersubmit btn-go margin0">GO!</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="footer-slider">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="color-white text-up font-semi text-c">sponsers and partners</p>
        <div class="sponser-list sf-list">
          <ul class="padding0 text-c">
            <li class="text-center">
      <a href="">
        <img src="img/footer/p1.jpg" alt="">
      </a>
      <p class="color-white f12 font-bold mt10">VENUE PARTNER</p>
            </li>
            <!-- <li>
      <a href="">
        <img src="img/s2.png" alt="">
      </a>
            </li> -->
            <li class="text-center">
      <a href="">
        <img src="img/footer/p2.jpg" alt="">
      </a>
        <p class="color-white f12 font-bold mt10">EVENT PARTNER</p>
            </li>
            <li class="text-center">
      <a href="">
        <img src="img/footer/p3.jpg" alt="">
      </a>
        <p class="color-white f12 font-bold mt10">VIDEOGRAPHY PARTNER</p>
            </li>
            <li class="text-center">
      <a href="http://www.ssbm.co.in/" targ>
        <img src="img/footer/p5.jpg" alt="">
      </a>
        <p class="color-white f12 font-bold mt10">HOSPITAL PARTER</p>
            </li>
            <li class="text-center">
      <a href="http://www.enerzal.com/" target="_blank">
        <img src="img/footer/p4.jpg" alt="">
      </a>
        <p class="color-white f12 font-bold mt10">ENERGY DRINK PARTNER</p>
            </li>
            <!-- <li>
      <a href="">
        <img src="img/s7.png" alt="">
      </a>
            </li>
            <li>
      <a href="">
        <img src="img/s8.png" alt="">
      </a>
            </li> -->
          </ul>
        </div>
        <div class="footer-link2 sf-list color-base">
            <ul class="padding0">
                <li><a ui-sref="terms-condition">All rights reserved</a></li>
                <li><a ui-sref="terms-condition">Terms and Conditions</a></li>
                <li><a ui-sref="terms-condition">Disclaimer</a></li>
                <li><a ui-sref="terms-condition">© Copyright SportForAll 2015</a></li>

            </ul>
        </div>
      </div>
    </div>
  </div>

</div>
</footer>
