<footer ng-controller="footerctrl">
    <section>
        <div class="footer-slider" ng-if="selectedCity == 'Hyderabad'">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="color-grey2 text-up font-semi text-c">sponsors</p>
                        <div class="sponser-list sf-list" style="width:100%;overflow:hidden;">
                            <!-- mycircle -->
                            <ul class="padding0 text-c w1200" style="">
                                <li class="text-center" ng-repeat="slid in games track by $index">
                                    <a ng-if="slid.href" href="{{slid.href}}" target="_blank">
                                        <img ng-src="{{slid.img}}" alt="">
                                    </a>
                                    <img ng-if="!slid.href" ng-src="{{slid.img}}" alt="">
                                    <p class="color-grey2 f12 font-bold mt10 text-center text-up">{{slid.game}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="color-grey2 text-up font-semi text-c">partners</p>
                        <div class="sponser-list sf-list" style="width:100%;overflow:hidden;">
                            <!-- mycircle -->
                            <ul class="padding0 text-c w1200">
                                <li class="text-center" ng-repeat="slid in partner track by $index">
                                    <a ng-if="slid.href" href="{{slid.href}}" target="_blank">
                                        <img ng-src="{{slid.img}}" alt="">
                                    </a>
                                    <img ng-if="!slid.href" ng-src="{{slid.img}}" alt="">
                                    <p class="color-grey2 f12 font-bold mt10 text-center text-up">{{slid.game}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-slider" ng-if="selectedCity == 'Hyderabad'">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="color-grey2 text-up font-semi text-c">Supported by:</p>
                        <div class="sponser-list sf-list" style="width:100%;overflow:hidden;">
                            <!-- mycircle -->
                            <ul class="padding0 text-c w1200" style="">
                                <li class="text-center" ng-repeat="slid in supportedBy track by $index">
                                    <a ng-if="slid.href" href="{{slid.href}}" target="_blank">
                                        <img ng-src="{{slid.img}}" alt="">
                                    </a>
                                    <img ng-if="!slid.href" ng-src="{{slid.img}}" alt="">
                                    <p class="color-grey2 f12 font-bold mt10 text-center text-up">{{slid.game}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="color-grey2 text-up font-semi text-c">Sponsors & Partners:</p>
                        <div class="sponser-list sf-list" style="width:100%;overflow:hidden;">
                            <!-- mycircle -->
                            <ul class="padding0 text-c w1200">
                                <li class="text-center" ng-repeat="slid in sponsor_partner track by $index">
                                    <a ng-if="slid.href" href="{{slid.href}}" target="_blank">
                                        <img ng-src="{{slid.img}}" alt="">
                                    </a>
                                    <img ng-if="!slid.href" ng-src="{{slid.img}}" alt="">
                                    <p class="color-grey2 f12 font-bold mt10 text-center text-up">{{slid.game}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section ng-if="selectedCity !== 'Hyderabad'">
        <div class="footer-slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- SPONSER HEAD -->
                        <div class="sponser-head">
                            <p class="color-grey2 text-up font-semi text-c text-uppercase">{{sponsorData[0]._id}}</p>
                        </div>
                        <!-- SPONSER HEAD END -->
                    </div>
                    <!-- SPONSER IMAGE HODER -->
                    <div class="sponser-card-holder" ng-class="{'clear-row' : $index}" ng-repeat="images in sponsorData[0].info track by $index">
                        <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="image in images track by $index">
                            <div class="card-holder" ng-class="{'custom-cursor-sponsor':image.insidePage==='false'}">
                                <div class="" ng-click="goSponsor(image)">
                                    <img ng-src="{{image.footerImage | serverimage2}}" alt="" class="img-responsive m-clear-auto">
                                </div>
                                <p class="color-grey2 f12 f9-mob font-bold mt10 text-center text-up">{{image.logoCaption}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- SPONSER IMAGE HODER END -->
                </div>
                <!-- SPONSOR ROW END -->

                <!-- PARTNER ROW -->
                <div class="row">
                    <!-- PARTNER HEAD -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p class="color-grey2 text-up font-semi text-c text-uppercase">{{sponsorData[1]._id}}</p>
                    </div>
                    <!-- PARTNER HEAD -->

                    <!-- PARTNER_IMAGE HODER -->
                    <div class="partner-card-holder" ng-class="{'clear-row' : $index}" ng-repeat="images in sponsorData[1].info track by $index">
                        <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="image in images track by $index">
                            <div class="card-holder" ng-class="{'custom-cursor-sponsor':image.insidePage==='false'}">
                                <div class="" ng-click="goSponsor(image)">
                                    <img ng-src="{{image.footerImage | serverimage2}}" alt="" class="img-responsive m-clear-auto">
                                </div>
                                <p class="color-grey2 f12 f9-mob font-bold mt10 text-center text-up">{{image.logoCaption}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- PARTNER_IMAGE HOLDER END -->
                </div>
                <!-- PARTNER ROW END -->
            </div>
        </div>
    </section>
    <div class="second-slider">
        <div class="container">
            <div class="row">
                <!-- SPORTS HOLDER -->
                <div class="col-md-4">
                    <div class="f-list">
                        <span class="footer-header-color"> SPORTS</span>
                        <ul class="padding0 cl-nt">
                            <li ng-repeat="sport in mumbaiFooter track by $index" ng-if="selectedCity !== 'hyderabad'">
                                <a ui-sref="sport({name:'{{sport.name | firstcapitalize}}'})" target="_new">
                                    {{sport.name}}
                                </a>
                            </li>
                            <li ng-repeat="sport in hyderabadFooter track by $index" ng-if="selectedCity ==='hyderabad'">
                                <a ui-sref="sport({name:'{{sport.name | firstcapitalize}}'})" target="_new">
                                    {{sport.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- SPORTS HOLDER END -->

                <!-- SFA  2017-18 -->
                <div class="col-md-3">
                    <div class="f-list">
                        <span class="footer-header-color text-uppercase"> SFA {{selectedCity}} {{year16}}</span>
                        <ul class="padding0">
                            <li>
                                <label class="footer-champ-header">school championship</label>
                                <ul class="padding0">
                                    <li ng-if="selectedCity==='hyderabad'">
                                        <a ui-sref="liveupdates"> LIVE UPDATES</a>
                                    </li>
                                    <li class="" ng-if="selectedCity=='hyderabad'">
                                        <a href="{{registerSchool}}/livescore" target="_blank "> LIVE SCORE</a>
                                    </li>
                                    <li ng-if="!registerSchool">
                                        <a ui-sref="aboutchampionship"> ABOUT CHAMPIONSHIP</a>
                                    </li>
                                    <li ng-if="registerSchool">
                                        <a href="{{registerSchool}}/aboutchampionship " target="_blank "> ABOUT
                                            CHAMPIONSHIP</a>
                                    </li>
                                    <li ng-if="selectedCity =='mumbai'">
                                        <a href="{{registerSchool}}/register/player" target="_blank">REGISTER AS A
                                            PLAYER</a>
                                    </li>
                                    <li ng-if="selectedCity =='mumbai'">
                                        <a href="{{registerSchool}}/register/school" target="_blank">REGISTER AS A
                                            SCHOOL</a>
                                    </li>
                                    <!-- <li ng-if="selectedCity =='hyderabad'">
                                        <a href="{{registerSchool}}/register/player" target="_blank">LOGIN AS A PLAYER</a>
                                    </li>
                                    <li ng-if="selectedCity =='hyderabad'">
                                        <a href="{{registerSchool}}/register/school" target="_blank">LOGIN AS A SCHOOL</a>
                                    </li> -->
                                    <li ng-if="!registerSchool ">
                                        <a ui-sref="championshipschedules ">CHAMPIONSHIP SCHEDULE</a>
                                    </li>
                                    <li ng-if="registerSchool ">
                                        <a href="{{registerSchool}}/championship-schedules" target="_blank ">CHAMPIONSHIP
                                            SCHEDULE</a>
                                    </li>
                                    <li ng-if="selectedCity =='hyderabad'">
                                        <a href="{{registerSchool}}/specialevents" target="_blank">THINGS TO LOOK OUT
                                            FOR</a>
                                    </li>
                                    <li ng-if="!registerSchool">
                                        <a ui-sref="faq">FAQs</a>
                                    </li>
                                    <li ng-if="registerSchool">
                                        <a href="{{registerSchool}}/faq" target="_blank ">FAQs</a>
                                    </li>

                                </ul>
                                <ul class="padding0" ng-if="selectedCity ==='Hyderabad'">
                                    <li ng-if="selectedCity==='hyderabad'">
                                        <a ui-sref="liveupdates"> LIVE UPDATES</a>
                                    </li>
                                    <li class="" ng-if="selectedCity=='hyderabad'">
                                        <a ui-sref="livescore"> LIVE SCORES</a>
                                    </li>
                                    <li class="hide" ng-if="selectedCity!=='hyderabad'">
                                        <a ui-sref="liveupdates"> LIVE UPDATES</a>
                                    </li>
                                    <li class="hide" ng-if="selectedCity!=='hyderabad'">
                                        <a ui-sref="livescore"> LIVE SCORES</a>
                                    </li>
                                    <li ng-if="!registerSchool ">
                                        <a ui-sref="aboutchampionship"> ABOUT CHAMPIONSHIP</a>
                                    </li>
                                    <li ng-if="registerSchool ">
                                        <a href="{{registerSchool}}/aboutchampionship " target="_blank "> ABOUT
                                            CHAMPIONSHIP</a>
                                    </li>
                                    <li class="hide">
                                        <a href="{{registerSchool}}/register/player" target="_blank">REGISTER AS A
                                            PLAYER</a>
                                    </li>
                                    <li class="hide">
                                        <a href="{{registerSchool}}/register/school" target="_blank">REGISTER AS A
                                            SCHOOL</a>
                                    </li>
                                    <li ng-if="selectedCity =='hyderabad'">
                                        <a href="{{registerSchool}}/specialevents" target="_blank">THINGS TO LOOK OUT
                                            FOR</a>
                                    </li>
                                    <li ng-if="!registerSchool ">
                                        <a ui-sref="championshipschedules ">CHAMPIONSHIP SCHEDULE</a>
                                    </li>
                                    <li ng-if="registerSchool ">
                                        <a href="{{registerSchool}}/championship-schedule " target="_blank ">CHAMPIONSHIP
                                            SCHEDULE</a>
                                    </li>
                                    <li ng-if="!registerSchool">
                                        <a ui-sref="championshipschedule">DRAWS &amp; SCHEDULES</a>
                                    </li>
                                    <li ng-if="registerSchool">
                                        <a href="{{registerSchool}}/draws-schedule" target="_blank">DRAWS &amp;
                                            SCHEDULES</a>
                                    </li>
                                    <li ng-if="!registerSchool">
                                        <a ui-sref="specialevents">SPECIAL EVENTS</a>
                                    </li>
                                    <li ng-if="registerSchool">
                                        <a href="{{registerSchool}}/specialevents" target="_blank">SPECIAL EVENTS</a>
                                    </li>
                                    <li ng-if="!registerSchool ">
                                        <a ui-sref="faq ">FAQs</a>
                                    </li>
                                    <li ng-if="registerSchool ">
                                        <a href="{{registerSchool}}/faq " target="_blank ">FAQs</a>
                                    </li>
                                </ul>
                            </li>
                            <li ng-if="selectedCity==!hyderabad" class="hide">
                                <label class="footer-champ-header">College championship</label>
                                <ul class="padding0">
                                    <li ng-if="!registerSchool ">
                                        <a ui-sref="register"> REGISTER</a>
                                    </li>
                                    <li ng-if="registerSchool ">
                                        <a href="{{registerSchool}}/register " target="_blank "> REGISTER</a>
                                    </li>
                                    <li ng-if="!registerSchool ">
                                        <a ui-sref="championshipschedules ">CHAMPIONSHIP SCHEDULE</a>
                                    </li>
                                    <li ng-if="registerSchool ">
                                        <a href="{{registerSchool}}/championship-schedule " target="_blank ">CHAMPIONSHIP
                                            SCHEDULE</a>
                                    </li>
                                    <li ng-if="!registerSchool">
                                        <a ui-sref="championshipschedule">DRAWS &amp; SCHEDULES</a>
                                    </li>
                                    <li ng-if="registerSchool">
                                        <a href="{{registerSchool}}/draws-schedule" target="_blank">DRAWS &amp;
                                            SCHEDULES</a>
                                    </li>
                                    <li ng-if="!registerSchool">
                                        <a ui-sref="specialevents">SPECIAL EVENTS</a>
                                    </li>
                                    <li ng-if="registerSchool">
                                        <a href="{{registerSchool}}/specialevents" target="_blank">SPECIAL EVENTS</a>
                                    </li>
                                    <li ng-if="!registerSchool ">
                                        <a ui-sref="faq ">FAQs</a>
                                    </li>
                                    <li ng-if="registerSchool ">
                                        <a href="{{registerSchool}}/faq " target="_blank ">FAQs</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- SFA MUMBAI 2017-18 END -->

                <!-- PROFILE -->
                <div class="col-md-2">
                    <div class="f-list">
                        <span class="footer-header-color">PROFILE</span>
                        <ul class="padding0">
                            <li class="hide">
                                <label class="footer-champ-header">SCHOOL</label>
                            </li>
                            <!-- HYDERABAD -->
                            <li>
                                <a ng-if="registerSchool" href="{{registerSchool}}/students" target="_blank">
                                    <span>2018</span>
                                    <span>ATHLETES</span>
                                </a>
                                <a ng-if="!registerSchool" ui-sref="students">
                                    <span>2018</span>
                                    <span>ATHLETES</span>
                                </a>
                            </li>
                            <li>
                                <a ng-if="registerSchool" href="{{registerSchool}}/school" target="_blank">
                                    <span>2018</span>
                                    <span>SCHOOLS</span>
                                </a>
                                <a ng-if="!registerSchool" ui-sref="school">
                                    <span>2018</span>
                                    <span>SCHOOLS</span>
                                </a>
                            </li>
                            <li>
                                <a ng-if="registerSchool" href="{{registerSchool}}/team" target="_blank">
                                    <span>2018</span>
                                    <span>TEAMS</span>
                                </a>
                                <a ng-if="!registerSchool" ui-sref="team">
                                    <span>2018</span>
                                    <span>TEAMS</span>
                                </a>
                            </li>
                            <span ng-if="selectedCity==='mumbai'" class="footer-header-color">VIEW PREVIOUS PROFILE</span>
                            <li>
                                <a ui-sref="students">
                                    ATHLETES
                                </a>
                            </li>
                            <li>
                                <a ui-sref="school">
                                    SCHOOLS
                                </a>
                            </li>
                            <li>
                                <a ui-sref="team">
                                    TEAMS
                                </a>
                            </li>


                            <!-- HYDERABAD END -->
                        </ul>
                        <!-- MUMBAI COLLEGE -->
                        <ul class="padding0 hide" ng-if="selectedCity==='mumbai'">
                            <li>
                                <label class="footer-champ-header">COLLEGE</label>
                            </li>
                            <li>
                                <a ng-if="registerCollege" href="{{registerCollege}}/students" target="_blank">
                                    <span>2018</span>
                                    <span>ATHLETES</span>
                                </a>
                                <a ng-if="!registerCollege" ui-sref="students">
                                    <span>2018</span>
                                    <span>ATHLETES</span>
                                </a>
                            </li>
                            <li>
                                <a ng-if="registerCollege" href="{{registerCollege}}/school" target="_blank">
                                    <span>2018</span>
                                    <span>SCHOOLS</span>
                                </a>
                                <a ng-if="!registerCollege" ui-sref="school">
                                    <span>2018</span>
                                    <span>SCHOOLS</span>
                                </a>
                            </li>
                            <li>
                                <a ng-if="registerCollege" href="{{registerCollege}}/team" target="_blank">
                                    <span>2018</span>
                                    <span>TEAMS</span>
                                </a>
                                <a ng-if="!registerCollege" ui-sref="team">
                                    <span>2018</span>
                                    <span>TEAMS</span>
                                </a>
                            </li>
                        </ul>
                        <!-- MUMBAI COLLEGE END -->
                    </div>

                </div>
                <!-- PROFILE END -->


                <!-- RESULTS -->
                <div class="col-md-3">
                    <div class="f-list">
                        <!-- HYDERABAD RESULTS -->
                        <div class="mt5">
                            <a href="{{registerSchool}}/results/" target="_new" class="footer-header-color text-up">RESULTS</a>
                        </div>
                        <!-- HYDERABAD END -->

                        <!-- MUMBAI RESULTS -->
                        <span class="footer-header-color" ng-if="selectedCity !=='hyderabad'">RESULTS</span>
                        <!-- RESULTS HOLDER -->
                        <ul class="padding0" ng-if="selectedCity !=='hyderabad'">
                            <li>
                                <a href="{{registerSchool}}/results/" target="_blank " ui-sref="school-ranking">
                                    <span>SFA MUMBAI 2018</span>
                                </a>>
                            </li>
                            <li class="hide">
                                <a href="{{registerCollege}}/results/" target="_blank ">
                                    <span>2018</span>
                                    <span>COLLEGE RANKING</span>
                                </a>
                            </li>
                        </ul>
                        <!-- MUMBAI RESULTS END -->
                        <!-- RESULTS HOLDER -->

                        <!-- GALLERY -->
                        <div class="mt5">
                            <a href="{{linkForAll}}media-gallery" target="_new" class="footer-header-color text-up">gallery</a>
                        </div>
                        <!-- GALLERY END -->
                        <!-- PRESS MEDIA -->
                        <div class="mt5">
                            <a href="{{linkForAll}}media-press" target="_new" class="footer-header-color text-up">PRESS
                                &amp; MEDIA</a>
                        </div>
                        <!-- PRESS MEDIA END -->
                        <!-- SPONSOR  -->
                        <div class="mt5">
                            <a href="{{registerSchool}}/sponsors-partner" target="_new" class="footer-header-color text-up">SPONSORS
                                &amp; PARTNERS</a>
                        </div>
                        <!-- SPONSOR END -->
                        <!-- ABOUT US -->
                        <!-- <div class="mt5">
                            <a ui-sref='about-us' class="footer-header-color text-up">ABOUT US</a>
                        </div> -->
                        <div class="mt5">
                            <a href="https://sfanow.in/about-us" class="footer-header-color text-up">ABOUT US</a>
                        </div>
                        <!-- ABOUT US -->
                        <!-- CONTACT -->
                        <div class="mt5">
                            <!-- ui-sref="contact" -->
                            <a href="https://sfanow.in/contact" target="_new" class="footer-header-color text-up">CONTACT
                                US</a>
                        </div>
                    </div>
                    <!-- RESULTS -->
                </div>

            </div>
            <!--SOCIAL MEDIA LOGO -->
            <div class="row mt25">
                <div class="col-md-5">
                    <div class="">
                        <div class="sf-list">
                            <ul class="footer-logos">
                                <li>
                                    <a href="https://www.facebook.com/sportsforallnow" target="_blank">
                                        <i class="fa fa-facebook s-l-i"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/sfanow" target="_blank">
                                        <i class="fa fa-twitter s-l-i"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCWoiHFley8hGy0ad_t-0O7w" target="_blank">
                                        <i class="fa fa-youtube s-l-i"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com/sfanow/" target="_blank">
                                        <i class="fa fa-instagram s-l-i"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SOCIAL MEDIA LOGO -->
            <!-- DISCLAMER -->
            <div class="row mt25">
                <div class="col-md-12">
                    <div class="di">
                        <p class="color-white m-clear">Disclaimer:</p>
                        <p class="di-inline color-white"> All material available on this website is intellectual
                            property and copyrighted content of SFA Sporting
                            Services Pvt. Ltd., unless otherwise indicated. Unauthorized use and/or duplication of this
                            material
                            without written permission from this site’s author and/or owner is strictly prohibited</p>
                    </div>
                </div>
            </div>
            <!-- DISCLAMER END -->
            <div class="row mt25">
                <div class="col-md-7">
                    <div class="sf-list all-l">
                        <ul class="padding0">
                            <li>
                                All rights reserved
                            </li>
                            <li>
                                <a ui-sref="terms-condition">
                                    Terms and Conditions
                                </a>
                            </li>
                            <li>
                                Disclaimer
                            </li>
                            <li>
                                © Copyright - SFA Sporting Services Pvt. Ltd.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>