<header>
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="row new-h">
        <div class="col-md-2">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="" ui-sref="home"><img src="img/cl-logo.png" alt="logo" class="mr-min"> </a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="collapse navbar-collapse sf-list" id="nav-collapse">
<ul class="margin0 padding0 prs">
  <li>
    <a href="">
      ABOUT US
    </a>
  </li>
  <li>
    <a href="">
    PROFILE
    </a>
  </li>
  <li>
    <a href="">
      SPORTS
    </a>
  </li>
  <li>
    <a href="">
      RESULT
    </a>
  </li>
  <li>
    <a href="">
      MEDIA & GALLERY
    </a>
  </li>
  <li>
    <a href="">
    Training & Development
    </a>
  </li>
</ul>
          </div>
        </div>
        <div class="col-md-2">
<div class="sfa-mum">
  <img src="img/top-pin.png" alt="">
</div>
        </div>
      </div>



    </div>
</nav>
</header>
