<header class="{{nav}}" ng-controller="headerctrl">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 custom sf-list text-center">
                    <ul class="menu-list hidden-xs text-up padding0">

                        <li><a ui-sref="about-us">ABOUT US</a></li>
                        <li class="sports-hover-before"><a ng-mouseenter="options=!options" ng-model="checkbox">sports <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                          <div class="caret-custom-before" ng-mouseenter="options=true" ng-mouseleave="options=false" ng-show="options || checkbox"></div>
                        </li>
                        <li class="sf-relative hide-op bg-n"><a>profiles<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <!-- <ul class="dropdown-menu sf-absulate show-op"> -->
                            <ul class="dropdown-menu sf-absulate blue-menus menu-top-header">
                              <li><a ui-sref="students">athletes</a></li>

                                <li><a ui-sref="school">Schools</a></li>


                                <li><a ui-sref="team">teams</a></li>
                            </ul>
                        </li>
                        <!-- <li><a ui-sref="school">Schools</a></li>


                        <li><a ui-sref="students">STUDENTS</a></li> -->
                        <li><a ui-sref="media-gallery">media &amp; gallery</a></li>
                        <li class="logoli">
                            <a class="" ui-sref="home">
                                <img src="img/logo.png" alt="logo" class="img-responsive onlylogo">
                            </a>
                        </li>


                        <li><a ui-sref="training-development">TRAINING & DEVELOPMENT</a></li>
                        <li class="sf-relative hide-op"><a ui-sref="students">SFA MUMBAI 2016</a>
                            <ul class="dropdown-menu sf-absulate show-op">
                                <li><a ui-sref="registration">Registration Form</a></li>
                                <li><a ui-sref="faq">FAQs</a></li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>

            <div class="navbar-header padtop">
                <div class="mobile-logo visible-xs">

                    <a class="" ui-sref="home">
                        <img src="img/logo.png" alt="logo" class="img-responsive onlylogo">
                    </a>

                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="nav navbar-nav visible-xs text-up text-center color-blue">

                    <li><a ui-sref="about-us">ABOUT US</a></li>
                    <li><a ui-sref="students">athletes</a></li>

                    <li><a ui-sref="school">Schools</a></li>
                    <li><a ui-sref="teams">teams</a></li>
                    <li><a ui-sref="media-gallery">media & gallery</a></li>
                    <li><a ui-sref="training-development">TRAINING & DEVELOPMENT</a></li>
                    <li><a ui-sref="registration">Registration Form</a></li>
                    <li><a ui-sref="faq">FAQs</a></li>




                </ul>
            </div>
        </div>
        <div class="on-mouse-hover" ng-mouseenter="options=true" ng-mouseleave="options=false">

            <div class="bg-head curve-head no-before" ng-show="options || checkbox">
                <div class="container">
                    <div class="row">
                        <div class="head-table">
                            <div class="col-md-2 padding0">
                                <div class="menu-list-hover">
                                    <h5 class="text-up " style="color:#f67012">team sports</h5>
                                    <ul class="padding0">
                                        <li>
                                            <a ui-sref="sport({name:'basketball'})">
basketball
                        </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'football'})">
football
                        </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'handball'})">
handball
                        </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'hockey'})">
hockey
                        </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'kabaddi'})">
                          kabaddi
                        </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'kho-kho'})">
                          kho-kho
                        </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'throwball'})">
                          throwball
                        </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'volleyball'})">
                          volleyball
                        </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2 padding0">
                                <div class="menu-list-hover">
                                    <h5 class="text-up" style="color:#c9e000">racquet sports</h5>
                                    <ul class="padding0">
                                        <li>
                                            <a ui-sref="sport({name:'badminton'})">
badminton
                        </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'table tennis'})">
table tennis
                        </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'tennis'})">
tennis
                        </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'squash'})">
squash
                        </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2 padding0">
                                <div class="menu-list-hover">
                                    <h5 class="text-up" style="color:#aa33ff">combat sports</h5>
                                    <ul class="padding0">
                                        <li>
                                            <a ui-sref="sport({name:'boxing'})">
boxing
                        </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'fencing'})">
fencing
                        </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'judo'})">
judo
                        </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'karate'})">
karate
                        </a>
                                        </li>
                                        <li>

                                            <a ui-sref="sport({name:'  sport mma'})">
                                              sport mma
                                          </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'taekwondo'})">
                                        taekwondo
                                        </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2 padding0">
                                <div class="menu-list-hover">
                                    <h5 class="text-up" style="color:#d8485a">target sports</h5>
                                    <ul class="padding0">
                                        <li>
                                            <a ui-sref="sport({name:'archery'})">
archery
                        </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'shooting'})">
shooting
                        </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2 padding0">
                                <div class="menu-list-hover">
                                    <h5 class="text-up" style="color:#00aaff">aquatics</h5>
                                    <ul class="padding0">
                                        <li>
                                            <a ui-sref="sport({name:'swimming'})">
swimming
                        </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'water polo'})">
water polo
                        </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2 padding0">
                                <div class="menu-list-hover">
                                    <h5 class="text-up" style="color:#0edb87">individual sports</h5>
                                    <ul class="padding0">
                                        <li>
                                            <a ui-sref="sport({name:'athletics'})">
athletics
                        </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'carrom'})">
carrom
                        </a>
                                        </li>
                                        <li>
                                            <a ui-sref="sport({name:'chess'})">
    chess
  </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </nav>

</header>
<div class="loaderHeader" ng-show="template.isLoader">
    <img src="img/load.gif" alt="" />
</div>
