<div class="schoolbenefit-modal">
  <div class="cross-close-term pull-right">
    <button type="button" aria-label="Close" ng-click="$dismiss()" class="float-right close-btn">X</button>
    <!--<i class="fa fa-2x fa-times-circle-o" aria-hidden="true"></i>-->
    <!--<i class="fa  fa-times" aria-hidden="true"></i>-->
    </a>
  </div>
  <h3 class="modsub">
    <b>SFA REGISTERED ATHLETES BENEFITS</b>
  </h3>
  <p class="mgtp"><b>Overall benefits that an athlete can avail by being a registered member athlete of SFA:</b></p>
  <h5><b>SFA Championship SFA MUMBAI 2017</b></h5>
  <p class="mgtp"><b>Athlete sporting experience at par International sporting standards.</b></p>
  <ul class="tick">
    <li><b>State-of-the-art,</b> multi-sporting infrastructure & facilities</li>
    <li><b>HD Match Videography</b> capturing every game of an athlete</li>
    <li><b>High Quality Competition</b> – A chance to compete with the Mumbai’s best sporting talent</li>
    <li><b>Secure & Hygienic</b> sporting environment</li>
    <li><b>Immediate First Aid Care</b> with <b>Physiotherapists & Physicians</b> stationed at all sporting arenas</li>
    <li>All sports conducted as per <b>Standard, Fair practices by Certified Match Officials</b></li>
    <li>Access to <b>Hydration & Nutrition centre’s</b> with <b>Complimentary Energy Drinks</b> for each athlete</li>
    <li><b>Scouting of talented athletes</b> across different sports with an opportunity to win <b>training & development  scholarships</b>      along with <b>complimentary mental & fitness assessment programs</b></li>
    <li>Athletes can avail training in the sport of their choice with SFA’s <b>Training & Development Programs*</b></li>
    <li>Eligible to win <b>Special Hampers & Cash Prizes</b> in the following award categories:
      <ul style="list-style-type: circle" class="notick">
        <li><b>Most promising</b> male athlete</li>
        <li><b>Most promising female</b> athlete</li>
        <li>Athlete participating in the <b>maximum number of sports</b></li>
      </ul>
    </li>
    <li>No entry fees applicable to parents or other visitors accompanying an athlete from a registered school.</li>
  </ul>
  <h5><b>Advanced SPORTS SESSIONS</b></h5>
  <p class="mgtp"><b>Complimentary Sport sessions by leading professionals for all athletes of the school </b></p>
  <div class=" mgtp">
    <label class="pdl30"><b>In School:</b></label>
    <ul class="tick">
      <li>Fitness boot Camp </li>
      <li>Hydration Clinic</li>
      <li>Nutrition Workshop</li>
    </ul>
    <label class="pdl30"><b>Championship:</b></label>
    <ul class="tick">
      <li>Sports Workshops & Fitness Clinics for athletes</li>
      <li>Special Sport tutorials for athletes & non-athletes (Shooting, Archery etc)</li>
      <li>Special Days (Opening Ceremony, Girls Day, Closing Ceremony & other special days)</li>
    </ul>
    <div class="mod-cls">
    <h5 class="custom-a"><b>SCHOOL SPORTS ONLINE</b> <a href="https://sfanow.in/" target="_new" style="color: mediumblue">WWW.SFANOW.IN </a></h5>
    </div>
    <h5><b>Comprehensive Online School Sporting Profiles</b> complete with:</h5>
    <ul class="tick">
      <li><b>Athlete sporting profiles</b> comprising of:
        <ul class="notick" style="list-style-type: circle; padding-left: 50px">
          <li><b>HD Match Videos</b> of all the games played across each sport & event category</li>
          <li>Athlete’s SFA <b>Track Record</b></li>
          <li>Year on year <b>Match Statistics</b></li>
          <li><b>Achievements</b> across every sport & event category</li>
          <li>Opportunity to get match video analyzed by experts in selected sports</li>
        </ul>
      </li>
      <li><b>Photo & Video Gallery</b> capturing all the sporting action</li>
      <li><b>Fixtures, Draws & Match schedules</b> to be published online prior to the championship</li>
    </ul>
    <p>*All Training & Development Programs to be announced one month prior to the championship </p>
    <p>*All special awards to be announced one month prior to the championship</p>
  </div>
</div>