<div class="sfacity-modal">
  <div class="modal-container">
    <div class="modal-body">
      <!-- <video controls autoplay>
        <source ng-src="/img/video/SFA-CHAMPIONSHIP-2017.mp4" type="video/mp4">
        <source ng-src="/img/video/SFA-CHAMPIONSHIP-2017.ogg" type="video/ogg"> Your browser does not support the video tag.
      </video> -->
      <!-- <div class="size" style="width:840px;height:440px"> -->
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="videoSize">
            <iframe width="100%" height="100%" ng-src="https://www.youtube.com/embed/dAUW5pUBNl8?autoplay=1&cc_load_policy=1" frameborder="0"
              allowfullscreen></iframe>
            <!-- <iframe width="100%" height="100%" src="https://player.vimeo.com/video/228948984?autoplay=1&cc_load_policy=1" frameborder="0"
              allowfullscreen></iframe> -->
            <!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/fFOSiU7lvZ8?autoplay=1&cc_load_policy=1" frameborder="0"
              allowfullscreen></iframe> -->
            <!-- <iframe width="100%" height="100%" src="https://player.vimeo.com/video/128854100?autoplay=1&cc_load_policy=1" frameborder="0"
              allowfullscreen></iframe> -->
          </div>
        </div>
      </div>
      <!-- </div> -->
      <div class="sfavideo-content">
        <div class="row">
          <p class="text-uppercase text-center"> To Participate in the upcoming SFA championship kindly select the city first</p>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <button class="btn btn-default video-city form-control" type="submit" ng-click="openCity('mumbai')">Mumbai</button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <button class="btn btn-default video-city form-control" type="submit" ng-click="openCity('hyderabad')">Hyderabad</button>
            </div>
            <!-- <div class="col-md-4 col-sm-4 col-xs-12">
              <button class="btn btn-default video-city form-control" type="submit" ng-click="openCity('ahmedabad')">Ahmedabad</button>
            </div> -->
          </div>
          <!--<ul class="list-inline">
            <li>
              <button class="btn btn-default video-city" type="submit">Mumbai</button>
              </li>
              <li>
                <button class="btn btn-default video-city" type="submit">Hyderabad</button>
              </li>
              <li>
                <button class="btn btn-default video-city" type="submit">Ahmedabad</button>
              </li>
              </ul>-->
        </div>
      </div>
    </div>
  </div>
</div>