<div class="sfacity-backgroundwhite">
  <div class="sfacity-modal">
    <div class="modal-container">
      <a class="video-cross-close-term hidden-xs" href="https://mumbaischool.sfanow.in/register/player" title="Redirect To Mumbai Registration">
        <button type="button" aria-label="Close" class="video-close-btn">X</button>
      </a>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="img-holder">
              <img src="img/bluesfalogo.png" class="img-responsive" alt="">
            </div>
          </div>
        </div>
        <div class="sfavideo-content">
          <div class="text-center">
            <div class="sfacity-welcomecontent opensans-semibold">
              Welcome to Sports For All
            </div>
            <div class="sfacity-kindlyenter opensans">
              Kindly Select a City to Register
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-1 col-md-10 col-md-offset-0 col-sm-12 col-xs-12">
              <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                <button class="btn btn-default video-city form-control" type="submit" ng-click="openCity('mumbai','school')">Mumbai</button>
                <div class="register-opennow opensans text-center">Registration Open Now</div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <button class="btn btn-default video-city form-control" type="submit" ng-click="openCity('hyderabad','school')">Hyderabad</button>
                <div class="register-opennow opensans text-center">Registration Open Now</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>