<div class="schoolbenefit-modal">
  <div class="cross-close-term pull-right">
    <button type="button" aria-label="Close" ng-click="$dismiss()" class="float-right close-btn">X</button>
    <!--<i class="fa fa-2x fa-times-circle-o" aria-hidden="true"></i>-->
    <!--<i class="fa  fa-times" aria-hidden="true"></i>-->
    </a>
  </div>
  <h4 class="modsub custm-font">
    BENEFITS FOR A SCHOOL REGISTERED WITH SFA
  </h4>
  <p class="mgtp">Overall benefits that a school and its students (Athletes & Non Athletes) can avail by being a registered member school
    of SFA:
  </p>
  <h5 class="custm-font"><b>SFA Championship SFA MUMBAI 2017</b></h5>
  <p class="mgtp cutm-font-prime">Be a part of the largest professional youth sporting championship!</p>
  <ul class="mr-left">
    <li>Schools are eligible to participate across 25+ Sports</li>
    <li>Eligible to be featured on the School Ranking Table (Ranking of Schools as per the sporting performance)</li>
    <li>Automatic Qualification for special awards. Eligible to win Special Hampers & Cash Prizes in the following award categories:
      <ul style="list-style-type: decimal; padding-top: 10px;">
        <li>School participating in the maximum number of sports</li>
        <li>School with maximum win%</li>
        <li>Best coaching team of a school<br>*All special awards to be announced once registrations are closed</li>
      </ul>
    </li>
    <li>Discounted athlete registration fees for all participants from registered school </li>
    <li>No entry fee is applicable to parents or any other visitors accompanying athletes of registered schools.</li>
  </ul>
  <h5 class="custm-font">Advanced SPORTS SESSIONS</h5>
  <p class="mgtp cutm-font-prime">Complimentary Sport sessions by leading professionals for all the students of the school (Athletes & Non-Athletes)</p>
  <div class=" mgtp">
    <label class="pdl21 custm-font">In School:</label>
    <ul class="tick mr-left">
      <li>Fitness boot Camp </li>
      <li>Hydration Clinic</li>
      <li>Nutrition Workshop</li>
    </ul>
    <label class="pdl21 custm-font">Championship:</label>
    <ul class="tick mr-left">
      <li>Sports Workshops & Fitness Clinics for athletes</li>
      <li>Special Sport tutorials for athletes & non-athletes (Shooting, Archery etc)</li>
      <li>Special Days (Opening Ceremony, Girls Day, Closing Ceremony & other special days)</li>
    </ul>
    <div class="mod-cls">
      <h5 class=" custm-font">SCHOOL SPORTS ONLINE</h5>
      <p class="custom-a cutm-font-prime"> Comprehensive Online School Sporting Profiles accessible on the SFA Portal<a href="https://sfanow.in/" target="_new"
          style="color: mediumblue"> (WWW.SFANOW.IN) </a></p>
    </div>
    <ul class="mr-left">
      <li>HD Match videos showcasing talent of of the schools across disciplines.</li>
      <li>School’s SFA Track Record</li>
      <li>Year on year Match Statistics</li>
      <li>Achievements across every sport </li>
      <li>Team Profiles & Statistics</li>
      <li>Individual profiles showcasing accomplishment and maintaining record for each athlete of the school</li>
    </ul>
  </div>
  <p>*All special awards to be announced one month prior to the championship</p>
</div>