
<div class="sports-modal">
  <div class="modal-dialog modal-sm" >

      <div class="modal-header">
        <button type="button" aria-label="Close" ng-click="$dismiss()" class="float-right close-btn">X</button>
        <h3 class="modal-title color-blue font-semi text-center text-up mt25" >sport participated</h3>
      </div>
      <div class="modal-body">
      <ul class="padding0 text-center sports-all-list margin0">
        <li>
          <div class="sport-list">
            <div class="list-img display-inline">
              <img src="img/sf-s1.png" alt="">
            </div>
            <div class="sports-name display-inline">
              <h4 class="text-up color-base">Tennis</h4>
            </div>
          </div>
        </li>
        <li>
          <div class="sport-list">
            <div class="list-img display-inline">
              <img src="img/sf-s1.png" alt="">
            </div>
            <div class="sports-name display-inline">
              <h4 class="text-up color-base">Tennis</h4>
            </div>
          </div>
        </li>
        <li>
          <div class="sport-list">
            <div class="list-img display-inline">
              <img src="img/sf-s1.png" alt="">
            </div>
            <div class="sports-name display-inline">
              <h4 class="text-up color-base">Tennis</h4>
            </div>
          </div>
        </li>
        <li>
          <div class="sport-list">
            <div class="list-img display-inline">
              <img src="img/sf-s1.png" alt="">
            </div>
            <div class="sports-name display-inline">
              <h4 class="text-up color-base">Tennis</h4>
            </div>
          </div>
        </li>
      </ul>
      </div>


  </div>
</div>
