<div class="login-modal">
    <div class="cross-close-term pull-right">
        <a href="" class="closes" ng-click="$dismiss();">
            <!--<i class="fa fa-2x fa-times-circle-o" aria-hidden="true"></i>-->
            <i class="fa  fa-times" aria-hidden="true"></i>
        </a>
    </div>
    <h5 class="modsub text-center">
        <u>SCHOOL REGISTRATION FORM DISCLAIMER</u>
    </h5>
    <p>I as the Principal/Head of the Institution/School/ Sports Department, hereby consent to the students (“Athlete(s)”) to
        participate in the Event being organized by SFA Events Pvt. Ltd (“SFA”). </p>
    <p>I undertake that the Institution/School would be represented by the Athlete/s and the Athlete/s would abide by the rules
        and regulations of the Event.</p>
    <p>
        I understand that the annual registration fees mentioned as a part of the online form, which shall be payable by the Institution/School
        irrespective of the number of Athletes a school wishes to send; will be valid for the Event for the year 2017 only.
        In the event no Athlete is eligible (Basis SFA’s eligibility criteria mentioned in the individual sports registration
        forms) to participate from the Institution/School, SFA shall refund the registration fee within thirty (30) days
        from the last day of registration.
    </p>
    <p>(Payment will be accepted by Demand Draft, Cheque, Cash, Online Payment Options, Credit Card, Debit Card and Online Bank
        Transfer. The Demand Draft/Cheque must be drawn in favor of SFA Events Pvt. Ltd. Demand Draft to be payable at Mumbai
        at the address mentioned on the online entry form. A Payment receipt shall be provided by SFA.)</p>
    <p>I understand and acknowledge that by registering for this Event and paying the registration fees, the Athletes of our
        Institution/School are not guaranteed to qualify for any event category. Only the Athletes chosen by the Tournament
        Organising Committee by way of a draw and eligibility criteria shall be eligible to play and participate in the Event.
        Further, in the event that no Athlete of the Institution/School qualifies to participate in the Event, SFA shall
        refund the registration fees within thirty (30) working days from the last day of registration.</p>
    <p>I have read and understood the Eligibility Criteria of every sport and the Event rules and regulations available on the
        website www.sfanow.in.</p>
    <p>I further understand and acknowledge that the logo of the Institution/School shall be utilized by SFA and a Institution/School
        Profile shall be created and displayed on the official website of SFA. I hereby, on behalf of the Institution/School,
        give consent to SFA to use the Institution/School emblem.
    </p>
    <p>I also understand and agree that the Athletes shall be photographed and video-graphed (collectively referred to as “Content”)
        during the Event and all intellectual property in the Content shall belong to SFA for perpetuity. Furthermore, I
        authorize SFA to use the Content and also share the Content with sponsors/third parties, in the manner SFA deems
        appropriate, in the best interest of the Athletes and the Institution/School.
    </p>
    <p>I hereby understand that the Institution/School shall be responsible for the transportation of the qualified Athletes
        to the venue at the cost and expense of the Institution/School/Athletes.</p>
    <p>The facts and information given in the application form, along with the information furnished by the School, have been
        verified by me, and I assure you that the same are true and correct to the best of my knowledge.</p>
    <p>I hereby agree that no claims shall accrue in favour of the Institution/School against SFA Events Pvt. Ltd., and I hereby
        waive, release, and discharge any and all claims which may accrue to the Institute/School and/or to any Athlete who
        is a participant at the Event.
    </p>
    <p>I hereby agree that the Institution/School shall assume all responsibility for any damage to property, or any injury
        caused to any person by an Athlete who is a student of the Institution/School.</p>
    <p>I have carefully read and understood the terms and conditions of this form / disclaimer / waiver and as described in
        this form / disclaimer / waiver and consent to all of them.</p>
</div>