<div class="login-modal">
  <div class="cross-close-term pull-right">
    <button type="button" aria-label="Close" ng-click="$dismiss()" class="float-right close-btn">X</button>
    <!--<i class="fa fa-2x fa-times-circle-o" aria-hidden="true"></i>-->
    <!--<i class="fa  fa-times" aria-hidden="true"></i>-->
    </a>
  </div>

  <h5 class="modsub text-center">
    <u>RELEASE/WAIVER FORM</u>

  </h5>

  <p>In consideration of the acceptance of this application as an Minor/Participant in the Event, I the athlete, through my
    Parent/Legal Guardian mentioned in the form, hereby agree to assume all risks attendant upon the Minor/Participant (my
    ward), while participating in the Event being organized by SFA Events Pvt. Ltd (“SFA”). </p>
  <p>We understand the nature of the activities and the Minor's experience and capabilities and believe the Minor to be qualified,
    in good health, and in proper physical condition to participate in such Event. We understand that:</p>
  <ul style="list-style-type: lower-alpha">
    <li>the activities involve risks and dangers of serious injury, including permanent disability, paralysis, and death ("Risks");</li>
    <li>these Risks and dangers may be caused by the Minor’s own actions or inactions, the actions or inactions of others participating
      in the Event;</li>
    <li>there may be other risks and social and economic losses either not known to us or not readily foreseeable at this time,
      and I/we fully accept and assume all such risks and all responsibility for losses, costs, and damages that the Minor/athlete
      may incur as a result of participation in the Event;</li>
  </ul>
  <p>l/We hereby further waive, release and discharge all claims for death, personal injury, or property damage which the Minor/participant
    may suffer, or which may hereafter accrue to the Minor/participant, because of the Minor/participant’s participation/involvement
    in this Event.</p>
  <p>I/We agree to indemnify and hold harmless from any liability/claims SFA Events Pvt. Ltd. and its members, assigns, chapters
    and/or any of their agents, servants, volunteers, or employees because of any accident, death, injury, or damages, to
    persons or property which the Minor/participant may suffer, while participating in this Event.
  </p>
  <p>It is further understood and agreed that this waiver, release and assumption of risks to be binding on our heirs and assigns
    of the Minor/participant. </p>
  <p>I/We agree to assume all responsibilities for any damage to property and/ or injury to any person caused by the Minor/participant
    while participating in the Event.</p>
  <p>I/We further understand and agree that the Minor/participant shall be photographed and video-graphed (collectively referred
    to as “Content”), in his capacity as a participant of the Event, and during his/her participation in the Event. All intellectual
    property in the Content shall belong to SFA for perpetuity and I/We shall not claim any rights in the Content. Furthermore,
    I/we authorise SFA to use the Content and also share the Content with sponsors/third parties, in the manner SFA deems
    appropriate, in the best interest of the Minor/participant.
  </p>
  <p>We hereby undertake that the Minor/participant shall not ingest, swallow, inhale or otherwise consume any performance-enhancing
    drugs and/or prohibited substances. </p>
  <p>We understand and agree that if it is discovered that the Minor/participant has contravened and/or violated this undertaking/stipulation,
    his/her Registration will immediately be cancelled. The decision of SFA in this regard will be final and binding on the
    Minor/Participant.
  </p>
  <p>In case the Registration of the Minor/participant is cancelled for any reason whatsoever by SFA, the Registration Fee paid
    by us will be forfeited and we shall have no claim of any kind, or nature against the management of SFA, or its associates.
  </p>
  <p>We understand and agree that, in case the event is called off due to reasons beyond the control of the SFA management such
    as riots, civil unrest, war, acts of God, order of Court, ban by Central/State/Local Governments, etc., the Registration
    Fee paid by us will not be refundable.</p>
  <p>I/We hereby declare that I/We have read and understood all the rules, regulations and stipulations of SFA, and we undertake
    that the Minor/participant shall unconditionally abide by them.</p>
  <p>I have carefully read and understood the terms and conditions of this form / disclaimer / waiver and as described in this
    form / disclaimer / waiver and consent to all of them.</p>
</div>